﻿#head
{
display:none;    
}
div.ui_interactive {
height: 507px !important;
}
.copyrights
{
position: absolute;
margin-top: -2px;
font-size: 15px;
margin-left: 277px;
}
.redcolor
{   margin-top: 17px;
color: #881401;
}
.ui_interactive .jTimeline .timelineInfo .item 
{
height: 100% !important;
}
.ui_interactive .jTimeline .jcarousel-skin 
{
bottom: 90px!important;
}
.ui_interactive .jTimeline .jspPane 
{
top: 0px !important;    
}
.ui_interactive .jTimeline .jspPane 
{
position: static !important;
}
.ui_interactive .jTimeline
{
height:510px !important;    
}
.topZero{top: 0px !important;position: unset !important;float: left;margin-left: -2px;}
.topZero2{margin-top:-13px !important;color: #984842;}
.title
{
text-align: center;
font-size: 14px;
font-weight: bold;
margin-bottom: 16px;
}
.sub_title
{
text-align: center;
margin-bottom: 7px;
margin-top: 4px;
}
.img
{
text-align:center;
}



