﻿.topZero {
	top: 0px !important;
}
.topZero2 {
	position: relative;
	color: #984842;
	top: -20px;
}
.tabs div.panel {
	width: 680px;
}
.img_left {
    float: left;
    margin-right: 20px;
    width: 225px;
}
.img_left1 {
	position: absolute;
	left: 38px;
	width:225px;
}
.txt_right {
    float: right;
    margin-right: 25px;
    width: 320px
}
.blue_bttn1 {
    background-color: #25a5ff;
    border-color: #a8dbf6;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    height: 38px;
    margin-left: 37px;
    margin-top: 56px;
    padding-top: 5px;
    text-align: center;
    width: 161px;
}
.blue_bttn2 {
	background-color: #25A5FF;
	border-color: #A8DBF6;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	height: 38px;
	margin-left: 37px;
	margin-top: 6px;
	padding-top: 5px;
	text-align: center;
	width: 161px;
}
.blue_bttn3 {
	background-color: #25A5FF;
	border-color: #A8DBF6;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	height: 38px;
	margin-left: 37px;
	margin-top: 6px;
	padding-top: 5px;
	text-align: center;
	width: 161px;
}
.bottom_txt {
	font-size: 12px;
	font-style: italic;
	margin-top: 330px;
	width: 315px;
	margin-left: -9px;
}
.bottom_txt2 {
	margin-top: 10px;
	width: 312px;
	margin-left: -9px;
	font-size: 12px;
	font-style: italic;
}
.img_bottom_txt {
	margin-top: -41px;
	width: 301px;
	margin-left: -10px;
	font-size: 12px;
	font-style: italic;
}
.bottom_txt3 {
	margin-left: -11px;
	width: 639px;
	margin-top: 414px;
}
.customPopUp {
	position: absolute;
	width: 600px;
	margin-left: 51px;
	height: 345px;
	border: 1px solid;
	background: none repeat scroll 0% 0% #EBEBEB;
	top: 63px;
	left: -46px;
	z-index: 103;
}
.close1 {
	position: absolute;
	right: -9px;
	background-image: url("../img/03_03_04_btnClose.png");
	background-repeat: no-repeat;
	top: -11px;
	z-index: 103;
	height: 26px;
	width: 25px;
	cursor: pointer;
}
#Img2, #Img3 {
	opacity: 0.3;
}
#Img1 {
	cursor: pointer;
}
.rightimg {
	position: absolute;
	top: 33px;
	left: 290px;
	text-align: center;
	width: 278px;
	font-size: 12px;
	line-height: 20px;
}
.leftxt {
	position: absolute;
	top: 48px;
	left: 26px;
	width: 225px;
}
.head {
	position: absolute;
	top: 11px;
	left: 10px;
}
.imgbottomtxt {
	position: absolute;
	top: 176px;
	left: 292px;
	width: 284px;
	font-style: italic;
	font-size: 13px;
}
.labelTxt {
	position: absolute;
	top: 126px;
	left: 87px;
	font-size: 10px;
	color: blue;
	z-index: 18;
}
.labelTxt1 {
	position: absolute;
	top: 192px;
	left: 56px;
	font-size: 10px;
	color: blue;
	z-index: 18;
}
.labelTxt2 {
	position: absolute;
	top: 111px;
	left: 5px;
	font-size: 10px;
	color: blue;
	z-index: 18;
}
.ui-slideshow-item {
    width: 630px !important;
}
.ui_interactive, .activeInteractive {
    margin-bottom: 0px;
}