﻿.all_head {
	font-weight: bold;
	position: absolute;
	margin-left: 131px;
	margin-top: -10px;
	font-size: 16px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}

.topZero2 h3 {
	margin-top:0px;
}
.topZero2 hr {
	margin:0px;
}

.left_head {
	font-weight: bold;
	position: relative;
	margin-left: -8px;
	margin-top: 20px;
	font-size: 15px;
}
.img {
	text-align: center;
}
.rights1 {
	position: absolute;
	margin-top: 1px;
	margin-left: 265px;
}
.txt {
	margin-left: -8px;
	margin-top: 20px;
	width: 641px;
}
.rights2 {
	position: absolute;
	margin-top: 1px;
	margin-left: 176px;
}
.redcolor {
	color: #881401;
	position: relative;
}
.copyrights {
	position: absolute;
	margin-top: -43px;
	margin-left: 255px;
	font-size: 15px;
	color: white;
}
.ital {
	font-style: italic;
}
