body {
	margin:0px;
	padding:0px;
	background-color:#f8dab2;
	/*background-image:url(../imgs/index/bg.png);
	background-repeat:no-repeat;
	background-position:top center;*/
	text-align:center;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #9b5801;
}


/* ------------------------------------------------------------------------------------------

		FONTS

 ------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'handwritten_font';
    src: url('../fonts/justthewayyouare-webfont.eot');
    src: url('../fonts/justthewayyouare-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/justthewayyouare-webfont.woff') format('woff'),
         url('../fonts/justthewayyouare-webfont.ttf') format('truetype'),
         url('../fonts/justthewayyouare-webfont.svg#JustTheWayYouAreRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fancy_font';
    src: url('../fonts/la_portenia_de_la_boca-webfont.eot');
    src: url('../fonts/la_portenia_de_la_boca-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/la_portenia_de_la_boca-webfont.woff') format('woff'),
         url('../fonts/la_portenia_de_la_boca-webfont.ttf') format('truetype'),
         url('../fonts/la_portenia_de_la_boca-webfont.svg#LaPorteniadelaBocaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a, a:visited {
	color: #9b5801;
	text-decoration:none;
}
a img { border:none; }

#wrapper{
	width:700px;
	margin:0 auto;	
}

/* The container is the div block that contains the links to the individual modules */
#container{
	width:725px;
	margin:0 auto;
	padding-top: 50px;
}
#container h1 {
	font-size: 24px;
	margin-bottom: 35px;
}

#left {
	float:left;
	margin-left:20px;
	padding-top:90px;
	width:	260px;
}
#right{
	margin-left:50px;
	float:left;
	width:300px;	
}

/*

Levels

*/
ul.levels {
	margin: 0 auto;
	padding:0px;
	background-color:#fff;
	max-width: 65%;
	text-align:center;
	border: 1px solid #9b5801;
}
ul.levels li {
	list-style-type: none;
}

ul.levels li a {
	display:block;
	padding: 7px;
	/*background-repeat: repeat-y;
	/* Safari 4-5, Chrome 1-9 *
	background: -webkit-gradient(linear, left top, right top, from(#fff), to(#f4f4f4));
	/* Safari 5.1, Chrome 10+ *
	background: -webkit-linear-gradient(top, #fff, #f4f4f4);
	/* Firefox 3.6+ *
	background: -moz-linear-gradient(top, #fff, #f4f4f4);  
	/* IE 10 *
	background: -ms-linear-gradient(top, #fff, #f4f4f4);
	/* Opera 11.10+ *
	background: -o-linear-gradient(top, #fff, #f4f4f4);*/
}
ul.levels li a:hover {
	color: #FFF;
	background-color: #9b5801;
}

/*

Footer

*/	
	
#footer {
	width:750px;
	margin:0 auto;	
}

#footer #footer_span{
	margin:45px auto;
	text-align:center;
	width:260px;
	display:block;
	font-size:10px;
	padding:5px 10px;
	color:#ffffff;
	background-color:#9b5801;
	color:#fff;
	font-style:oblique;
	font-style: italic;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	/*-webkit-box-shadow: 0px 2px 6px 2px #000000;
	-moz-box-shadow: 0px 2px 6px 2px #000000;
	box-shadow: 0px 2px 6px 2px #000000; */
}
#footer #footer_span img{
	vertical-align:middle;	
}

#overlay{
	background-image:url(../imgs/index/overlaybg.png);
	width:100%;
	height:100%;
	position:fixed;
	z-index:1002;
	top:0px;
	left:0px;
	display:block;
	cursor:default;
	display:none;
}