/* line 1, ../scss/interactives.scss */
body {
  margin: 0; }

@font-face {
  font-family: 'PTSansBoldItalic';
  src: url("fonts/PTS76F-webfont.eot");
  src: url("fonts/PTS76F-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/PTS76F-webfont.woff") format("woff"), url("fonts/PTS76F-webfont.ttf") format("truetype"), url("fonts/PTS76F-webfont.svg#PTSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSansBold';
  src: url("fonts/PTS75F-webfont.eot");
  src: url("fonts/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/PTS75F-webfont.woff") format("woff"), url("fonts/PTS75F-webfont.ttf") format("truetype"), url("fonts/PTS75F-webfont.svg#PTSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSansItalic';
  src: url("fonts/PTS56F-webfont.eot");
  src: url("fonts/PTS56F-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/PTS56F-webfont.woff") format("woff"), url("fonts/PTS56F-webfont.ttf") format("truetype"), url("fonts/PTS56F-webfont.svg#PTSansItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PTSansRegular';
  src: url("fonts/PTS55F-webfont.eot");
  src: url("fonts/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/PTS55F-webfont.woff") format("woff"), url("fonts/PTS55F-webfont.ttf") format("truetype"), url("fonts/PTS55F-webfont.svg#PTSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .jDrag button, .jGallery .audio-controls .play a,
.jGallery .audio-controls .pause a,
.jGallery .audio-controls .stop a,
.jGallery .audio-controls .mute a,
.jGallery .audio-controls .unmute a, .jQuiz .button, .jQuiz2MC button, .jQuiz2TF button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('../imgs/button_bg.png?1290524416') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold; }
  /* line 165, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
  .fancy-button-reset-base-class::-moz-focus-inner, .jDrag button::-moz-focus-inner, .jGallery .audio-controls .play a::-moz-focus-inner,
  .jGallery .audio-controls .pause a::-moz-focus-inner,
  .jGallery .audio-controls .stop a::-moz-focus-inner,
  .jGallery .audio-controls .mute a::-moz-focus-inner,
  .jGallery .audio-controls .unmute a::-moz-focus-inner, .jQuiz .button::-moz-focus-inner, .jQuiz2MC button::-moz-focus-inner, .jQuiz2TF button::-moz-focus-inner {
    border: none;
    padding: 0; }
  /* line 168, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
  .fancy-button-reset-base-class:focus, .jDrag button:focus, .jGallery .audio-controls .play a:focus,
  .jGallery .audio-controls .pause a:focus,
  .jGallery .audio-controls .stop a:focus,
  .jGallery .audio-controls .mute a:focus,
  .jGallery .audio-controls .unmute a:focus, .jQuiz .button:focus, .jQuiz2MC button:focus, .jQuiz2TF button:focus {
    outline: none; }

/* INSTRUCTIONS */
/* line 3, ../scss/interactives/includes/_instructions.scss */
.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0px;
  left: 0px;
  width: 700px;
  height: 400px;
  z-index: 99999; }

/* line 12, ../scss/interactives/includes/_instructions.scss */
.instructions {
  background-color: #d5d1c8;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 1em 0 0 0;
  border: 1px solid #ebe9e5;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6); }
  /* line 26, ../scss/interactives/includes/_instructions.scss */
  .instructions #title {
    font: 1.6em "PTSansBold";
    font-weight: bold;
    color: #d65b00;
    letter-spacing: -1px;
    padding: .1em 0px 0px .5em; }
  /* line 33, ../scss/interactives/includes/_instructions.scss */
  .instructions #text {
    width: 90%;
    font: 0.9em "PTSansRegular";
    padding: 1em 0 0 1em; }
  /* line 35, ../scss/interactives/includes/_instructions.scss */
  .instructions .go-btn {
    background-color: #d65b00;
    position: absolute;
    bottom: 0px;
    right: 5%;
    width: 25%;
    height: 17%;
    font: italic 1.6em "PTSansBold";
    text-align: center;
    padding: 3% 1% 0 0;
    color: white;
    letter-spacing: -2pt;
    cursor: pointer;
    -moz-border-radius-topleft: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -o-border-top-left-radius: 0.5em;
    -ms-border-top-left-radius: 0.5em;
    -khtml-border-top-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -moz-border-radius-topright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -o-border-top-right-radius: 0.5em;
    -ms-border-top-right-radius: 0.5em;
    -khtml-border-top-right-radius: 0.5em;
    border-top-right-radius: 0.5em; }
  /* line 50, ../scss/interactives/includes/_instructions.scss */
  .instructions .go-btn:hover {
    background-color: #a34500; }
  /* line 51, ../scss/interactives/includes/_instructions.scss */
  .instructions .go-btn:active {
    background-color: #d65b00;
    height: 16%; }

/* line 53, ../scss/interactives/includes/_instructions.scss */
.btn-i {
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent url("../imgs/interactives/i.png") no-repeat;
  width: 41px;
  height: 40px;
  z-index: 99999;
  cursor: pointer; }

/* line 1, ../scss/interactives/_jdrag.scss */
.jDrag {
  background: #ebe9e5 url("../imgs/interactives/noise.png") repeat;
  position: relative;
  width: 700px;
  height: 400px;
  font-family: "PTSansRegular";
  overflow: hidden;
  text-shadow: 0 1px 0 #fff; }
  /* line 10, ../scss/interactives/_jdrag.scss */
  .jDrag h1, .jDrag .jFlowchart h2, .jFlowchart .jDrag h2, .jDrag .jFlowchart h3, .jFlowchart .jDrag h3 {
    font-size: 20px;
    line-height: 18px; }
  /* line 12, ../scss/interactives/_jdrag.scss */
  .jDrag .inner-directions {
    font: 30px/24px "PTSansBold";
    color: #272a2b;
    background: transparent url("../imgs/interactives/box.png") no-repeat 0% 250%;
    padding: 0 0 10px 64px;
    margin: 10px;
    border-bottom: 3px solid #dfdedc; }
  /* line 21, ../scss/interactives/_jdrag.scss */
  .jDrag .selections {
    display: none; }
  /* line 23, ../scss/interactives/_jdrag.scss */
  .jDrag .selection {
    position: relative;
    background-color: #d5d1c8;
    width: 28%;
    color: #272a2b;
    border-bottom: 0px;
    font: 1.6em/1em "PTSansBold";
    text-align: center;
    float: left;
    border: 1px solid #8a9294;
    margin: 10px 0 0 10px;
    padding: 5px 10px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
    -webkit-box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
    -o-box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
    box-shadow: inset 0px 1px 0px white, 0px 0px 4px white; }
    /* line 41, ../scss/interactives/_jdrag.scss */
    .jDrag .selection button {
      position: absolute;
      bottom: -15px;
      left: 75px; }
  /* line 44, ../scss/interactives/_jdrag.scss */
  .jDrag button {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.2em;
    padding: 0.3em 1em;
    border-width: 1px;
    background-color: #9a6600;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebba57), color-stop(10%, #cf9118), color-stop(50%, #7c570e), color-stop(50%, #6f4e0d), color-stop(100%, #9c6e12));
    background-image: -webkit-linear-gradient(#ebba57, #cf9118 10%, #7c570e 50%, #6f4e0d 50%, #9c6e12);
    background-image: -moz-linear-gradient(#ebba57, #cf9118 10%, #7c570e 50%, #6f4e0d 50%, #9c6e12);
    background-image: -o-linear-gradient(#ebba57, #cf9118 10%, #7c570e 50%, #6f4e0d 50%, #9c6e12);
    background-image: -ms-linear-gradient(#ebba57, #cf9118 10%, #7c570e 50%, #6f4e0d 50%, #9c6e12);
    background-image: linear-gradient(#ebba57, #cf9118 10%, #7c570e 50%, #6f4e0d 50%, #9c6e12);
    border-color: #453108;
    text-shadow: #1a1200 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.302) 0 0 0.1em 1px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.302) 0 0 0.1em 1px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.302) 0 0 0.1em 1px inset;
    box-shadow: rgba(255, 255, 255, 0.302) 0 0 0.1em 1px inset;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box; }
    /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
    .jDrag button, .jDrag button:visited {
      color: white; }
    /* line 31, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
    .jDrag button:hover, .jDrag button:focus {
      background-color: #8b5c00;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eab449), color-stop(10%, #c18816), color-stop(50%, #6f4e0d), color-stop(50%, #61440b), color-stop(100%, #8f6411));
      background-image: -webkit-linear-gradient(#eab449, #c18816 10%, #6f4e0d 50%, #61440b 50%, #8f6411);
      background-image: -moz-linear-gradient(#eab449, #c18816 10%, #6f4e0d 50%, #61440b 50%, #8f6411);
      background-image: -o-linear-gradient(#eab449, #c18816 10%, #6f4e0d 50%, #61440b 50%, #8f6411);
      background-image: -ms-linear-gradient(#eab449, #c18816 10%, #6f4e0d 50%, #61440b 50%, #8f6411);
      background-image: linear-gradient(#eab449, #c18816 10%, #6f4e0d 50%, #61440b 50%, #8f6411);
      border-color: #382706;
      text-shadow: #0b0700 0px 1px 1px; }
      /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
      .jDrag button:hover, .jDrag button:hover:visited, .jDrag button:focus, .jDrag button:focus:visited {
        color: white; }
    /* line 36, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
    .jDrag button:active {
      background-color: #7b5200;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6f4e0d), color-stop(30%, #78540e), color-stop(50%, #65470c), color-stop(50%, #583e0a), color-stop(100%, #936711));
      background-image: -webkit-linear-gradient(#6f4e0d, #78540e 30%, #65470c 50%, #583e0a 50%, #936711);
      background-image: -moz-linear-gradient(#6f4e0d, #78540e 30%, #65470c 50%, #583e0a 50%, #936711);
      background-image: -o-linear-gradient(#6f4e0d, #78540e 30%, #65470c 50%, #583e0a 50%, #936711);
      background-image: -ms-linear-gradient(#6f4e0d, #78540e 30%, #65470c 50%, #583e0a 50%, #936711);
      background-image: linear-gradient(#6f4e0d, #78540e 30%, #65470c 50%, #583e0a 50%, #936711);
      border-color: #2a1e05;
      text-shadow: black 0px -1px -1px;
      -moz-box-shadow: #453108 0 0.08em 0.2em 1px inset;
      -webkit-box-shadow: #453108 0 0.08em 0.2em 1px inset;
      -o-box-shadow: #453108 0 0.08em 0.2em 1px inset;
      box-shadow: #453108 0 0.08em 0.2em 1px inset; }
      /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
      .jDrag button:active, .jDrag button:active:visited {
        color: white; }
  /* line 47, ../scss/interactives/_jdrag.scss */
  .jDrag button.submit,
  .jDrag button.restart {
    position: absolute;
    left: 38%;
    bottom: 2%; }
  /* line 52, ../scss/interactives/_jdrag.scss */
  .jDrag #drop {
    display: none; }
    /* line 55, ../scss/interactives/_jdrag.scss */
    .jDrag #drop h1, .jDrag #drop .jFlowchart h2, .jFlowchart .jDrag #drop h2, .jDrag #drop .jFlowchart h3, .jFlowchart .jDrag #drop h3 {
      color: #d65b00;
      font: 1.6em "PTSansBold";
      position: absolute;
      top: 0;
      left: 2%;
      border-bottom: 1px double #333333;
      padding: 0 0 .1em 0; }
    /* line 64, ../scss/interactives/_jdrag.scss */
    .jDrag #drop .title {
      position: absolute;
      top: 20%;
      left: 2%;
      font-size: 0.81em; }
    /* line 70, ../scss/interactives/_jdrag.scss */
    .jDrag #drop ul.sortable {
      position: absolute;
      top: 16%;
      left: 2%;
      width: 46%;
      height: 70%;
      background-color: #d5d1c8;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
      -webkit-box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
      -o-box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
      box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
      border: 1px solid #8a9294;
      list-style: none;
      padding: .3em;
      margin: 0;
      text-indent: 0;
      overflow-y: scroll;
      overflow-x: hidden; }
  /* line 90, ../scss/interactives/_jdrag.scss */
  .jDrag #drags {
    display: none;
    position: relative;
    left: 53%;
    top: 0;
    width: 47%;
    height: 95%; }
    /* line 98, ../scss/interactives/_jdrag.scss */
    .jDrag #drags .directions {
      position: absolute;
      top: 4%;
      right: 3%;
      font-size: 1.44em;
      letter-spacing: -1px;
      width: 95%;
      color: #d65b00; }
    /* line 107, ../scss/interactives/_jdrag.scss */
    .jDrag #drags ul.drags {
      position: absolute;
      top: 23%;
      right: 3%;
      background-color: #d5d1c8;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
      -webkit-box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
      -o-box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
      box-shadow: inset 0px 1px 0px white, 0px 0px 4px white;
      border: 1px solid #8a9294;
      list-style: none;
      padding: .3em;
      margin: 0;
      width: 94%;
      height: 77%;
      text-indent: 0;
      overflow-y: scroll;
      overflow-x: hidden; }
    /* line 127, ../scss/interactives/_jdrag.scss */
    .jDrag #drags .back-btn {
      background-color: #d65b00;
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      cursor: pointer;
      padding: .1em .3em;
      -moz-border-radius-bottomleft: 7px;
      -webkit-border-bottom-left-radius: 7px;
      -o-border-bottom-left-radius: 7px;
      -ms-border-bottom-left-radius: 7px;
      -khtml-border-bottom-left-radius: 7px;
      border-bottom-left-radius: 7px;
      font-size: 0.9em; }
  /* line 138, ../scss/interactives/_jdrag.scss */
  .jDrag li {
    list-style: none url();
    margin-left: 0 !important;
    padding: .3em;
    cursor: pointer;
    font-size: 0.81em;
    line-height: 1.17em;
    line-height: 0.99em/9; }
  /* line 147, ../scss/interactives/_jdrag.scss */
  .jDrag li:hover {
    outline: 1px dashed #b4ac9d;
    cursor: move; }
  /* line 148, ../scss/interactives/_jdrag.scss */
  .jDrag li:last-child {
    margin: 0; }
  /* line 150, ../scss/interactives/_jdrag.scss */
  .jDrag .correct {
    background: transparent url("../imgs/interactives/correct.png") no-repeat;
    padding-left: 20px !important; }

/* line 1, ../scss/interactives/_jflip.scss */
.jFlip {
  background: transparent url("../imgs/interactives/noise.png") repeat;
  position: relative;
  width: 700px;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*
    .front:hover{
     	border: 1px solid darken(#fff, 20);
      @include box-shadow(0px 0px 30px 0px darken(#fff, 20)); }
  */ }
  /* line 10, ../scss/interactives/_jflip.scss */
  .jFlip .btn-i {
    left: 0;
    top: 0; }
  /* line 14, ../scss/interactives/_jflip.scss */
  .jFlip .flipcard {
    width: 38%;
    height: 70%;
    float: left;
    margin: 10% 0 10% 6%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 5px solid #fff; }
    /* line 24, ../scss/interactives/_jflip.scss */
    .jFlip .flipcard:hover {
      -moz-box-shadow: 0px 0px 30px 5px #b3b3b3;
      -webkit-box-shadow: 0px 0px 30px 5px #b3b3b3;
      -o-box-shadow: 0px 0px 30px 5px #b3b3b3;
      box-shadow: 0px 0px 30px 5px #b3b3b3; }
  /* line 26, ../scss/interactives/_jflip.scss */
  .jFlip .front {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    white-space: normal; }
    /* line 35, ../scss/interactives/_jflip.scss */
    .jFlip .front .content {
      width: 100%;
      height: 100%;
      overflow: hidden; }
    /* line 40, ../scss/interactives/_jflip.scss */
    .jFlip .front img {
      vertical-align: top;
      margin: 0; }
  /* line 48, ../scss/interactives/_jflip.scss */
  .jFlip .back {
    display: none; }
  /* line 50, ../scss/interactives/_jflip.scss */
  .jFlip .description {
    font-size: 0.81em;
    padding: 1em;
    font-style: italic;
    line-height: 1.08em; }

/* @Booklet
----------------------------------------*/
/* line 3, ../scss/interactives/includes/_jbooklet.scss */
.booklet {
  width: 800px;
  height: 600px;
  position: relative;
  /*background:#fff;*/
  margin: 0 auto 10px;
  overflow: visible !important; }

/* line 4, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-page {
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  padding: 0; }

/* Page Wrappers */
/* line 16, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-wrap {
  top: 0;
  position: absolute; }

/* line 17, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-wrap-left {
  background: #ebe9e5 url("../imgs/interactives/noise.png") repeat;
  -moz-box-shadow: inset -7px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset -7px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset -7px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -7px 0px 10px 0px rgba(0, 0, 0, 0.2); }

/* line 21, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-wrap-right {
  background: #ebe9e5 url("../imgs/interactives/noise.png") repeat;
  -moz-box-shadow: inset 7px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 7px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 7px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 7px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #eee; }

/* line 30, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-pN .b-wrap,
.booklet .b-p1 .b-wrap,
.booklet .b-p2 .b-wrap,
.booklet .b-p3 .b-wrap,
.booklet .b-p4 .b-wrap {
  left: 0; }

/* line 31, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-p0 .b-wrap {
  right: 0; }

/* Custom Page Types */
/* line 34, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-page-blank {
  padding: 0;
  width: 100%;
  height: 100%; }

/* line 35, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-page-cover {
  padding: 0;
  width: 100%;
  height: 100%;
  background: #925C0E; }

/* line 36, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-page-cover h3 {
  color: #fff;
  text-shadow: 0px 1px 3px #222; }

/* Page Numbers */
/* line 39, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-counter {
  bottom: 10px;
  position: absolute;
  display: block;
  width: 25px;
  height: 20px;
  background: #ccc;
  color: #444;
  text-align: center;
  font-family: serif;
  font-size: 10px;
  padding: 5px 0 0;
  border: 1px solid #bebebe;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
  -o-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.8); }

/* line 54, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-wrap-left .b-counter {
  left: 10px; }

/* line 55, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-wrap-right .b-counter {
  right: 10px; }

/* Page Shadows */
/* line 58, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-shadow-f {
  right: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  background-image: url("../imgs/interactives/shadow-top-forward.png");
  background-repeat: repeat-y;
  background-position: 100% 0; }

/* line 59, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-shadow-b {
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  background-image: url("../imgs/interactives/shadow-top-back.png");
  background-repeat: repeat-y;
  background-position: 0 0; }

/* line 61, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-p0 {
  background-image: url("../imgs/interactives/shadow.png");
  background-repeat: repeat-y;
  background-position: 100% 10px; }

/* line 62, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-p3 {
  background-image: url("../imgs/interactives/shadow.png");
  background-repeat: repeat-y;
  background-position: 0 10px; }

/* Overlay Controls */
/* line 65, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-grab {
  cursor: url(../imgs/interactives/openhand.cur), default; }

/* line 66, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-grabbing {
  cursor: url(../imgs/interactives/closedhand.cur), default; }

/* Overlay Controls */
/* line 69, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-overlay {
  top: 0;
  position: absolute;
  height: 100%;
  width: 50%; }

/* line 70, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-overlay-prev {
  left: 0; }

/* line 71, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-overlay-next {
  right: 0; }

/* Tab Controls */
/* line 74, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-tab {
  background: #000;
  height: 40px;
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
  color: #ccc;
  position: absolute;
  font-size: 11px; }

/* line 75, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-tab-prev {
  left: 0; }

/* line 76, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-tab-next {
  right: 0; }

/* line 77, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-tab:hover {
  background: #aaa;
  color: #000; }

/* Arrow Controls */
/* line 80, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-arrow {
  display: block;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  height: 100%;
  width: 74px; }

/* line 81, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-arrow div {
  display: none;
  text-indent: -9999px;
  height: 170px;
  width: 74px;
  position: absolute;
  left: 0;
  top: 25%; }

/* line 82, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-arrow-next {
  right: -80px; }

/* line 83, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-arrow-prev {
  left: -80px; }

/* line 84, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-arrow-next div {
  background: url("../imgs/arrow-next.png") no-repeat left top; }

/* line 85, ../scss/interactives/includes/_jbooklet.scss */
.booklet .b-arrow-prev div {
  background: url("../imgs/arrow-prev.png") no-repeat left top; }

/* @z-index fix (needed for older IE browsers)
----------------------------------------*/
/* line 89, ../scss/interactives/includes/_jbooklet.scss */
body {
  z-index: 0; }

/* line 90, ../scss/interactives/includes/_jbooklet.scss */
.b-menu {
  z-index: 100; }

/* line 91, ../scss/interactives/includes/_jbooklet.scss */
.b-selector {
  z-index: 100; }

/* line 92, ../scss/interactives/includes/_jbooklet.scss */
.booklet {
  z-index: 10; }

/* line 93, ../scss/interactives/includes/_jbooklet.scss */
.b-pN {
  z-index: 10; }

/* line 94, ../scss/interactives/includes/_jbooklet.scss */
.b-p0 {
  z-index: 10; }

/* line 95, ../scss/interactives/includes/_jbooklet.scss */
.b-p1 {
  z-index: 10; }

/* line 96, ../scss/interactives/includes/_jbooklet.scss */
.b-p2 {
  z-index: 10; }

/* line 97, ../scss/interactives/includes/_jbooklet.scss */
.b-p3 {
  z-index: 10; }

/* line 98, ../scss/interactives/includes/_jbooklet.scss */
.b-p4 {
  z-index: 10; }

/* line 99, ../scss/interactives/includes/_jbooklet.scss */
.b-prev {
  z-index: 40; }

/* line 100, ../scss/interactives/includes/_jbooklet.scss */
.b-next {
  z-index: 40; }

/* line 101, ../scss/interactives/includes/_jbooklet.scss */
.b-counter {
  z-index: 40; }

/* @Menu Items
----------------------------------------*/
/* line 105, ../scss/interactives/includes/_jbooklet.scss */
.b-menu {
  height: 40px;
  padding: 0 0 10px; }

/* line 107, ../scss/interactives/includes/_jbooklet.scss */
.b-selector {
  height: 40px;
  position: relative;
  float: right;
  border: none;
  color: #cecece;
  cursor: pointer; }

/* line 108, ../scss/interactives/includes/_jbooklet.scss */
.b-selector .b-current {
  padding: 8px 15px 12px;
  line-height: 20px;
  min-width: 18px;
  height: 20px;
  display: block;
  background: #000;
  text-align: center; }

/* line 109, ../scss/interactives/includes/_jbooklet.scss */
.b-selector-page {
  width: auto;
  margin-left: 15px; }

/* line 110, ../scss/interactives/includes/_jbooklet.scss */
.b-selector-chapter {
  width: auto; }

/* line 112, ../scss/interactives/includes/_jbooklet.scss */
.b-selector:hover {
  color: #fff;
  background-position: left 0px; }

/* line 113, ../scss/interactives/includes/_jbooklet.scss */
.b-selector:hover .b-current {
  background-position: right 0px; }

/* line 114, ../scss/interactives/includes/_jbooklet.scss */
.b-selector ul {
  overflow: hidden;
  margin: 0;
  list-style: none !important;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 0 0 10px;
  background: #000;
  width: 240px;
  font: normal 12px "Myriad Pro", Myriad, "DejaVu Sans Condensed","Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 115, ../scss/interactives/includes/_jbooklet.scss */
.b-selector li {
  border: none; }

/* line 116, ../scss/interactives/includes/_jbooklet.scss */
.b-selector a {
  color: #cecece;
  height: 14px;
  text-decoration: none;
  display: block;
  padding: 5px 10px; }

/* line 117, ../scss/interactives/includes/_jbooklet.scss */
.b-selector a .b-text {
  float: left;
  clear: none; }

/* line 118, ../scss/interactives/includes/_jbooklet.scss */
.b-selector a .b-num {
  float: right;
  clear: none; }

/* line 119, ../scss/interactives/includes/_jbooklet.scss */
.b-selector a:hover {
  color: #fff; }

/* line 3, ../scss/interactives/_jflipbook-1.scss */
#jFlipbook {
  position: relative;
  border: 3px solid #7bab7c;
  font: 0.9em/1.3em "PTSansRegular";
  background: #ebe9e5 url("../imgs/interactives/noise.png") repeat;
  text-shadow: 0px 1px 0px #fff; }
  /* line 10, ../scss/interactives/_jflipbook-1.scss */
  #jFlipbook h1, #jFlipbook .jFlowchart h2, .jFlowchart #jFlipbook h2, #jFlipbook .jFlowchart h3, .jFlowchart #jFlipbook h3 {
    font: 2em "PTSansBold";
    color: #8a6110;
    text-align: center;
    border-bottom: 1px solid #8a6110; }
  /* line 15, ../scss/interactives/_jflipbook-1.scss */
  #jFlipbook h2 {
    font: 1em/1em "PTSansBold";
    text-align: center;
    margin: -15px 0 30px 0; }
  /* line 20, ../scss/interactives/_jflipbook-1.scss */
  #jFlipbook a {
    color: #7bab7c;
    text-decoration: none;
    font-weight: bold; }
    /* line 25, ../scss/interactives/_jflipbook-1.scss */
    #jFlipbook a:hover {
      border-bottom: 1px dotted #7bab7c; }
  /* line 27, ../scss/interactives/_jflipbook-1.scss */
  #jFlipbook img.border {
    border: 1px solid #dfdedc;
    padding: 5px;
    background-color: #ebe9e5;
    width: 265px; }
  /* line 33, ../scss/interactives/_jflipbook-1.scss */
  #jFlipbook p.text {
    padding: 0 10px; }
  /* line 35, ../scss/interactives/_jflipbook-1.scss */
  #jFlipbook .left {
    float: left;
    margin: 0 15px 0 0; }
  /* line 36, ../scss/interactives/_jflipbook-1.scss */
  #jFlipbook .right {
    float: right;
    margin: 0 0 0 15px; }
  /* line 38, ../scss/interactives/_jflipbook-1.scss */
  #jFlipbook .clear {
    clear: both;
    border-bottom: 1px solid #8a6110;
    height: 15px;
    margin: 0 0 30px 0; }

/* line 44, ../scss/interactives/_jflipbook-1.scss */
.copyright {
  width: 700px;
  margin: 0 auto;
  font: 0.8em "PTSansRegular";
  text-align: center; }

/* line 1, ../scss/interactives/_jflipbook-slider.scss */
.jFlipbook-Slider {
  position: relative;
  background: #ebe9e5 url("../imgs/interactives/noise.png") repeat;
  width: 450px;
  height: 600px;
  margin: 0px auto;
  font-family: "PTSansRegular";
  text-shadow: 0 1px 0 #fff;
  overflow: hidden; }
  /* line 11, ../scss/interactives/_jflipbook-slider.scss */
  .jFlipbook-Slider strong {
    font-weight: normal;
    font-family: "PTSansBold"; }
  /* line 13, ../scss/interactives/_jflipbook-slider.scss */
  .jFlipbook-Slider div.page {
    float: left;
    height: 80%;
    color: black;
    cursor: pointer;
    padding: 40px;
    overflow-y: scroll; }
    /* line 21, ../scss/interactives/_jflipbook-slider.scss */
    .jFlipbook-Slider div.page .title {
      font-family: "PTSansBold";
      line-height: 1.2em;
      margin: 0 0 1em 0; }
    /* line 23, ../scss/interactives/_jflipbook-slider.scss */
    .jFlipbook-Slider div.page ol {
      font-family: "PTSansRegular";
      list-style-position: outside;
      margin: 0px;
      padding: 0 1em 0; }
      /* line 29, ../scss/interactives/_jflipbook-slider.scss */
      .jFlipbook-Slider div.page ol li {
        line-height: 1.2em;
        *line-height: 1.2em;
        margin: 0 0 1em .1em; }
        /* line 34, ../scss/interactives/_jflipbook-slider.scss */
        .jFlipbook-Slider div.page ol li p {
          font: 0.9em/1.17em "PTSansRegular";
          margin: 0 0 1em -1em \9;
          *margin: 0 0 1em .5em; }
  /* line 39, ../scss/interactives/_jflipbook-slider.scss */
  .jFlipbook-Slider .navigation {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #b4ac9d;
    font-size: 0.9em;
    font-family: "PTSansBold"; }

/* line 1, ../scss/interactives/_jflowchart.scss */
.jFlowchart {
  position: relative;
  background: #ebe9e5 url("../imgs/interactives/noise.png") repeat;
  padding: 30px 10px;
  width: 700px;
  height: 340px;
  overflow-x: hidden;
  overflow-y: scroll; }
  /* line 10, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .overlay {
    width: 100%;
    height: 100%; }
  /* line 11, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .go-btn {
    height: 20%; }
    /* line 12, ../scss/interactives/_jflowchart.scss */
    .jFlowchart .go-btn:active {
      height: 18%; }
  /* line 15, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .inactive {
    display: none; }
  /* line 16, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .active {
    display: block; }
  /* line 18, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .arrow {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #272a2b; }
  /* line 29, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .node,
  .jFlowchart .inner-node {
    position: relative;
    border: 1px solid #eeaa31;
    padding: 10px;
    width: 90%;
    margin: 0px auto;
    background-color: #f0b449;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0b449), color-stop(100%, #eeaa31));
    background: -webkit-linear-gradient(#f0b449, #eeaa31);
    background: -moz-linear-gradient(#f0b449, #eeaa31);
    background: -o-linear-gradient(#f0b449, #eeaa31);
    background: -ms-linear-gradient(#f0b449, #eeaa31);
    background: linear-gradient(#f0b449, #eeaa31);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.7);
    -o-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.7);
    cursor: pointer; }
  /* line 43, ../scss/interactives/_jflowchart.scss */
  .jFlowchart h1, .jFlowchart h2, .jFlowchart h3 {
    text-align: center;
    font: 1em "PTSansBold";
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin: 5px 0;
    padding: 5px 0; }
  /* line 51, ../scss/interactives/_jflowchart.scss */
  .jFlowchart h2 {
    font: 0.8em "PTSansBold"; }
  /* line 55, ../scss/interactives/_jflowchart.scss */
  .jFlowchart h3 {
    font: 0.7em "PTSansBold"; }
  /* line 59, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .bottom-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  /* line 61, ../scss/interactives/_jflowchart.scss */
  .jFlowchart p {
    font: normal 0.8em "PTSansRegular";
    color: #272a2b; }
  /* line 63, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .center {
    text-align: center; }
  /* line 65, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .photo, .jFlowchart .photoL, .jFlowchart .photoR {
    position: absolute;
    width: 75px;
    height: 75px;
    border: 4px solid #fff;
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 10; }
    /* line 75, ../scss/interactives/_jflowchart.scss */
    .jFlowchart .photo img, .jFlowchart .photoL img, .jFlowchart .photoR img {
      width: 75px; }
  /* line 78, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .photoL {
    top: -40px;
    left: -50px; }
  /* line 83, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .photoR {
    top: -40px;
    right: -50px; }
  /* line 88, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .connector, .jFlowchart .connector1, .jFlowchart .connector1-L, .jFlowchart .connector1-R, .jFlowchart .connector2 {
    clear: both;
    background: transparent url(../imgs/interactives/connector.png) no-repeat top center;
    margin: 0px auto; }
  /* line 90, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .connector1 {
    height: 15px; }
  /* line 91, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .connector1-L {
    height: 15px;
    background-position: -80px 0; }
  /* line 92, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .connector1-R {
    height: 15px;
    background-position: 80px 0; }
  /* line 93, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .connector2 {
    height: 30px; }
  /* line 94, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .connector3-R {
    clear: both;
    background: transparent url(../imgs/interactives/connector3-R.png) no-repeat top center;
    margin: 0px auto;
    height: 30px; }
  /* line 95, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .connector3-L {
    clear: both;
    background: transparent url(../imgs/interactives/connector3-L.png) no-repeat top center;
    margin: 0px auto;
    height: 30px; }
  /* line 96, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .connector4-R {
    clear: both;
    background: transparent url(../imgs/interactives/connector4-R.png) no-repeat top center;
    margin: 0px auto;
    height: 30px; }
  /* line 97, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .connector4-L {
    clear: both;
    background: transparent url(../imgs/interactives/connector4-L.png) no-repeat top center;
    margin: 0px auto;
    height: 30px; }
  /* line 99, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .column, .jFlowchart .left, .jFlowchart .right {
    width: 48%; }
  /* line 100, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .left {
    float: left; }
  /* line 101, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .right {
    float: right; }
  /* line 102, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .one-third {
    width: 32%;
    float: left;
    margin-right: 10px; }
  /* line 103, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .one-fourth {
    width: 24%;
    float: left;
    margin-right: 7px; }
  /* line 105, ../scss/interactives/_jflowchart.scss */
  .jFlowchart .omega {
    margin-right: 0; }

/* line 1, ../scss/interactives/_jgallery.scss */
.jGallery {
  background: transparent url("../imgs/interactives/noise.png") repeat;
  position: relative;
  width: 700px;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  /* line 10, ../scss/interactives/_jgallery.scss */
  .jGallery .navigation {
    position: absolute;
    top: 2%;
    right: 2%;
    font: 0.9em "PTSansRegular"; }
  /* line 16, ../scss/interactives/_jgallery.scss */
  .jGallery div {
    position: relative;
    display: block; }
  /* line 18, ../scss/interactives/_jgallery.scss */
  .jGallery .inactive {
    position: absolute;
    left: -700px;
    width: 700px;
    opacity: 0; }
  /* line 24, ../scss/interactives/_jgallery.scss */
  .jGallery .active {
    position: absolute;
    left: 0;
    width: 700px;
    opacity: 1; }
  /* line 30, ../scss/interactives/_jgallery.scss */
  .jGallery .photo, .jGallery .jFlowchart .photoL, .jFlowchart .jGallery .photoL, .jGallery .jFlowchart .photoR, .jFlowchart .jGallery .photoR {
    float: left;
    margin: 5% 0 0 5%;
    width: 60%; }
    /* line 35, ../scss/interactives/_jgallery.scss */
    .jGallery .photo img, .jGallery .jFlowchart .photoL img, .jFlowchart .jGallery .photoL img, .jGallery .jFlowchart .photoR img, .jFlowchart .jGallery .photoR img {
      border: 5px solid #fff;
      width: 100%;
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      vertical-align: top; }
  /* line 41, ../scss/interactives/_jgallery.scss */
  .jGallery .info {
    background: white\9;
    padding: 10px\9;
    float: right;
    width: 25%;
    margin: 5% 5% 0 0; }
    /* line 48, ../scss/interactives/_jgallery.scss */
    .jGallery .info h1, .jGallery .info .jFlowchart h2, .jFlowchart .jGallery .info h2, .jGallery .info .jFlowchart h3, .jFlowchart .jGallery .info h3 {
      font: normal 1.6em "PTSansBold";
      color: #7bab7c;
      margin: 0 0 1em 0; }
    /* line 53, ../scss/interactives/_jgallery.scss */
    .jGallery .info div {
      line-height: 1.17em;
      font: normal 0.9em "PTSansRegular"; }
  /* line 55, ../scss/interactives/_jgallery.scss */
  .jGallery #nav-btns, .jGallery #jgallery-prev, .jGallery #jgallery-next {
    background-color: #7bab7c;
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 2%;
    font-size: 0.9em;
    font-family: "PTSansBold";
    color: black;
    border: 1px solid #7bab7c;
    text-shadow: 0px 1px 0px white;
    letter-spacing: -1pt;
    cursor: pointer;
    z-index: 100; }
    /* line 69, ../scss/interactives/_jgallery.scss */
    .jGallery #nav-btns:hover, .jGallery #jgallery-prev:hover, .jGallery #jgallery-next:hover {
      background: #4b754c;
      color: white;
      border: 1px solid #4b754c;
      text-shadow: 0px 1px 0px black; }
  /* line 75, ../scss/interactives/_jgallery.scss */
  .jGallery #jgallery-prev {
    left: 0;
    padding: .5em 1em .5em 1.3em;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius: 7px;
    -o-border-top-right-radius: 7px;
    -ms-border-top-right-radius: 7px;
    -khtml-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -o-border-bottom-right-radius: 7px;
    -ms-border-bottom-right-radius: 7px;
    -khtml-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px; }
  /* line 82, ../scss/interactives/_jgallery.scss */
  .jGallery #jgallery-next {
    right: 0;
    padding: .5em 1.3em .5em 1em;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    -o-border-top-left-radius: 7px;
    -ms-border-top-left-radius: 7px;
    -khtml-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -o-border-bottom-left-radius: 7px;
    -ms-border-bottom-left-radius: 7px;
    -khtml-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px; }
  /* line 89, ../scss/interactives/_jgallery.scss */
  .jGallery .text {
    margin: 0 0 .5em 0; }
    /* line 92, ../scss/interactives/_jgallery.scss */
    .jGallery .text h3 {
      background: transparent url("../imgs/interactives/arrow-click-reveal.png") no-repeat 0px -40px;
      border: 0px;
      padding: .5em 0 0 2em;
      margin: 0 0 0.2em -0.2em;
      height: auto;
      font: 1em/2em "PTSansBold";
      cursor: pointer;
      float: none;
      outline: 0; }
    /* line 103, ../scss/interactives/_jgallery.scss */
    .jGallery .text h3:hover {
      background: transparent url("../imgs/interactives/arrow-click-reveal.png") no-repeat 0px 0px; }
    /* line 105, ../scss/interactives/_jgallery.scss */
    .jGallery .text div {
      margin: 0 0 1em 0; }
  /* line 107, ../scss/interactives/_jgallery.scss */
  .jGallery .copyright {
    margin: 1em 0 0 0; }
  /* line 109, ../scss/interactives/_jgallery.scss */
  .jGallery .audio-controls {
    background-color: #0d0d0d;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #4d4d4d));
    background: -webkit-linear-gradient(top center, #333333, #4d4d4d);
    background: -moz-linear-gradient(top center, #333333, #4d4d4d);
    background: -o-linear-gradient(top center, #333333, #4d4d4d);
    background: -ms-linear-gradient(top center, #333333, #4d4d4d);
    background: linear-gradient(top center, #333333, #4d4d4d);
    border: 1px solid #0d0d0d;
    width: 9em;
    height: 1.6em;
    padding: .2em 0 .2em 1.1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -o-border-radius: 1em;
    -ms-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em; }
    /* line 118, ../scss/interactives/_jgallery.scss */
    .jGallery .audio-controls .title {
      float: left;
      font: 0.9em/1.8em "PTSansBold";
      text-transform: uppercase;
      color: white;
      margin: 0 .5em 0 0; }
    /* line 129, ../scss/interactives/_jgallery.scss */
    .jGallery .audio-controls .play a,
    .jGallery .audio-controls .pause a,
    .jGallery .audio-controls .stop a,
    .jGallery .audio-controls .mute a,
    .jGallery .audio-controls .unmute a {
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      -o-border-radius: 1em;
      -ms-border-radius: 1em;
      -khtml-border-radius: 1em;
      border-radius: 1em;
      font-size: 0.9em;
      line-height: 1.2em;
      padding: 0.3em 1em;
      border-width: 1px;
      background-color: #333333;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #878787), color-stop(10%, #595959), color-stop(50%, #2b2b2b), color-stop(50%, #242424), color-stop(100%, #3d3d3d));
      background-image: -webkit-linear-gradient(#878787, #595959 10%, #2b2b2b 50%, #242424 50%, #3d3d3d);
      background-image: -moz-linear-gradient(#878787, #595959 10%, #2b2b2b 50%, #242424 50%, #3d3d3d);
      background-image: -o-linear-gradient(#878787, #595959 10%, #2b2b2b 50%, #242424 50%, #3d3d3d);
      background-image: -ms-linear-gradient(#878787, #595959 10%, #2b2b2b 50%, #242424 50%, #3d3d3d);
      background-image: linear-gradient(#878787, #595959 10%, #2b2b2b 50%, #242424 50%, #3d3d3d);
      border-color: #0d0d0d;
      text-shadow: black 0px 1px 1px;
      -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0.1em 1px inset;
      -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0.1em 1px inset;
      -o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 0.1em 1px inset;
      box-shadow: rgba(255, 255, 255, 0.2) 0 0 0.1em 1px inset;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      -o-background-clip: padding-box;
      -ms-background-clip: padding-box;
      -khtml-background-clip: padding-box;
      background-clip: padding-box;
      float: left;
      line-height: 1em;
      margin: 0 .2em 0 0; }
      /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
      .jGallery .audio-controls .play a, .jGallery .audio-controls .play a:visited,
      .jGallery .audio-controls .pause a,
      .jGallery .audio-controls .pause a:visited,
      .jGallery .audio-controls .stop a,
      .jGallery .audio-controls .stop a:visited,
      .jGallery .audio-controls .mute a,
      .jGallery .audio-controls .mute a:visited,
      .jGallery .audio-controls .unmute a,
      .jGallery .audio-controls .unmute a:visited {
        color: white; }
      /* line 31, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
      .jGallery .audio-controls .play a:hover, .jGallery .audio-controls .play a:focus,
      .jGallery .audio-controls .pause a:hover,
      .jGallery .audio-controls .pause a:focus,
      .jGallery .audio-controls .stop a:hover,
      .jGallery .audio-controls .stop a:focus,
      .jGallery .audio-controls .mute a:hover,
      .jGallery .audio-controls .mute a:focus,
      .jGallery .audio-controls .unmute a:hover,
      .jGallery .audio-controls .unmute a:focus {
        background-color: #2b2b2b;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(10%, #525252), color-stop(50%, #242424), color-stop(50%, #1c1c1c), color-stop(100%, #363636));
        background-image: -webkit-linear-gradient(#808080, #525252 10%, #242424 50%, #1c1c1c 50%, #363636);
        background-image: -moz-linear-gradient(#808080, #525252 10%, #242424 50%, #1c1c1c 50%, #363636);
        background-image: -o-linear-gradient(#808080, #525252 10%, #242424 50%, #1c1c1c 50%, #363636);
        background-image: -ms-linear-gradient(#808080, #525252 10%, #242424 50%, #1c1c1c 50%, #363636);
        background-image: linear-gradient(#808080, #525252 10%, #242424 50%, #1c1c1c 50%, #363636);
        border-color: #050505;
        text-shadow: black 0px 1px 1px; }
        /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
        .jGallery .audio-controls .play a:hover, .jGallery .audio-controls .play a:hover:visited, .jGallery .audio-controls .play a:focus, .jGallery .audio-controls .play a:focus:visited,
        .jGallery .audio-controls .pause a:hover,
        .jGallery .audio-controls .pause a:hover:visited,
        .jGallery .audio-controls .pause a:focus,
        .jGallery .audio-controls .pause a:focus:visited,
        .jGallery .audio-controls .stop a:hover,
        .jGallery .audio-controls .stop a:hover:visited,
        .jGallery .audio-controls .stop a:focus,
        .jGallery .audio-controls .stop a:focus:visited,
        .jGallery .audio-controls .mute a:hover,
        .jGallery .audio-controls .mute a:hover:visited,
        .jGallery .audio-controls .mute a:focus,
        .jGallery .audio-controls .mute a:focus:visited,
        .jGallery .audio-controls .unmute a:hover,
        .jGallery .audio-controls .unmute a:hover:visited,
        .jGallery .audio-controls .unmute a:focus,
        .jGallery .audio-controls .unmute a:focus:visited {
          color: white; }
      /* line 36, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
      .jGallery .audio-controls .play a:active,
      .jGallery .audio-controls .pause a:active,
      .jGallery .audio-controls .stop a:active,
      .jGallery .audio-controls .mute a:active,
      .jGallery .audio-controls .unmute a:active {
        background-color: #242424;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #242424), color-stop(30%, #292929), color-stop(50%, #1f1f1f), color-stop(50%, #171717), color-stop(100%, #383838));
        background-image: -webkit-linear-gradient(#242424, #292929 30%, #1f1f1f 50%, #171717 50%, #383838);
        background-image: -moz-linear-gradient(#242424, #292929 30%, #1f1f1f 50%, #171717 50%, #383838);
        background-image: -o-linear-gradient(#242424, #292929 30%, #1f1f1f 50%, #171717 50%, #383838);
        background-image: -ms-linear-gradient(#242424, #292929 30%, #1f1f1f 50%, #171717 50%, #383838);
        background-image: linear-gradient(#242424, #292929 30%, #1f1f1f 50%, #171717 50%, #383838);
        border-color: black;
        text-shadow: black 0px -1px -1px;
        -moz-box-shadow: #0d0d0d 0 0.08em 0.2em 1px inset;
        -webkit-box-shadow: #0d0d0d 0 0.08em 0.2em 1px inset;
        -o-box-shadow: #0d0d0d 0 0.08em 0.2em 1px inset;
        box-shadow: #0d0d0d 0 0.08em 0.2em 1px inset; }
        /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
        .jGallery .audio-controls .play a:active, .jGallery .audio-controls .play a:active:visited,
        .jGallery .audio-controls .pause a:active,
        .jGallery .audio-controls .pause a:active:visited,
        .jGallery .audio-controls .stop a:active,
        .jGallery .audio-controls .stop a:active:visited,
        .jGallery .audio-controls .mute a:active,
        .jGallery .audio-controls .mute a:active:visited,
        .jGallery .audio-controls .unmute a:active,
        .jGallery .audio-controls .unmute a:active:visited {
          color: white; }
    /* line 135, ../scss/interactives/_jgallery.scss */
    .jGallery .audio-controls .play, .jGallery .audio-controls .unmute {
      display: none; }

/* line 1, ../scss/interactives/_jmatch.scss */
.jMatch {
  position: relative;
  background: transparent url("../imgs/interactives/noise.png") repeat;
  width: 700px;
  height: 900px;
  overflow: hidden;
  font: 0.9em "PTSansRegular";
  /* Yuk! CSS Hack for IE6 3 pixel bug :( */ }
  /* line 9, ../scss/interactives/_jmatch.scss */
  .jMatch h2 {
    font-size: 16px; }
  /* line 11, ../scss/interactives/_jmatch.scss */
  .jMatch .innerInstructions {
    margin-top: 1em;
    text-align: center; }
  /* line 13, ../scss/interactives/_jmatch.scss */
  .jMatch #title1, .jMatch #title2 {
    position: absolute;
    top: 40px;/*top: 7%;*/
    font: 1.4em "PTSansBold";
    padding: .2em 0;
    border-bottom: 5px solid #d65b00;
    border-top: 5px solid #d65b00;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 0px 1px 0px white; }
  /* line 23, ../scss/interactives/_jmatch.scss */
  .jMatch #title1 {
    left: 13%; }
  /* line 24, ../scss/interactives/_jmatch.scss */
  .jMatch #title2 {
    right: 25%; }
  /* line 26, ../scss/interactives/_jmatch.scss */
  .jMatch .t3565Left {
    position: absolute;
	top: 120px;
    left: 5px;
    width: 25%;
    /*height: 100%;
    top: 27%;
    left: 3%;
    width: 25%;
    height: 65%;*/
    padding: .5em;
    overflow: hidden;
    border: 4px solid #d65b00;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff; }
  /* line 38, ../scss/interactives/_jmatch.scss */
  .jMatch .t3565Right {
    position: absolute;
    top: 120px;
    right: 5px;
    width: 65%;
    height: 72%;
	/*top: 25%;
    right: 2%;
    width: 60%;
    height: 72%;*/
    overflow: hidden; 
	}
  /* line 46, ../scss/interactives/_jmatch.scss */
  .jMatch .definitions {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  /* line 51, ../scss/interactives/_jmatch.scss */
  .jMatch .hover, .jMatch .word:hover, .jMatch .definition:hover, .jMatch .selected {
    background-color: #f0b449 !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    color: black;
    text-shadow: 0px 1px 0px white;
    cursor: pointer; }
  /* line 58, ../scss/interactives/_jmatch.scss */
  .jMatch .word {
    width: 100%;
    height: 20px;
    font-family: "PTSansBold";
    display: block;
    text-align: center;
    padding: 3px 0 5px 0; }
  /* line 69, ../scss/interactives/_jmatch.scss */
  .jMatch .definition {
    background: #fff;
    width: 90%;
    margin: 0 1em 1em 0;
    padding: 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #f0b449; }
  /* line 1, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspContainer {
    overflow: hidden;
    position: relative; }
  /* line 2, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspPane {
    position: absolute; }
  /* line 4, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%; }
  /* line 11, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px; }
  /* line 19, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspVerticalBar *,
  .jMatch .jspHorizontalBar * {
    margin: 0;
    padding: 0; }
  /* line 21, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspCap {
    display: none; }
  /* line 22, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspHorizontalBar .jspCap {
    float: left; }
  /* line 24, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspTrack {
    position: relative;
    width: 10px;
    background: gray;
    opacity: .3;
    filter: alpha(opacity=30);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px; }
  /* line 32, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspDrag {
    background-color: #000;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    overflow: hidden;
    filter: alpha(opacity=30);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px; }
  /* line 43, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspHorizontalBar .jspTrack,
  .jMatch .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%; }
  /* line 45, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspArrow {
    text-indent: -20000px;
    display: block;
    cursor: pointer; }
  /* line 47, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspArrowUp {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #272a2b; }
  /* line 54, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspArrowDown {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #272a2b; }
  /* line 61, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspArrow.jspDisabled {
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3; }
  /* line 62, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspVerticalBar .jspArrow {
    height: 3px;
    margin: 5px 0; }
  /* line 63, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%; }
  /* line 65, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspVerticalBar .jspArrow:focus {
    outline: none; }
  /* line 66, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch .jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%; }
  /* line 69, ../scss/interactives/includes/_scrollpane.scss */
  .jMatch * html .jspCorner {
    margin: 0 -3px 0 0; }

/* line 1, ../scss/interactives/_jquiz.scss */
.jQuiz {
  background: #ebe9e5 url("../imgs/interactives/noise.png") repeat;
  position: relative;
  width: 660px;
  height: 540px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "PTSansRegular"; }
  /* line 11, ../scss/interactives/_jquiz.scss */
  .jQuiz h2 {
    color: #d65b00; }
  /* line 12, ../scss/interactives/_jquiz.scss */
  .jQuiz h3 {
    color: #7bab7c; }
  /* line 13, ../scss/interactives/_jquiz.scss */
  .jQuiz h4 {
    color: #7bab7c; }
  /* line 14, ../scss/interactives/_jquiz.scss */
  .jQuiz h5 {
    color: #8a6110; }
  /* line 16, ../scss/interactives/_jquiz.scss */
  .jQuiz h2 {
    font-size: 1.6em;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0 0 20px 0; }
  /* line 22, ../scss/interactives/_jquiz.scss */
  .jQuiz hr {
    height: 1px;
    border: none;
    background-color: #bab8b4;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
  /* line 28, ../scss/interactives/_jquiz.scss */
  .jQuiz input[type=radio] {
    float: left;
    width: 2em; }
  /* line 32, ../scss/interactives/_jquiz.scss */
  .jQuiz label {
    clear: both;
    float: left;
    width: 98%;
    padding: .3em .5em; }
    /* line 38, ../scss/interactives/_jquiz.scss */
    .jQuiz label:hover {
      cursor: pointer;
      background-color: #d5d1c8;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      -o-border-radius: 7px;
      -ms-border-radius: 7px;
      -khtml-border-radius: 7px;
      border-radius: 7px;
      -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 white;
      -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 white;
      -o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 white;
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 white; }
  /* line 49, ../scss/interactives/_jquiz.scss */
  .jQuiz label:last-child {
    margin: 0 0 20px 0; }
  /* line 51, ../scss/interactives/_jquiz.scss */
  .jQuiz .button {
    margin: 20px 0 0 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.2em;
    padding: 0.3em 1em;
    border-width: 1px;
    background-color: #d65b00;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb67f), color-stop(10%, #ff8123), color-stop(50%, #c75400), color-stop(50%, #b74e00), color-stop(100%, #ea6400));
    background-image: -webkit-linear-gradient(#ffb67f, #ff8123 10%, #c75400 50%, #b74e00 50%, #ea6400);
    background-image: -moz-linear-gradient(#ffb67f, #ff8123 10%, #c75400 50%, #b74e00 50%, #ea6400);
    background-image: -o-linear-gradient(#ffb67f, #ff8123 10%, #c75400 50%, #b74e00 50%, #ea6400);
    background-image: -ms-linear-gradient(#ffb67f, #ff8123 10%, #c75400 50%, #b74e00 50%, #ea6400);
    background-image: linear-gradient(#ffb67f, #ff8123 10%, #c75400 50%, #b74e00 50%, #ea6400);
    border-color: #8a3a00;
    text-shadow: #572500 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.42) 0 0 0.1em 1px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.42) 0 0 0.1em 1px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.42) 0 0 0.1em 1px inset;
    box-shadow: rgba(255, 255, 255, 0.42) 0 0 0.1em 1px inset;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 10000; }
    /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
    .jQuiz .button, .jQuiz .button:visited {
      color: white; }
    /* line 31, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
    .jQuiz .button:hover, .jQuiz .button:focus {
      background-color: #c75400;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffad70), color-stop(10%, #ff7814), color-stop(50%, #b74e00), color-stop(50%, #a84700), color-stop(100%, #db5d00));
      background-image: -webkit-linear-gradient(#ffad70, #ff7814 10%, #b74e00 50%, #a84700 50%, #db5d00);
      background-image: -moz-linear-gradient(#ffad70, #ff7814 10%, #b74e00 50%, #a84700 50%, #db5d00);
      background-image: -o-linear-gradient(#ffad70, #ff7814 10%, #b74e00 50%, #a84700 50%, #db5d00);
      background-image: -ms-linear-gradient(#ffad70, #ff7814 10%, #b74e00 50%, #a84700 50%, #db5d00);
      background-image: linear-gradient(#ffad70, #ff7814 10%, #b74e00 50%, #a84700 50%, #db5d00);
      border-color: #7a3400;
      text-shadow: #471e00 0px 1px 1px; }
      /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
      .jQuiz .button:hover, .jQuiz .button:hover:visited, .jQuiz .button:focus, .jQuiz .button:focus:visited {
        color: white; }
    /* line 36, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
    .jQuiz .button:active {
      background-color: #b74e00;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b74e00), color-stop(30%, #c25200), color-stop(50%, #ad4a00), color-stop(50%, #9e4300), color-stop(100%, #e05f00));
      background-image: -webkit-linear-gradient(#b74e00, #c25200 30%, #ad4a00 50%, #9e4300 50%, #e05f00);
      background-image: -moz-linear-gradient(#b74e00, #c25200 30%, #ad4a00 50%, #9e4300 50%, #e05f00);
      background-image: -o-linear-gradient(#b74e00, #c25200 30%, #ad4a00 50%, #9e4300 50%, #e05f00);
      background-image: -ms-linear-gradient(#b74e00, #c25200 30%, #ad4a00 50%, #9e4300 50%, #e05f00);
      background-image: linear-gradient(#b74e00, #c25200 30%, #ad4a00 50%, #9e4300 50%, #e05f00);
      border-color: #6b2d00;
      text-shadow: #381800 0px -1px -1px;
      -moz-box-shadow: #8a3a00 0 0.08em 0.2em 1px inset;
      -webkit-box-shadow: #8a3a00 0 0.08em 0.2em 1px inset;
      -o-box-shadow: #8a3a00 0 0.08em 0.2em 1px inset;
      box-shadow: #8a3a00 0 0.08em 0.2em 1px inset; }
      /* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
      .jQuiz .button:active, .jQuiz .button:active:visited {
        color: white; }
  /* line 56, ../scss/interactives/_jquiz.scss */
  .jQuiz .feedback {
    display: none;
    background-color: #d5d1c8;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.05), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.05), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -o-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.05), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.05), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    padding: 10px 20px;
    color: #595245; }
  /* line 70, ../scss/interactives/_jquiz.scss */
  .jQuiz .alert {
    background-color: #990000;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b30000), color-stop(100%, #990000));
    background: -webkit-linear-gradient(#b30000, #990000);
    background: -moz-linear-gradient(#b30000, #990000);
    background: -o-linear-gradient(#b30000, #990000);
    background: -ms-linear-gradient(#b30000, #990000);
    background: linear-gradient(#b30000, #990000);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: inset 0 0 1px black, 0 1px 0 rgba(255, 255, 255, 0.05), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-box-shadow: inset 0 0 1px black, 0 1px 0 rgba(255, 255, 255, 0.05), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -o-box-shadow: inset 0 0 1px black, 0 1px 0 rgba(255, 255, 255, 0.05), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: inset 0 0 1px black, 0 1px 0 rgba(255, 255, 255, 0.05), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    padding: 10px 20px 10px 25px;
    color: #fff;
    display: none; }
    /* line 85, ../scss/interactives/_jquiz.scss */
    .jQuiz .alert .arrow {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #4d0000;
      position: relative;
      top: 11px;
      left: -10px; }

/* line 1, ../scss/interactives/_jquiz2.scss */
.jQuiz2MC, .jQuiz2TF {
  background: #ebe9e5 url("../imgs/interactives/noise.png") repeat;
  position: relative;
  width: 700px;
  height: 400px;
  overflow: hidden; }
  /* line 8, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .navigation, .jQuiz2TF .navigation {
    position: absolute;
    top: 0;
    right: 0;
    font: 0.9em "PTSansRegular";
    color: white;
    padding: .2em .5em;
    border-bottom: 1px solid #bd5000;
    border-left: 1px solid #bd5000;
    background-color: #d65b00;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d65b00), color-stop(100%, #bd5000));
    background: -webkit-linear-gradient(top center, #d65b00, #bd5000);
    background: -moz-linear-gradient(top center, #d65b00, #bd5000);
    background: -o-linear-gradient(top center, #d65b00, #bd5000);
    background: -ms-linear-gradient(top center, #d65b00, #bd5000);
    background: linear-gradient(top center, #d65b00, #bd5000);
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-bottom-left-radius: 1em;
    -o-border-bottom-left-radius: 1em;
    -ms-border-bottom-left-radius: 1em;
    -khtml-border-bottom-left-radius: 1em;
    border-bottom-left-radius: 1em; }
  /* line 22, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .question, .jQuiz2MC .statement, .jQuiz2TF .question, .jQuiz2TF .statement {
    position: absolute;
    margin: .5em 0 0 0;
    width: 2%;
    height: 80%; }
    /* line 28, ../scss/interactives/_jquiz2.scss */
    .jQuiz2MC .question span.bracket, .jQuiz2MC .statement span.bracket, .jQuiz2TF .question span.bracket, .jQuiz2TF .statement span.bracket {
      border-top: 12px solid #8a6110;
      border-bottom: 12px solid #8a6110;
      border-left: 12px solid #8a6110;
      display: block;
      height: 25%;
      width: 65%; }
    /* line 36, ../scss/interactives/_jquiz2.scss */
    .jQuiz2MC .question span.text, .jQuiz2MC .statement span.text, .jQuiz2TF .question span.text, .jQuiz2TF .statement span.text {
      padding: 0 0 0 1em;
      position: absolute;
      top: -1%;
      left: 100%;
      width: 15em; }
  /* line 43, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .inactive, .jQuiz2TF .inactive {
    position: absolute;
    left: -700px;
    width: 700px;
    height: 100%;
    opacity: 0; }
  /* line 50, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .active, .jQuiz2TF .active {
    position: absolute;
    left: 0;
    width: 700px;
    height: 100%;
    opacity: 1; }
  /* line 57, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC h1, .jQuiz2MC .jFlowchart h2, .jFlowchart .jQuiz2MC h2, .jQuiz2MC .jFlowchart h3, .jFlowchart .jQuiz2MC h3, .jQuiz2MC h2, .jQuiz2MC h3, .jQuiz2TF h1, .jQuiz2TF .jFlowchart h2, .jFlowchart .jQuiz2TF h2, .jQuiz2TF .jFlowchart h3, .jFlowchart .jQuiz2TF h3, .jQuiz2TF h2, .jQuiz2TF h3 {
    text-align: left;
    margin: 0;
    border-bottom: 0px;
    height: 25%; }
  /* line 63, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC h1, .jQuiz2MC .jFlowchart h2, .jFlowchart .jQuiz2MC h2, .jQuiz2MC .jFlowchart h3, .jFlowchart .jQuiz2MC h3, .jQuiz2TF h1, .jQuiz2TF .jFlowchart h2, .jFlowchart .jQuiz2TF h2, .jQuiz2TF .jFlowchart h3, .jFlowchart .jQuiz2TF h3 {
    color: black;
    padding: .8em 1em 0 1.9em;
    font: 1.76em/1em "PTSansBold"; }
  /* line 68, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC h3, .jQuiz2TF h3 {
    color: black;
    padding: 1.2em 2em 0 2.6em;
    font: 1.28em/1em "PTSansBold"; }
  /* line 73, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC h2, .jQuiz2MC .statement, .jQuiz2MC .question, .jQuiz2TF h2, .jQuiz2TF .statement, .jQuiz2TF .question {
    color: #2f2105;
    padding: 0 0 0 1.8em;
    font: 0.9em "PTSansRegular"; }
  /* line 78, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC ol.answer, .jQuiz2TF ol.answer {
    position: relative;
    margin: 0 0 0 1em;
    height: 65%; }
  /* line 83, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC ul.answer, .jQuiz2TF ul.answer {
    position: relative;
    margin: 0 0 0 15%;
    width: 100%;
    height: 50%; }
  /* line 89, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .selection, .jQuiz2TF .selection {
    float: left;
    width: 17%;
    height: 85%;
    padding: 1em;
    margin: 0 0 0 1em;
    -moz-box-shadow: 0.1em 0.1em 0px 0px black;
    -webkit-box-shadow: 0.1em 0.1em 0px 0px black;
    -o-box-shadow: 0.1em 0.1em 0px 0px black;
    box-shadow: 0.1em 0.1em 0px 0px black;
    overflow: hidden;
    cursor: pointer; }
  /* line 99, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .selection:first-child, .jQuiz2TF .selection:first-child {
    margin: 0; }
  /* line 102, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .selection:hover,
  .jQuiz2MC .selection:focus, .jQuiz2TF .selection:hover, .jQuiz2TF .selection:focus {
    -moz-box-shadow: -2px -2px 0px 0px black;
    -webkit-box-shadow: -2px -2px 0px 0px black;
    -o-box-shadow: -2px -2px 0px 0px black;
    box-shadow: -2px -2px 0px 0px black; }
  /* line 104, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .endfeedback p, .jQuiz2TF .endfeedback p {
    padding: 0 1em 0 3.6em; }
  /* line 106, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC #a, .jQuiz2MC #t, .jQuiz2TF #a, .jQuiz2TF #t {
    background-color: #e8fcaf;
    color: black;
    text-shadow: 0px 1px 0px white; }
  /* line 110, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC #b, .jQuiz2MC #f, .jQuiz2TF #b, .jQuiz2TF #f {
    background-color: #d65b00;
    color: white;
    text-shadow: 0px 1px 0px black; }
  /* line 114, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC #c, .jQuiz2TF #c {
    background-color: #8a6110;
    color: white;
    text-shadow: 0px 1px 0px black; }
  /* line 119, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC #d, .jQuiz2TF #d {
    background-color: #f0b449;
    color: black;
    text-shadow: 0px 1px 0px white; }
  /* line 136, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC #a:hover,
  .jQuiz2MC #t:hover,
  .jQuiz2MC #b:hover,
  .jQuiz2MC #f:hover,
  .jQuiz2MC #c:hover,
  .jQuiz2MC #d:hover,
  .jQuiz2MC #a:focus,
  .jQuiz2MC #t:focus,
  .jQuiz2MC #b:focus,
  .jQuiz2MC #f:focus,
  .jQuiz2MC #c:focus,
  .jQuiz2MC #d:focus, .jQuiz2TF #a:hover, .jQuiz2TF #t:hover, .jQuiz2TF #b:hover, .jQuiz2TF #f:hover, .jQuiz2TF #c:hover, .jQuiz2TF #d:hover, .jQuiz2TF #a:focus, .jQuiz2TF #t:focus, .jQuiz2TF #b:focus, .jQuiz2TF #f:focus, .jQuiz2TF #c:focus, .jQuiz2TF #d:focus {
    background-color: #7bab7c;
    color: black;
    text-shadow: 0px 1px 0px white; }
  /* line 141, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .selection .letter, .jQuiz2TF .selection .letter {
    font: 3.2em "PTSansBold"; }
  /* line 142, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC .selection .text, .jQuiz2TF .selection .text {
    font: 1.08em/0.9em "PTSansRegular";
    letter-spacing: -1pt; }
  /* line 144, ../scss/interactives/_jquiz2.scss */
  .jQuiz2MC button, .jQuiz2TF button {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.2em;
    padding: 0.3em 1em;
    border-width: 1px;
    background-color: #e9ffac;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #fdfff9), color-stop(50%, #e4fba0), color-stop(50%, #e0fb92), color-stop(100%, #eefdc3));
    background-image: -webkit-linear-gradient(#ffffff, #fdfff9 10%, #e4fba0 50%, #e0fb92 50%, #eefdc3);
    background-image: -moz-linear-gradient(#ffffff, #fdfff9 10%, #e4fba0 50%, #e0fb92 50%, #eefdc3);
    background-image: -o-linear-gradient(#ffffff, #fdfff9 10%, #e4fba0 50%, #e0fb92 50%, #eefdc3);
    background-image: -ms-linear-gradient(#ffffff, #fdfff9 10%, #e4fba0 50%, #e0fb92 50%, #eefdc3);
    background-image: linear-gradient(#ffffff, #fdfff9 10%, #e4fba0 50%, #e0fb92 50%, #eefdc3);
    border-color: #d3f965;
    text-shadow: #fdfff9 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
    box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    bottom: 5%;
    right: 10%; }
    /* line 120, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
    .jQuiz2MC button, .jQuiz2MC button:visited, .jQuiz2TF button, .jQuiz2TF button:visited {
      color: #222222; }
    /* line 31, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
    .jQuiz2MC button:hover, .jQuiz2MC button:focus, .jQuiz2TF button:hover, .jQuiz2TF button:focus {
      background-color: #e5ff9d;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #f9feea), color-stop(50%, #e0fb92), color-stop(50%, #dbfa83), color-stop(100%, #e9fcb4));
      background-image: -webkit-linear-gradient(#ffffff, #f9feea 10%, #e0fb92 50%, #dbfa83 50%, #e9fcb4);
      background-image: -moz-linear-gradient(#ffffff, #f9feea 10%, #e0fb92 50%, #dbfa83 50%, #e9fcb4);
      background-image: -o-linear-gradient(#ffffff, #f9feea 10%, #e0fb92 50%, #dbfa83 50%, #e9fcb4);
      background-image: -ms-linear-gradient(#ffffff, #f9feea 10%, #e0fb92 50%, #dbfa83 50%, #e9fcb4);
      background-image: linear-gradient(#ffffff, #f9feea 10%, #e0fb92 50%, #dbfa83 50%, #e9fcb4);
      border-color: #cff957;
      text-shadow: #f9ffe9 0px 1px 1px; }
      /* line 120, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
      .jQuiz2MC button:hover, .jQuiz2MC button:hover:visited, .jQuiz2MC button:focus, .jQuiz2MC button:focus:visited, .jQuiz2TF button:hover, .jQuiz2TF button:hover:visited, .jQuiz2TF button:focus, .jQuiz2TF button:focus:visited {
        color: #222222; }
    /* line 36, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
    .jQuiz2MC button:active, .jQuiz2TF button:active {
      background-color: #e1ff8d;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0fb92), color-stop(30%, #e2fb9b), color-stop(50%, #ddfb88), color-stop(50%, #d8fa79), color-stop(100%, #ebfcb9));
      background-image: -webkit-linear-gradient(#e0fb92, #e2fb9b 30%, #ddfb88 50%, #d8fa79 50%, #ebfcb9);
      background-image: -moz-linear-gradient(#e0fb92, #e2fb9b 30%, #ddfb88 50%, #d8fa79 50%, #ebfcb9);
      background-image: -o-linear-gradient(#e0fb92, #e2fb9b 30%, #ddfb88 50%, #d8fa79 50%, #ebfcb9);
      background-image: -ms-linear-gradient(#e0fb92, #e2fb9b 30%, #ddfb88 50%, #d8fa79 50%, #ebfcb9);
      background-image: linear-gradient(#e0fb92, #e2fb9b 30%, #ddfb88 50%, #d8fa79 50%, #ebfcb9);
      border-color: #caf848;
      text-shadow: #f5ffda 0px -1px -1px;
      -moz-box-shadow: #d3f965 0 0.08em 0.2em 1px inset;
      -webkit-box-shadow: #d3f965 0 0.08em 0.2em 1px inset;
      -o-box-shadow: #d3f965 0 0.08em 0.2em 1px inset;
      box-shadow: #d3f965 0 0.08em 0.2em 1px inset; }
      /* line 120, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
      .jQuiz2MC button:active, .jQuiz2MC button:active:visited, .jQuiz2TF button:active, .jQuiz2TF button:active:visited {
        color: #222222; }

/* line 1, ../scss/interactives/_jquiz3.scss */
.jQuiz3 {
  position: relative;
  background: #ebe9e5 url("../imgs/interactives/noise.png") repeat;
  width: 700px;
  height: 400px;
  overflow: hidden; }
  /* line 8, ../scss/interactives/_jquiz3.scss */
  .jQuiz3 .btn-i .popup-directions {
    position: absolute;
    top: 45px;
    left: 10px;
    width: 150px;
    background-color: #272a2b;
    color: #fff;
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px black;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px black;
    -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px black;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px black;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #272a2b;
    font: 12px "PTSansRegular";
    padding: 10px 15px;
    display: none; }
  /* line 25, ../scss/interactives/_jquiz3.scss */
  .jQuiz3 .nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font: 8pt/10pt "PTSansBold";
    color: #fff;
    background-color: #d65b00;
    padding: 5px 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px; }
  /* line 35, ../scss/interactives/_jquiz3.scss */
  .jQuiz3 .question {
    position: relative; }
  /* line 36, ../scss/interactives/_jquiz3.scss */
  .jQuiz3 .question-image {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 350px;
    height: 210px;
    border: 5px solid #dfdedc;
    -moz-box-shadow: 0px 0px 3px white;
    -webkit-box-shadow: 0px 0px 3px white;
    -o-box-shadow: 0px 0px 3px white;
    box-shadow: 0px 0px 3px white;
    overflow: hidden; }
  /* line 46, ../scss/interactives/_jquiz3.scss */
  .jQuiz3 .question-text {
    position: absolute;
    top: 25px;
    right: -10px;
    width: 300px;
    font: 20pt/16pt "PTSansBold";
    color: #d65b00; }
  /* line 54, ../scss/interactives/_jquiz3.scss */
  .jQuiz3 ul.answers {
    position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font: 10pt/10pt "PTSansBold";
    right: 25px;
    top: 120px; }
    /* line 63, ../scss/interactives/_jquiz3.scss */
    .jQuiz3 ul.answers li {
      margin: 0px 0px 10px 0px;
      background-color: #f0b449;
      border: 1px solid #da9212;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      -o-border-radius: 7px;
      -ms-border-radius: 7px;
      -khtml-border-radius: 7px;
      border-radius: 7px;
      padding: 15px 10px;
      width: 240px;
      text-align: center;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); }
      /* line 73, ../scss/interactives/_jquiz3.scss */
      .jQuiz3 ul.answers li:hover {
        background-color: #c38310;
        border: 1px solid #7c530a;
        color: #fff;
        cursor: pointer;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); }
  /* line 82, ../scss/interactives/_jquiz3.scss */
  .jQuiz3 .citation {
    position: absolute;
    top: 10px;
    left: 35px;
    font: 8pt/10pt "PTSansRegular";
    width: 325px; }
  /* line 88, ../scss/interactives/_jquiz3.scss */
  .jQuiz3 .caption {
    position: absolute;
    top: 255px;
    left: 35px;
    font: 9pt/12pt "PTSansRegular";
    width: 335px; }
  /* line 95, ../scss/interactives/_jquiz3.scss */
  .jQuiz3 .feedback {
    position: absolute;
    top: 150px;
    left: 175px;
    width: 300px;
    padding: 20px;
    font: 20pt/18pt "PTSansBold";
    text-align: center;
    background-color: #272a2b;
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px black;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px black;
    -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px black;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px black;
    border: 1px solid #272a2b;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    color: #fff;
    z-index: 1100; }

/* line 1, ../scss/interactives/_jslider.scss */
.jSlider {
  position: relative;
  background: #ebe9e5 url("../imgs/interactives/iphone.png") no-repeat top right;
  background-size: 78% 100%;
  width: 350px;
  height: 480px;
  margin: 0px auto;
  overflow: hidden; }
  /* line 10, ../scss/interactives/_jslider.scss */
  .jSlider .overlay {
    height: 480px; }
  /* line 12, ../scss/interactives/_jslider.scss */
  .jSlider .instructions {
    left: 2%;
    width: 45%; }
  /* line 16, ../scss/interactives/_jslider.scss */
  .jSlider strong {
    font-weight: normal;
    font-family: "PTSansBold"; }
  /* line 18, ../scss/interactives/_jslider.scss */
  .jSlider #paging {
    position: absolute;
    top: 22%;
    left: 31%;
    height: 60%;
    width: 60%;
    overflow: hidden; }
    /* line 26, ../scss/interactives/_jslider.scss */
    .jSlider #paging div.page {
      background-color: #fff;
      float: left;
      width: 100%;
      height: 100%;
      color: black;
      cursor: pointer; }
      /* line 34, ../scss/interactives/_jslider.scss */
      .jSlider #paging div.page div {
        position: relative;
        top: 5%;
        left: 7%;
        width: 90%; }
      /* line 40, ../scss/interactives/_jslider.scss */
      .jSlider #paging div.page .title {
        font-family: "PTSansBold";
        line-height: 1.2em;
        margin: 0 0 1em 0; }
      /* line 42, ../scss/interactives/_jslider.scss */
      .jSlider #paging div.page ol {
        font-family: "PTSansRegular";
        list-style-position: outside;
        margin: 0px;
        padding: 0 1em 0; }
        /* line 48, ../scss/interactives/_jslider.scss */
        .jSlider #paging div.page ol li {
          line-height: 1.2em;
          *line-height: 1.2em;
          margin: 0 0 1em .1em; }
          /* line 53, ../scss/interactives/_jslider.scss */
          .jSlider #paging div.page ol li p {
            font: 0.9em/1.17em "PTSansRegular";
            margin: 0 0 1em -1em \9;
            *margin: 0 0 1em .5em; }
  /* line 58, ../scss/interactives/_jslider.scss */
  .jSlider .navigation {
    padding: 5px;
    background-color: #333333;
    color: white;
    font-size: 0.9em;
    font-weight: bold; }

/* line 1, ../scss/interactives/_jtimeline.scss */
.jTimeline {
  height: 400px;
  width: 700px;
  position: relative;
  background: white url("../imgs/interactives/noise.png") repeat;
  /* Yuk! CSS Hack for IE6 3 pixel bug :( */ }
  /* line 7, ../scss/interactives/_jtimeline.scss */
  .jTimeline #head {
    background-color: #8a6110;
    /* fallback color */
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a6110), color-stop(100%, #b88115));
    background: -webkit-linear-gradient(top center, #8a6110, #b88115);
    background: -moz-linear-gradient(top center, #8a6110, #b88115);
    background: -o-linear-gradient(top center, #8a6110, #b88115);
    background: -ms-linear-gradient(top center, #8a6110, #b88115);
    background: linear-gradient(top center, #8a6110, #b88115);
    margin: 0 0 1em 0;
    overflow: hidden;
    border-bottom: 1px solid gray;
    text-shadow: 0px 1px 0px black;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.3);
    -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.3);
    overflow: hidden;
    *zoom: 1; }
    /* line 17, ../scss/interactives/_jtimeline.scss */
    .jTimeline #head h1, .jTimeline #head .jFlowchart h2, .jFlowchart .jTimeline #head h2, .jTimeline #head .jFlowchart h3, .jFlowchart .jTimeline #head h3 {
      font: 1.6em/1em "PTSansBold";
      color: white;
      border-bottom: 0px;
      text-align: center;
      margin: .5em 0 0 0;
      padding: 0;
      float: none; }
    /* line 26, ../scss/interactives/_jtimeline.scss */
    .jTimeline #head h2 {
      font: 0.8em/1em "PTSansBold";
      color: white;
      border-bottom: 0;
      text-align: center;
      margin: 0 0 1em 0;
      float: none;
      padding: 0; }
  /* line 35, ../scss/interactives/_jtimeline.scss */
  .jTimeline .timelineInfo {
    height: 71%;
    margin: 0;
    overflow: hidden; }
    /* line 36, ../scss/interactives/_jtimeline.scss */
    .jTimeline .timelineInfo .item {
      overflow: hidden;
      width: 94%;
      height: 95%;
      font: 0.9em "PTSansRegular";
      padding: 0 1em; }
      /* line 43, ../scss/interactives/_jtimeline.scss */
      .jTimeline .timelineInfo .item h1, .jTimeline .timelineInfo .item .jFlowchart h2, .jFlowchart .jTimeline .timelineInfo .item h2, .jTimeline .timelineInfo .item .jFlowchart h3, .jFlowchart .jTimeline .timelineInfo .item h3 {
        font: 0.9em "PTSansRegular";
        text-transform: uppercase;
        letter-spacing: -0.1em;
        margin-bottom: 0;
        color: black;
        float: none; }
      /* line 51, ../scss/interactives/_jtimeline.scss */
      .jTimeline .timelineInfo .item h2 {
        color: black;
        margin: 0 0 1em 0;
        font: 0.9em/0.9em "PTSansRegular";
        float: none; }
    /* line 57, ../scss/interactives/_jtimeline.scss */
    .jTimeline .timelineInfo p {
      font: 0.9em "PTSansRegular";
      margin: 0 0 1em 0; }
  /* line 59, ../scss/interactives/_jtimeline.scss */
  .jTimeline .jcarousel-skin {
    width: 100%;
    height: 11%;
    position: absolute;
    bottom: -2px; }
    /* line 65, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-container {
      background-color: #e6e6e6;
      /* fallback color */
      background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #bababa), color-stop(100%, #e6e6e6));
      background: -webkit-linear-gradient(bottom center, #bababa, #e6e6e6);
      background: -moz-linear-gradient(bottom center, #bababa, #e6e6e6);
      background: -o-linear-gradient(bottom center, #bababa, #e6e6e6);
      background: -ms-linear-gradient(bottom center, #bababa, #e6e6e6);
      background: linear-gradient(bottom center, #bababa, #e6e6e6);
      margin: 0 auto;
      -moz-border-radius-topleft: 7px;
      -webkit-border-top-left-radius: 7px;
      -o-border-top-left-radius: 7px;
      -ms-border-top-left-radius: 7px;
      -khtml-border-top-left-radius: 7px;
      border-top-left-radius: 7px;
      -moz-border-radius-topright: 7px;
      -webkit-border-top-right-radius: 7px;
      -o-border-top-right-radius: 7px;
      -ms-border-top-right-radius: 7px;
      -khtml-border-top-right-radius: 7px;
      border-top-right-radius: 7px;
      -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(0, 0, 0, 0.1);
      -o-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px -2px 5px rgba(0, 0, 0, 0.1);
      border-top: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc; }
    /* line 75, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-list {
      height: 100%; }
    /* line 77, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-item {
      height: 100%; }
      /* line 80, ../scss/interactives/_jtimeline.scss */
      .jTimeline .jcarousel-skin .jcarousel-item a {
        width: 100%;
        height: 100%;
        display: block;
        padding: 1em 0 0 0;
        text-align: center;
        color: black;
        text-shadow: 0px 1px 0px white;
        text-decoration: none;
        font: 0.9em "PTSansBold"; }
        /* line 91, ../scss/interactives/_jtimeline.scss */
        .jTimeline .jcarousel-skin .jcarousel-item a:hover, .jTimeline .jcarousel-skin .jcarousel-item a.jcarousel-item-active {
          background-color: #d65b00;
          background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #d65b00), color-stop(100%, #bd5000));
          background: -webkit-linear-gradient(bottom center, #d65b00, #bd5000);
          background: -moz-linear-gradient(bottom center, #d65b00, #bd5000);
          background: -o-linear-gradient(bottom center, #d65b00, #bd5000);
          background: -ms-linear-gradient(bottom center, #d65b00, #bd5000);
          background: linear-gradient(bottom center, #d65b00, #bd5000);
          -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
          -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
          -o-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
          color: white;
          text-shadow: 0px -1px 0px black;
          cursor: pointer; }
    /* line 99, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-item-horizontal {
      margin: 0px; }
    /* line 100, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-container-horizontal {
      width: 83%;
      height: 95%;
      padding: 0 6% 0 7%; }
    /* line 101, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-clip-horizontal {
      height: 100%; }
    /* line 103, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-next-horizontal {
      position: absolute;
      top: 15%;
      right: 2%;
      width: 32px;
      height: 32px;
      cursor: pointer;
      background: transparent url("../imgs/interactives/next.png") no-repeat 0 0; }
    /* line 112, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-next-horizontal:hover {
      background-position: -32px 0; }
    /* line 113, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-next-horizontal:active {
      background-position: -64px 0; }
    /* line 117, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-next-disabled-horizontal,
    .jTimeline .jcarousel-skin .jcarousel-next-disabled-horizontal:hover,
    .jTimeline .jcarousel-skin .jcarousel-next-disabled-horizontal:active {
      cursor: default;
      background-position: -96px 0; }
    /* line 119, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-prev-horizontal {
      position: absolute;
      top: 15%;
      left: 2%;
      width: 32px;
      height: 32px;
      cursor: pointer;
      background: transparent url("../imgs/interactives/prev.png") no-repeat 0 0; }
    /* line 128, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-prev-horizontal:hover {
      background-position: -32px 0; }
    /* line 129, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-prev-horizontal:active {
      background-position: -64px 0; }
    /* line 133, ../scss/interactives/_jtimeline.scss */
    .jTimeline .jcarousel-skin .jcarousel-prev-disabled-horizontal,
    .jTimeline .jcarousel-skin .jcarousel-prev-disabled-horizontal:hover,
    .jTimeline .jcarousel-skin .jcarousel-prev-disabled-horizontal:active {
      cursor: default;
      background-position: -96px 0; }
  /* line 135, ../scss/interactives/_jtimeline.scss */
  .jTimeline .jScrollPaneContainer {
    position: relative;
    overflow: hidden;
    z-index: 10; }
  /* line 1, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspContainer {
    overflow: hidden;
    position: relative; }
  /* line 2, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspPane {
    position: absolute; }
  /* line 4, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%; }
  /* line 11, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px; }
  /* line 19, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspVerticalBar *, .jTimeline .jspHorizontalBar * {
    margin: 0;
    padding: 0; }
  /* line 21, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspCap {
    display: none; }
  /* line 22, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspHorizontalBar .jspCap {
    float: left; }
  /* line 24, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspTrack {
    position: relative;
    width: 10px;
    background: gray;
    opacity: .3;
    filter: alpha(opacity=30);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px; }
  /* line 32, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspDrag {
    background-color: #000;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    overflow: hidden;
    filter: alpha(opacity=30);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px; }
  /* line 43, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspHorizontalBar .jspTrack, .jTimeline .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%; }
  /* line 45, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspArrow {
    text-indent: -20000px;
    display: block;
    cursor: pointer; }
  /* line 47, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspArrowUp {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #272a2b; }
  /* line 54, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspArrowDown {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #272a2b; }
  /* line 61, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspArrow.jspDisabled {
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3; }
  /* line 62, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspVerticalBar .jspArrow {
    height: 3px;
    margin: 5px 0; }
  /* line 63, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%; }
  /* line 65, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspVerticalBar .jspArrow:focus {
    outline: none; }
  /* line 66, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline .jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%; }
  /* line 69, ../scss/interactives/includes/_scrollpane.scss */
  .jTimeline * html .jspCorner {
    margin: 0 -3px 0 0; }
