@charset "utf-8";
@media screen and (orientation:portrait){
body{
margin:0px;
padding:0px;
}
h1{
margin-top:40px;
}
div#margin iframe, div#margin div#crumbs, li#settings, dl#access dt, li#increaseFont, li#decreaseFont{display:none !important;}
div#margin div.iframePrint{display:block !important;}
dl#access{
margin:0px;
padding:0px;
width:100%;
height:40px;
background-color:#333;
border:1px solid #000;
position:absolute;
top:0px;
left:0px;
}
dl#access dd ul{
list-style-type:none;
}
dl#access dd ul li, dl#access dd ul li a{float:left;}

dl#access dd ul li a{margin-right:10px;color:#FFF;display:block;text-decoration:none;}
div#menu{
margin:0px auto;
width:550px;
height:400px;
font-family:Arial, Helvetica, sans-serif;
background-color:#424242;
border:1px solid #424242;
overflow:hidden;
position:absolute;
top:60px;
left:0px;
}

div#menu dl{
margin:0px;
width:250px;
height:400px;
position:absolute;
}
div#menu dl#modules, div#menu dl#units{
margin:0px;
background-color:#efefef;

background-image: -moz-linear-gradient(top, #FFF, #efefef);
background-image: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#efefef));
background-image: -o-linear-gradient(top, #FFF, #efefef);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#efefef');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#efefef')";
background-image: linear-gradient(top, #FFF, #efefef);
}
div#menu dl#modules{
left:0px;
}
div#menu dl#lessons, div#menu dl#pages{
margin:0px;
background-color:#424242;

background-image: -moz-linear-gradient(top, #424242, #000);
background-image: -webkit-gradient(linear, center top, center bottom, from(#424242), to(#000));
background-image: -o-linear-gradient(top, #424242, #000);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#000');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#000')";
background-image: linear-gradient(top, #424242, #000);

}
div#menu dl#lessons{
left:100px;
}
div#menu dl#units{
left:200px;
}
div#menu dl#pages{
left:300px;
}
div#menu dl dt{
padding-left:18px;
line-height:40px;
font-weight:normal;
font-size:16px;
color:#b6b6b6;
}
div#menu dl#modules dt, div#menu dl#units dt{
text-shadow:1px 1px #FFF;
}
div#menu dl#lessons dt{
text-shadow:1px 1px #333;
}
div#menu dl dd, div#menu dl dd ul{
margin:0px;
padding:0px;
}



div#menu dl dd ul{
list-style-type:none;
font-size:12px;
}
div#menu dl dd ul li.currentPos a{
padding:7px;
}

div#menu dl dd ul li a{
margin-bottom:7px;
padding:3px;
padding-left:15px;
display:block;
text-decoration:none;
outline:none;
position:relative;
left:7px;
}

div#menu dl#modules dd ul li a, div#menu dl#units dd ul li a{
color:#424242;
text-shadow:1px 1px #FFF;
}
div#menu dl#lessons dd ul li a, div#menu dl#pages dd ul li a{
color:#FFF;
}

div#menu dl#lessons dd ul li.currentPos a{
background-color:#1e1e1e;
}
div#menu dl#modules dd ul li.currentPos a, div#menu dl#units dd ul li.currentPos a{
background-color:#EFEFEF;
}

div#menu dl#modules dd ul li.currentPos a, div#menu dl#lessons dd ul li.currentPos a, div#menu dl#units dd ul li.currentPos a, div#menu dl#pages dd ul li.currentPos a{
padding-right:0px;
width:226px;
position:relative;
left:20px;
}

div#menu dl#pages dd ul li.currentPos a{
color:#FFF;
text-shadow:none;
background-color:#0084c8;
}
/*
div#margin{
position:absolute;
}
*/
}
@media screen and (orientation:landscape){
/*div#margin{
-webkit-column-gap:20px;
-webkit-column-width:200px;
-webkit-column-rule:1px dotted #FFF;
height:650px;
}
*/
div#margin iframe, div#margin div#crumbs{display:none !important;}
div#margin div.iframePrint{display:block !important;}

}