@charset "utf-8";
@media screen{
	
h1,h2,h3,h4,h5 {
	color: #333;
	margin-bottom: 10px;	
}
h1,h2 {
	color: #983d00;
	font-size:23px;
}

h3 {
	font-size:18px;
}
h1,h2,h3, h4, h5, h6, ul, ol, table, p {
	margin: 15px;	
}
div.box, div.obj, div.tabs, div.overview, div.assignment {
    margin: 20px;
}
/*ul, ol {
    margin-left: 40px;
}
ul li, ol li {
    margin-bottom: 20px;
}*/

div#content {
	font-size:14px;
}

p, li, td {
	color: #3f3f3f;
	line-height: 22px;
	/*text-align: justify;*/
}
blockquote {
    background-color: #FFFFFF;
    background-image: url("../imgs/quoteLeft.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    padding: 1px;
	margin: 10px;
}
blockquote p {
    background-image: url("../imgs/quoteRight.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-left: 40px !important;
    padding-right: 40px !important;
}
 /*hr {
   -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    height: 1px;
    margin: 40px 0;
}*/
hr {
	height:1px;
	border:none;
	border-bottom:solid 1px #ccc;	
	margin-bottom:10px;
	margin-top:10px;
	clear:both;
}
.tleft {
    text-align: left;
}
.strike {
    text-decoration: line-through;
}
.clearBoth {
    clear: both;
}
/*ol li {
}
ul li {
}*/
sup {
    font-size: xx-small;
    vertical-align: top;
}
sub {
    font-size: xx-small;
    vertical-align: bottom;
}

/*div.activeInteractive, div.video {
    margin: 40px 0 20px;
    padding: 0;
    position: relative;
}
div.activeInteractive button.toggleSwitch, div.video button.toggleSwitch {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #666666;
    height: 30px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -30px;
    width: 100px;
}
div.activeInteractive button.toggleSwitch:active, div.activeInteractive button.toggleSwitch:focus, div.video button.toggleSwitch:active, div.video button.toggleSwitch:focus {
    outline: 0 none;
}
div.activeInteractive div.swfObject, div.activeInteractive div.textVersion, div.video div.swfObject, div.video div.textVersion {
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    margin: 50px 0 0;
    padding: 20px;
}
div.activeInteractive div.swfObject object, div.video div.swfObject object {
    display: block;
    margin: 0 auto;
    padding: 0;
}
div.activeInteractive div.swfObject, div.video div.swfObject {
    display: block;
    margin: 0 auto;
    padding: 0;
}
div.activeInteractive iframe {
    border: medium none;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-height: 200px;
    overflow: hidden;
    padding: 0;
}
*/
.iframePrint {
    display: none;
}
button.printText {
    margin: 0 auto;
}
.activeInteractive .textVersion p, .activeInteractive .textVersion ul, .activeInteractive .textVersion .clickReveal {
    text-align: left;
}


/*  Tabs */

div.tabs {
    margin-top: 60px;
    position: relative;
}
div.tabs h3 {
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    outline: medium none;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    text-decoration: none;
    top: -30px;
}
div.tabs h3.tabOn {
    background-color: #666666;
    color: #FFFFFF;
    font-weight: normal;
    height: 32px;
}
div.tabs h3.tabOff {
    background-color: #424242;
    color: #FFFFFF;
    font-weight: normal;
}
div.tabs h3.tabOff:hover {
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}
div.tabs div.tab {
    background-color: #FFFFFF;
    border: 3px solid #666666;
    padding: 10px;
}
div.tabs div.tab p {
    margin: 20px;
}

/* Accordian */
/*dl.accordian dt {
    -moz-user-select: none;
    background-color: #7D9410;
    background-position: 5px 3px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 2px;
    padding-left: 10px;
}
dl.accordian dt:hover {
    background-color: #9BB912;
    cursor: pointer;
}
dl.accordian dd {
    background-color: #FFFFFF;
    border-color: #7D9410;
    border-style: none solid solid;
    border-width: 1px;
    line-height: 24px;
    margin: -3px 0 2px;
    padding: 20px;
}*/


/*Accordians*/
dl.accordian dt {
	margin-bottom:2px;
	padding-left:10px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	line-height:35px;
	background-position:5px 3px;
	background-repeat:no-repeat;/*-webkit-user-select:none;-moz-user-select:none*/
	background-color:#333;/*zoom:1;*/
}
dl.accordian dt:hover {
	cursor:pointer;
	background-color:#000;
}
dl.accordian > dd {
	margin:0px;
	margin-bottom:2px;
	padding:20px;
	background-color:#ebebeb;
	margin-top:0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333;
	border-right-color: #333;
	border-bottom-color: #333;
	border-left-color: #333;
}


/* Span Tooltip */

span.tooltip {
    border-bottom: 1px dotted #983d00;
    color: #983d00;
    font-weight: bold;
    position: relative;
}
span.tooltip:hover {
    cursor: pointer;
}
span.tooltip {
    text-decoration: none;
}
span.tooltip span {
    background-color: #5C6641;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    left: 0;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    top: 20px;
    white-space: normal;
    width: 250px;
    z-index: 1000;
}
span.tooltip span.tipRight {
    left: auto;
    right: 0;
}


/* Click to Reveals */
/*
dl.clickReveal {
    margin: 10px 0;
    min-height: 25px;
    padding: 0;
}
dl.clickReveal dt, dl.clickReveal dd {
    margin: 0;
    padding: 0;
}
dl.clickReveal dd {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #E8E8E8 #E8E8E8;
    border-right: 1px solid #E8E8E8;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 20px;
}
dl.clickReveal dt {
    -moz-user-select: none;
    background-color: #C2780F;
    background-image: url("../imgs/icon_down.png");
    background-position: 3px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #999999;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    padding: 5px 10px 5px 30px;
}
dl.clickReveal dt.open {
    background-image: url("../imgs/icon_up.png");
}
dl.clickReveal dt:hover {
    background-color: #EFC100;
    cursor: pointer;
}*/


/* Click to Reveals */

dl.clickReveal{
	margin:10px 0px;padding:0px;min-height:25px;
}
dl.clickReveal dt, dl.clickReveal dd {
	margin:0px;padding:0px;
}
dl.clickReveal dt{
	padding-left:35px;
	line-height:28px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;font-weight:bold;
	background-position:7px center;
	background-repeat:no-repeat;/*-webkit-user-select:none;-moz-user-select:none;*/
	background-repeat:no-repeat;background-image:url("../imgs/icon_up.png");
	background-color:#000;
}
dl.clickReveal dt.open {
	background-image:url("../imgs/icon_down.png");
}
dl.clickReveal dt:hover{cursor:pointer;}
dl.clickReveal dd{ 
	background-color:#ebebeb;
	padding:10px;
	border:1px solid #666;
}


.lightbox {
    border: 1px solid #8C8C8C;
    position: relative;
}
.lightbox img {
    border: medium none;
    display: block;
}
.lightbox div.magGlass {
    background-image: url("../imgs/enlarge.png");
    bottom: 0;
    height: 31px;
    position: absolute;
    right: 0;
    width: 32px;
}
#jquery-overlay {
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}
#jquery-lightbox {
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2000;
}
#jquery-lightbox a img {
    border: medium none;
}
#lightbox-container-image-box {
    background-color: #FFFFFF;
    height: 250px;
    margin: 0 auto;
    position: relative;
    width: 250px;
}
#lightbox-container-image {
    padding: 10px;
}
#lightbox-loading {
    height: 25%;
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
#lightbox-nav {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav {
    left: 0;
}
#lightbox-nav a {
    outline: medium none;
}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    display: block;
    height: 100%;
    width: 49%;
}
#lightbox-nav-btnPrev {
    float: left;
    left: 0;
}
#lightbox-nav-btnNext {
    float: right;
    right: 0;
}
#lightbox-container-image-data-box {
    background-color: #FFFFFF;
    font: 10px/1.4em Verdana,Helvetica,sans-serif;
    margin: 0 auto;
    overflow: auto;
    padding: 0 10px;
    width: 100%;
}
#lightbox-container-image-data {
    color: #666666;
    padding: 0 10px;
}
#lightbox-container-image-data #lightbox-image-details {
    float: left;
    text-align: left;
    width: 70%;
}
#lightbox-image-details-caption {
    font-weight: bold;
}
#lightbox-image-details-currentNumber {
    clear: left;
    display: block;
    padding-bottom: 1em;
}
#lightbox-secNav-btnClose {
    float: right;
    padding-bottom: 0.7em;
    width: 66px;
}

/*  Slideer */
div.slider {
	background-color: #f4f4f4;
	border: 1px solid #CCCCCC;
	margin: 20px auto;
	overflow: hidden;
	position: relative;
}
div.slider button.arrows {
    height: 50px;
    width: 50px;
}
div.slider button.left, div.slider button.right {
    bottom: 0;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
}
div.slider button.arrows:hover {
    cursor: pointer;
}
div.slider button.left {
    left: 0;
}
div.slider button.right {
    right: 0;
}
div.slider dt, div.slider dd {
    float: left;
    margin: 0;
    padding: 0;
}
div.slider dl {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}
div.slider div.slideshowCrumbs {
	background-color: #983D00;
	color: #FFFFFF;
	line-height: 20px;
	padding-left: 10px;
	position: absolute;
	right: 0;
	text-align: left;
	top: 15px;
	width: 50px;
	z-index: 2;
}





div.iframePrint {
    display: none;
}
code {
    background-color: #EFEFEF;
    border: medium none;
    color: #333333;
    display: block;
    font-family: "Courier New",Courier,monospace;
    font-size: 14px;
    margin: 20px;
    overflow: scroll;
    padding: 10px;
    white-space: pre;
    word-wrap: break-word;
}
div#overlay {
    background-image: url("../imgs/bgFade.png");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
div#printBox {
    background-color: #60738D;
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 4px #000000;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    left: 50%;
    line-height: 18px;
    margin-left: -300px;
    padding: 20px;
    position: fixed;
    top: 100px;
    width: 600px;
}
div#printBox h4 {
    font-size: 16px;
}
button.close {
    background: url("../imgs/icon_deleteSmall.png") no-repeat scroll right center transparent;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 0 30px 0 0;
    position: absolute;
    right: 2px;
    text-align: left;
    top: 0;
    width: 30px;
}
button.close:hover {
    cursor: pointer;
}
/*  Keep for Click to Reveal and Tabs, etc... */
html body .notVisible, button.close span {
    height: 0 !important;
    overflow: hidden !important;
    position: absolute;
    visibility: hidden;
    width: 0;
}
.left, .right {
    margin-bottom: 10px;
}
.left {
    float: left;
    margin-right: 20px;
}
.right {
    float: right;
    margin-left: 20px;
}
.showcase {
    clear: both;
    display: block;
    margin: 0 auto;
}
.showcase.border {
    border: 1px solid #983d00;/*CCCCCC*/
}

div.box, div.obj, div.overview, div.assignment, div.careers, div.misconceptions, div.reading {
    background-color: #FFFFFF;
    border: 2px solid #983d00;
    border-radius: 10px 10px 10px 10px;
}

/* Copyright */
span.copyright {
    display: block;
    font-size: 10px;
    text-align: center;
	color: #999;
}
span.copyrightL {
    display: block;
    font-size: 10px;
    text-align: left;
}


.imglink img {
    border: 2px solid #CCCCCC;
}
.imglink img:hover {
    border-color: #E8E8E8;
}
.imglink_container {
    text-align: center;
}
div.box h4, div.obj h4, div.overview h4, div.assignment h4 {
    color: #881401;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
}
div.box h4 span, div.obj h4 span, div.overview h4 span, div.assignment h4 span {
    color: #666666;
}
div.obj h4 {
    background-image: url("../imgs/icon-library/Objectives.png");
    background-repeat: no-repeat;
    line-height: 64px;
    padding-left: 74px;
}
div.assignment h4 {
    background-image: url("../imgs/icon-library/assignment.png");
    background-repeat: no-repeat;
    line-height: 64px;
    padding-left: 74px;
}
div.assignment {
    background-color: #F3E9CE;
    border-color: #D4B45C;
}
div.obj {
    border-color: #B56849;
}

/* Box */

div.overview {
    background-color: #f4f4f4;
}
div.overview h4 {
    background-image: url("../imgs/icons/overview.png");
    background-repeat: no-repeat;
    line-height: 64px;
    padding-left: 74px;
}


table {
    margin: 20px auto;
    width: 680px;
}
table caption {
    color: #666666;
    font-size: 12px;
    font-style: italic;
}
table thead th {
    background-color: #000;/* brown 955216*/
    color: #FFFFFF;
    line-height: 30px;
    text-align: center;
}
table tbody tr td {
    border: 1px solid #DEDEDE;
    padding: 10px;
    vertical-align: top;
}
table tbody tr.odd td {
    background-color: #EFEFEF;
}
table tbody tr.even td {
    background-color: #DADADA;
}
table tfoot tr td {
    background-color: #666;/* High Yellow D8AD00*/
    color: #FFFFFF;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}



#jquery-overlay {
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
}
#jquery-lightbox {
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}
#jquery-lightbox a img {
    border: medium none;
}
#lightbox-container-image-box {
    background-color: #FFFFFF;
    height: 250px;
    margin: 0 auto;
    position: relative;
    width: 250px;
}
#lightbox-container-image {
    padding: 10px;
}
#lightbox-loading {
    height: 25%;
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
#lightbox-nav {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav {
    left: 0;
}
#lightbox-nav a {
    outline: medium none;
}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    display: block;
    height: 100%;
    width: 49%;
}
#lightbox-nav-btnPrev {
    float: left;
    left: 0;
}
#lightbox-nav-btnNext {
    float: right;
    right: 0;
}
#lightbox-container-image-data-box {
    background-color: #FFFFFF;
    font: 10px/1.4em Verdana,Helvetica,sans-serif;
    margin: 0 auto;
    overflow: auto;
    padding: 0 10px;
    width: 100%;
}
#lightbox-container-image-data {
    color: #666666;
    padding: 0 10px;
}
#lightbox-container-image-data #lightbox-image-details {
    float: left;
    text-align: left;
    width: 70%;
}
#lightbox-image-details-caption {
    font-weight: bold;
}
#lightbox-image-details-currentNumber {
    clear: left;
    display: block;
    padding-bottom: 1em;
}
#lightbox-secNav-btnClose {
    float: right;
    padding-bottom: 0.7em;
    width: 66px;
}

a.pop {
    color: #000;
}
.video {
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.video .swfObject {
    height: 400px;
    width: 500px;
}
.video video {
    background-color: #000000;
    border: 1px solid #000000;
    display: block;
    margin: 0 auto;
    z-index: 1;
}
.ccBtn {
    background: url("cc.png") repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 2;
}
.ccBtn:hover {
    cursor: pointer;
}
.script {
    position: absolute;
    right: -35px;
    top: 20px;
}
.vidCaption {
    background-color: #333333;
    clear: both;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    width: 100%;
}
div.quiz {
    background-color: #CCCCCC;
    border: 1px solid #000000;
    margin: 20px;
    position: relative;
}
div.quiz button:hover {
    cursor: pointer;
}
div.quiz dl {
    margin: 20px;
    padding: 0;
}
div.quiz dt {
    background-color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1px;
    padding: 10px;
}
div.quiz dd {
    background-color: #FFFFFF;
    margin: 0 0 1px;
    padding: 10px;
}
div.quiz dd:hover {
    background-color: #666666;
    color: #FFFFFF;
    cursor: pointer;
}
div.quiz dd.selected {
    background-color: #000000;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    margin: 0 0 1px;
}
div.quiz table {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin: 0 5% 5%;
    width: 90%;
}
div.quiz table th, div.quiz table td {
    border: 1px solid #000000;
    padding: 5px;
    vertical-align: top;
    width: 30%;
}
div.quiz table td {
    font-size: 13px;
}
.incorrect td {
    background-color: #990000;
    color: #FFFFFF;
}
.correct td {
    background-color: #336600;
    color: #FFFFFF;
}
div.directions {
    background-color: #FFFFFF;
    margin: 20px;
    padding: 1px 1px 40px;
}
div.quiz h3 {
    text-align: center;
}
div.directions p {
    margin: 20px;
}
div.directions button {
    float: right;
    margin-right: 20px;
}
div.progressBar {
    border: 1px solid #000000;
    bottom: -12px;
    height: 10px;
    left: -1px;
    position: absolute;
    width: 100%;
}
div.progressBar .incOff, div.progressBar .incOn {
    float: left;
    height: 100%;
}
div.progressBar .incOff {
    background-color: #000;
}
div.progressBar .incOn {
    background-color: #ccc;
}
.video {
    clear: both;
    margin: 0 auto 40px !important;
    position: relative;
    text-align: center;
}
.video .swfObject {
    height: 400px;
    width: 500px;
}
.video video {
    background-color: #000000;
    border: 1px solid #000000;
    display: block;
    margin: 0 auto;
    z-index: 1;
}
.ccBtn {
    background: url("../imgs/cc.png") repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 2;
}
.ccBtn:hover {
    cursor: pointer;
}
.vidCaption {
    background-color: #333333;
    clear: both;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    width: 100%;
}
.video .textVersion {
    text-align: left !important;
}
ul.checks {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.checks li {
    background-image: url("../imgs/icon_check.png");
    background-repeat: no-repeat;
    line-height: 24px;
    list-style-type: none;
    padding-left: 34px;
}

.inset_text {
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    margin: 0 15px;
    padding: 10px;
}
table p {
    margin: 0;
    padding: 0;
}
div.center {
    text-align: center;
}
.MathJax_MathML {
    text-align: left;
}
.mathJax_floatLeft {
    float: left;
    margin-left: 20px;
}

/* Individual Boxes */

div.cols {
    border: 1px solid #CCCCCC;
    float: left;
    margin: 0.5em;
    width: 200px;
}
div.colscontent {
    padding: 0.5em;
}
div.cols div.colsheader {
    background-color: #983D00;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
div.cols2 {
    border: medium none;
    float: left;
}
div.cols3 {
    background-color: #F3E9CE;
    border: 2px solid #D4B45C;
    float: right;
    margin: 10px;
}




.alignLeft {
    text-align: left;
}
img.alignLeft {
    float: left;
}
.textAlignLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}
img.alignRight {
    float: right;
}
.textAlignRight {
    text-align: right;
}
p .alignMiddle {
}
.alignMiddle {
    text-align: center;
}
img.alignMiddle {
    margin: 0 auto;
}
.textAlignMiddle {
    text-align: center;
}
table.alignMiddle {
    margin: 0 auto !important;
    text-align: left;
}
.alignAbsMiddle {
    text-align: center;
    vertical-align: middle;
}
.alignAbsBottom {
    vertical-align: bottom;
}
div.discoveryed {
    background: url("../imgs/discovery-ed-bg.jpg") no-repeat scroll left center transparent;
    border: 2px solid #205891;
    border-radius: 10px 10px 10px 10px;
    height: 189px;
    margin: 20px auto;
    width: 650px;
}
div.discoveryed div {
    left: 280px;
    position: relative;
    width: 370px;
}
div.discoveryed div form input {
    background: url("../imgs/btn-blue-large.png") no-repeat scroll left top transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 34px;
    left: 54px;
    margin: 10px 24px !important;
    padding: 0;
    text-align: center;
    text-shadow: 0 -1px 0 #000000;
    width: 212px;
}
div.discoveryed div span.textVersion {
    font-size: 0.75em;
    margin: 0 144px !important;
    text-align: center;
}


.activeInteractive,
.video {
  margin: 40px 0px 20px 0px;
  position: relative;
  padding: 0px; }
  .activeInteractive button.toggleSwitch,
  .video button.toggleSwitch {
    margin-left: -50px;
    width: 100px;
    color: #70787b;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #e0ddd7;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0ddd7), color-stop(100%, #d5d1c8));
    background: -webkit-linear-gradient(#e0ddd7, #d5d1c8);
    background: -moz-linear-gradient(#e0ddd7, #d5d1c8);
    background: -o-linear-gradient(#e0ddd7, #d5d1c8);
    background: -ms-linear-gradient(#e0ddd7, #d5d1c8);
    background: linear-gradient(#e0ddd7, #d5d1c8);
    border: 1px solid #d5d1c8;
    text-shadow: none;
    border-bottom: none;
    font-family: "PTSansRegular";
    text-transform: capitalize;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -o-border-bottom-left-radius: 0px;
    -ms-border-bottom-left-radius: 0px;
    -khtml-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -o-border-bottom-right-radius: 0px;
    -ms-border-bottom-right-radius: 0px;
    -khtml-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: -30px; }
   .activeInteractive button.toggleSwitch:hover,
    .video button.toggleSwitch:hover {
      cursor: pointer; }
    .activeInteractive button.toggleSwitch:active, .activeInteractive button.toggleSwitch:focus,
    .video button.toggleSwitch:active,
    .video button.toggleSwitch:focus {
      outline: 0; }
  .activeInteractive .textVersion,
  .video .textVersion {
    margin: 50px 0px 0px 0px;
    padding: 20px;
    border: 1px solid #cac4ba;
    zoom: 1; }
  .activeInteractive .swfObject,
  .video .swfObject {
    margin: 0px auto;
    display: block;
    padding: 0px;
    zoom: 1; }
   .activeInteractive object,
  .video object {
    margin: 0px auto;
    display: block;
    padding: 0px; }
  .activeInteractive iframe,
  .video iframe {
    margin: 50px auto 0;
    padding: 0;
    display: block;
    overflow: hidden;
    border: none;
    max-width: 100%;
    min-height: 200px;
    border: 1px solid #cac4ba; }
  .activeInteractive p, .activeInteractive ul, .activeInteractive .clickReveal,
  .video p,
  .video ul,
  .video .clickReveal {
    text-align: left; }

button.printText {
  margin: 10px auto 0;
  display: block; }
/*
*/


}
