﻿.ui_interactive .mejs-audio .mejs-controls .mejs-time-rail, .ui_interactive .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-total {
	width: 130px !important;
}
.mejs-container .mejs-controls {
	bottom: 8px; 
	width: 301px !important;
	margin-left: -12px;
}
.txt_right {
	float: left;
	margin-top: -228px;
	margin-left: 388px;
	text-align: left;
	width: 332px;
}
.txt_left {
	height: 240px;
	width: 50%;
	float: left;
	text-align: center;
	margin: 10px;
	margin-top: -10px;
}
.right22 {
	margin: 17px;
}
.ui-slideshow-item {
	width: 771px !important;
}
.ui-slideshow-slide {
	margin: 00px !important;
}
.txt_cont {
	margin-top: 240px;
	width: 700px;
}
.maincontainer {
	width: 700px;
}
.slide5_right {
	float: right;
	height: 240px;
	width: 272px;
	margin-right: 30px;
	text-align: center;
}
.slide6_txt {
	margin-top: -240px;
	width: 412px;
	float: right;
}
.right_content {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.copyright {
	font-size: 12px;
	line-height: 10px;
	text-align: center;
	margin-top: -67px;
	display: block;
	margin-left: 330px;
	position: absolute;
}
.playerOver {
	height: 423px;
	width: 701px;
	position: absolute;
	top: 0px;
	padding: 17% 0% 0% 44%;
	background: rgba(235, 235, 235, 0.83);
	z-index: 12;
}
.playerText {
	margin-left: -22px;
	margin-top: -15px;
	position: absolute;
	font-style: italic;
}
.playerOver img {
	cursor: pointer;
}
