/* CSS Document */
.shwTextimg{width: 630px;position: absolute;left: 10px;}
.trim{position: absolute;
height: 260px;
margin-top: 25px;
margin-left: -21px;}
.copyrightact{margin-top: -30px;position: absolute;text-align: center;width: 650px;color: #000;font-size: 12px;}
.event{float:left;}
.arrow{float:left;margin-top: 5px;}
.eventRyt{float:right;}
.arrowRyt{float:right;margin-top: 5px;}
.arrowlast{float:right;margin-right: 60px;margin-top: -40px;}
.arrowFront{float:right;margin-top: 17px;}
.top{width: 630px;height: 37px;}
.middle{width: 630px;height: 80px;margin-top: 37px;margin-bottom: -5px;}
#Img2,#Img3,#Img4,#Img5,#Img6,#Img7,#Img8,#Img9,#Img10,#Img11,#Img01,#Img02,#Img03,#Img04,#Img05,#Img06,#Img07,#Img08,#Img09,#Img010,#Img011{opacity:0.3;}
.trim b {position: absolute;margin: 6px 33px;color: #fff;width: 68px;}
.customPopUp{position: absolute;
width: 530px;
padding: 10px;
margin-left: 51px;
border: 1px solid;
background: none repeat scroll 0% 0% #EBEBEB;
margin-top: 58px;
z-index: 1;}
.close1{position: absolute;right: -9px;background-image: url("../imgs/01_06_07a_btnClose.png");background-repeat: no-repeat;top: -11px;z-index: 10;height: 26px;width: 25px;cursor:pointer;}
.hd{font-weight: bold;margin-bottom: 11px;margin-left: 28px;}
#Img1{cursor:pointer;}
.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}
.ui_interactive .ui-dialog-buttonset{
display:none;
}
.ui_interactive .ui-dialog{
width: 478px;
height: 128px !important;
top: 49px !important;
left: 72px !important;
}
.ui_interactive .ui-slideshow-item {
margin-left: -7px !important;
}