﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.time-rail
{
    width:50px !important;
}

 .right_content
 {
     margin-top: -15px;
    
     font-weight:bold;
     margin-top: 1px;
    font-size: 16PX;
    
 }


.txt_right {
   float: left;
margin-top: -246px;
text-align: left;
width: 249px;

margin-left: 299px;
}



.img_left
{
    height: 240px;
    float: left;
    text-align: center;
    margin: 10px;
    margin-top: -10px;
    margin-left: -9px;
	
}

.enlarge_cus{
    top: 0px;
    position: absolute;
    left: 250px;
}




.copyrights
{
  position: absolute;
margin-top: -43px;

font-size: 15px;
margin-left: 215px;
color: #ffffff;
}