﻿.ui_custom_dialog_trigger{
cursor:pointer;
}



.ui-dialog-buttonset
{
display:none;
}

.ui-dialog
 {
    width:650px;
    height:200px;
}

.sub_txt
{
    margin-left:275px;
}
.customPopDiv
{
    height: auto;
padding: 20px;
width: 645px;
border: 1px solid #000;
border-radius: 11px;
margin-top: 62px;
-webkit-box-shadow:  1px 2px 9px 1px rgba(50, 50, 96, 0.72);
-moz-box-shadow:     1px 2px 9px 1px rgba(50, 50, 96, 0.72);
box-shadow:          1px 2px 9px 1px rgba(50, 50, 96, 0.72);
}

.customPopDiv > .head1
{font-weight: bolder;
margin-bottom: 10px;
}
.customPopDiv > .content1
{
}

.img
{
    margin-top:11px;
    margin-left:140px;
}

.title_txt
{
      font-size:16px;
   font-weight:bold;
   margin-left: 104px;
}


.king
{
  font-size: 16px;
font-weight: bold;
margin-top: -178px;
color: #E8F1F7;
margin-left: 186px;



}
.clickedArea
{
    cursor:pointer;
}
.nobles
{
    font-size: 16px;
font-weight: bold;
margin-top: 21px;
color: #E8F1F7;
margin-left: 177px;
}


.knights
{
    font-size: 16px;
font-weight: bold;
margin-top: 30px;
color: #E8F1F7;
margin-left: 174px;
}

.peasants
{
     font-size: 16px;
    font-weight: bold;
    margin-top: 27px;
    color: #E8F1F7;
    margin-left: 172px;
 }
 
.copyrights
{
   font-size: 12px;
position: absolute;
margin-top: -20px;

margin-left: 324px;

}