﻿.redcolor
{   position:relative;
color: #881401;
}
.ui_interactive .icon
{
margin-top:20px;
}
#head
{
display:none;    
}
.ui_interactive .jTimeline .timelineInfo .item 
{
height: 89% !important;
}
.ui_interactive .jTimeline .jcarousel-skin 
{   height: 14%;
bottom: 90px!important;
}
.ui_interactive .jTimeline .jspPane 
{
top: 0px !important;
}
.ui_interactive .jTimeline .jspPane 
{
position: static !important;
}
.ui_interactive .jTimeline
{
height: 433px !important;
margin-top: -99px;
}
.copy
{
text-align: center;
margin-top: -87px;
}
.title1
{ 
font-weight: bold;
font-size: 15px;
text-align: center;
}
.sub_title
{margin-top:87px;
font-weight: bold;
font-size: 12px;
text-align: center;
}
.content1
{
text-align: center;
font-size: 12px;
margin-top: 18px;
margin-left: 9px;
}
   
