﻿
.right11
{
     float: left;
height: 240px;
width: 299px;
margin-top: -173px;
margin-left: 322px;
}

.left11
{
    height: 240px;
    width: 332px;
    float: left;
    margin-top: -21px;
    margin-left: 6px;
}


.ui-slideshow-slide {
margin: 0px !important;
}

 .image-container-normal
 {
 margin-top:16px;    
 }

.margin
{
	margin: 6px 6px -6px 0px;
}



.img 
{
    max-width: none !important;
}

 .image-container-normal
 {
    margin-top:6px;    
 }
 
 .copyright{
    font-size: 13px;
    line-height: 31px;
    margin-left: -67px;

}

.rightmain 
{
 font-weight:bold;
 
 color: #003366;
font-size: 16px;
text-align:center;
margin-top: 32px;
margin-left: -69px;
}


.ui_slide ui-slideshow-item
{
    height:430px !important;
}


.img5slide
{
        height:296px;
         width:397px;
}


.txt5slide {
float: right;
height: 240px;
width: 208px;
margin-top: 54px;
border: 5px;
}

.copyrights1
{
  position: absolute;
margin-top: -43px;

font-size: 15px;
margin-left: 215px;
color: white;
}




.slide1_txt
{
    float: left;
width: 356px;
margin-top: -173px;
margin-left: 245px;

 }
 
 
 .slide4_txt{
 float: left;
width: 340px;
margin-top: -170px;
margin-left: 284px;
}



.slide5_main
{
font-weight: bold;
color: #003366;
font-size: 16px;
text-align: center;
margin-top: 32px;
margin-left: 66px;
}