body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.bg{
background-image:../images/top_middle_strip.jpg;
}

.content {
	font-family: verdana;
	font-size: 11px;
	color: #505050;
}
.handCursor{
   cursor:pointer;
   font-family:Arial, Helvetica, sans-serif;
   font-size:14px;
   font-style:normal;
   text-decoration:none;
   color:#0000FF;
}
.printText{	
	color:#0066CC;
	text-decoration:none;
}
.RedTxt {          
	font-family: verdana;
	font-size: 12px;
	color: #FF0000;
}
.BlueTxt {
	font-family: verdana;
	font-size: 12px;
	color: #0033FF;
}
.GreenTxt {
	font-family: verdana;
	font-size: 12px;
	color: #669900;
}
.Print {
	font-family: Arial;
	font-size: 12px;
	color: #0066CC;
}
.OrangeTxt {
	font-family: verdana;
	font-size: 12px;
	color: #FF9900;
}
.Txtcontent {
	font-family: arial;
	font-size: 12px;
	color: #505050;
	line-height:17px;
}
.popcontent {
	font-family: verdana;
	font-size: 12px;
	color: #ffffff;
}
.Txtcontent1 {
	font-family: verdana;
	font-size: 12px;
	color: #024689;
	line-height:17px;
}
.TitlecontentBold {
	font-family: verdana;
	font-size: 13px;
	color: #024689;
	font-weight:bold
}
.link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#0066CC;
	text-decoration: none;
}
.link:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0066CC;
	text-decoration: none;
}
.link:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.link2 {
	font-family: verdana;
	font-size: 12px;
	color: #005D9D;
	font-weight:bold;
	text-decoration: none;
	cursor:default;
}

.link3 {
	font-family: verdana;
	font-size: 12px;
	font-weight:bold;
	color: #006CFF;
	text-decoration: underline;
}
.link3:active {
	font-family: verdana;
	font-size: 12px;
	color: #006CFF;
	text-decoration: underline;
}
.link3:hover {
	font-family: verdana;
	font-size: 12px;
	color: #005D9D;
	text-decoration: none;
}
.content1 {
	font-family: verdana;
	font-size: 11px;
	color: #000000;
}
.footer {
	font-family: verdana;
	font-size: 11px;
	color: #F2ECE0;
}
.textbox1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height: 20px;
	border: 1px solid #989898;
	background-color: #FFFFFF;
}
.textbox2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #989898;
	background-color: #FFFFFF;
}
.title {
	font-family: verdana;
	font-size: 13px;
	color: #003254;
	font-weight:bold;
	text-transform:uppercase;
}
.tblTitle {
	font-family: verdana;
	font-size: 13px;
	color: #003254;
	font-weight:bold;
	background-color:#D6E1F2;
}
.courseBg {
	background-color: #F4F8FF;
}
.courseLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000ff;
	text-decoration:underline;
	}
	
	.courseLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:underline;
	}
	
	.courseLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration:none;
	}
.tblBorder {
	border: 1px solid #999999;
}
.innerTblBg{
background-image:url(../images/bg1.jpg);
background-repeat:repeat-x;
height:28px;
}
.TblBg{
background-image:url(../images/content_bg.jpg);
background-position:right;
background-repeat:no-repeat;
}
.QuesBg{
background-image:url(../images/question_img.jpg);
background-position:right;
background-repeat:no-repeat;
}
.RightTblBg{
background-image:url(../images/bot_right_bg.jpg);
background-position:bottom;
background-repeat:no-repeat;
}
.line4 {
	background-image: url(../images/line4.jpg);
	background-repeat: repeat;
}
.dateTime {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
.innerlnk:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #C7E116;
	text-decoration:underline;
}
.innerlnk:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #C7E116;
	text-decoration:underline;
}
.innerlnk:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration:none;
}
.loginTxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.footerContent{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	padding-right:10px;
	
	}
	.link1:link{
	font-size:11px;
	color: #ffffff;
	text-decoration:underline;
	}
.link1:visited{
	font-size:11px;
	color: #ffffff;
	text-decoration:underline;
	}
.link1:hover{
	font-size:11px;
	color: #ffffff;
	text-decoration:none;
	}
.popWindow{
	background-repeat:repeat-x;
	background-color:#DDF2FC;
	border:1px solid #2B7DA2;
	}
.leftSpan{
	float:left;
	}
.rightSpan{
	float:right;
	}
.tblTitleBg3{
	background-image:url(../images/tbltitilebg2.jpg);
	background-repeat:repeat-x;
	height:25px;
	padding-left:10px;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
}

.heading1{
font-size:14px;
font-style:normal;
font-weight:bold;
}

.underline{
text-decoration:underline;
}

.style3 {
	color:#0066CC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration:none;
	}
.style3:hover{
	color:#0066CC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration:none;
	font-style:normal;
	}
/*

.link2 {
	font-family: verdana;
	font-size: 12px;
	color: #005D9D;
	font-weight:bold;
	text-decoration: none;
}
.link2:active {
	font-family: verdana;
	font-size: 12px;
	color: #005D9D;
	font-weight:bold;
	text-decoration: none;
}
.link2:hover {
	font-family: verdana;
	font-size: 12px;
	color: #005D9D;
	font-weight:bold;
	text-decoration: underline;
}

*/