﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	font-size: 12px;
}
.Imga_1 {
	height: 310px;
	width: 264px;
	margin-top: -1px;
	left: 14px;
}
.Imga_2 {
	height: 310px;
	width: 264px;
	margin-left: 280px;
}
.Imga_3 {
	height: 310px;
	width: 264px;
	margin-top: -1px;
	left: 669px;
}
.Imga_4 {
	height: 310px;
	width: 264px;
	margin-left: 285px;
}
.Imga_5 {
	height: 310px;
	width: 264px;
}
.Imga_6 {
	height: 310px;
	width: 264px;
	margin-left: 282px;
}
.height_ui {
	height: 450px !important;
	width: 570px !important;
	margin-left: 40px;
}
.wid {
	width: 262px !important;
	float: left;
	position: absolute;
}
.carousel .cslider .card {
	margin-right: 13px !important;
}
.ui_card {
	width: 252px !important;
	border: none !important;
}
.uiflip_isonBack, .ui_flip {
	border: none;
	background: url('../images/04_05_03a_back_img.png') no-repeat;
	margin-top: 4px;
	font-size: 13px;
	height: 308px;
	background-color: #f8f8f8 !important;
}
.ui_flip p.flip-back {
	color: #333333;
	font-size: 13px;
	height: 288px;
	line-height: 13px;
	margin: 10px 0;
	padding: 0px;
	position: absolute;
}
. spacea {
 background-color: #F7F7F7;
border: solid 1px #e8e8e8;
width: 253px;
height: 300px;
padding: 10px;
float: left;
margin-right: 12px !important;
left: 4px !important;
}
.ui_flip p {
	margin-top: 14px;
	line-height: 1.4em;
	overflow: auto;
	height: 286px;
}
.copy {
	border: 0 none;
	color: #003366;
	line-height: 25px;
	width: 270px;
	position: absolute;
	top: 315px;
	text-align: center;
	font-size: 12px;
	cursor: default;
}
.copya {
	border: 0 none;
	color: #003366;
	line-height: 25px;
	width: 270px;
	position: absolute;
	top: 315px;
	text-align: center;
	font-size: 12px;
	cursor: default;
	margin-left: -7px;
}
.ui_flip {
	position: absolute;
	left: 4px;
	top: 0;
	text-align: center;
}
.footnotes {
    position: relative;
    text-align: left;
    top: 340px
}
.carousel {
    margin: 0 auto;
}