﻿/* CSS Document */

.ui_interactive .mejs-audio .mejs-controls .mejs-time-rail, .ui_interactive .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-total {
	width: 130px !important;
}
.mejs-container .mejs-controls {
	bottom: 8px; 
	width: 301px !important;
	margin-left: -12px;
}
.ui_interactive .ui-navigation-tracker {
	right: 218px;
}
.ui_interactive {
	background-position: 0% 0%;
	background-repeat: no-repeat;
}
.right11 {
	float: left;
	height: 240px;
	width: 415px;
	margin-right: 50px;
	margin-top: 30px;
	text-align: left;
}
.left11 {
	float: left;
	text-align: center;
	margin-left: -10px;
}
.ui-slideshow-item {
	width: 750px !important;
}
.txt_cont {
	margin-top: 240px;
	width: 675px;
}
.maincontainer {
	width: 700px;
}
.slide5_right {
	float: right;
	height: 240px;
	width: 271px;
	margin-right: 75px;
	text-align: center;
}
.slide6_txt {
	margin-top: -10px;
	width: 433px;
	float: left;
}
.copyrights {
	text-align: center;
	position: absolute;
	/* margin-top: -43px; */
	font-size: 15px;
	color: #FFFFFF;
	bottom: 13px;
	width: 800px;
}
.divHideTextVersion .toggleSwitch {
	display: none;
}
.playerOver {
	height: 423px;
	width: 701px;
	position: absolute;
	top: 0px;
	padding: 17% 0% 0% 44%;
	background: rgba(235, 235, 235, 0.83);
	z-index: 12;
}
.playerText {
	margin-left: -22px;
	margin-top: -15px;
	position: absolute;
	font-style: italic;
}
.playerOver img {
	cursor: pointer;
}
