﻿.redcolor
{
    color: #881401;
}


.top_margin
{
    margin-top: -20px;
}
.map
{
    margin-bottom: 10px;
  margin-left: -49px;
text-align: center;
}

.ui_custom_dialog_trigger{
cursor:pointer;
}



.ui-dialog-buttonset
{
display:none;
}

.ui-dialog
 {
    width:550px !important;
    height:200px;
     top: 10px !important;
}


.sub_txt
{
    font-size: 14px;
line-height: 1.4em;
}



.main
{
    font-weight: bold;
font-size: large;
}
#sahara
    {
    position: absolute;
height: 12px;
width: 61px;

margin-left: 191px;
margin-top: -372px;
}

#inland
{
  position: absolute;
height: 17px;
width: 84px;

margin-left: 110px;
margin-top: -338px;
}

#sahel

 {
  position: absolute;
height: 12px;
width: 54px;

margin-left: 209px;
margin-top: -339px;
}


.copyrights
{
 position: absolute;
margin-top: 8px;
font-size: 14px;
margin-left: 215px;
}
.bottom_txt
{
    width: 543px;
font-size: 14px;
font-style: italic;
line-height: 1.4em;
color: #003366;
 }
