﻿.topSort li {margin: 0px 3px 3px;padding: 0.4em 0.4em 0.4em 1.5em;font-size: 1em;height: 67px !important;width: 530px !important;display: inline-block;line-height: 16px;}
.termDiv {height: 605px;width: 162px;float: left;margin-left: -20px !important;text-align: center;margin-top: -15px;}
.descriptionDiv{float: left;
height: 605px;
width: 502px;
margin-top: -15px;
position: absolute;
margin-left: 142px;}
.descriptionDiv h2{text-align: center;font-size: medium;font-size: 1em;line-height: 10px;}
.termDiv li{background-color: #003466;height: 32px; margin: 3px;border: 2px solid;list-style: outside none none;color: #FFF;padding: 21px;line-height: 1;}
.ui-state-default{color: #ffffff;}
.ui-sortable-helper{width:430px !important;}
.ui_assessment hr{display: none;}
.termDiv h2{text-align: center;}
.h3{text-align: center;color: black;font-weight: bold;margin-bottom: -15px;}
.ui_sortable{width: 464px !important;}
#item_1, #item_2, #item_3, #item_4, #item_5, #item_6, #item_7, #Li1, #Li2, #Li3, #Li4
{display: block;border: 1px solid rgb(255, 255, 255);color: rgb(255, 255, 255);cursor: pointer;font-size: 12px;height: 40px;padding: 3px;position: relative;margin-bottom: 6px;opacity: 1;z-index: 0;background-color: rgb(1, 113, 186);margin-top: 4px;}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.ui_edge_buttons{margin-left: 470px !important;
position: absolute;
bottom: 10px;}
.sortable li{width: 97% !important;}
.assignment{margin-bottom: 0px;}
.content ul, .content ol {padding-left: 10px !important;}
.trim{width:550px;height:325px;}
.rightImage{float: right;margin-right: 55px;margin-top: -255px;font-size: 12px;text-align: center;position: relative;}
.questionWidth{width:220px;}
.ui-dialog {top: 65px !important;}
.text-blue{margin-bottom: -20px !important;margin-top: -20px;}
.topsort li {}