/* Top Menu */
#menua {
	background-color: #ffffff;
}
#menu_inner .menubtn {
	color: #222841;
}
#menu_inner .menubtn:hover {
	text-decoration: none;
	color: #666666;
	background-color: #ffffff;
}
#menu_inner .menubtn {
	color: #6d4672;
}
#menu_inner .menubtn:hover {
	color: #333333; /* Changed */
	background-color: #F5F5F5;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
	background-color: #e8e8e8;
}
.nav_menu_lessons li a {
	background-color: #ffffff;
}
.nav_menu_lessons li a.odd {
	background-image: none;
	background-color: #f4f2f2;
}
.nav_menu_lessons li a .lesson_num {
	color: #243958;
}
.nav_menu_lessons li a .lesson_title {
	color: #463d52;
}
.nav_menu_lessons li a .lesson_nfo {
	color: #463d52;
}
.nav_menu_lessons li a:hover, .nav_menu_lessons li a.odd:hover {
	background-color: #6d4672;
	background-image: none;
}
.nav_menu_lessons li a:hover .lesson_num, .nav_menu_lessons li a.odd:hover .lesson_num {
	color: #ffffff;
}
.nav_menu_lessons li a:hover .lesson_title, .nav_menu_lessons li a.odd:hover .lesson_title {
	color: #ffffff;
}
.nav_menu_lessons li a:hover .lesson_nfo, .nav_menu_lessons li a.odd:hover .lesson_nfo {
	color: #ffffff;
}
#nav_menu .nav_menu_modules li a.modlink .modnum {
	color: #666;
}
#nav_menu .nav_menu_modules li a.modlink {
	background-color: #6d4672;
	color: #ffffff;
}
#nav_menu .nav_menu_modules li a.modlink:hover {
	background-color: #ffffff;
	color: #6d4672; /* Changed */
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
	background-color: #ffffff;
}
body {
	background-color: #cccccc;
	color: #333333;
}
.prev {
	background-image: url(../images/global/prev.jpg);
	color: #333;
}
.next {
	background-image: url(../images/global/next.jpg);
	color: #333;
}
.prevt {
	color: #333;
	background-image: url(../images/global/prev.jpg);
}
.prevt:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.nextt {
	color: #333;
	background-image: url(../images/global/next.jpg);
}
.nextt:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.home {
	color: #6d4672;
}
.home:hover {
	color: #666666;
	background-color: #ffffff;
}
#menu_inner .menu_links li a {
	color: #222841;
}
#menu_inner .menu_links li a:hover {
	color: #333333;
}
.pagenums a {
	color: #222841;
}
.pagenums a:hover {
	color: #333333;
}
.home {
	color: #222841;
}
.home:hover {
	color: #333333;
}
.breadcrumbs {
	color: #3b3b3b;
	background-color: #cbf6ff;
}
.lesson_title {
	color: #ffffff;
}
.breadcrumbs_lesson {
	color: #666666;
}
.menu_mobile .menubtn_mobile {
	color: #e0376e;
}
.menu_mobile .menubtn_mobile:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.menu_mobile_nav a {
	background-color: #ffffff;
	color: #463d52;
}
.menu_mobile_nav a:hover {
	background-color: #f1f1f1;
}
/* SPECIAL FEATURES */
.link_button {
	background-color: #6d4672; /* Changed */
}
.link_button:hover {
	background-color: #333333; /* Changed */
}
.link_button h3 {
	color: #FFF;
}
/* PROGRESS BAR */
.progress_bar .bar .bar_segment {
	background-color: #222841; /*Changed */
}
/* PINK STUFF */
a.pink-btn {
	color: #ffffff;
	background-image: url(../images/icons/icon_arrow_white.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}
a.pink-btn:hover {
	text-decoration: none;
	background-color: #473e52;
	color: #ffffff;
}
a.pink-assign {
	color: #ffffff;
}
a.pink-assign:hover {
	background-color: #473e52;
	color: #ffffff;
}
button.toggleSwitch {
	background-color: #6d4672 !important; /*Changed */
	color: #ffffff !important;
}
button.toggleSwitch:hover {
	background-color: #333333 !important; /* Changed */
	color: #ffffff !important;
}
.article-block {
	background-color: #463d52;
	color: #ffffff;
}
/* GENERAL CONTENT */
h1 {
	color: #0076ac; /* Changed */
}
h2 {
	color: #0076ac; /* Changed */
}
h3 {
	color: #0076ac; /* Changed */
}
h1.poph1 {
	color: #993913;
}
h2.poph2 {
	color: #E6A300;
}
.text-purple {
	color: #463d52;
}
p.lead {
	color: #544963;
}
.clickReveal a.title, .accordion a.title {
	background-color: #6d4672; /* Changed */
}
.clickReveal a.title:hover, .accordion a.title:hover {
	background-color: #333333;
}
.clickReveal a.title:hover, .accordion a.title:hover {
	background-color: #333333;
}
.clickReveal div.content {
	background-image: none;
	background-color: #FAFAFA;
}
.tabs a.tab {
	font-weight: normal;
	background-color: #6d4672;
	color: #fff;
}
.tabs a:active, .tabs a.tab:hover {
	background-color: #a0a0a0;
}

/* elements */
a {
	color: #6d4672; /*Changed */
}
a:hover {
	color: #333333;
	font-weight: bold;/*	text-decoration: none; */
}
a.tip-top, a.tip-bottom, a.tip-left, a.tip-right, a.tip {
	color:#6d4672;
}

.btnlink {
	color: #ffffff;
	background-color: #6d4672; /*Changed */
	text-decoration: none !important;
}
.btnlink:hover {
	color: #ffffff;
	background-color: #cccccc; /* Changed */
}
.image-container span.copyright {
	color: #333333;
}
.intro-block h1 {
	color: #154654;
}
.intro-block blockquote p {
	color: #919191;
}
.intro-block button {
	background-color: #6d4672; /* Changed */
}
.intro-block small {
	color: #7C7B7B;
}
div.assignment, div.objective {
	color: #000000;
}
div.block.orange {
		background-color: #F5F5F5;
	border-color: #cccccc;
}
.page_links a:hover, .page_links a.active {
	background-color: #222841; /* Changed */
	color: #ffffff;
}
.navbar a.next {
	background: #FBEFDF url(images/ui-bg_glass_85_fbefdf_1x400.png) 50% 50% repeat-x;
	color: #2E6E9E;
}
.navbar a.prev {
	background: #FBEFDF url(images/ui-bg_glass_85_fbefdf_1x400.png) 50% 50% repeat-x;
	color: #2E6E9E;
}
li.current a {
	background: #6d4672; /* Changed */
	color: #FFF;
}
.pagination a:hover {
	background: #333333; /* Changed */
	color: white;
}
.icon_link_btn {
	color: #fff;
	background-color: #6d4672;
}
.linkButton a:hover {
	color: #ffffff;
	background-color: #333333;
}
.mejs-container .mejs-controls {
	background: none #a0a0a0;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
	/* background: linear-gradient(rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8)) repeat scroll 0 0 rgba(0, 0, 0, 0); */
	background: linear-gradient(rgba(36, 57, 88, 0.8), rgba(36, 57, 88, 0.8)) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.close {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	color: #ffffff;
	background-color: #6d4672;
	border-color: #E8E8E8 #E8E8E8 #CCCCCC;
}
.close:hover {
	color: #ffffff;
	background-color: #333333;
}
.table {
	background-color: #f8f8f8;
}
.table-striped tbody tr:nth-child(2n+1) th {
	background-color: #6d4672;
	color: #FFF;
}
.table th {
	background-color: #6d4672;
	color: #FFF;
}
.table tbody tr:hover th {
	color: #6d4672; /* changes rollover color of text in header if inside row */
}
.external-link.btnlink {
	color: #6d4672;
}
/* Interactives */
.tabs .tab.active {
	background-color: #666;
}

.ui_flip p.flip-back {
	color: #333333;
}
.ui-navigation-header.ui-widget-header {
	background-color: #6d4672;
	border: 1px solid #6d4672;
	color: #ffffff;
}
.ui-button-text-only .ui-button-text {
	color: #6d4672;
}
.ui-widget-header {
	background-color: #6d4672;
	color: #ffffff;
}
div.jMatch {
	background: url(../images/global/456796627_ts.jpg) #e6e3da; /* Changed */
}
.jMatch h2 {
	background-color: white;
}
.jMatch .definition {
	border: 3px solid #6d4672;
}
.jMatch .word {
	border: 3px solid #6d4672 !important;
}
.jMatch #title1, .jMatch #title2 {
	border-bottom: 5px solid #6d4672; /* Changed */
	border-top: 5px solid #6d4672; /* Changed */
	color: #6d4672;
}
.ui_interactive, .activeInteractive {
	color: #333333;
}
.slideshow .navbar {
	background: #6d4672 url(images/ui-bg_highlight-hard_40_18323E_1x100.png) 50% 50% repeat-x; /* Changed */
	color: #FFF;
}
/* Mejs-skins */

.audioBtn .mejs-controls {
	border: thin solid #BCE8F1;
}
.mejs-ted .mejs-controls {
	background: #eee;
}
.mejs-ted .mejs-button, .mejs-ted .mejs-time {
	background: #ddd;
}
.mejs-wmp .mejs-controls .mejs-volume-button .mejs-volume-slider {
	background: rgba(102,102,102,0.6);
}
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-current {
	background-color: #014CB6;
	border: solid 1px #7FC9FA;
	border-color: #7FC9FA #fff #619FF2 #fff;
}
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background-color: rgba(255,255,255,0.3);
}
/* Home Page */

.lessons li a {
	color: #6d4672;
}
.lessons li a:hover {
	color: #666666;
}
.right_menu_modules li a {
	color: #6d4672;
}
.right_menu_modules li a:hover {
	color: #666666;
}
/* Customize Tooltip */
.tooltip-inner {
	background-color: #6d4672;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #537FA1;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #537FA1;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #537FA1;
}
.tooltip.right .tooltip-arrow {
	border-right-color: #537FA1;
}
