@media screen and (min-width: 1200px) {
body #menu_inner {
	width: 1005px !important;
}
body .home_footer_inner {
	width: 1005px;
}
body #right_menu_seg1_mobile {
	display: none;
}
body #right_menu_seg2_mobile {
	display: none;
}
}
 @media screen and (min-width: 810px) and (max-width: 1200px) {
body #right_menu_seg1_mobile {
	display: none;
}
body #right_menu_seg2_mobile {
	display: none;
}
body #menua #menu_inner {
	width: 788px;
}
body .home_footer_inner {
	width: 788px;
}
body #nav_menu .nav_menu_modules li .nav_menu_lessons {
	width: 608px !important;
}
body .nav_menu_lessons li a {
	width: 171px !important;
}
body .mobile_header {
	display: block;
}
body #home_content {
/*	background: url("../images/home/home_bg3.jpg"); */
	background-repeat: no-repeat;
	background-position: right top;
	width: 748px;
	margin-top: -40px;
	border-top: 0;
	height: 644px;
}
body .banner1 {
	display: none;
}
body #right_col {
	width: 355px;
}
}
 @media screen and (min-width: 768px) and (max-width:810px) {
body #home_content {
/*	background: url("../images/home/home_bg3.jpg");*/
	background-repeat: no-repeat;
	background-position: right top;
}
body #right_menu_seg1_mobile {
	display: none;
}
body #right_menu_seg2_mobile {
	display: none;
}
body #navSubmenu {
	margin-left: 350px;
}
body .copyright_holder {
	padding-right: 20px;
}
body {
	background-color: white !important;
}
body .menu_before {
	display: none;
}
body {
	background-color: white;
}
body .small_header {
	display: none;
	width: 100%;
	height: 90px;
	padding-top: 3px;
	color: white;/*margin-top: 39px;*/
}
body .bottom_bar {
	display: block;
}
body .top_bar {
	height: 27px;
	display: block;
}
body .mobile_header {
	border-left: 0;
	border-right: 0;
	width: 100%;
	display: block;
}
body #home_content {
	width: 100%;
	margin-top: -40px;
	border: 0;
	height: 644px;
	border-bottom: 20px solid white;
}
body .banner1 {
	display: none;
}
body #right_col {
	width: 328px;
	height: 628px;
}
body #nav_holder {
	margin-left: 15px;
}
body a.mobile_mod {
	padding-left: 25px;
}
body .ui-accordion-header {
	width: 230px;
	margin-left: 22px;
/*	background: url("../images/home/arrow.png") no-repeat; */
	background-position: left center;
}
body .ui-accordion-header:hover {
/*	background: url("../images/home/arrow_gray.png") no-repeat; */
	background-position: left center;
}
body #right_menu_seg1_mobile div, body #right_menu_seg2_mobile div {
	background-color: white;
	-moz-box-shadow: 0px 0px 30px #a5a5a5;
	-webkit-box-shadow: 0px 0px 30px #a5a5a5;
	box-shadow: 0px 5px 20px #a5a5a5;
	width: 232px !important;
	margin-left: 20px;
}
body .mobile_mod {
	display: block;
	padding-left: 25px;
	font-weight: normal;
	font-size: 11pt;
	padding-top: 6px;
	padding-bottom: 7px;
}
body .mobile_mod:hover {
	display: block;
	padding-left: 25px;
	font-weight: normal;
	font-size: 11pt;
	padding-top: 6px;
	padding-bottom: 7px;
}
body .mobile_lesson li {
	padding-top: 11px;
	list-style: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
body .mobile_lesson li a {
	font-weight: normal;
	font-size: 10pt;
	display: block;
	width: 186px;
	padding-bottom: 11px;
}
body #right_menu_seg1_mobile, body #right_menu_seg2_mobile {
	display: none;
}
body #right_menu_seg1, body #right_menu_seg2 {
	display: block;
}
body #menua #menu_inner {
	margin: 0px !important;
	width: 100%;
}
body .home_footer_inner {
	width: 100%;
}
body .menu_before {
	margin-left: 4px !important;
}
body #nav_menu {
	margin-left: 0px;
	margin-top: -2px !important;
}
body #nav_menu .nav_menu_modules {
	margin-left: 18px !important;
}
body #nav_menu .nav_menu_modules li .nav_menu_lessons {
	left: 155px !important;
	width: 540px !important;
}
body #gs {
	margin-left: 22px;
	padding-left: 10px;
	padding-top: 8px;
	width: 220px;
}
body #navSubmenu {
	margin-left: 300px;
}
body .seg {
	margin-left: 20px;
}
body .menu_mobile_nav {
	display: none !important;
}
body .nav_menu_lessons li a {
	width: 149px !important;
}
body #nav_menu .nav_menu_modules {
	margin-left: 0px !important;
}
body #newFooter {
	display: none;
}
body #spacer {
	width: 100%;
	height: 60px;
	z-index: -1;
}
}
 @media screen and (max-width: 768px) {
body #right_menu_seg1_mobile {
	display: none;
}
body #right_menu_seg2_mobile {
	display: none;
}
body #modules {
	background-color: white;
	z-index: 1000;
	position: relative;
}
body .developers_holder {
}
body .menu_desktop {
	display: none;
}
body .menu_mobile {
	display: block;
}
body #gs {
	margin-bottom: 20px;
}
body {
	background-color: white !important;
}
body .menu_before {
	display: none;
}
body .menu_after {
	display: none;
}
body {
	background-color: white;
}
body .small_header {
	display: block;
	width: 100%;
	height: 95px;
	padding-top: 3px;
	color: white;
}
body .bottom_bar {
	display: block;
}
body .top_bar {
	display: block;
	height: 27px;
}
body .mobile_header {
	display: none;
}
body #home_content {
/*	background: url("../images/home/home_bg3.jpg");*/
	background-repeat: no-repeat;
	background-position: right top;
	width: 100%;
	margin-top: -40px;
	border: 0;
	height: 644px;
	border-bottom: 20px solid white;
}
body .banner1 {
	display: none;
}
body #right_col {
	width: 328px;
	height: 628px;
}
body #nav_holder {
	margin-left: 15px;
}
body a.mobile_mod {
	padding-left: 0px;
}
body .ui-accordion-header {
	width: 235px;
	margin-left: 22px;
	/* background: url("../images/home/arrowbody .png") no-repeat; */
	background-position: left center;
}
body .ui-accordion-header:hover {
	/*background: url("../images/home/arrow_graybody .png") no-repeat;*/
	background-position: left center;
}
body #right_menu_seg1_mobile div, body #right_menu_seg2_mobile div {
	background-color: white;
	-moz-box-shadow: 0px 0px 30px #a5a5a5;
	-webkit-box-shadow: 0px 0px 30px #a5a5a5;
	box-shadow: 0px 5px 20px #a5a5a5;
	width: 232px !important;
	margin-left: 20px;
	margin-top: -5px;
}
body .mobile_mod {
	display: block;
	font-weight: normal;
	font-size: 11pt;
	padding-top: 6px;
	padding-bottom: 7px;
}
body .mobile_mod:hover {
	display: block;
	font-weight: normal;
	font-size: 11pt;
	padding-top: 6px;
	padding-bottom: 7px;
}
body .mobile_lesson li {
	padding-top: 11px;
	list-style: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
body .mobile_lesson li a {
	font-weight: normal;
	font-size: 10pt;
	display: block;
	width: 186px;
	padding-bottom: 11px;
}
body #right_menu_seg1_mobile, body #right_menu_seg2_mobile {
	display: block;
}
body #right_menu_seg1, body #right_menu_seg2 {
	display: none;
}
body #menua #menu_inner {
	margin: 0px !important;
	width: 100%;
}
body .home_footer_inner {
	width: 100%;
}
body .menu_before {
	margin-left: 4px !important;
}
body #nav_menu {
	margin-left: 0px;
	margin-top: -2px !important;
}
body #nav_menu .nav_menu_modules {
	margin-left: 18px !important;
}
body #nav_menu .nav_menu_modules li .nav_menu_lessons {
	left: 198px !important;
}
body #gs {
	margin-left: 22px;
	padding-left: 10px;
	padding-top: 8px;
	width: 220px;
}
body #navSubmenu {
	margin-left: 300px;
}
body .seg {
	margin-left: 20px;
}
body .right_menu_modules li {
	margin-left: 20px;
}
body .menu_mobile_nav {
	display: none !important;
}
body .nav_menu_lessons li a {
	width: 430px !important;
}
body #nav_menu .nav_menu_modules {
	margin-left: 0px !important;
}
body #right_col {
	padding-top: 30px;
}
body #newFooter {
	display: none;
}
body #spacer {
	width: 100%;
	height: 60px;
	z-index: -1;
}
body #footer {
	background-color: transparent;
}
body #footer img {
	display: none;
}
body #menua #menu_inner {
	width: 94%;
}
body #pageContent {
	padding: 0px;
	padding-bottom: 70px;
}
body hr.content_top_bar {
	margin: 0 -30px -11px;
}
body .menu_mobile_nav {
	display: block;
}
body #menu_inner .menu_links li a {
	display: none;
}
body ul.menu_links {
	margin-top: -20px;
}
body .menu_mobile_nav a {
	width: 410px;
	text-decoration: none;
}
body #nav_menu .nav_menu_modules li a.modlink {
	width: 420px;
}
body #nav_menu {
	position: absolute;
	width: 450px;
	overflow: hidden;
}
body #nav_menu .nav_menu_modules li .nav_menu_lessons {
	width: 440px;
	position: inherit;
	margin: 0px;
	background-image: none;
	background-size: 100% auto;
}
body .nav_menu_lessons li a {
	float: none;
	display: block;
	width: 430px;
	padding: 10px;
	background-image: none;
	margin: 0px;
	height: 40px;
	line-height: 32px;
	border-bottom: solid 1px #D1D1D1;
}
body .nav_menu_lessons li a.odd {
	display: block;
	background-image: none;
}
body .nav_menu_lessons li a .lesson_num {
	font-size: 20px;
	float: left;
	margin-right: 10px;
	padding: 0px;
}
body .nav_menu_lessons li a .lesson_title {
	font-size: 12px;
	float: left;
	padding-top: 10px;
}
body .nav_menu_lessons li a .lesson_nfo {
	font-size: 12px;
	float: left;
	margin-left: 10px;
}
body #menua {
	position: relative;
	z-index: 7000;
}
body .breadcrumbs {
	margin-top: 0px;
}
body .menu_mobile {
	display: block;
}
body .menu_desktop {
	display: none;
}
}
 @media screen and (max-width: 430px) {
body #footer img {
	display: none;
}
body #spacer {
	width: 100%;
	height: 35px;
}
body #menua {
	width: 470px!important;
}
body .menu_before {
	display: none;
}
body .menu_after {
	display: none;
}
body #home_content {
	width: 470px;
}
body .small_header {
	width: 470px;
}
body #footer {
	background-color: transparent;
}
}
