h3:active {
outline: none;
border: none;
}

#seg2 {
z-index: 2000;
position: relative;
}


#nav_menu .nav_menu_modules li .nav_menu_lessons {
	width: 824px !important;
}
.home_footer_inner {
	margin: 0 auto;
	margin-top: -20px;
}

.nav_menu_lessons li a {
	width: 133px !important;
}
#spacer {
	width: 100%;
	height: 120px;
}
.copyright_holder {
	float: right;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#wrapper {
	width:100%;
   min-height:100%;
   position:relative;
}
ol, ul {
	padding: 0;
	margin: 0 0 9px 25px;
}
.small_header {
	display:none;
	width: 100%;
	height: 60px;
	padding-top: 3px;
	color: white;
}

.bottom_bar {
	display: none;
	height: 41px;
	padding-left: 30px;
	font-size: 14pt;
	padding-top: 6px;
	background-color: #2a4996;
	text-transform: uppercase;
	font-weight: bold;
}
.top_bar {
	font-weight: bold;
	display: none;
	background-color: #989898;
	font-size: 18pt;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	border-bottom: 2px solid #4d5164;
	text-transform: uppercase;
}

body{
	font-size:14px;
	color:#333333 !important;
	background-color: #a8a8a8;
/*	background:url(../images/home/bg.jpg) top center;*/
}

#home_content{
	background:url("../images/home/home_bg.jpg");
	background-repeat: no-repeat;
	background-position: right top;
    height: 665px;
    margin-left: auto !important;
    margin-right: auto !important;
   	width: 964px;
	border: 20px solid white;
}
img.banner2 {
	width: 723px;
	margin-top: 57px;
	z-index: 1000;
	position: relative;
}
img.banner1 {
	margin: -220px 0 0 -46px;
	position: absolute;
}
.mobile_header {
	border-left: 20px solid white;
	border-right: 20px solid white;
	width: 748px;
	margin: 0 auto;
	background-color: #989898;
	display:none;
	height: 166px;
}
.developers a {
	font-size:12pt;
}

.developers {
    color: #000000;
    font-weight: bold;
	margin:0;
	width:300px;
	float:left;
}

.developers a {
    color: #656d15;
}

#menua {
	height: 40px;
}

.clear {
   clear: both;			
}
.turned_arrow {
	/*background: url("../images/home/arrow_gray_mobile.png") no-repeat !important;*/
	background-position:left center !important;
	color:#666666 !important;
}
.iphone_title {
	font-size:12pt !important;
	color:white;
	font-weight:bold;
	padding-bottom:5px;
	display:none;
}
	
.gs_text1 {
	display:block;	
}

.gs_text2 {
	display:none;
}

#menu_inner {
	width:980px;	
}

.seg {
	padding-bottom:6px;
	margin-top:20px;
	width:235px;
	margin-left:28px;
	text-transform:uppercase;
	font-size:10pt;
	font-weight:bold;
	border-bottom: 1px solid #cccccc;
}

.top30 {
	margin-top:45px;
}

.arrow {
	display:none;
	margin-left:-30px;
	position:absolute;
	z-index:99;
}

#navSubmenu {
	margin-left: 382px;
}

#submenu {
	padding-top:15px;
	padding-bottom:15px;
	display:none;
	z-index:99;
	position:absolute;
	width:278px;
	background-color:white;
	-moz-box-shadow:    0px 0px 30px #3b3b3b;
  	-webkit-box-shadow: 0px 0px 30px #3b3b3b;
 	box-shadow:         0px 0px 30px #3b3b3b;;
}

.lessons li {
	/*background: url("../images/home/arrow.png") no-repeat;*/
	background-position:left center;
	list-style:none;
	margin-left: -3px;
	margin-right:auto;
	width:235px;
}

.lessons li:hover {
	/*background: url("../images/home/arrow_gray.png") no-repeat;*/
	background-position:left center;
}

.lessons li a {
	padding-top: 8px;
	padding-bottom: 8px;
	display: block;
	/* padding-left: 30px; */
	width: 234px;
	font-weight: normal;
}

#right_col {
	background-image:url("../images/home/home_bg_nav.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	height: 586px;
	/* margin-left: 87px; */
	padding-top: 59px;
	width: 360px;
	margin-top: 20px;
}

#nav_holder {
margin-left: 50px;
}


#gs {
	margin-left:28px;
	padding-left:20px;
	padding-top:8px;
	background:url("../images/home/gs.jpg"); /* Show after POC */
	height:25px;
	width:215px;
	color:white;
}

#gs a {
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	font-weight: normal;
}

#gs:hover {
	background:url("../images/home/gs_gray.jpg"); /* Show after POC */
	color:white;
}

#preload {
	display:none;	
}

.right_menu_modules li {
	/*background: url("../images/home/arrow.png") no-repeat;*/
	background-position:left center;
	list-style:none;
	width:235px;
}

.right_menu_modules li:hover {
	/*background: url("../images/home/arrow_gray.png") no-repeat;*/
	background-position:left center;
}

.right_menu_modules li a {
	padding-top:8px;
	padding-bottom:9px;
	display:block;
	padding-left:3px;
	width: 235px;
	font-weight:normal;
}

.bottom_line {
	border-bottom: 1px solid #cccccc;
}

.right_nav_menu_lessons {
	margin-left:-354px;
	display:none;
	position:absolute;
	background: url("../images/home/arrow.png") no-repeat;
	background-color: white;
}



#course_title{
	display:none;			
}

.cfversion{
	margin-left:330px;
	color:#ffffff;	
}
#footer{
    background-color: #fff;
    color: #000;
    display: block;
    width: 100%;
	z-index: 100;
	padding-top:30px;
	position:absolute;
   	bottom:0;
   	width:100%;
   	height:10px;   /* Height of the footer */
}

#footer span {
    display: inline-block;
    line-height: 30px;
    margin-bottom: 0;
    padding-right: 10px;
    vertical-align: top;
	text-align: left;
}
#newFooter {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    height: 53px;
    margin-top: 45px;
    position: relative;
    width: 100%;
    z-index: -1;
}

a#index_bookmark{
	background-color:#DD7000;	
}

/* aligns FLVS logo to white frame */
#footer > img {
    margin-right: 0px;
}

.right_mod_link {
	margin-bottom: 5px;
	padding-bottom: 5px;
}
#nav_menu .nav_menu_modules li {
	line-height: 20px;
}