/* CSS file */

.audioSlide {
	bottom: 6px;
	margin-left: 114px; 
	width: 223px !important;
}
.mejs-controls div.mejs-horizontal-volume-slider {
	max-width: 56px;
}
.mejs-container .mejs-controls .mejs-time span {
	margin: 8px 2px 0 0;
}
.ui-navigation {
	float: none;
	padding: 0 !important;
	width: 100%;
}
.ui_assessment h2 {
	font-size: 18px;
	line-height: 22px;
}
.ui_pending {
	z-index:999;
}
.ui_pend .help {
	right: 30px;
}
.ui-slideshow-slide {
	margin: 20px;
}
.ui-navigation-header li {
	float: none !important;
	padding-right: 5px;
}
.ui-navigation-header li .restart {
	float: left !important;
	margin-left: 17px;
}
.ui-navigation-header li .prev {
	float: right !important;
	/*    margin-right: 90px;*/
	margin-right: 105px;
}
.ui-navigation-header li .next {
	float: right !important;
	margin-right: -185px;
}
.ui-navigation-tracker {
	bottom: 14px;
	position: absolute;
	right: 240px;
}
.ui_interactive, .activeInteractive {
	margin-top: 0px;
	margin-bottom: 40px;
	background-repeat: repeat;
}
.ui_interactive p, .activeInteractive p {
	padding-right: 25px;
}
div.panel div.ui_interactive.ui-widget.ui-widget-content.ui-corner-all, div.ui_interactive {
	height: auto !important;
}
.activeInteractive .activeInteractive {
	margin: 0px auto;
}

.slideshow .navbar {
	border: 1px solid #4297D7;
	font-weight: bold;
}
.ui_flip {
	border: 3px solid #971a24;
}
.ui_flip p.flip-back {
	font-size: 16px;
	margin: 10px 15px !important;
	text-align: left;
}
.ui_flip p {
	padding: 0 5px;
}
.navbar a.next {
	border: 1px solid #C5DBEC;
	background: #FBEFDF url(images/ui-bg_glass_85_fbefdf_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	text-indent: 0px;
	width: 68px;
	font-family: verdana, arial, sans-serif;
	text-align: center;
	line-height: 28px;
	padding: .2em 1em;
	color: #2E6E9E;
}
.navbar a.prev {
	border: 1px solid #C5DBEC;
	background: #FBEFDF url(images/ui-bg_glass_85_fbefdf_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	text-indent: 0px;
	width: 68px;
	font-family: verdana, arial, sans-serif;
	text-align: center;
	line-height: 28px;
	padding: .2em 1em;
	color: #2E6E9E;
}
.ui_slide_fitb .indicator {
	display: inline-block;
}
.jMatch h2 {
	font-size: 18px;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}
.jMatch #title1, .jMatch #title2 {
	text-shadow: 2px 2px white;
	background: rgba(255,255,255,0.5);
	/* height: 17px; */
	padding: 10px;
}
/**********************************/
.ui-navigation-header.ui-widget-header {
	padding-bottom: 5px;
	padding-top: 5px;
}
.ui-state-default, .ui-state-default:visited, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #cccccc;
	color: #971a24;
}
div.activeInteractive {
/*    border: thin solid #333 !important;*/
}
label {
	font-size: 14px;
}
.width480 {
	width: 480px;
}
.width640 {
	width: 640px;
}
/* Center Results Page */

.ui_results, .ui_results p {
	font-size: 20px;
	text-align: center;
}
.maxwidthAll {
	max-width: 100% !important;
}
.ui-slideshow-item {
	overflow: hidden;
}
.ui_results.ui-slideshow-item {
	margin-left: -20px;
}

.carousel a:hover{
	color:#333333 !important;
}

