@media screen and (min-width: 768px) {
	.footer_inner {
		width: 740px;
	}
	#menu_inner .menubtn {
		display: block;
	}
	#container {
		width: 740px;
	}
	.content {
		width: 720px;
		padding: 0px 0px 30px 20px;
	}
	#menua #menu_inner {
		width: 740px;
	}
	#nav_menu .nav_menu_modules li .nav_menu_lessons {
		width: 560px;
	}
	.nav_menu_lessons li a {
		width: 155px;
	}
	hr.content_top_bar {
		margin: 0 -30px 20px;
	}
	#pageContent {
		padding: 0 10px;
	}
	.content .topZero2 {
	    margin-left: 60px;
	}
}
 @media screen and (min-width: 992px) {
	#container {
		width: 960px;
	}
	.content {
		width: 900px;
		padding: 0 30px 70px;
	}
	#menua #menu_inner {
		width: 960px;
	}
	#nav_menu .nav_menu_modules li .nav_menu_lessons {
		width: 780px;
	}
	.nav_menu_lessons li a {
		width: 125px;
	}
	#pageContent {
		padding: 0 70px;
	}
	.footer_inner {
		width: 960px;
	}
	.content .topZero2 {
	    margin-left: 30px;
	}

}
 @media screen and (min-width: 1200px) {
	 .footer_inner {
		width: 1000px;
	}
	 
	#container {
		width: 1000px;
	}
	.content {
		width: 940px;
		padding: 0 30px 70px;
	}
	#menua #menu_inner {
		width: 1000px;
	}
	#nav_menu .nav_menu_modules li .nav_menu_lessons {
		width: 820px;
	}
	.nav_menu_lessons li a {
		width: 133px;
	}
	#pageContent {
		padding: 0 70px;
	}
}
 @media screen and (max-width: 768px) {
	 .footer_inner {
		 width: 94%;
	 }
	 .width480 {
		width: 90%;
	}
	 button.toggleSwitch {
		display: none;
	}
	 .video_container {
		display: none;
	}
	.phone_textversion, .video_textversion {
		display: block;
	}

	#container {
		width: 95%;
	}
	.content {
		width: 90%;
		padding: 5%;
		padding-top: 20px;
	}
	#menua #menu_inner {
		width: 95%;
	}
	#pageContent {
		padding: 0px;
		padding-bottom: 70px;
	}
	hr.content_top_bar {
		margin: 0 -30px -11px;
	}
	.menu_mobile_nav {
		display: block;
	}
	#menu_inner .menu_links li a {
		display: none;
	}
	ul.menu_links {
		margin-top: -20px;
	}
	.menu_mobile_nav a {
		width: 410px;
		text-decoration: none;
	}
	#nav_menu .nav_menu_modules li a.modlink {
		width: 420px;
	}
	.menu_mobile_nav {
		display: block;
	}
	#nav_menu {
		position: absolute;
		width: 450px;
		overflow: hidden;
	}
	#nav_menu .nav_menu_modules li .nav_menu_lessons {
		width: 440px;
		position: inherit;
		margin: 0px;
		background-image: none;
		background-size: 100% auto;
	}
	.nav_menu_lessons li a {
		float: none;
		display: block;
		width: 430px;
		padding: 10px;
		background-image: none;
		margin: 0px;
		height: 40px;
		line-height: 32px;
		border-bottom: solid 1px #D1D1D1;
	}
	.nav_menu_lessons li a.odd {
		display: block;
		background-image: none;
	}
	.nav_menu_lessons li a .lesson_num {
		font-size: 20px;
		float: left;
		margin-right: 10px;
		padding: 0px;
	}
	.nav_menu_lessons li a .lesson_title {
		font-size: 12px;
		float: left;
	}
	.nav_menu_lessons li a .lesson_nfo {
		font-size: 12px;
		float: left;
		margin-left: 10px;
	}
	#menua {
		position: relative;
		z-index: 7000;
	}
	.breadcrumbs {
		margin-top: 0px;
	}
	.nav_menu_lessons li a .lesson_title {
		padding-top: 10px;
	}
	.menu_mobile {
		display: block;
	}
	.menu_desktop {
		display: none;
	}
	#menua {
		position: relative;
	}
}
 @media screen and (max-width: 500px) {
	#container {
		width: 450px;
	}
	.content {
		width: 430px;
		padding: 10px;
	}
	#menua #menu_inner {
		width: 450px;
	}
	#pageContent {
		padding: 0px;
		padding-bottom: 70px;
	}
	hr.content_top_bar {
		margin: 0 -30px -11px;
	}
	
	.footer_inner {
		width: 450px;
	}
}
