/* Top Menu */

.menu_mobile {
	display: none;
}
.menu_desktop {
	display: block;
}
.menu_mobile_nav {
	display: none;
}
#nav_menu {
	left: 6px;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
	position: absolute;
	left: 155px; /* Changed from 115 to 155 to display all on page */
	top: 0px;
	list-style: none;
	width: 730px;
	/*	width: 660px; */
	display: none;
}
#menua {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 40px;
	width: 100%;
	z-index: 6999;
	display: block;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(104, 104, 104, .4);
	box-shadow: 0px 5px 10px 0px rgba(104, 104, 104, .4);
}
#menua #menu_inner {
	margin: 0 auto;
	position: relative;
}
#menu_inner .menubtn {
	float: left;
	font-size: 15pt;
	font-weight: bold;
	line-height: 40px;
	margin-left: -30px;
	padding-left: 30px;
	padding-right: 30px;
}
#menu_inner .menubtn:hover {
	text-decoration: none;
}
/* Menu shadow */
.menu_before {
	width: 15px;
	height: 40px;
	background-image: url(../images/global/menubg_left.jpg);
	float: left;
	margin-left: -45px;
}
.menu_after {
	width: 15px;
	height: 40px;
	background-image: url(../images/global/menubg_right.jpg);
	float: left;
}
.menu_after_next {
	width: 15px;
	height: 40px;
	background-image: url(../images/global/menubg_right.jpg);
	position: absolute;
	right: -15px;
	top: 0px;
	z-index: 9902;
}
#menu_inner .menu_links {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#menu_inner .menu_links li {
	float: left;
	margin: 0px;
	padding: 0px;
}
#menu_inner .menu_links li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	display: block;
	line-height: 40px;
	margin-right: 2px;
	padding: 0px 8px;
}
#menu_inner .menu_links li a:hover {
	text-decoration: none;
}
#menu_right {
	float: right;
}
.pagenums {
	font-size: 14px;
	border-right: solid 1px #f0f0f0;
	height: 40px;
	float: left;
	position: relative;
	margin-right: 10px;
}
.pagenums a {
	line-height: 40px;
	margin-right: 20px;
	text-decoration: none;
}
.pagenums a:hover {
	text-decoration: none;
}
.prev {
	float: left;
	display: block !important;
	line-height: 40px;
	width: 29px;
	height: 29px;
	text-indent: -999px;
	overflow: hidden;
	margin-top: 5px;
}
.prev:not(.ui-button):hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.prev.ui-button {
	margin-top: 0px;
	width: 85px;
	height: 31px;
	text-indent: 0px;
}
.home {
	float: left;
	display: block;
	line-height: 29px;
	text-transform: uppercase;
	border-left: solid 1px #f0f0f0;
	border-right: solid 1px #f0f0f0;
	padding: 0px 15px;
	margin: 5px 10px 0px 10px;
	text-decoration: none;
}
.home:hover {
	text-decoration: none;
}
.next {
	float: left;
	display: block !important;
	line-height: 40px;
	width: 29px;
	height: 29px;
	text-indent: -999px;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 10px;
}
.next:not(.ui-button):hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.next.ui-button {
	margin-top: 0px;
	width: 85px;
	height: 31px;
	text-indent: 0px;
}
/* Mobile */

.menu_mobile_nav {
	border-bottom: none;
}
.menu_mobile_nav a {
	width: 80px;
}
.menu_mobile {
	display: none;
}
.menu_mobile .menubtn_mobile {
	float: left;
	font-weight: bold;
	color: #e0376e;
	display: block;
	line-height: 40px;
	margin-top: -2px;
}
.menu_mobile .menubtn_mobile:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.menu_mobile_nav {
	display: none;
	border-bottom: solid 2px #463d52;
}
.menu_mobile_nav ul {
	list-style: none;
	margin: 0px;
}
.menu_mobile_nav a {
	display: block;
	/*width: 100%;*/
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: solid 1px #F1F1F1;
	padding: 10px 20px;
}
.menu_mobile_nav a:hover {
	text-decoration: none;
}
#nav_menu {
	position: fixed;
	display: none;
	z-index: 9900;
}
.menu_backdrop {
	background-image: url("../images/global/menu_backdrop.png");
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 7000;
}
#nav_menu .nav_menu_modules {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#nav_menu .nav_menu_modules li a.modlink {
	font-size: 16px;
	display: block;
	background-color: #971a24; /* Changed */
	color: #ffffff;
	width: 150px; /* Changed from 110 to 150 to display all on page */
	padding: 8px 15px; /* Changed padding of drop/down menu from 10 to 8 to display all on page */
	border-bottom: solid 1px #C4B49B;
	position: relative;
}
#nav_menu .nav_menu_modules li a.modlink:hover {
	text-decoration: none;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
	position: absolute;
	left: 155px; /* Changed from 115 to 155 to display all on page */
	top: 0px;
	list-style: none;
	width: 730px;
	/*	width: 660px; */
	display: none;
	-webkit-box-shadow: 11px 7px 34px #787878;
	box-shadow: 11px 7px 34px #787878;
	z-index: 1000;
}
.nav_menu_lessons li a {
	border: none;
	float: left;
	height: 100px;
	margin: 0px;
	margin-right: 1px;
	padding: 15px;
	margin-bottom: 1px;
	width: 115px;
}
.nav_menu_lessons li a .lesson_num {
	font-size: 28px;
	display: block;
	font-weight: bold;
}
.nav_menu_lessons li a .lesson_title {
	font-size: 12px;
	display: block;
	padding: 0px;
	padding-top: 5px;
	margin: 0px;
	line-height: 1;
}
.nav_menu_lessons li a .lesson_nfo {
	font-size: 11px;
	padding: 0px;
	margin-top: -10px;
	margin: 0px;
	display: block;
}
.nav_menu_lessons li a:hover, .nav_menu_lessons li a.odd:hover {
	text-decoration: none;
}
#menua #menu_inner {
	margin: 0 auto;
	position: relative;
}
#menu_inner .menubtn {
	float: left;
	font-weight: bold;
	line-height: 40px;
	margin-left: 0px;
	padding-left: 30px;
	padding-right: 30px;
}
#menu_inner .menubtn:hover {
	text-decoration: none;
}
/* Menu shadow */
.menu_before {
	background: url("../images/home/menubg_left.jpg") no-repeat;
	float: left;
	height: 38px;
	margin-left: -44px;
	width: 44px;
}
.menu_after {
	width: 44px;
	height: 38px;
	background: url(../images/home/menubg_right.jpg) no-repeat;
	float: left;
}
.menu_after_next {
	width: 15px;
	height: 40px;
	background: url(../images/home/menubg_right.jpg) no-repeat;
	position: absolute;
	right: -15px;
	top: 0px;
	z-index: 9902;
}
#menu_inner .menu_links {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#menu_inner .menu_links li {
	float: left;
	margin: 0px;
	padding: 0px;
}
#menu_inner .menu_links li a {
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	line-height: 40px;
	margin-right: 2px;
	padding: 0px 8px;
}
#menu_inner .menu_links li a:hover {
	text-decoration: none;
}
#menu_right {
	float: right;
}
.page_links {
	margin-left: 3px;
}
.pagenums {
	font-size: 14px;
	border-right: solid 1px #f0f0f0;
	height: 40px;
	float: left;
	position: relative;
	margin-right: 10px;
}
.pagenums a {
	line-height: 40px;/*	margin-right: 20px;*/
}
.page_links a {
	margin: 0px 7px 7px -2px;
}
.pagenums a:hover {
	text-decoration: none;
}
.prevt {
	float: left;
	display: block;
	line-height: 40px;
	width: 29px;
	height: 29px;
	text-indent: -999px;
	overflow: hidden;
	margin-top: 5px;
}
.home {
	float: left;
	display: block;
	line-height: 29px;
	text-transform: uppercase;
	border-left: solid 1px #f0f0f0;
	border-right: solid 1px #f0f0f0;
	padding: 0px 15px;
	margin: 5px 10px 0px 10px;
}
.home:hover {
	color: #666666;
	background-color: #ffffff;
	text-decoration: none;
}
.nextt {
	float: left;
	display: block;
	line-height: 40px;
	color: #333;
	width: 29px;
	height: 29px;
	text-indent: -999px;
	overflow: hidden;
	background-image: url(../images/global/next.jpg);
	margin-top: 5px;
	margin-right: 10px;
}
.nextt:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
/* Mobile */
.menu_mobile {
	display: none;
}
.menu_mobile .menubtn_mobile {
	float: left;
	font-weight: bold;
	display: block;
	line-height: 20px;
	margin-top: -2px;
}
.menu_mobile_nav {
	display: none;
	border-bottom: solid 2px #d4d4d4;
	margin-top: 20px !important;
}
.menu_mobile_nav ul {
	list-style: none;
	margin: 0px;
}
.menu_mobile_nav a {
	display: block;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: solid 1px #F1F1F1;
	padding: 10px 20px;
}
.menu_mobile_nav a:hover {
	text-decoration: none;
}
#nav_menu {
	position: fixed;
	left: 0px;
	display: none;
	z-index: 9900;
	top: 40px;
	-webkit-box-shadow: 11px 7px 34px #787878;
	box-shadow: 11px 7px 34px #787878;
}
#nav_menu .nav_menu_modules {
	/*	box-shadow: 1px 0 10px -4px rgba(31, 73, 125, 0.8), 0 -9px 0px 0px white, 1px 0 10px -4px rgba(31, 73, 125, 0.8), -1px 0 10px -4px rgba(31, 73, 125, 0.8); */
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#nav_menu .nav_menu_modules li {
}
#nav_menu .nav_menu_modules li li {
	border: none;
}
#nav_menu .nav_menu_modules {
/* 	margin:7px; */
}
#nav_menu .nav_menu_modules li a.modlink {
	border-bottom: 1px solid #c4b49b;
	display: block;
	font-size: 16px;
	padding: 8px 15px;
	position: relative;
	width: 150px;
}
#nav_menu .nav_menu_modules li a.modlink:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
	text-decoration: none;
}
#nav_menu .nav_menu_modules li a.modlink .modnum {
	font-size: 10px;
	display: block;
}
.menuThumbs {
	width: 140px;
	height: 128px;
	background-position: 0px 0px;
}
a:hover .menuThumbs {
	background-position: 140px 0px;
}
