body {
	/*	background:url(../images/global/bg.jpg) top center;;  */
	font-family: Arial, Helvetica, sans-serif;
}
body, html, #wrapper {
	margin: 0px !important;
	padding: 0px !important;
}
.image-container.right {
	margin-right: 20px
}
.wrapper {
	height: 100%;
}
.spacer {
	display: block;
	width: 100%;
	height: 40px;
}
/* Page Layout */	
.footer_inner {
	text-align: right;
	width: 1000px;
	margin: 0 auto;
}
#container {
	margin: 0 auto;
	width: 980px; /* Changed screen width */
	background-color: white;
	background-position: top center;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	padding-top: 0px;
	-moz-box-shadow: 0px 0px 30px #939393;
	-webkit-box-shadow: 0px 0px 30px #939393;
	box-shadow: 0px 0px 30px #939393;
}
.content {
	width: 920px; /* Changed screen width */
	margin: 0 auto;
	padding: 0 30px 70px;
	background: url(../images/global/bottom_bkgnd.png) bottom repeat-x;
	background-color: #ffffff;/* rounded bottom corners 
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px; /* Changed	*//* shadow
	-moz-box-shadow: 0 15px 15px -1px #000;
	-webkit-box-shadow: 0 15px 15px -1px #000;
	box-shadow: 0 15px 15px -1px #000; /* Changed	*/
}
#pageLayout1, #pageLayout2, #pageLayout3, .pageLayout1 {
	max-width: 780px;
	width: 100%;
}
.breadcrumbs {
	padding: 66px 30px 26px;
	line-height: 22px;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 0px;
}
.breadcrumbs_course, .breadcrumbs_module {
	font-weight: bold;
}
.label {
	font-size: 13px;
}
.lesson_title {
	padding: 20px 30px;
	font-size: 24px;
}
.light_box {
	background-image: url('../images/global/lightbox.png');
}
.light_box2 {
	background-image: url('../images/global/lightbox2.png');
}
#margin.sans_nav {
	padding: 15px;
}
/* SPECIAL FEATURES */
.link_button {
	height: 30px;
	width: 165px;
	margin: 10px 10px 10px 0px;
	cursor: pointer;
	text-align: center;
	padding: 10px 20px;
}
/* PINK STUFF */
a.pink-btn {
	display: inline;
	background-color: #e0376e;
	font-size: 20px;
	text-transform: uppercase;
	padding: 4px 10px;
	font-weight: 400;
	padding-left: 35px;
}
a.pink-btn:hover {
	text-decoration: none;
}
a.pink-assign {
	display: inline;
	background-color: #e0376e;
	padding: 4px 10px;
	color: #ffffff;
	font-weight: 400;
	padding-left: 35px;
	background-image: url(../images/icons/icon_arrow_white.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}
a.pink-assign:hover {
	text-decoration: none;
}
div#margin div.video button.toggleSwitch, div.activeInteractive button.toggleSwitch, div.videoInteractive button.toggleSwitch {
	left: 0;
	margin-left: 0;
}
button.toggleSwitch {
	font-size: 14px;
	width: auto !important;
	text-transform: uppercase;
	padding: 4px 10px !important;
	font-weight: 400;
}
button.toggleSwitch:hover {
	text-decoration: none;
	background-color: #333333 !important; /* Changed */
	color: #ffffff !important;
}
.article-block {
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.article-block img {
	width: 100%;
	margin-bottom: 4px;
}
.article-block p {
	padding: 0px 20px;
	margin-bottom: 20px;
}
.article-block a.pink-btn {
	margin-bottom: 20px;
	margin-left: 20px;
}
.instructions {
	font-weight: normal;
}
/* GENERAL CONTENT */
h1, h2, h3, h4, h5 {
	margin-bottom: 15px;
	padding-bottom: 0px;
	font-weight: normal;
}
h1 {
	font-size: 24px;
	margin-bottom: 20px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 16px;
	font-weight: bold;
}
h1.poph1 {
	font-size: 1.65em;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
}
h2.poph2 {
	font-size: 1.25em;
	margin-top: 0px;
	text-align: center;
	line-height: 24px;
}
div.activeInteractive div.textVersion {
	margin-top: 0px;
	/*	min-width: 400px; */ /* changed JP 05/19/2014 */
	min-width: 360px;
}
/* added */
.icon_local {
	left: 5px !important;
	top: -20px !important;
}
.icon-pencil {
	background-image: url(../images/icons/icon_note_guide.png) !important;
	background-position: inherit;
	width: 84px;
	height: 88px;
	position: relative;
	top: -25px;
	left: -25px;
	float: left;
}
.icon.left {
	left: 0;
	margin: 0;
	/*position: absolute;*/
	top: -10px;
}
div.block.shout {
	float: none;
	margin: 0 auto;
	max-width: 750px;
	padding-left: 50px;
	width: 90%;
}
div.block {
	margin: 40px 0 20px;
}
div.block.objective {
	min-height: 110px;
}
div.block.infobox {
	min-height: 50px;
}
.assignment .content, .infobox .content, .objective .content, .overview .content {
	background: none;
	margin-top: 13px;
	margin-left: 40px;
	width: inherit;
}
.lesson_content {
	padding: 0 10px 0 30px;
	margin-left: 33px;
	margin-top: 13px;
}
.content h2 {
	margin-bottom: 16px;
	margin-left: 0px;
	max-width: 95%;
}
.lesson_content h2 {
	margin-bottom: 16px;
	margin-left: 26px;
	max-width: 95%;
}
.content p, .lesson_content p {
	margin-bottom: 20px;
}
.lesson_content li {
	padding-bottom: 5px;
}
hr, hr.dashed {
	border: none;
	height: 2px;
	background-color: #d6d6d6;
	/*	background-image: url(../images/global/dotted-line.png);*/
	margin-bottom: 30px;
}
hr.dashed {
	margin: 5px 0 9px;
}
hr.content_top_bar {
	background-image: url("../images/global/top_content_border.jpg");
	border: medium none;
	height: 6px;
	margin: 0 -30px 67px;
	visibility: hidden;
}
#pageContent {
	padding: 0 70px;
	min-height: 400px;
}
hr.content_top_bar {
	width: 100%;
}
/*******************/

p.lead {
	font-weight: normal;
	margin-bottom: 5px;
}
.clickReveal a.title, .accordion a.title {
	border: none;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}
.clickReveal a.title:hover, .accordion a.title:hover {
	border: none;
}
.clickReveal div.content, .accordion .content {
	width: auto;
	border: solid 1px #e8e8e8;
	margin-left: 0px;
	margin-right: 0px;
}
.clickReveal div.content {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	box-shadow: none;
	border-color: -moz-use-text-color #CCCCCC #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-style: none solid solid;
	border-width: medium 1px 1px;
	display: none;
	margin-left: 4px;
	margin-right: 4px;
	padding: 10px;
}
.tabs div.panel {
	border: solid 1px #e8e8e8;
}
.tabs a.tab {
	font-weight: normal;
}
.accordion a.title {
	margin-bottom: 1px;
}
.accordion .content {
	margin-bottom: 1px;
	background: none;
}
/* elements */
a {
	font-weight: bold;
	text-decoration: none;
}
a.modal-pop, a.pop {
	text-decoration: underline;
}
a:hover {
	font-weight: bold;/*	text-decoration: none; */
}
a.no_decoration:hover {
	text-decoration: none;
}
a.underline {
	text-decoration: underline;
}
a.underline:hover {
	text-decoration: underline;
}
a.tip-top, a.tip-bottom, a.tip-left, a.tip-right, a.tip, .audio-tip-top, .audio-tip-bottom, .audio-tip-left, .audio-tip-right {
	text-decoration: underline;
}
p {
	font-size: 14px;
	line-height: 23px;
}
p:last-child {
	margin-bottom: 0px;
}
.row:last-child {
	margin-bottom: 0px;
}
.content ul, .content ol {
	margin: 0 0 10px;
	overflow: hidden;
	padding-left: 28px;/*	width: 95%; */
}
ol li {
	padding-bottom: 0px;
}
ol[type="A"] {
	margin-left: 70px;
}
.btnlink {
	text-decoration: none !important;
}
.printText, .printIt {
	border-radius: 4px 4px 4px 4px;
	font-weight: bold;
	padding: 5px 10px;
}
.image-container .enlarge {
/* Do not over-write the cdn version
	background-image: url(../images/global/img-enlarge.png);
	width: 21px;
	height: 21px;
	top: 5px;
	right: 5px;
*/
}
img.banner {
	margin-left: 0px;
	width: 1024px;
	max-width: 960px;
	margin-right: -30px;
	margin-left: -30px;
	margin-top: -36px;
}
.image-container .caption {
	display: block;
	font-size: 12px;
	line-height: 14px;
	padding: 5px 0;
	text-align: left
}
.image-container span.copyright {
	font-size: 9px;
	display: block;
	margin-top: 5px;
}
.image-container {
	border: none;
}
.image-container a.modal-pop {
	display: block;
}
.intro-block h1 {
	font-size: 24px;
	line-height: 30px;
}
.intro-block blockquote {
}
.intro-block blockquote p {
	font-size: 18px;
	font-weight: normal;
}
.intro-block button {
	padding: 7px 25px;
}
.intro-block small {
	font-size: 17px;
	color: #7C7B7B;
}
.intro-image {
	float: left;
	margin-left: -30px;
	margin-right: 30px;
	margin-top: -36px;
}
.intro-image img {
	height: 700px;
}
div.assignment .content, div.objective .content {
	background-color: transparent;
	background-image: none;
	margin-bottom: 10px;
	padding-bottom: 0;
	width: auto;
}
/*****************************/


.block .content {
	width: auto;
	background-image: none;
}
blockquote {
	border-left: 5px solid #eee;
	border-right: 5px solid #eee;
	font-style: italic;
	margin: 18px 20px;
	overflow: auto;
	padding: 5px 15px;
}
.image-container.left {
	margin-top: 5px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.image-container.right {
	margin-top: 5px;
	margin-left: 30px;
	margin-bottom: 30px;
}
.image-container.flush-top, .flush-top {
	margin-top: 0px;
}
.image-container.flush-bottom, .flush-bottom {
	margin-bottom: 0px;
}
.page_links a {
	margin: 0px 7px 7px 0px;
}
.progressbar_title {
	display: none;
}
.progress_meter_popup {
	left: -130px;
	top: 40px;
}
.pg-instructions {
	margin-bottom: 30px;
}
.pg-instructions p {
	margin-bottom: 0px;
}
.pg-instructions hr {
	margin-bottom: 10px;
	margin-top: 10px;
}
/* float interactives left */

.indent li {
	margin-left: 20px;
}
 @media print {
table {
	border: 1px solid #DDD;
	width: 90%;
	margin: 0 auto;
	background-color: transparent;
}
td {
	border: 1px solid #DDD;
	background-color: transparent;
}
.table-bordered td {
	background-color: white !important;
}
}
/* Icons to turn white */
.icon-print, .icon-file, .icon-remove {
	background-image: url(http://courseframework.flvs.net/cdn/3.5/imgs/icons/glyphicons-halflings-white.png);
}
.ui-state-default .ui-icon {
	background-image: url("ilskin/E2/images/ui-icons_000000_256x240.png");
}
/* Audio Player css */

/* Practice Icon button */
.icon_link_btn {
	padding: 8px 16px 8px 20px;
	font-size: 13px;
	text-decoration: none !important;
}
/* Close button */
.close {
	border-image: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: 13px;
	padding: 3px 8px;
	font-weight: bold;
	line-height: 18px;
	opacity: 1;
	text-shadow: none;
	float: none;
}
.close:hover {
	opacity: 1;
}
/************************************************/

/* To allow images on right of multiple choice quiz */
label {
	display: inline-block;
}
/* Fixes non-responsive image sizing inside of tables in Firefox */
/*table {table-layout: fixed;}*/


/* When using black icons for interactives, white is needed for the dialog boxes */
.ui-widget-header .ui-icon {
	background-image: url(ilskin/E2/images/ui-icons_ffffff_256x240.png) !important;
}
.audioBtn {
	margin-right: 5px;
}
form {
	margin: 0 20px 18px;
}
.table {
	margin-top: 20px;
}
/* no text */
.nobrk {
	white-space: nowrap;
}
#big_container {
	min-height: 100%;
	position: relative;
}
.footer {
	color: #000;
	text-align: center;
	background-color: white;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	top: 100%;
	width: 100%;
	height: 30px;
	margin-top: -41px;
}
.footer .image-container-normal {
	display: inline;
	margin-left: 15px;
}
.footer span {
	font-size: 10px;
}
.external-link.btnlink {
	background-color: transparent;
	border: medium none;
	text-decoration: underline !important;
}
.widthInherit {
	width: inherit !important;
}
.tooltip-inner {
	text-align: left;
}
.frame {
	background-color: #eefcff;
}
.sixfifty {
	width: 650px !important;
}
.twenty {
	margin: 0 auto;
	width: 20px !important;
}
.panel li {
	margin-left: 20px;
}
