/*
Global styling (color, font, borders) is at the top. The rest is below that. Do a find for "other" to skip to it.

items you can search:

main global styles at top
mobile styles
slideshow positioning/layout
mobile positioning/layout
click to reveal positioning/layout
jQPlayer
extra styles at bottom
*/

@charset "utf-8";

@font-face {
    font-family: 'handwritten_font';
    src: url('../../fonts/justthewayyouare-webfont.eot');
    src: url('../../fonts/justthewayyouare-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/justthewayyouare-webfont.woff') format('woff'),
         url('../../fonts/justthewayyouare-webfont.ttf') format('truetype'),
         url('../../fonts/justthewayyouare-webfont.svg#JustTheWayYouAreRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	padding: 0px;
	margin: 0px;	
}

.sp_container {
	position: relative;
	/* adjust the width and height of the interactive below */
	width: 700px;
	height: 425px;
	background-color:#ebebeb;
	border-bottom:3px solid #CCC;
	/* comment out fonts to use your template stylesheet font-face */
	color: #333;
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-family:Arial, Helvetica, sans-serif;
}

.sp_container .sp_h3 {
	/* background-color: #f59600; */
	background-color: #E9ECE2;
	border: none;
	font-family: 'handwritten_font';
}

.sp_container .sp_h4 {
	border: none;
}

.sp_container h4.sp_slide_title {
	color: #000;
	border: none;
}

.sp_container .sp_directions {
	background-color: #001380;
	border-top: #ccc 1px dashed;
	border-bottom: #ccc 1px dashed;
	color: #FFF;
}

.sp_container .sp_slide {
	margin: 0px;
}

.sp_container img {
	border: #CCC thin solid;
}

/* clickReveal color styles */

.sp_clickReveal img:hover {
	border-top: #fff thin solid;
	border-bottom: #fff thin solid;
}

.sp_clickReveal .sp_selected {
	background-color: #fff;
}
/* end clickReveal color styles */

.sp_container label {
	font-size: 1.5em;
}

.sp_container .sp_copyright {
	font-size: .7em;
	color: #999;
	text-align: center;
}

.sp_container .sp_q_feedback {
	background-color: #fff;
	font-size: 1.1em;
}

.sp_container .sp_slide_counter {
	font-size: .9em;
	color: #900;
	letter-spacing: 2px;
}

.sp_container .sp_back {
	background-image: url(images/sp_back.jpg);	
}

.sp_container .sp_next {
	background-image: url(images/sp_next.jpg);	
}

.sp_container .sp_toc_open {
	background-image: url(images/sp_toc_open.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ccc;
}

.sp_container .sp_toc_open:hover {	
	border-bottom: #fff thin dotted;
}

.sp_container h3.sp_h3, .sp_container h4.sp_h4, .sp_container h4.sp_slide_title, .sp_container .sp_directions {
	font-weight: 100;
}

.sp_small {
	font-size: .7em;
}

.sp_table_contents {
	background-color: #f3f1e4;
	border-left: #CCC thin dotted;
	border-right: #CCC thin dotted;
}

.sp_table_contents p {
	border-bottom: #CCC thin dotted;
	cursor: pointer;
	background-color: #dbd5b7;
	padding: 2px;
}

.sp_table_contents p:hover {
	border-bottom: #CCC thin dotted;
	cursor: pointer;
	background-color: #fff;
	padding: 4px;
}

.sp_table_contents .sp_toc_close {
	text-align: right;
	color: #900;
	border-bottom: #900 thin solid;	
}

.sp_table_contents .sp_toc_close:hover {
	color: #F00;
	cursor: pointer;	
}

.sp_container label:hover {
	color: #900;
	border-bottom: #CCC dotted thin;
}

.sp_container form {
	font-size: .9em;	
}


/* 
######################################################


mobile styles


######################################################
*/


.mobile {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: .8em;
	/* color: #999;*/
	color: #333;
}

.mobile h4 {
	font-size: 1em;
	color: #881401;
	background-color: transparent;
	border: none;
	font-weight: 100;
}

.mobile h4.sp_slide_title {
	font-size: 1.1em;
	color: #881401;
	background-color: transparent;
	border: none;
	font-weight: 100;
}

.mobile img {
	border: #CCC thin solid;
}

.mobile .sp_caption {
	font-size: .8em;
	background-color: #666;
	color: #FFF;
}

.sp_horz_phone .sp_slide_counter {
	color: #001380;
	font-size: 1em;
}

.mobile .sp_copyright {
	font-size: .7em;
	text-align: center;
}

.sp_horz_phone .sp_text_message {
	color: #333;
}

.mobile .sp_mobile_back, .sp_mobile_next {
	color: #F00;
	border-bottom: #ccc thin solid;	
}

.mobile .sp_mobile_back {
	background-image: url(images/sp_mobile_back.jpg);	
}

.mobile .sp_mobile_next {
	background-image: url(images/sp_mobile_next.jpg);	
}

/* 
######################################################


slideshow positioning/layout


######################################################
*/

.sp_container {
	position: relative;
	overflow: auto;
	overflow: hidden;
	clear: both;
	padding: 0px;
}

.sp_container .sp_content {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.sp_container div.sp_slide {
	position: relative;
	width: 100%;
	height: 80%;
	float: left;
	text-align: left;
	margin: 0px 0px 100px 0px;  /* if javascript is disabled, adds spacing between each div slide */
	padding: 0px;
}

.sp_container .sp_padding {
	padding: 5px 30px;
}

.sp_container h3.sp_h3 {
	position: relative;
	text-align: center;	
	margin: 0px;
	width: 100%;
	padding: 0px;
}

.sp_container h4.sp_h4 {
	position: relative;
	text-align: center;
	margin: 0px;
	padding: 0px;	
}

.sp_container h4.sp_slide_title {
	position: relative;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.sp_container .sp_slide h4 {
	padding: 0px 0px 5px 0px;
}

.sp_container .sp_slide h4.sp_slide_title {
	padding: 0px 0px 5px 0px;
}

.sp_container .sp_question_text {
	text-align: left;
}

.sp_container .sp_directions {
    text-align: center;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.sp_container .sp_q_feedback {
	position: relative;
	padding: 5px;
	margin: 10px auto;
	width: 400px;
	max-height: 80px;
	float: left;
	clear: both;
	overflow-y: auto;
	left: 40px;
}

.sp_container .sp_block_text {
	display: block;
}

.sp_container .emphasized {
	color: #900;
	font-weight: bold;
}

.sp_container .example {
	display: block;
}	

.sp_container .sp_slide_counter {
	position: absolute;
	top: 5px;
	right: 10px;
	text-align: right;
	font-weight: 100;
	font-size: .9em;
	z-index: 99;
}

.sp_container .sp_left {
	position: relative;
	float: left;
	margin-bottom: 10px;
	padding: 5px;
}

.sp_container .sp_right {
	position: relative;
	float: right;
	margin-bottom: 10px;
	padding: 10px;
}

.sp_container .sp_back, .sp_next {
		position: absolute;
		bottom: 0px;
		cursor: pointer;
		z-index: 99;
		height: 47px;
		width: 57px;	
}

.sp_container .sp_next {
		right: 0px;	
}

.sp_container .sp_back {
		left: 0px;
}

.sp_container .sp_toc_open {
		position: absolute;
		bottom: 0px;
		cursor: pointer;
		z-index: 10;
		height: 23px;
		width: 100%;
		margin: auto auto;	
}

.sp_table_contents_container {
	position: absolute;
	z-index: 9999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: auto auto;
}

.sp_table_contents {
	position: relative;
	z-index: 9999;
	width: 70%;
	height: 100%;
	overflow-y: auto;
	margin: auto auto;
	padding: 5px;
}

.sp_container .clear {
	clear: both;	
}

.sp_container form {
	line-height: 2.5em;
	clear: left;
}

.sp_container input {
	cursor: pointer;
}

.sp_container label {
	cursor: pointer;
}

.sp_container .sp_print_answer {
	height: 0px;
	width: 0px;
	display: none;
}

h4.sp_accessible, .sp_accessible {
	position: absolute;
	text-align: left;
	left: -9999px;
	top: -2000px;
	height: 0px;
	width: 0px;
	z-index: 0;
	color: transparent;
	margin: 0px;
	padding: 0px;
	font-size: 0px;	
}


/* 
######################################################


mobile positioning/layout


######################################################
*/

.sp_horz_phone {
	position: relative;
	width: 486px;
	height: 254px;	
	overflow: auto;
	margin: 0px;
	overflow: hidden;
	clear: both;
	padding: 0px;
	z-index: 0px;
}

.sp_horz_phone .sp_slide h4 {
	position: relative;
	margin: 5px;
	padding: 0px;
	width: 250px;
	left: 0px;
}

.sp_horz_phone .sp_slide h4.sp_slide_title {
	position: relative;
	margin: 5px;
	padding: 0px;
	width: 250px;
	left: 0px;
}

.sp_horz_phone .sp_text_message {
	width: 180px;
}

.sp_horz_phone img {
	margin: 0px 7px;
}

.sp_horz_phone .sp_caption {
	position: relative;
	width: 220px;
	padding: 2px 4px;
	left: 25px;
	margin: 5px;
}

.sp_horz_phone .sp_mobile_back, .sp_mobile_next {
	position: absolute;
	bottom: 21px;
	cursor: pointer;
	z-index: 99;
	height: 34px;
	width: 43px;	
}

.sp_horz_phone .sp_mobile_next {
	right: 82px;
}

.sp_horz_phone .sp_mobile_back {
	left: 84px;	
}

.sp_horz_phone .sp_content {
	position: relative;
	width: 100%;
	height: 100%;
	/* text-align: center; */
	padding: 0px;
	margin: 0px;
}

.sp_horz_phone div.sp_slide {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	text-align: left;
	margin: 0px 0px 100px 0px;  /* if javascript is disabled, adds spacing between each slide */
	padding: 0px;
}

.sp_horz_phone .sp_padding {
	padding: 0px 100px;
}

.sp_horz_phone .sp_slide_counter {
	position: relative;
	text-align: right;
	font-weight: 100;
	left: 225px;
	margin: 0px;
	padding: 0px;
	letter-spacing: 1px;
}

.sp_horz_phone .sp_left {
	position: relative;
	float: left;
}

.sp_horz_phone .sp_right {
	position: relative;
	float: right;
}

.sp_horz_phone .clear {
	clear: both;	
}

.sp_horz_phone_top {
	position: relative;
	top: 0px;
	width: 486px;
	height: 31px;
	background:url("images/sp_phone_horz_top.png") no-repeat 0 0;
	margin: 0px auto;
	padding: 0px;
}

.sp_horz_phone_bottom {
	position: relative;
	top: -52px;
	width: 486px;
	height: 20px;
	background:url("images/sp_phone_horz_bottom.png") no-repeat 0 0;
	margin: 0px auto;
	padding: 0px;
}

.sp_horz_phone_left {
	position: relative;
	top: -275px;
	left: -201px;
	width: 84px;
	height: 204px;
	background:url("images/sp_phone_horz_left.png") no-repeat 0 0;
	margin: 0px auto;
	padding: 0px;
}

.sp_horz_phone_right {
	position: relative;
	top: -480px;
	left: 203px;
	width: 83px;
	height: 204px;
	background:url("images/sp_phone_horz_right.png") no-repeat 0 0;
	margin: 0px auto;
	padding: 0px;
}

.sp_horz_phone_middle {
	position: relative;
	top: -700px;
	left: 0px;
	width: 340px;
	height: 230px;
	background-color: #fff;
	margin: 0px auto;
	padding: 0px;
	z-index: -1;
}

/* 
######################################################


accordian | used for email in mobile phone.


######################################################
*/

dl.accordian > dt{margin-bottom:2px;padding-left:10px;color:#FFF;font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;line-height:35px;background-position:5px 3px;background-repeat:no-repeat;-webkit-user-select:none;-moz-user-select:none;background-color:#013d5c;}
dl.accordian > dt:hover{cursor:pointer;background-color:#013d5c;}
dl.accordian > dd{margin:0px;margin-bottom:2px;padding:5px;background-color:#FFF;border:1px solid #3f6d2d;border-top:none;}


/* 
######################################################


click to reveal positioning/layout


######################################################
*/

.sp_horz_clickReveal {
	text-align: center;
}

.sp_horz_clickReveal .sp_clickReveal_text, .sp_horz_clickReveal .sp_clickReveal_text h5 {
	position: absolute;
	top: -2000px;
	font-size: 0px;
	text-align: left;
	left: -9999px;
	color: #fff;
	height: 0px;
	width: 0px;
}

.sp_horz_clickReveal .sp_selected {
	position: absolute;
	top: 190px;
	font-size: 0px;
	text-align: left;
	padding: 15px 25px;
	left: 0px;
}

.sp_horz_clickReveal  .sp_img_container {
	position: relative;
	text-align: center;
	margin: auto auto; 
	clear: both;
	width: auto;
	display: inline-block;
	padding: 5px;
}
  
.sp_horz_clickReveal  .sp_clickReveal {
	position: relative;
	float: left; 
	text-align: center;
	margin: 4px;
	display: inline-block;
	z-index: 1;
	cursor: pointer;
}

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
jQPlayer 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

.jQPlayer {
	display: inline;
	padding: 0px 4px;
	cursor: pointer;	
}

.inline {
	display: inline;
}

/*
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Tooltips
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

span.tooltip{color:#881401;font-weight:bold;white-space:nowrap;border-bottom:1px dotted #990000;position:relative;}
span.tooltip:hover{cursor:pointer;}
span.tooltip{text-decoration:none;}
span.tooltip span{padding:10px;width:250px;color:#FFF;display:block;position:absolute;white-space:normal;left:0px;top:20px;font-weight:normal;background-color:#881401;text-decoration:none;z-index:1000;}
span.questionTooltip span{padding:10px;width:250px;color:#FFF;display:block;position:absolute;white-space:normal;left:0px;top:-40px;font-weight:normal;background-color:#881401;text-decoration:none;z-index:1000;}
span.questionTooltip span{padding:10px;width:350px;color:#FFF;display:block;position:absolute;white-space:normal;left:0px;top:-40px;font-weight:normal;background-color:#881401;text-decoration:none;z-index:1000;}
span.questionTooltip span{padding:10px;width:150px;color:#FFF;display:block;position:absolute;white-space:normal;left:0px;top:-40px;font-weight:normal;background-color:#881401;text-decoration:none;z-index:1000;}
span.margin-bottom {margin-bottom: 5px;}
span.tooltip span.tipRight{left:auto;right:0px;}

/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
border class added for testing purposes. do not use. style is hideous. :) 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

.sp_border {
	border: #F00 thick solid;
	background-color: #0C9;	
}

.center {
	position: relative;
	text-align: center;
}

.smaller_text {
	font-size: .9em;
	margin-top: 10px;	
}

.normal_text {
	font-size: 1em;
}