﻿.redcolor {
	color: #881401;
}
.book_icon {
	top: 12px !important;
}
.top_margin {
	margin-top: 26px;
}
.ui-slideshow-slide {
	margin-top: -17px !important;
	margin: 14px;
}
.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-dialog {
	height: 380px !important;
	width: 657px !important;
	top: 73px !important;
	margin-left: 19px !important;
}
.bottom {
	margin: 23px 10px 10px 105px;
	text-align: center !important;
	float: left;
}
.top {
	float: left;
	margin: 5px 10px 10px -10px;
	text-align: center;
}
.img1 {
	margin-left: 69px;
	margin-top: 25px;
}
#pop_1 {
	float: left;
	height: 237px;
	width: 222px;
	background-image: url("../imgs/01_08_01a_1.png");
	margin-left: 0px;
	background-repeat: no-repeat;
}
#pop_2 {
	height: 237px;
	width: 222px;
	background-image: url("../imgs/01_08_01a_2.png");
	float: left;
	margin-left: 5px;
	background-repeat: no-repeat;
}
#pop_3 {
	height: 237px;
	width: 222px;
	background-image: url("../imgs/01_08_01a_3.png");
	float: left;
	margin-left: 6px;
	position: absolute;
	background-repeat: no-repeat;
}
#pop_4 {
	float: left;
	height: 237px;
	width: 222px;
	background-image: url("../imgs/01_08_01a_4.png");
	background-repeat: no-repeat;
}
#pop_5 {
	float: left;
	height: 237px;
	width: 221px;
	margin-left: 5px;
	background-image: url("../imgs/01_08_01a_5.png");
	background-repeat: no-repeat;
}
.copyright1 {
	font-size: 12px;
	float: left;
	margin-top: 247px;
	margin-left: 58px;
	position: absolute;
}
.copyright2 {
	font-size: 12px;
	float: left;
	margin-top: 247px;
	margin-left: 281px;
	position: absolute;
}
.copyright3 {
	font-size: 12px;
	float: left;
	margin-top: 247px;
	margin-left: 511px;
	position: absolute;
}
.copyright4 {
	font-size: 12px;
	float: left;
	margin-top: 521px;
	margin-left: 165px;
	position: absolute;
}
.copyright5 {
	font-size: 12px;
	float: left;
	margin-top: 521px;
	margin-left: 392px;
	position: absolute;
}
.main_title {
	position: absolute;
	float: left;
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	color: #000000;
	margin-top: 23px;
	margin-left: 25px;
}
.img {
	float: left;
	margin-top: 53px;
	margin-left: 14px;
}
.left_txt {
	text-align: left;
	margin-top: 52px;
	/* font-size: 12px; */
	color: #000000;
	line-height: 1.4em;
	margin-left: 273px;
}
.pop_copy {
	margin-top: 3px;
	float: left;
	margin-left: 58px;
	font-size: 12px;
}
.bottom_copy {
	margin-left: -36px;
	margin-top: 554px;
	font-size: 12px;
	text-align: center;
}
