/* CSS Document */
.sortable li { 
	float: left; 
	width: 130px; 
	height: 200px;
	font-family: 'Shadows Into Light';
	font-weight: normal !important;
	line-height: 23px;
	font-size: 25px; 
	background: none !important;
	background-color: #f2f397 !important;
	border: thin solid #dbc824 !important;
}