﻿.left_img
{text-align:center;}
.topZero
{
top: -6px !important;
position: relative !important;
float: left;
margin-left: 7px;
margin-right: 2px;
}   
.ui_interactive .ui-slideshow-item {
margin-top: -54px;
}
.topZero2
{
color: #984842;
font-size: 12px;
}
.ital
{
font-style:italic;
}
.rightmain 
{
font-weight: bold;
text-align: left;
color: #003366;
font-size: 16px;
margin-bottom: 5px;
}
.ii
{
font-style:italic;
}
.down_con
{
font-size: 12px;
text-align: left;
width: 590px;
font-weight: 500;
margin-top: -14px;
font-style:italic;
line-height: 18px;
}