﻿.topZero
{
top: 0px !important;
position: relative !important;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.topZero2
{
color: #984842;
}
.copyrights
{
position: absolute;
margin-top: -43px;
font-size: 15px;
margin-left: 270px;
color: Black;
text-align: center;
}
.Main_head
{
text-align: center;
font-size: 15px;
font-weight: bold;
margin-bottom: 3px;
}
.Image
{
text-align:center;
}
.copyrights1
{
text-align: center;
margin-bottom: 7px;
font-size: 12px;
line-height: 1.4em;
}
   
.ui_interactive .ui-slideshow-item {
overflow: hidden;
margin-left: -18px;
}
.Btm_txt
{
float: left;
line-height: 18px;
font-size:12px;
font-style:italic;
margin-top: 3px;
}