﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.DropsC{width: 653px !important;float:left;margin:0px 0px 0px 0px;}
.DragC{width: 585px;
float: left;
margin-top: 89px;
margin-left: 0px;
font-size: 13px;}
.DragC>.draggable{width: 18px;height: 25px;text-align: center;padding: 5px;cursor: pointer;opacity: 1 !important;}
.droppables{min-height: 40px;
margin: -10px 12px 4px -24px;
padding: 0px;
float: left;
color: #FFF;
text-align: center;
line-height: 37px;
font-weight: bold;}
.drop_txt{width: 136px;min-height: 44px;float: left;margin-left: -10px;border: medium none;font-size: 12px;line-height: 1.4em;padding: 28px 4px 0px 9px;background-color: #D0D8E8;}
.drop_txts{width: 385px;min-height: 40px;margin: 4px 5px 5px -1px;padding: 0px;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 37px;float: left;}
.bin{background-color: transparent;padding: 0px !important;}
.DropsC ul{list-style-type: none;line-height: 18px;text-align: center;padding: 0px !important;margin: 0px;}
.draggable{opacity: 1 !important;cursor:pointer;}
.wid{min-height: 181px;
width: 177px;
margin-top: 0px;
float: left;
margin-right: 0px;
margin-left: 3px;
box-shadow: none !important;
position: absolute;
border: 2px solid #4F81BD !important;
background-color: #D0D8E8;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.assignment{margin-bottom: 0px;height: 50px;}
.ui_assessment hr{display: none;}
.ui_reset{margin-right: 35px;
bottom: 5px;}
.copyrightact{margin-top: -30px;position: absolute;text-align: center;width: 650px;color: #000;font-size: 10px;}
.ui_interactive .draggable p {padding-right: 0px !important;line-height: 12px;font-size: 12px;}
.ui-dialog {top: 200px !important;}
.disableDiv {background-color: #d0d8e8;}
.pos1 {left: 0px;top: 158px;}
.pos2 {left: 422px;top: 198px;}
.pos3 {left: 390px;top: 2px;}
.pos4 {left: 233px;top: 246px;}
.redCont{
    height: 33px;
    line-height: 2.4;
    background-color: #FD9D93;
    margin-left: 30px;
    padding-left: 5px;
    /*float: right;*/
    width: 133px;
    margin-bottom: 5px;
    border: 1px solid #B9B3B7;
}
.optDrg {
margin: 0px 2px 6px !important;
background-color: #FFF;
width: 137px;
text-align: center;
height: 23px !important;
padding: 7px !important;
}
.Head {
    text-align: center;
    height: 80px;
    background-color: #4F81BD;
    margin-bottom: 4px;
    color: #FFF;
    line-height: 5;
    font-weight: bold;
    border: 1px solid #B9B3B7;
    width: 102px;
    float: left;
    margin-right: 5px;
}
.head2{
height: 124px;
line-height: 9;
}
.blueCont{
    height: 50px;
    background-color: #e2f1f6;
    margin-left: 30px;
    padding-left: 5px;
    /*float: right;*/
    width: 133px;
    margin-bottom: 5px;
    border: 1px solid #B9B3B7;
}
.blueDrg {
margin: 0px !important;
background-color: #2bbdf1;
}
.pos1 .bin ul li,.pos2 .bin ul li,.pos3 .bin ul li,.pos4 .bin ul li {background-color: #9FC;
line-height: 16px;
margin: 4px 3px;
padding-top: 4px;
padding-bottom: 4px;}
.bin ul li {background-color: #2bbdf1;line-height: 30px;color: #000;}
.copyright{margin-top: 66px;position: absolute;text-align: center;width: 588px;bottom: 10px;}
.dragArea{
height: 82px;
background-color: #D0D8E8;
margin-bottom: 5px;
padding: 5px;
}
.dragArea2{height: 128px;}
.ui-state-highlight
{
    background:#D0D8E8 !important;
}