﻿.content
{
font-family: Arial;
font-size: 13px;  
padding-top: 0px;
}
.center_img
{
text-align: center;
margin-top: -9px;
}   
.center_txt
{
margin-top: 10px;
margin-left: -8px;
width: 632px;
font-size: 14px;
line-height: 18px;
}
.topZero
{
top: 0px !important;
position: relative !important;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.topZero2
{
color: #984842;height: 45px;
}