﻿.time-rail {
	width: 50px !important;
}
.right_content {
	margin-top: -10px;
	font-weight: bold;
	font-size: 16px;
}
.txt_right {
	float: left;
	margin-right: 12px;
	margin-top: 0px;
	text-align: left;
	width: 616px;
}
.txt_left {
	height: 250px;
	width: 314px;
}
.enlarge {
	width: 32px;
	height: 32px;
	background-image: url(../imgs/icons/img-enlarge.png);
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 3px;
	margin-right: 3px;
}
#cboxTitle {
	display: none !important;
	position: absolute;
	top: -20px;
	left: 0;
	color: #ccc;
}
.ui_interactive .ui-dialog {
	width: 508px !important;
	left: 82px !important;
	top: 25px !important;
}
.ui_interactive .ui-dialog-titlebar {
	height: 25px;
}
