﻿.topSort li {
	margin: 0px 3px 3px;
	padding: 0.4em 0.4em 0.4em 1.5em;
	font-size: 1em;
	height: 82px !important;
	width: 530px !important;
	display: inline-block;
}
.termDiv {
	width: 48%;
	float: left;
	margin-left: -7px !important;
}
.descriptionDiv {
  position: absolute;
  margin-left: 317px;
}
.descriptionDiv h2 {
	text-align: center;
	font-size: medium;
	font-size: 1em;
	line-height: 10px;
}
.termDiv li {
	background-color: #8B9EC8;
	border: 2px solid #D0D0D0;
	color: #FFF;
	font-size: 13px;
	height: 131px;
	line-height: 1.2;
	list-style: outside none none;
	margin: 3px;
	padding: 2px;
}
.ui-state-default {
	color: #ffffff;
}
.ui-sortable-helper {
	width: 430px !important;
}
.ui_assessment hr {
	display: none;
}
.termDiv h2 {
	text-align: center;
}
.h3 {
	text-align: center;
	color: #FFF !important;
	font-weight: bold;
	border: 2px solid #D0D0D0;
	background: none repeat scroll 0% 0% #4F81BC;
	line-height: 3;
	width: 306px;
	margin-left: 3px;
}
.h3_2 {
	margin-left: 10px;
	width: 301px;
}
.ui_sortable {
	width: 464px !important;
}
#item_1, #item_2, #item_3, #item_4, #item_5, #item_6, #item_7, #Li1, #Li2, #Li3, #Li4 {
	background-color: #D0D7E7;
	border: 2px solid #D0D0D0;
	color: #000;
	cursor: pointer;
	font-size: 13px;
	height: 132px !important;
	margin-top: 4px;
	opacity: 1;
	position: relative;
	line-height: 1.2;
	padding: 1px;
/*	text-indent: 18px; */
	width: 299px !important;
	z-index: 0;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.ui_edge_buttons {
	margin-left: 470px !important;
	bottom: 10px;
	position: absolute;
}
.sortable li {
	width: 95% !important;
}
.sortable {
	width: 96.4% !important;
}
.assignment {
	margin-bottom: 0px;
}
.content ul, .content ol {
	padding-left: 7px !important;
}
.ui-dialog {
	top: 200px !important;
}
.numbers {
	width: 14px;
	height: 142px;
	float: left;
}
.termDiv ul {
	margin: 0px !important;
	padding: 0px !important;
}
.termDiv li div {
	text-align:left;
}