body {
	background-color: #fff;
	/*background-image:url(../imgs/bg_x.png);
	background-repeat: repeat-x;
	font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
	background-position: top;*/
}

#lo_interactive {
	/*background-image:url(../imgs/bg.jpg);*/
	position: relative;
	color: #3b500c;
	min-height: 420px;
	width: 700px;
	/*height: 600px*/;
	margin: 0 auto;
	margin-top: 25px;
	/*padding: 22px;*/
	border: #369 1px solid;
	/*background-color: #003f69;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #888888;
	-webkit-box-shadow: 1px 1px 8px #888888;
	-moz-box-shadow: 1px 1px 8px #888888;
	background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(0,63,105,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(0,63,105,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(0,63,105,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(0,63,105,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(0,63,105,1) 100%);
	background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(0,63,105,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#003f69', GradientType=1 );
}
.ui_interactive p, .ui_interactive h2, .phone_textversion p, .textVersion p {
	color: #005e98 !important;	
}
.center {
	display:block;
	margin: 0 auto;	
	text-align: center;
}