﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	font-size: 12px;
}
.ui-slideshow-item {
	margin-top: -27px;
}
.txt_i {
	font-style: italic;
}
.copyright {
	font-size: 12px;
	line-height: 17px;
	margin-bottom: -12px;
	text-align: center;
	display: block;
	margin-top: 397px;
}
.main_txt {
	font-size: 14px;
	color: #000000;
/*	float: left;*/
	margin-top: -10px;
	text-align: center;
/*	margin-left: 292px;*/
	font-weight: bold;
}
.img {
	float: left;/*    margin-left: 51px;*/
}
.down_txt1 {
	margin-top: 14px !important;
/*	margin-left: 42px !important;*/
}
.down_txt {
/*	width: 552px;*/
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
	color: #003366;
	margin-top: 2px;
/*	margin-left: 24px; */
}
.carousel {
	margin-left: 45px; 
}
.copyright1 {
	font-size: 12px;
	line-height: 17px;
	margin-bottom: -13px;
	text-align: center;
	display: block;
	margin-top: 302px;
}
.hiddentool {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 446px;
	left: 126px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
#chkTool {
	color: #003366;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	border-bottom: 1px dotted #003366;
}
.hiddencontent {
	color: #fff;
}
.close2 {
	position: absolute;
	right: -9px;
	background-image: url("../imgs/05_06_06a_btnclose.png");
	background-repeat: no-repeat;
	top: -11px;
	z-index: 103;
	height: 26px;
	width: 25px;
	cursor: pointer;
}
.a1 {
	color: #000 !important;
}
