﻿.ui_custom_dialog_trigger {
	cursor: pointer;
}
.txt {
	font-size: 12px;
	font-style: italic;
}
.copyrights {
	position: absolute;
	margin-top: -40px;
	text-align: center;
	font-size: 15px;
	margin-left: 339px;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-dialog {
	width: 550px !important;
	height: 200px;
	top: 10px !important;
}
.sub_txt {
	margin-left: 275px;
}
.map {
	width: 454px;
	height: 450px;
	margin-left: 94px;
}
.blink1 {
    margin-left: 63px;
    margin-top: -18px;
}
.blink2 {
    margin-left: -15px;
    margin-top: -17px;
}
.blink3 {
    margin-left: 59px;
    margin-top: -17px;
}
.blink4 {
    margin-left: 20px;
    margin-top: 0;
}
.blink5 {
    margin-left: -15px;
    margin-top: -17px;
}
#denmark {
    height: 20px;
    left: 228px;
    position: absolute;
    top: 203px;
    width: 83px;
}
#netherland {
    height: 20px;
    left: 280px;
    position: absolute;
    top: 248px;
    width: 90px;
}
#belgium {
    height: 20px;
    left: 196px;
    position: absolute;
    top: 267px;
    width: 80px;
}
#france {
    height: 20px;
    left: 210px;
    position: absolute;
    top: 303px;
    width: 50px;
}
#switz {
    height: 20px;
    left: 295px;
    position: absolute;
    top: 314px;
    width: 85px;
}
