﻿.redcolor {
	color: #881401;
	position: relative;
}
.icon1 {
	margin-top: 18px !important;
}
.map {
	margin-bottom: 10px;
	margin-left: -38px;
	text-align: center;
}
.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-slideshow-slide {
	margin-top: -37px;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-dialog {
	width: 551px !important;
	height: 442px !important;
	top: 0px !important;
	margin-left: 2px;
}
.img {
	text-align: center;
	line-height: 3.4em;
}
.content1 {
	margin-top: 7px;
	margin-left: 5px;
	font-size: 14px;
}
#popup_1, #popup_2, #popup_3, #popup_4 {
	background-image: url(../images/spacer.png);
	background-repeat:repeat;
}
#popup_1 {
	position: absolute;
	height: 55px;
	width: 96px;
	margin-left: 90px;
	margin-top: -432px;
}
#popup_2 {
	position: absolute;
	height: 61px;
	width: 45px;
	margin-left: 312px;
	margin-top: -420px;
}
#popup_3 {
	position: absolute;
	height: 60px;
	width: 93px;
	margin-left: 336px;
	margin-top: -217px;
}
#popup_4 {
	position: absolute;
	height: 70px;
	width: 166px;
	margin-left: 406px;
	margin-top: -117px;
}
