﻿.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog {
	width: 675px;
	height: 485px !important;
	top: 38px !important;
	left: 13px !important;
}
.ui-dialog-buttonset {
	display: none;
}
#blinka {
	top: 276px;
	right: 306px;
	position: absolute;
}
#blinkb {
	top: 290px;
	right: 252px;
	position: absolute;
}
#blinkc {
	top: 285px;
	right: 228px;
	position: absolute;
}
.ui_slide ui-slideshow-item {
	height: 349px ! important;
}
.map {
	margin-left: -1px;
	margin-top: 38px;
	text-align: center;
	margin-bottom: 29px;
	line-height: 28px;
}
.ui_slide ui-slideshow-item {
	height: 349px;
	overflow: hidden;
	width: 588px;
}
.top_txt1 {
	position: absolute;
	margin-left: -11px;
	margin-top: -10px;
	width: 600px;
}
.img1 {
	position: absolute;
	margin-left: -9px;
	margin-top: 65px;
}
.rights1 {
	position: absolute;
	margin-left: 49px;
	margin-top: 328px;
}
.right_txt1 {
	position: absolute;
	margin-left: 246px;
	margin-top: 67px;
	width: 362px;
}
.img2 {
	position: absolute;
	margin-left: -10px;
	margin-top: 40px;
}
.rights2 {
	position: absolute;
	margin-left: 49px;
	margin-top: 302px;
}
.right_txt2 {
	position: absolute;
	margin-left: 246px;
	margin-top: 44px;
	width: 362px;
}
.top_txt2 {
	position: absolute;
	margin-top: -12px;
	margin-left: -7px;
	width: 599px;
}
.navi {
	color: #881401;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
