@charset "utf-8";
/* CSS Document */

@media screen{
ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, hr{
margin:0px;
padding:0px;
}
body{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
}
div#header{
width:100%;
height:40px;
background-color:#3c2c15;
}
h1{
margin-left:20px;
color:#FFF;
font-size:20px;
float:left;
line-height:40px;
}
div#header ul{
list-style-type:none;
position:absolute;
left:140px;
top:5px;
}
div#header ul li, div#header ul li a{
color:#FFF;
float:left;
}
div#header ul li a{
margin-right:1px;
padding:5px;
display:block;
text-decoration:none;
font-weight:bold;
text-align:center;
background-color:#957343;
}
div#header ul li a:hover{
background-color:#7e5f31;
}
div#margin{
margin-top:20px;
margin-bottom:20px;
}


}