﻿.left_txt {
	float: left;
	font-style: italic;
/*	margin-left: -11px; */
	margin-top: 17px;
	font-size: 14px;
	width: 308px;
}
.righ_img {
	float: left;
	margin-left: 13px;
	margin-top: 26px;
}
.main_con {
	margin-bottom: 13px;
	margin-top: -314px;
	text-align: center;
	font-weight: bold;
}
.main_con1 {
	margin-bottom: 5px;
	margin-top: -351px;
	text-align: center;
	font-weight: bold;
}
.main_con3 {
	margin-bottom: 19px;
	margin-top: -28px;
	text-align: center;
	font-weight: bold;
}
.ui_interactive .copyright {
	margin-top: 4px;
}
.copyright1 {
	font-size: 12px;
	line-height: 17px;
	text-align: center;
}
.copyrights {
	position: absolute;
	margin-top: -43px;
	font-size: 15px;
	margin-left: 215px;
	color: #ffffff;
}
.slide_righ_img {
	float: left;
	margin-left: 45px;
	margin-top: 26px;
}
.main_slides {
	margin-top: -17px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 50px;
}
