﻿
.topSort li
{
    margin: 0px 3px 3px;
    padding: 0.4em 0.4em 0.4em 1.5em;
    font-size: 1em;
    height: 40px !important;
    width: 436px !important;
    display: inline-block;
}
.zeroTop
{
    top: 0px !important;
}

.ui_edge_buttons
{
    margin-top: 12px !important;
    margin-right: 35px !important;
}
.left1
{
    height: 360px;
    width: 143px;
    float: left;
    margin-left: -28px !important;
}

.right1
{
    float: left;
    height: 350px;
    width: 479px;
}
.right1 h2
{
    text-align: center;
    font-size: medium;
    font-size: 1em;
    line-height: 10px;
}

.left1 li
{
    background-color: #003466;
    height: 37px;
    margin: 3px;
    border: #000;
    border: 2px solid;
    list-style: outside none none;
    color: #ffffff;
    padding: 5px;
}
.ui-state-default
{
    color: #ffffff;
}
.ui_assessment hr
{
    display: none;
}
.left1 h2
{
    text-align: center;
}


.h3
{
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: -16px;
}

.right11
{
    float: right;
    height: 240px;
    width: 473px;
}

.left11
{
    height: 240px;
    width: 272px;
    float: left;
    margin-left: -28px !important;
}

.margin
{
    margin: 6px 6px -6px 0px;
}

.ui_sortable
{
    width: 464px !important;
}

#item_1, #item_2, #item_3, #item_4, #item_5, #item_6, #Li1, #Li2, #Li3, #Li4
{
    display: block;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 13px;
    height: 61px;
    padding: 3px;
    position: relative;
    margin-bottom: 6px;
    opacity: 1;
    z-index: 0;
    background-color: rgb(1, 113, 186);
    margin-top: 4px;
}

.screenlt li
{
    height:58px;
}
.screenlt
{
    height: 360px;
    width: 218px;
    float: left;
}

.screenrt
{
    float: left;
    height: 350px;
    width: 395px;
}
