﻿.circleimg {
	text-align: center;
	line-height: 230px;
	top: 88px;
	position: relative;
	height: 550px;
}
.image-container span.copyright {
	font-size: 13px !important;
	display: block;
	margin-top: 7px !important;
}
.topZero {
	top: 0px !important;
}
.topZero2 {
	color: #984842;
	position: relative;
}
.ii {
	font-style: italic;
}
.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-dialog {
    height: 543px !important;
    left: 7px !important;
    top: 63px !important;
    width: 679px;
}
.ui_slide {
	height: 442px !important;
}
.slidehead {
	position: absolute;
	top: -2px;
	left: 0px;
}
.titleTag {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-left: -11px;
	margin-top: -1px;
	position: absolute;
}
.btm_txt {
	margin-left: -10px;
/*	width: 554px; */
	margin-top: 6px;
}
.img {
	position: absolute;
	top: 32px;
	left: -1px;
	width: 565px;
}
.imagesss {
	position: absolute;
	top: 46px;
	left: 3px;
	width: 605px;
}
.txt {
	margin-left: 194px;
	margin-top: 26px;
/*	width: 363px; */
}
.txt1 {
	margin-left: 263px;
	margin-top: 26px;
/* 	width: 285px; */
}
.right1txt {
	position: absolute;
	top: 36px;
	left: 205px;
	width: 400px;
}
.last_txt {
	margin-left: 270px;
	margin-top: 39px;
	width: 326px;
}
.yscroll {
	overflow-y: scroll;
	height: 325px;
}
.e2 {
	left: 362px !important;
	width: 204px !important;
}
.note {
	position: absolute;
	top: 345px;
	left: 294px;
	font-style: italic;
	color: #881401;
}
.itali {
	font-style: italic;
}
.ui_slide.ui-slideshow-item {
    width: 600px !important;
}