﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    }
.topZero2{color: #984842;}
.img
{
    position: absolute;
margin-left: -11px;
margin-top: 22px;
}
.ii
{
    font-style:italic;
}
.customPopDiv
{
   position: absolute;
top: 8px;
left: 301px;
padding: 10px;
width: 333px;
border: 1px solid #000000;
background-color: #EFEFEF;
display: none;
height: 440px !important;
}

.customPopDiv > .head1
{
    font-weight: bolder;
margin-bottom: 10px;
width: 287px;
}
.customPopDiv > .content1
{
    position: absolute;
margin-left: 191px;
margin-top: 1px;
width: 143px;
    font-size: 13px;
}
.customPopDiv > .copyrights
{
   
    float: right;
    font-size: 13px;
}
.clickarea
{
    cursor:pointer;
}
.left {
float: left;
margin: 20px;
margin-left: 1px;
margin-top: 2px;
}
.close1 {
width: 26px;
height: 25px;
cursor: pointer;
position: absolute;
margin-left: 324px;
margin-top: -19px;
z-index: 100;
background-image: url("../img/06_04_05a_btnclose.png");
}
.close2
{
    background-position: -309px 2px;
}

.copyrights
{
position: absolute;
margin-top: 244px;
margin-left: -3px;
width: 190px;
text-align: center;
font-size: 12px !important;
}

.imginpop
{
   position: absolute;
margin-left: -3px;
margin-top: 2px; 
    }