/*     customize styles            */

.tcontent, .bulletContent, .accord-text, .listed, .listed-number, .Linktext, .notesheading, .notes, .toggle-txt, .BulletFilename
{
	font-family: Arial, Verdana,Helvetica, sans-serif !important;
	color:#3E3E3E;
	font-size:13px;
	
}
.tcontent{
	line-height:1.5em;
}

.rcontent
{
	/* For radio button with text*/
	line-height:21px;
}

.rcontent input
{
	/* For radio button with text*/
	margin-right:10px;
}

.theading, .theading2,h1,h2
{
	line-height:33px;
	color:#256C95;
	font-size:16px;
}
/*.correct, .incorrect, .response{
	height:70px; 
	overflow:auto;
}*/
/*.toggle-txt-2
{
	font-size:.9em;
}*/
.controlLink, .controlLink1, .CardHolderTxt, .cardSmalltitle
{
	font-size:12px;
}
.theading3, .theading4
{
	font-size:16px;
}
.theading3, .theading4 /*.toggle-heading-1g1,.toggle-heading, .link-orange*/
{
	color:#FC8A2C;
}
.controlLink, .controlLink1
{
	color:#9d0102;
}
/*.link-small-right, .link-small-right1, .link-small-left, .imgLeft, .imgRight, .btn
{
	font-size:11px;
}*/
/*.leftpos60{
	padding:10px 10px 10px 40px;
	background-color:#EAE4D0; 
}*/
.tabulardatabgcolor /*, .bgcolor*/
{
	background:#FBF3DC;
}

.tabulardata{
width:100%;
border-top:1px solid #C09B6E;
border-left:1px solid #C09B6E;
background:#fff;
}
.tabulardata th{
background:#F3C68B;
padding:10px 0px 10px 0px;
border-right:1px solid #C09B6E;
border-bottom:1px solid #C09B6E;

}
.tabulardata td{
border-right:1px solid #C09B6E;
border-bottom:1px solid #C09B6E;
padding:5px 5px 5px 5px;
font-size:14px;
color:#585455;
vertical-align:top
}
/* -------- customize styles End --------*/

/* CSS Document */
p
{
	margin:0;
}
.theading,h1{
background:url(template_image/border-bg.jpg) no-repeat scroll left bottom transparent;
font-weight:bold;
}
.theading2,h2{
font-weight:bold;
}
.theading3Bg{
	background:url(template_image/dumbles.png) no-repeat scroll left bottom transparent;
	padding-top:20px;

}
.theading3{
	margin:10px 0px 10px 60px;
	border-bottom:1px solid #FC8A2C;
	border-bottom-style:dotted;
	height:22px;
}
.theading4{
height:30px;
float:left;
padding:10px 0px 0px 0px;
font-size:16px;
}
.theading5{
    color: #256C95;
    font-size: 20px;
    padding-top: 10px;
    margin: 0;
}
.tmpdata
{
	display:none;
}
.leftpos60{
	padding:10px 10px 10px 40px;
	background-color: rgb(234, 228, 208); 
}
.leftpos{
	padding-left:60px;
}


.content
{
	height:inherit;
	width:inherit;
}

.ControlContainer
{
	height:inherit;
	width:inherit;
	z-index:1999;
}
.editcontent
{
}
.editablebox
{
	min-width:100px;
	min-height:21px;
	border:solid 1px #cccccc;
}

.default
{
	height:inherit;
	width:inherit;
	
}
/* Bullet Editable*/
	.bulletContent{
	    padding: 0;
	    list-style: none;
	    float:none !important;
		margin:0px 0px 20px 60px;
        }
	.bulletContent ul{
		margin:0px;
		padding:0px;
		}
     .bulletContent li
     {
		padding:0px 0px 5px 0px;
		list-style-image:url(template_image/BulletArrow.jpg);
		font-size:14px;
		line-height:14px;
        }
/* Bullet End */
.tbl1   {  }
.tbl1 tr td { border: 1px solid #e4e4e4 }

.scrollParent{
	height:inherit;
	width: inherit;
	overflow: auto;
}

.controlParent
{
	position: relative;
}
.control
{
	display:none;
	position:absolute;
	left:0;
	top:0;
	overflow:visible !important;
	z-index:2000;
}

.controlLink{
	text-decoration:none;
	cursor:pointer;
	position:absolute;
	top:-20px;
}
.controlLink:link{
	text-decoration:none;
}
.controlLink:visited{
	text-decoration:none;
}
.controlLink:hover{
	color:#000000;
	text-decoration:none;
}

.controlLink1{
	text-decoration:none;
	cursor:pointer;
	font-weight:bold;
	position:absolute;
	right:5px;
	top:-20px;
}
.controlLink1:link{
	text-decoration:none;
}
.controlLink1:visited{
	text-decoration:none;
}
.controlLink1:hover{
	text-decoration:none;
}

.outerContainer{
	height:inherit;
	position:relative;
	max-height:inherit;
	
}

.outerContainer2{
	height:inherit;
	width:inherit;
	overflow:auto;
	max-height:inherit;
}
.innerContainer1{
	background-color:#fcfcfc;	
	position: absolute;
	bottom:0px;
	left:0px;
	right:0px; 
	top:36px; 
	overflow:auto;
}

.innerContainer2{
	position:absolute; 
	bottom:0px; 
	top:102px; 
	overflow:auto; 
}

.editorContainer{
	overflow: visible !important;
	position: relative;
}

.modalDevInstr
{
    border:solid 1px #444444;
    position:absolute;
    display:none; 
    background-color:#e4e4e4;
    height:300px;
    width:440px;
    z-index:2000;
    left:0px;
    top:0px;
}

.modalDevInstrClose
{
    padding:1px 5px 0px 5px;
    font-weight:bold;
    cursor:pointer;
    font-size:14px;   
}

.devInstruction
{
	height:120px;
	overflow:auto;
}
/* ########### Slide Show start ###########*/
.slideshow {
    position:relative;
    /*height:inherit;
    width:inherit;*/
    height:100%;
    width:100%;
}

.slideshow img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 8;
}

.slideshow img.active {
    z-index:10;
}

.slideshow img.last-active {
    z-index:9;
}
.BulletFilename li
{
    background:url(template_image/BulletFile.png) no-repeat 0px 5px;
    padding:0px 0px 0px 0px;
    line-height:20px; 
}
/* ########### Slide Show end ###########*/
.hide
{
	display:none;
}


.accord-effect{
width: 100%;
border: 1px solid #D0D0D0;
}
.accord-content{
background-color: #eee;
background-image:url(template_image/acc-bg.jpg);
background-repeat:repeat-x;
}

.accord-effect p {
margin-bottom : 10px;
border: none;
text-decoration: none;
margin: 0px;
padding: 10px;
}
.accord-effect a.headone {
	background-image: url("template_image/blue-normal.png");
	color: white;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    height: 33px;
    margin-top: 0;
    
    text-align: left;
    text-decoration: none;
    width: 99%;
}

.accord-effect a.headone .arrow
{
	background: url("template_image/blue-arrow-normal.png") no-repeat right;
	padding: 8px 0 0 5px;
}

.accord-effect a.selected .arrow
{
	background: url("template_image/blue-arrow-selected.png") no-repeat right;
	padding: 8px 0 0 5px;
}

.accord-effect a.headone:hover{
	/*background-color: white;*/
	background-color:#488bb3;
}
.accord-effect a.selected {
    background-image: url("template_image/blue-selected.png");
    color: white;
}
.accord-tab_content {
background-color:#FEFEFE;
background-image:url("template_image/acc-bg.jpg");
background-repeat:repeat-x;
padding-left:10px;
padding-right:10px;
}
.accord-text{
padding-top:10px;
line-height:1.1em;
}
.tab_content-nav{
width:693px;
/*height:270px;*/
padding:10px;
padding-top:0px;
}
.listed{
padding:0px 0px 0px 30px;
float:left;
}

.listed li{
padding:0px 0px 3px 15px;
background:url("template_image/arrow.jpg") no-repeat 0px 5px;
}

.listed-number{
padding: 10px 30px 0px 30px;
float:left;
margin:0px;
}
.listed-number li{
padding:0px 0px 5px 5px; 
list-style-type: decimal;
}
.fadecontent{ /*style for each fade content DIV within wrapper. Total width: 330px+10px+10px=350px (".fadecontentwrapper" width minus its padding and borders, if any) */
display:none;
width:693px;
}
.fadecontent p{
padding-top:10px;
 }
.fadecontenttoggler{
padding-top:14px;
padding-right:10px;
text-align:right;
}

/* Named Anchor  start */
.link-border{
line-height:16px;
padding:0px;
background:url(../../images/link-border.jpg) repeat-x bottom left;
padding-bottom:1px;
font-size:14px;
color:#0000FF;
text-decoration:none;
}

.link-border:hover{
line-height:16px;
padding:0px;
background:url(../../images/link-border-hover.jpg) repeat-x bottom left;
color:#32aef5;
}

.Linktext
{
margin:0px;
padding-top:10px;
width:739px;
}
/* Named Anchor Ends */

/* Notes Starts*/
.notesheading{
padding-top:10px;
line-height:1.1em;
font-weight:bold;
}

.notes{
padding-top:10px;
line-height:1.1em;
}

.paperstick2 {
background:url("template_image/activity_bg.png") no-repeat;
height:270px;
margin:0 auto;
padding:40px 20px 0px;
width:470px;
}

/* Notes Ends*/

.site-tabs {
    float:left;
    padding-top:10px;
    width:100%;
    }

    ul.tabs {
        float:left;
        height:35px;
        list-style:none outside none;
        margin:0;
        padding:0; 
    }
    
    .taborange{
        border:1px solid #D0D0D0;
        background-image:url("template_image/hash-grad.jpg");
        background-position:left top;
        background-repeat:repeat-x;
        color:#000000;
        float:left;
        font-size:0.9em;
        height:26px;
        padding:7px 10px 0;
        text-decoration:none;
        width:95px;
        overflow:hidden;
    }
    
    .tabAdd{
        border:1px solid #D0D0D0;
        width:70px;
        background-color:#F4F4F4;
        color:#000000;
        font-size: 0.8em;
        height:16px;
        padding:0;
        text-decoration:none;        
    }
    .tabactive {
        background-image:url("template_image/orange-grad.jpg");
        background-position:left top;
        background-repeat:repeat-x;
        color:#000000;
    }

.tab_background
{
     background-color:#FEFEFE;
    background-image:url("template_image/acc-bg.jpg");
    background-repeat:repeat-x;
}    
.tabVertical_background
{
     background-color:#FEFEFE;
    background-image:url("template_image/acc-bg.jpg");
    background-repeat:repeat-x;
    width:800px;/**/
}    

    .tab_content {
        padding-left:10px;
        padding-right:10px;
        /*width:954px;
        height:320px;     */
    }
    .tab_templatecontent {
        /*position:absolute; height:320px;*/
        background-color:#e4e4e4;
        padding-left:10px;
        padding-right:10px;
        border:1px solid #D0D0D0;   
        width:915px; 
        /*z-index:100;  */
    }
   
    
    .tab_templatecontentVertical {
        /*position:absolute; height:320px;*/
        background-color:#e4e4e4;
        padding-left:10px;
        padding-right:10px;
        border:1px solid #D0D0D0;   
        width:780px; 
        /*z-index:100;  */
    }

.devInstruction
{
	height:120px;
	overflow:auto;
}
/* TV Tab starts*/

.tvtab{
width:530px;
height:404px;
background:url(template_image/tvtab_bg.jpg) no-repeat;
padding:20px 20px 0px 20px;
}
.tvtab-container{
width:530px;
height:343px;
}
.tvtabs{
width:530px;
height:333px;
font-size:13px;
color:#fff;
}
.tvtabs audio{
float:left;
margin-top:10px;
padding:0px;
width:200px;
}
.tvtab-nav{
width:530px;
padding-top:7px;
text-align:center;
}
.tvtab-nav img{
vertical-align:middle;
cursor:pointer;
}
.tvtabcontent
{
    margin-left:10px;
    margin-top:20px;
    width:500px;
}


/* TV Tab ends*/

.ImgBox
{
    background-color:#c4c4c4;
    border:solid 2px gray;
    height:120px;
    width:135px;
    margin-top:10px;
    margin-left:10px;
}

.ImgBox img
{
    height:120px;
    width:135px;
}
/* ###########Click Reveal Start ################ */
.ClickReveal{
padding:0px;
width:inherit;
}
.ClickReveal-down{
background-image:url(template_image/down.jpg);
background-repeat:no-repeat;
height:38px;
cursor:pointer;
background-position:right;
}

.ClickReveal-up{
background-image:url(template_image/up.jpg);
background-repeat:no-repeat;
height:38px;
cursor:pointer;
background-position:right;
}

.ClickReveal-Thumb
{
width:55px;
height:34px;
float:left;
padding:2px;
}

.ClickReveal-body
{
border-right:1px solid #C9CED7;
border-left:1px solid #C9CED7;
border-bottom:1px solid #C9CED7;
padding:10px;
min-width:875px;
width:97.7%;
}


.ClickReveal-Head-bg{
	background:url(template_image/tog-down-bg.jpg) repeat-x;
	height:38px;
	border:1px solid #c2cbd0;
}

/* ###########Click Reveal end ################ */

/* ########### map External link start ################ */
.htmlButton{
background: url(template_image/btn_leftbg.jpg) no-repeat top left;
display:inherit;
line-height: 19px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 22px; /* Height of button background height */
padding-left:5px; /* Width of left menu image */
text-decoration: none;
color:#000000;
margin-right:10px;
border:none;
}

.htmlButton div{
background: url(template_image/btn_rightbg.jpg) no-repeat top right;
display: block;
color: #000000;
height: 22px;
text-decoration: none;
padding-right:5px;
border:none;
}

.WheelImg
{
background: url(template_image/wheel.png) no-repeat top left;
width:52px;
height:44px;
}

.DiscoveryImg
{
background: url(template_image/discovery.jpg) no-repeat top left;
width:101px;
height:61px;
}

/* ########### map External link end ################ */


/* Drag Drop Type 1 Start */
.Question{
	/*font-size:14px;
	font-weight:bold;
	color:Black;*/
}
.formatText{
	
	
}

.ImgBox
{
    background-color:#c4c4c4;
    border:solid 2px gray;
    height:120px;
    width:135px;
    margin-top:10px;
    margin-left:10px;
}

.ImgBox img
{
    height:120px;
    width:135px;
}

.ImgBox1
{
    
    height:120px;
    width:135px;
    margin-top:10px;
    margin-left:10px;
}

.ImgBox1 img
{
	background-color:#c4c4c4;
    border:solid 2px gray;
	height:100%;
	width:100%;
}



.ContainerSlno
 {
    position:absolute; 
    z-index:22000;
    color:#000000;    
    left:0px;
    top:0px;
    font-size:11px;
    font-weight:bold;
    background-color:#00FF00;
    width:14px;
    height:18px;
    border:solid 1px #c4c4c4;
    padding-bottom:1px;
    text-align:center;
 }
  
 
 .ContainerSlnoWrong
 {
    position:absolute; 
    z-index:22000;
    color:#FFFFFF;    
    left:0px;
    top:0px;
    font-size:11px;
    font-weight:bold;
    background-color:red;
    width:14px;
    height:18px;
    border:solid 1px #c4c4c4;
    padding-bottom:1px;
    text-align:center;
 }
 
 .ContainerSlnoMoveTopLeft
 {
     height:12px;
     top:-11px;
     left:-9px;     
     padding-bottom:6px;
 }
  .MoveTopLeft
 {
     height:12px;
     top:-11px;
     left:-9px;     
     padding-bottom:6px;
     position:absolute;
 }
/* Drag Drop Type 1 End */
/* Drag Drop Type 2 Start */


.DragDrop2QusBox
{
    position: relative;
    margin:5px;
    border:1px solid gray;
    height:120px;
    width:138px;
}

.DragDrop2QusText
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    height:120px;
    width:138px;
    
}

.DragDrop2ImgBoxContainger
{
    position:relative;
    margin:5px;
    height:120px;
    width:135px;
    border:solid 1px gray;
}

.DragDrop2ImgBox
{
    
    height:120px;
    width:135px;
    position:absolute !important;
    top:0px;
    left:0px;
}

.DragDrop2ImgBox img
{
	height:120px;
	width:135px;
}

/* Drag Drop Type2 End*/

/*Drag Drop Type3 Start*/

.dragContainer
{
    background-color:#E6F0F9;
    border:solid 4px #A4C8E6;
    height:30px;
    width:200px;
    color:Black;
    cursor:pointer;
    
}

.dropContainer
{
    position: relative;
    background-color:#E6E6E6;
    color:#c6c6c6;
    border:solid 4px #E6E6E6;
    height:40px;
    width:210px;
    margin-left:10px;
    margin-top:15px;
}

.drag1Container
{
    background-color:#E6F0F9;
    border:solid 4px #A4C8E6;
    height:50px;
    width:125px;
    color:Black;
    cursor:pointer;
}

.drop1Container
{
    position: relative;
    background-color:#E6E6E6;
    color:#c6c6c6;
    border:solid 4px #E6E6E6;
    height:60px;
    width:131px;
    margin-left:10px;
    margin-top:15px;
}

.matchQusContainer
{
    background-color:#E6F0F9;
    color:Black;
    border:solid 4px #A4C8E6;
    height:40px;
    width:210px;
    margin-top:15px;
    display:table-cell;
    vertical-align:middle;
}
/*Drag Drop Type3 End*/

/* Hangman Start */

.HangmanKey
{
    border:solid 1px gray;
    background-color: #62A0D5;
    color:White;
    font-size:14px;
    margin:5px 5px 5px 5px;
    cursor:pointer;
    height:20px;
    width:20px;
    text-align:center;
}

.HangmanKeyDisable
{   
    border:solid 1px white;
    background-color: #CCCCCC;
    color:black;
    font-size:14px;
    margin:5px 5px 5px 5px;
    cursor:auto;
    height:20px;
    width:20px;
    text-align:center;
}

.HangmanSpell
{
    height:20px;
    width:20px;
    font-size:16px;
    border-bottom:solid 1px black;
    margin-left:7px;
    text-align:center;
}


.HangmanImg
{
    position: absolute;
	bottom:0px; 
	top:0px; 
	left:0px;
    background-color:#f4f4f4;
    width:286px;
    height:337px;
}

.HangmanImgContainer
{
    position:relative;
    background-color:#f4f4f4;
    width:287px;
    height:338px;
}

.hintContent
{
    background-color:#ffffcc;
    border:solid 1px #999999;
    color:#464646;
    font-size:14px;
    padding:5px 5px 5px 5px;
    margin:0px 25px 0px 5px;
}
/* Hangman End */

/* JigSaw Start*/

.JigsawAttendContainer
{
    position:relative;
    width:320px;
}

.JigsawSplitedImageContainer
{
    position:relative;
    height:inherit;
    width:inherit;
    margin-top:20px;
}

.JigsawImgContainer{
    float: left; 
    position:relative;
    padding-left:7px;
    padding-top:7px;
    height: 110px; 
    width: 110px;
}

.JigsawImgBox img
{
    height:220px;
    width:220px;
}

.JigsawImgMap{
    position: absolute; 
    overflow: hidden;
    border:solid 1px #c4c4c4;
    z-index:2700;
    height: 110px; 
    width: 110px;
}

.AbsoluteImg
{
    position:absolute;
    height:220px;
    width:220px;
}

.JigsawDropContainer{
    float: left; 
    position: inherit; 
    border:dotted 1px gray;
    height: 110px; 
    width: 110px;
}

.JigsawDragContainer
{
    height:inherit;
    width:inherit;
}
/*JigSaw End */

/* Multiple choice type2 and Multiple select type2  start*/

.ImgBoxSmall
{
    height:120px;
    width:135px;
}

.ImgBoxSmall img
{
    height:120px;
    width:135px;
}

.ImgBoxMedium
{
    height:120px;
    width:135px;
}

.ImgBoxMedium img
{
    height:120px;
    width:135px;
}

.ImgBoxLarge
{
    height:120px;
    width:135px;
}

.ImgBoxLarge img
{
    height:120px;
    width:135px;
}

/* Multiple choice type2 and Multiple select type2  end*/


/* word scrumble start */ 

/* for WYSISYG*/
.wordscrumbleword
{
    text-transform:uppercase;
    border-bottom:dashed 1px black;
}
 .DivBlankSpace{
    float:left;
    background-color:#FFFFFF;
    cursor:auto;
}
.DivSelected{
    float:left;
    border:solid 2px #FE3F3F;
    padding:5px;
    margin-left:3px;
    cursor:pointer;
    text-transform:uppercase;
}

.DivNotSelected{
    float:left;
    border:solid 2px #9B9B9B;
    padding:5px;
    margin-left:3px;
    cursor:pointer;
    text-transform:uppercase;
}
/* for preview*/
.ScrumbleDrag
{
    border:solid 1px gray;
    background-color: #62A0D5;
    color:White;
    font-size:14px;
    margin:5px;
    cursor:pointer;
    height:35px;
    width:35px;
    text-align:center;
}

.DropScrumbleContainer
{
    position:relative;
    background-color:#F4F4F4;
    border:solid 1px gray;
    width:inherit;
    height:65px;
    padding-top:10px;
    
}

.DropScrumble
{
    position:relative;
    height:33px;
    width:40px;
    border-bottom:solid 1px gray;
    margin-left:5px;
    padding-bottom:15px; 
    padding-right:5px;
}

.nonDropScrumble
{
    height:33px;
    width:40px;
    font-size:16px;
    border-bottom:solid 1px gray;
    margin-left:7px;
    text-align:center;
    padding-top:10px;
    padding-bottom:5px;
}
/* word scrumble end */ 


/* Zingo Start  */

.ZingoQues
{
    position:relative;
    height:150px;
}

.ZingoQuesImgBox
{
    position:absolute;
    left:-10px;
    top:0px;
    height:120px;
    width:135px;
    font-size:large;
    font-weight:bold;
    text-align:center;
}

.ZingoAnsImgBox
{
    position:relative;
    height:120px;
    width:135px;
    margin-top:10px;
    margin-left:10px;    
}


.PairingAnsImgBox
{
    position:relative;
    height:120px;
    width:120px;
    margin-top:15px;
    margin-left:15px;
    
}

.ZingoAnsContainer
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    width:inherit;
}

.MemoryGameFooter
{
    text-align:center;
    font-size:large;
    font-weight:bold;
}
.ZingoAnsImgBox img
{
    height:120px;
    width:120px;    
}
/* Zingo End */

.TextOnlyLink
{
    color:Blue;
    text-decoration:underline;
    text-align:center;
}

.AlignCenter
{
    text-align:center;
}

.AlignCenterContent{
	margin:0 auto;
	display:inline-block;
}

.GlossaryTerm{
     color:orange;
     text-decoration:underline;
     cursor:pointer;
}

.GlossaryContainer
{
    border:solid 1px #444444;
    position:absolute;
    display:none; 
    background-color:#FFFFFF;
    height:240px;
    width:425px;
    z-index:2000;
    left:50px;
    top:0px;
    text-align :center;
}


/* Flip card 2 style start */

.sponsorListHolder{
	position:relative;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 700px;;
}

.sponsor{
	width:166px;
	height:203px;
	float:left;
	margin:4px;
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}

.sponsorFlip{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url("template_image/bg.png") no-repeat center center;
}


.sponsorFlip img{
	/* Centering the logo image in the middle of the sponsorFlip div */
margin:4px;

}

.sponsorTitle{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:15px;
	font-size:15px;
	color:#FFFFFF;
	width:160px;
	max-height:50px;
	text-align:center;
	font-weight:bold;
	overflow:hidden;
}

.sponsorFlip h1{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:15px;
	font-size:15px;
	color:#FFFFFF;
	width:160px;
	text-align:center;
}
.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url("template_image/bg.png") no-repeat center center;
}

.sponsorData h1{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:15px;
	font-size:15px;
	color:#FFFFFF;
	width:160px;
	text-align:center;
}
.sponsorDescription{
	color:#FFFFFF;
	font-size:15px;
	padding-top:2px;
	text-align:center;
	width:150px;
	margin:0 auto;
	overflow:hidden;
	max-height:192px;
}


.sponsorFlip2{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url("template_image/04_05_04a_01_bg.jpg") no-repeat center center;
}

.sponsor2{
	width:240px;
	height:250px;
	float:left;
	margin:4px;
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}

/* Flip card 2 style end */


/* Flip card 1 start */
.CardHolderWidth{
width:715px;
margin:0 auto;
min-height:310px;
position:relative;
}
.CardHolderTxt{
	color:#246B94;
	margin-bottom:10px;
	}
.CardHolderBg{
	background: #fdfdfe url(template_image/flascard1bg.png) repeat-x top left;
	border:1px solid #cdccda;
	min-height:310px;
	padding:10px;
}
.cardSmallBg{
	width:163px;
	height:132px;
	float:left;
	margin:20px 5px 0px 5px;
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
	background: url(template_image/bg_small.png) no-repeat top left;
}
.cardSmallBg img
{
	margin:3px;
	width:157px;
	height:105px;
}
.cardSmalltitle{
	/* Centering the logo image in the middle of the sponsorFlip div */
	color:#FFFFFF;
	width:163px;
	text-align:center;

}



.cardBigBg{
	width:313px;
	height:250px;
	float:left;
	margin: 0px 15px  0px -5px;
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
	background: url(template_image/bg_big.png) no-repeat top left;
}
.cardBigBg img
{
	margin:7px;	
	width:302px;
	height:209px;
}
.cardBigtitle{
	/* Centering the logo image in the middle of the sponsorFlip div */
	font-size:14px;
	color:#FFFFFF;
	width:313px;
	text-align:center;

}
#FlashCard1overlay{
 width:695px;
 background:#fff;
 position:absolute;
 z-index:1000;
 display:none;
 margin-top:20px;
}
.displayPanel{
 width:690px;
  height:280px;
 position:absolute;
 z-index:1001;
 border:1px solid red;
  margin-top:20px;
}
#large{
 position:absolute;	
 z-index:1002;
 border:1px solid red
}
.enlargeImg{
width:307px;
height:248px;
float:left;
padding:10px 0px 0px 10px
}
.displayPanel audio{
 position:absolute;	
 z-index:3000;
 visibility:hidden;
}
.imgDesc{
width:350px;
height:228px;
border:1px solid #ccc;
float:left;
font-weight:bold;
margin:12px 0px 0px 10px;
overflow:auto;
}
.imgDesc p{
font-size:13px;
font-weight:bold;
padding:10px;
margin:0px
}
.closebtn{
width:35px;height:33px;position:absolute;
z-index:2000;
margin-left:292px;
background-image: url('template_image/close_btn.png');
}
.closebtn:hover
{
    cursor:pointer;
}

.audioIcon {
float:right;
height:35px;
margin:240px 0 0 345px;
position:absolute;
width:350px;
z-index:2001;
}

.audioIcon img
{
    padding-left:300px;
}
.enlarge
{
    height:20px;
    width:160px;
    text-align:center;
}
.enlarge:hover
{
    cursor:pointer;
    background-color:Yellow;
}
/* Flip card 1 end */


.doneBtn
{
height:27px;
width:68px;
}

/* Feedback start*/
.inst{
	background-color:#EAEAEA;
}


.tblContBorder table{
	width:100%;
	border-top:1px solid #C09B6E;
	border-left:1px solid #C09B6E;
	background:#fff;
	border-collapse:collapse;
	padding:0px;
	margin:0px;
}
.tblContBorder table th{
	background:#F3C68B;
	color:#000000;
	border-right:1px solid #C09B6E;
	border-bottom:1px solid #C09B6E;
	padding:10px;

}
.tblContBorder table td{
	border-right:1px solid #C09B6E;
	border-bottom:1px solid #C09B6E;
	color:#585455;
	vertical-align:middle;
	padding:10px;
}
feedback{
   font-weight:bold;
   color:#ac7431;
   background-color:#EEEEEE;
   border-style:solid;
   border-color:#BBBBBB;
   border-width:1px;
   margin-bottom:5px;
}
.feedbackcontent
{
	padding:3px;
}
feedback:hover{
	background-color:#F3C68B;
	color:#000000;
}
.tblPopup{
	width:600px;
	position:absolute;
	border:3px solid #a7a7a7;
	background-color:#ffffff;
	z-index:99999;
	left:0px;
	top:0px;
}
.tblPopup table
{
	border:0px;
	margin:0px;
	padding:0px;
	width:100%;

}

.topPrevBg{
	background: url(template_image/topBg.jpg) repeat-x top left;
	margin:0px 0px 0px 25px; 
	padding:10px;
	font-weight:bold;
	color:#ffffff;
}

/* Feedback end*/
.PopupPageContainer
{
    border:solid 1px #444444;
    position:absolute;
    display:none; 
    background-color:#FFFFFF;
    height:300px;
    z-index:2000;
    left:50px;
    top:0px;
    text-align :center;
}
.PopupPageContainerInnerDiv
{
    height:255px;
    width:325px;
    overflow:auto;
}

.PopupPageTerm{
     color:Navy;
     text-decoration:underline;
     cursor:pointer;
}

/* multiple Interaction start*/

.MultInteractionanswer{
	width:500px;
	height:100px;
	position:absolute;
	left:auto;
	top:auto;
	border:7px solid #d7ac79;
	z-index:51;
	margin-top:230px;
	margin-left:100px;
	background-color:#FFFFFF;
}

.MultInteractionHeading{
	color:#15497b;
	font-weight:bold;
}

.MultInteractionClose
{
    float:right;
	border:0px;
	background-color:#e9982c;
	padding:3px;
}

/* multiple Interaction end*/



/* Tab start*/
.TabTemplateContainer{
    width:100%;
    height:100%
}
.TabTemplateMenu
{
    width:100%;
    height:30px;
}
.TabTemplateContentContainter
{
    width:100%;
    height:100%
}

.TabTemplateNormal{
        border:1px solid #D0D0D0;
        background-image:url("template_image/hash-grad.jpg");
        background-position:left top;
        background-repeat:repeat-x;
        color:#000000;
        float:left;
        font-size:0.9em;
        height:22px;
        padding:7px 10px 0;
        margin-left:5px;
        text-decoration:none;
        overflow:hidden;
        cursor:pointer;
        width:95px;
}
.TabTemplateActive{
        background-image:url("template_image/orange-grad.jpg");
        background-position:left top;
        background-repeat:repeat-x;
        color:#000000;
}
.TabTemplateContent{
        background-color:#FEFEFE;
        background-image:url("template_image/acc-bg.jpg");
        background-repeat:repeat-x;
        border:1px solid #D0D0D0;
}
/* Tab End*/


.CrossWord{
	width:100%;
	background:#dde4f4;
}
.CrossWord td
{
    background:#6d78b6;
	border:2px solid #3232b6;
	color:#626262;
	vertical-align:middle;
	padding:2px;
	width:20px;
	height:20px;
}
.CrossWord th
{
    background:#FFFFFF;
	border:none;
	color:#626262;
	vertical-align:middle;
	padding:2px;
	width:20px;
	height:20px;
}

.CrosswordClue
{
    border:dotted 1px #212121;
    width:100%;
}

.CrossWordItemNumber
{   background-color:#999999; 
    color:#212121; 
    width:30px;
    padding:5px;
}

.CrossWordLetter
{
    background-color:#FFFFFF;
    border:none;
    padding:2px;
    text-transform:capitalize;
    text-align:center;
	position:relative;
}

.CrossWordPointer
{
     position:absolute;
     left:-7px;
     top:-7px;
     background-color:Green;
     color:Yellow;
     border:dotted 1px red;
     font-size:10px;
}

.CrossWordLeterTitle
{
    border:none;

}

.Pointer
{
    cursor:pointer;
}

.ClickRevalHeading
{
    max-width:790px;
    /*overflow:hidden;*/
}

.FullWidth
{
    width:100%;
}

.copyRightText
{
    font-size:9px;
    text-align:center;    
}

.ImgWdHt2
{
    width:202px;
    height:141px;
}

.ImgWdHt3
{
    width:393px;
    height:156px;
}
.ImgWdHt4
{
    width:189px;
    height:132px;
}
.ImgWdHt5
{
    width:118px;
    height:103px;
}
.ImgWdHt6
{
    width:222px;
    height:164px;    
    padding-left:9px;
}
.ImgWdHt7
{
    width:128px;
    height:123px;
    margin: auto;    
}
.ImgWdHt8
{
    padding-top:60px;
    width:157px;
    height:104px;
    margin: auto;    
}
.ImgWdHt9
{
    width:165px;
    height:189px;
    margin: auto;    
}
.ImgWdHt10
{
    width:750px;
    height:180px;
    margin: auto;    
}
.ImgWdHt11
{
    width:270px;
    height:210px;
    margin: auto;    
}
.optionBgColor {
    background-color: #EAE4D0;
    padding: 5px;
}

.boldText {
    font-weight: bold;
}
.listing {
    padding: 0 5px 5px 45px;
}
.slidesDiv {
    border: 1px solid #C9CED7;
    padding: 10px;
}
.pageNavTxt {
    color: #0000FF;
    font-size: 1em;
}

.textAlignRight
{
    text-align:right;
}
.textAlignRight img {
    cursor: pointer;
    margin-left: 10px;
}
.instruction {
    color: #990000;
    font-style:italic;
}
.tab_container {
    background-color: #FEFEFE;
    border: 1px solid #D0D0D0;
    width:inherit;
    min-height:390px;
}

.pdBottom30 {
    padding-bottom: 30px;
}
.divimg 
{
    text-align: center;
    width: 173px;
    position:absolute;
}
.img-rollover-outercontainer
{
    float: left; 
    margin-left:40px; 
    margin-top:20px;
}
.img-rollover-container
{
padding:7px 5px 5px 5px;
border:1px solid #025A7F;
background:#5091D1;
height:180px;
margin:20px; 
position:absolute; 
left:0px;
display:none;
width:95%;
}
.style1 {
color: #FFFFFF
}
.zindex9
{
    z-index:9;
}
.tableBlue
{
    border-collapse: separate;
}

.tableBlue th
{
    vertical-align: middle;
    background-color: #0099FF;
    color: #FFFFFF !important;
}

.tableBlue td
{
    background-color: #EEEEEE;
    text-align: center;
}

.tableBlue .tableCellblue
{
    vertical-align: middle;
    background-color: #0099FF;
    color: #FFFFFF !important;
}

.slider
{
    /*border: 1px solid #C9CED7;
    padding: 10px;*/
}

.sliderPrev
{
    cursor: pointer;
    display: inline;
    margin-left: 10px;
    background-image:url("template_image/slider_prev.jpg");
    width:49px;
    height:29px;
}

.sliderNext
{
    cursor: pointer;
    display: inline;
    margin-left: 10px;
    background-image:url("template_image/slider_next.jpg");
    width:49px;
    height:29px;
}

.paperstick1 {
background:url("template_image/sticky_notes.png") no-repeat;
    height: 196px;
    margin: 10px auto;
    padding: 0;
    width: 403px;
}
.paperstick1Inner
{
    overflow:auto;
    height: 190px;
    margin: 10px auto;
    width:395px;
    padding: 0;
}

.sliderPrev:hover
{
    cursor: pointer;
    display: inline;
    margin-left: 10px;
    background-image:url("template_image/slider_prev_over.jpg");
    width:49px;
    height:29px;
}

.sliderNext:hover
{
    cursor: pointer;
    display: inline;
    margin-left: 10px;
    background-image:url("template_image/slider_next_over.jpg");
    width:49px;
    height:29px;
}

.theading6{
    background-image: url("template_image/ScrSubTitle.jpg");
    background-repeat: no-repeat;
    color: #000000;
    font-size: 12px;
    height: 31px;
    padding: 10px 0 0 10px;
    background-color: #FFFFFF;
}

.Btn{
	height:24px;
	color:#0e0e0e;
	line-height:24px;
	float:left;
	cursor:pointer;
	background:url(template_image/btn_bg.png) repeat-x top left;	
}

.Btn .leftImg{
    background:url(template_image/btn_left.png) no-repeat top left;	
	height:24px;
	line-height:24px;	
	padding-left:4px;
	padding-right:4px;
	white-space:nowrap;
	
}
.Btn .rightImg{
    background:url(template_image/btn_right.png) no-repeat right;	
	height:24px;
	line-height:24px;	
}



/*.Btn:hover{
	background-image:url(template_image/btnhover_bg.png);
	background-repeat:repeat-x;
	height:24px;
	color:#FFFFFF;
}
.Btn .leftImg:hover{
	background-image:url(template_image/btnhover_left.png);
	background-repeat:no-repeat;
	height:24px;
	padding-left:24px;
	padding-right:24px;
}
.Btn .rightImg:hover{
	background-image:url(template_image/btnhover_right.png);
	background-repeat:no-repeat;
	background-position:right;
	height:24px;
}*/

.BtnActive{
	background-image:url(template_image/btnselected_bg.png);
	background-repeat:repeat-x;
	height:24px;
	cursor:pointer;
	float:left;
	color:#FFFFFF;
}

.BtnActive .leftImg{
	background-image:url(template_image/btnselected_left.png);
	background-repeat:no-repeat;
	height:24px;
	padding-left:4px;
	padding-right:4px;
	white-space:nowrap;
	line-height:24px;
	
}
.BtnActive .rightImg{
	background-image:url(template_image/btnselected_right.png);
	background-repeat:no-repeat;
	background-position:right;
	height:24px;
}

/* Interaction Box Start */
.interecationMSGBox{
    /*background-color: #FFF8E4;
    border: 2px solid #E1A100;*/
    background-color: #E6F5FF;
    border: 2px solid #9DB0BC;
    color: #000000;
    padding: 10px;
}

.interecationBox{
	background-color:#f8f8f8;
}

.interecationBox .intTop{
	background-image:url(template_image/intbox_topline.jpg);
	height:6px;	
}

.interecationBox .intTop .intTopLeft{
	background:url(template_image/intbox_topleft.jpg) no-repeat;
	width:6px;
	height:6px;
	float:left;	
}

.interecationBox .intTop .intTopRight{
	background:url(template_image/intbox_topRight.jpg) no-repeat;
	width:6px;
	height:6px;
	float:right;
}

.interecationBox .intContent{
	background-color:#f5fbff;
	border-left:1px solid #9db0bc;
	border-right:1px solid #9db0bc;
	padding:1px 20px 3px 20px;
	height:300px;
}
.interecationBox .intContentDrag{
	background-color:#f5fbff;
	border-left:1px solid #9db0bc;
	border-right:1px solid #9db0bc;
	padding:8px;
	height:280px;
}

.interecationBox .intBottom{
	background-image:url(template_image/intbox_botline.jpg);
	height:44px;	
}

.interecationBox .intBottom .intBotLeft{
	background:url(template_image/intbox_botleft.jpg) no-repeat;
	height:44px;
	float:left;
	width:6px;	
}

.interecationBox .intBottom .intBotRight{
	background:url(template_image/intbox_botright.jpg) no-repeat right top;
	height:44px;
	float:right;
	padding-right:6px;
}

.interecationBox .intBottom .intBotLeft .intInfo{
   color: #063880;
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
}

.interecationBox .intBottom .intBotRight .intNavigation{
	background:url(template_image/intbox_curve.jpg) no-repeat left top;
	height:44px;
	width:200px;
	padding:6px 0 0 22px;
}

.interecationBox .intBottom .intBotRight .intNavigation .intNaviObject{
	background-color:#9db0bc;
	height:38px;
	line-height:38px;
}

/* Interaction Box End */

/* Flash card general start */


.FlashCardHolder{
	position:relative;
    text-align: center;
    /*width: 700px;*/
}

.FlashCard1Container{
	width:240px;
	height:250px;
	float:left;
	margin:4px;
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}

.FlashCard1Front{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */
	left:0;
	top:0;
	width:inherit;
	height:inherit;
	background:url("template_image/FlashCardBg1.jpg") no-repeat center center;
}
.FlashCard1Front .Title{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:40px;
	font-size:15px;
	color:#FFFFFF;
	max-height:50px;
	text-align:center;
	font-weight:bold;
	overflow:hidden;
}

.FlashCard1Back{
	/* Hiding the .sponsorData div */
	display:none;
	left:0;
	top:0;
	width:inherit;
	height:inherit;
	background:url("template_image/FlashCardBg1.jpg") no-repeat center center;
}

.FlashCard1Back h1{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:15px;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
}

.FlashCard1Back .Title{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:15px;
	font-size:15px;
	color:#FFFFFF;
	max-height:50px;
	text-align:center;
	font-weight:bold;
	overflow:hidden;
}

.FlashCard1Back .Description{
	color:#FFFFFF;
	font-size:15px;
	padding:10px;
	margin:0 auto;
	overflow:hidden;
	max-height:192px;
    text-align: left;
}



.FlashCard2Container{
	width:174px;
	height:261px;	
	margin:4px;
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}

.FlashCard2Front{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */
	left:0;
	top:0;
	width:inherit;
	height:inherit;
	background:url("template_image/FlashCardBg2.jpg") no-repeat center center;
}
.FlashCard2Front .Title{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:40px;
	color:#FFFFFF;
	max-height:50px;
	text-align:center;
	font-weight:bold;
	overflow:hidden;
}
.FlashCard2Front .Title2{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:10px;
	color:#FFFFFF;
	max-height:50px;
	text-align:center;
	font-weight:bold;
	overflow:hidden;
}
.FlashCard2Back{
	/* Hiding the .sponsorData div */
	display:none;
	left:0;
	top:0;
	width:inherit;
	height:inherit;
	background:url("template_image/FlashCardBg2.jpg") no-repeat center center;
}

.FlashCard2Back h1{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:15px;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
}

.FlashCard2Back .Title{
	/* Centering the logo image in the middle of the sponsorFlip div */
	margin-top:15px;
	font-size:15px;
	color:#FFFFFF;
	max-height:50px;
	text-align:center;
	font-weight:bold;
	overflow:hidden;
}

.FlashCard2Back .Description{
	color:#FFFFFF;
	font-size:15px;
	padding:10px;
	margin:0 auto;
	overflow:hidden;
	max-height:192px;
    text-align: left;
}


/* Flash card general end*/

.CheckMyAnswerBg
{
    background-image: url("template_image/CheckMyWork_bg.png");
    background-repeat: repeat-x;
    background-color:#FFFFFF; 
}

/*
.CheckMyWork{
	background-image:url(template_image/btn_CheckMyWork_middle.jpg);
	background-repeat:repeat-x;
	height:26px;
	cursor:pointer;
	color:#FFFFFF;
	font-size:14px;
}

.CheckMyWork .leftImg{
	background-image:url(template_image/btn_CheckMyWork_left.jpg);
	background-repeat:no-repeat;
	height:26px;
	padding-left:11px;
	padding-right:13px;
	white-space:nowrap;
	line-height:26px;
}
.CheckMyWork .rightImg{
	background-image:url(template_image/btn_CheckMyWork_right.jpg);
	background-repeat:no-repeat;
	background-position:right;
	height:26px;
}

.CheckMyWork:hover{
	background-image:url(template_image/btn_CheckMyWork_middle_o.jpg);
	background-repeat:repeat-x;
	height:26px;
	cursor:pointer;
	color:#FFFFFF;
	font-size:14px;
}

.CheckMyWork .leftImg:hover{
	background-image:url(template_image/btn_CheckMyWork_left_o.jpg);
	background-repeat:no-repeat;
	height:26px;
	padding-left:11px;
	padding-right:13px;
	white-space:nowrap;
	line-height:26px;
}
.CheckMyWork .rightImg:hover{
	background-image:url(template_image/btn_CheckMyWork_right_o.jpg);
	background-repeat:no-repeat;
	background-position:right;
	height:26px;
}*/

.CheckMyDropTable
{
    background-color:#d9d9d9;
    border-spacing:1px;
}

.CheckMyDropTable th
{
    background-color:#848484;
    height:20px;
    color:#FFFFFF;
}

.CheckMyDropTable td{
    background-color:#ffffff;
    height:55px;
    width:252px;
}

.CheckDragBox
{
    padding:3px 5px 3px 5px;
    background-color:#FFFFFF;
    min-height:47px;
    width:240px;
    border:1px solid #d9d9d9;
    line-height:1.2em;
}

.CheckDragBoxPlaceholder
{
    height:55px;
    width:250px;
    margin-left:10px;
    margin-top:5px;
}

.SlnoHolder
{
    position:relative;
    height:inherit;
    width:inherit;
}

.RolloverHighlight
{
    border:solid 4px #bebfc1;
}
.RolloverHighlight:hover
{
    border:solid 4px #5091d1;
}


/*------------------ NSO Styles ---------------------------------*/


/* CSS Document */
a{
	outline:none;
}

a img{
	outline:none;
}


/* Title Style Start*/

.heading1{
	background:url(template_image/h1_bg.jpg) no-repeat;	
	height:46px;
	font-size:20px;
	color:#063880;
	margin:0px;
	line-height:33px;
	padding:0 0 0 12px;
}

heading2{
	font-size:18px;
	color:#063880;	
}

heading3{
	font-size:16px;
	color:#212121;	
}

heading4{
	font-size:14px;
	color:#212121;	
}
/* Glossary Style End*/

.cheetSheetTitle{
	font-size:16px;
	font-weight:bold;
	color:#507500;
	display:block;
	line-height:30px;
	border-bottom:1px dotted #507500;
	margin-bottom:15px;
}

/* Assessment Style  Start*/

.assessment{
	width:668px;
	margin:0 auto;
	background-color:#CCCCCC;	
}

.assessmentBg{
	background-image:url(template_image/assessment_bg.jpg);
	background-repeat:repeat-y;
}

.assessmentContent{
	background-image:url(template_image/assessment_topimg.jpg);
	background-repeat:no-repeat;
	background-position:top;
}

.assessmentContent ol{
	margin:0px 0px 0px 55px;
	padding:10px 0px 0px 0px;
	line-height:19px;
}

.assessment_title_bg{
	background-image:url(template_image/assessment_title.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:77px;
	width:668px;
}
.assessment_footer{
	background-image:url(template_image/assessment_footer.jpg);
	background-repeat:no-repeat;
	background-position:top;
	height:22px;
	width:668px;
}
.assessmentContent ol{
	margin:0px 0px 0px 55px;
	padding:10px 0px 0px 0px;
	line-height:19px;
}
.assessmentTitle{
	font-size:18px;
	color:#ffffff;
	padding:38px 0px 0px 70px;
}

.flierIcon{
	background: url("template_image/ico_flier.png") no-repeat 15px 20px;
	height:43px;
}
.objectIcon{
	background: url("template_image/icon_object.png") no-repeat 15px 25px;
	height:38px;
}
/* Assessment Style End*/

.MediaWdHt4
{
    max-height: 340px; 
    width: 930px; 
    height: 340px;
     margin:0 auto 20px auto;
}

.MediaWdHt5
{
    margin:0 auto;
    max-height: 300px; 
    width: 480px; 
    height: 300px;
}

.minheight300
{
    min-height:300px;
}

.bulletlink, .bulletlink:link, .bulletlink:visited{
    font-size:12px;
    color:#194f9e;
    text-decoration:underline;
}

.bulletlink:hover{
    text-decoration:none;
} 

.bulletDisc li
{
    list-style-type:disc;
    margin-left:40px;
}
.bulletDisc2 li
{
    margin-left:20px;
}

.assessmentBottomContent
{
    margin: 0 auto;
    width: 630px;
}

.bagIcon{
	background: url("template_image/bookbag.png") no-repeat;
	width:110px;
	height:31px;
	top:20px;
	right:20px;
	font-size:12px;
	color:#000000;
	text-indent:30px;
	padding-top:10px;
	font-weight:bold;
	cursor:pointer;
}

/* Objective Style End*/
.objectives{
	position:relative;
	background:url("template_image/object_cont_bg.png") repeat-x top left;
	background-color:#ffffff;
	border:1px solid #c21b00;
}
.objectives h3
{
    color: #FEFAF5;
    font-size: 17px;
    font-weight: 300;
    margin-left: 26px;
    margin-top: 7px;
}
.objectivesContBg{
	background: url("template_image/object_rightbg.png") no-repeat bottom right;
	min-height:100px;
	padding-top:20px;
}
.objectivesTit{
	background: url("template_image/tit_objective.png") no-repeat top left;
	width:130px;
	height:45px;
	/*margin:-8px 0px 0px 25px;*/
	top:-8px;
	left:25px;
	position:absolute;
}
.objectives .obj_l_t{
	position:absolute;
	background: url("template_image/obj_left_top.jpg") no-repeat top left;
	width:9px;
	height:9px;
	top:-1px;
	left:-1px;
}
.objectives .obj_r_t{
	position:absolute;
	background: url("template_image/obj_right_top.jpg") no-repeat top left;
	width:9px;
	height:9px;
	top:-1px;
	right:-1px;
}
.objectives .obj_l_b{
	position:absolute;
	background: url("template_image/obj_bot_left.jpg") no-repeat top left;
	width:9px;
	height:9px;
	bottom:-1px;
	left:-1px;
}
.objectives .obj_r_b{
	position:absolute;
	background: url("template_image/obj_right_bot.jpg") no-repeat top left;
	width:9px;
	height:9px;
	bottom:-1px;
	right:-1px;
}

.pdRight10
{
    padding-right:10px;
}

.textversion{
    color: #0066FF;
    font-weight: 100;
    margin-bottom:20px;
    cursor:pointer;
    text-decoration:none;
}


.TextVersionTitle
{
    color: #256C95;
    font-size: 20px;
    padding:10px 0px 5px 0px;
}

.TextVersionContent p
{
    color: #3E3E3E;
    font-size: 13px;
    line-height: 18px;
    padding-top: 10px;
}
.TextVersionContent ul
{    
}

.TextVersionContent table
{    
    background-color:#E4E4E4;    
    border:0;
    width:95%; 
    margin:0 auto;   
}


.SubpageLink, .PopupNavPrevious , .PopupNavNext
{
    color: #256C95;
    font-size: 12px;
    padding-bottom: 1px;
    text-decoration: none;
    cursor:pointer;
    position:absolute;
    bottom:15px;
    height:18px;
    z-index:1020;       

}

.FirstPopup, .SecondPopup
{
    height:inherit;
    width:inherit;
}

.descBorder
{
    height:20px;
    position:relative;
}

.bulletSquare li
{
    list-style-type:square;
    margin-left:40px;
}

.pdRight30
{
    padding-right:30px;
}
.pdBottom20
{
	padding-bottom:20px;
}
.lineheight30
{
    line-height:30px;   
}
 
.ImgWdHt12
{
    height:51px;
    width:42px;
}
.ImgWdHt13
{
    width:480px;
    height:300px;
    margin: auto;   
}
.ImgWdHt14
{
    width:350px;
    height:233px;
    margin: auto;   
}
 
.MediaWdHt6
{
    margin:0 auto 20px auto;
    max-height: 460px;
    width: 930px;
    height: 460px;
}
.MediaWdHt7
{
    margin:0 auto 20px auto;
    max-height: 132px;
    width: 188px;
    height: 132px;
}
.MediaWdHt8
{
    margin:0 auto;
    max-height: 340px; 
    width: 530px; 
    height: 340px;
    padding-bottom:22px;
}
.MediaWdHt9
{
    margin:0 auto;
    width: 530px; 
    height: 586px;
}

.MediaWdHt10
{
    margin:0 auto 20px auto;
    width: 930px;
    height: 370px;
}
.InheritHtWd{
	/*height:inherit;
	width:inherit;*/
	height:100%;
	width:100%;
}

.AudioList
{
    display:none;
}

.sliderSlideShowParent
{ 
    position:relative;
    width:447px;
	height:267px;
	background:url(template_image/activity_screenbg.jpg) no-repeat;
	padding:30px 0 0 31px;
}
.sliderSlideShowInner
{
    width:414px;
    height:209px;
}

.sliderSlideShow
{
   display:none;
   position:absolute;
}

.slideShowImage{
	width:413px;
	height:210px;
	margin-bottom:1px;	
}

.slideNavigation{
	font-size:11px;
	color:#FFFFFF;
	text-align:right;
	padding:0 24px 0 62px;
	height:17px;
	line-height:17px;
	position:relative;
}
.slideNavigation div{
	float:left;
	margin:0px 1px 0px 1px;
}


.slideNavigation .HelpText
{
    margin-right:10px;
    font-weight:bold;
}

.sliderSlideShowPrev
{
    background-image:url("template_image/previous_normal.png");
    width:29px;
    height:17px;
}

.sliderSlideShowPrev:hover
{
    cursor: pointer;
    background-image:url("template_image/previous_rollover.png");
    width:29px;
    height:17px;
}

.sliderSlideShowNext
{
    background-image:url("template_image/next_normal.png");
    width:29px;
    height:17px;
}

.sliderSlideShowNextDisable
{
    background-image:url("template_image/next_disable.png");
    width:29px;
    height:17px;
    cursor:default;
    display:none;
}

.sliderSlideShowPrevDisable
{
    background-image:url("template_image/previous_disable.png");
    width:29px;
    height:17px;
    cursor:default;
    display:none;
}

.sliderSlideShowNext:hover
{
    cursor: pointer;
    background-image:url("template_image/next_rollover.png");
    width:29px;
    height:17px;
}

.sliderSlideShowPause
{
    cursor: pointer;
    background-image:url("template_image/pause.png");
    width:29px;
    height:17px;
}

.sliderSlideShowPlay
{
    cursor: pointer;
    background-image:url("template_image/play.png");
    width:29px;
    height:17px;
}


.sliderSlideShowAudio
{
    cursor: pointer;
    background-image:url("template_image/audio_on.png");
    width:29px;
    height:17px;
}

.sliderSlideShowAudioMute
{
    cursor: pointer;
    background-image:url("template_image/audio_off.png");
    width:29px;
    height:17px;
}

.SliderSlideShowStart
{
    position:absolute;
    left:5px;
    top:5px;
    width:480px;
    height:300px;
    background-color:#FFFFFF;
}

.SliderSlideShowStart .text
{
    font-size:25px; 
    font-weight:bold; 
    text-align:center; 
    cursor:pointer;
}

.SliderSlideShowStart .imgStart
{
    margin:50px 10px 20px 180px;
    background:url("template_image/start.png") no-repeat;
    width:118px;
    height:118px;
}
.SliderSlideShowStart .imgStart:hover
{
    cursor:pointer;
    margin:50px 10px 20px 180px;
    background:url("template_image/start_hover.png") no-repeat;
    width:118px;
    height:118px;
}

.SliderSlideShowStart .imgRestart
{
    margin:50px 10px 20px 180px;
    background:url("template_image/replay.png") no-repeat center;
    width:118px;
    height:118px;
}
.SliderSlideShowStart .imgRestart:hover
{
    cursor:pointer;
    margin:50px 10px 20px 180px;
    background:url("template_image/replay_hover.png") no-repeat;
    width:118px;
    height:118px;
}

.mgRight10{margin-right:10px;}

.HeightWidth100Percent
{
    height:100%;
    width:100%;
}
.iframeHide
{
    border:0px;
    overflow:hidden;
}
.contentHeading h3
{
    margin:0px;
    padding:0px;
    font-weight:bold;
}
.width50Percent
{
    width:50%;
}
.bgColorWhite
{
    background-color:#FFFFFF; 
}

.contentRightAligned
{
    float:right;
    width: 46%;
}

.vAlignMiddleImgWdHt4 {
    height: 132px;
}

.vAlignMiddle {
    display: table-cell;
    vertical-align: middle;
}
.vAlignMiddleImgWdHt14 {
    height: 233px;
}

.pdBottom5 ul li
{
    padding-bottom:5px;
}

.bulletinBoardGray
{
    border:solid 1px #000000;
    background-color:#F4F4F4;
    padding:10px;
    margin:10px auto 10px auto;
}
.marginauto
{
    margin:auto;
}
.ImgWdHt15
{
    margin:0 auto 20px auto;
    min-height: 427px;
    width: 760px;
}

/* Orange Button Style Start */
.orangeButton{	
	height:26px;
	color:#1a3b53;
	line-height:24px;
	float:left;
	cursor:pointer;
	background:url(template_image/btnorange_bg.png) repeat-x top left;
	color:#000000;
	font-size:11px;
	
}

.orangeButton .orangeBtnLeft{
	background:url(template_image/btnorange_left.png) no-repeat top left;	
	height:26px;
	line-height:24px;		
}

.orangeButton .orangeBtnRight{
	background:url(template_image/btnorange_right.png) no-repeat right;	
	height:26px;
	line-height:24px;	
}
.orangeButton span{
	padding:0 8px 0 8px;
}

.orangeButton span img{
	margin:8px 0 0 0;	
}



/* for dummy */
.orangeButtonDummy{	
	height:26px;
	color:#5b6164;
	line-height:24px;
	float:left;
	cursor:default;
	background:url(template_image/btn_bg_disable.png) repeat-x top left;
	font-size:11px;
	
}

.orangeButtonDummy .orangeBtnLeft{
	background:url(template_image/btn_left_disable.png) no-repeat top left;	
	height:26px;
	line-height:24px;		
}

.orangeButtonDummy .orangeBtnRight{
	background:url(template_image/btn_right_disable.png) no-repeat right;	
	height:26px;
	line-height:24px;	
}
.orangeButtonDummy span{
	padding:0 8px 0 8px;
}

.orangeButtonDummy span img{
	margin:8px 0 0 0;	
}

/* Orange Button Style End */


/* Orange whit background button Style Start */
.orangeWhiteButton{	
	height:26px;
	color:#FFFFFF;
	line-height:24px;
	float:left;
	cursor:pointer;
	background:url(template_image/btnorangewhite_bg.png) repeat-x top left;	
}

.orangeWhiteButton .orangeWhiteBtnLeft{
	background:url(template_image/btnorangewhite_left.png) no-repeat top left;	
	height:26px;
	line-height:24px;		
}

.orangeWhiteButton .orangeWhiteBtnRight{
	background:url(template_image/btnorangewhite_right.png) no-repeat right;	
	height:26px;
	line-height:24px;	
}
.orangeWhiteButton span{
	padding:0 8px 0 8px;
}

/*  Orange whit background button Style End */

.MediaWdHt11
{
    margin:0 auto;
    max-height: 300px; 
    width: 930px; 
    height: 260px;
}

.PopupChild
{
    height:inherit;
    width:inherit;
}

.bgNextArrow
{
    width:30px;
    margin: 2px 10px 2px 10px;
    background:url(template_image/next_arrow_disable.png) no-repeat center ;
}

.bgNextArrowEnable
{
    width:30px;
    margin: 2px 10px 2px 10px;
    background:url(template_image/next_arrow_enable.png) no-repeat center ;
}

.bgPreviousArrow
{
    width:30px;
    margin: 2px 10px 2px 10px;
    background:url(template_image/previous_arrow_disable.png) no-repeat center ;
}

.bgPreviousArrowEnable
{
    width:30px;
    margin: 2px 10px 2px 10px;
    background:url(template_image/previous_arrow_enable.png) no-repeat center ;
}
.VoiceInteraction{
	background-color:#6f6f6f;
}
.VoiceInteraction .slide2{
	background-image:url(template_image/VoiceInteractionTV_slide2.png);
	width:930px;
	height:460px;
}

.VoiceInteraction .slide1{
	background-image:url(template_image/VoiceInteractionLaptop_bg.jpg);
	width:930px;
	height:340px;	
}
.VoiceInteraction .manAnimation{
	width:170px;
	height:460px;
	float:left;
	background-image:url(template_image/man.gif);
	background-repeat:no-repeat;
	background-position:24px 130px;
}

.VoiceInteraction .womanAnimation{
	background-image: url("template_image/women.png");
    background-position: 34px 60px;
    background-repeat: no-repeat;
    float: left;
    height: 335px;
    width: 170px
}

.VoiceInteraction .manNormal{
	width:170px;
	height:460px;
	float:left;
	background-image:url(template_image/man_normal.gif);
	background-repeat:no-repeat;
	background-position:24px 130px;
}

.VoiceInteraction .VoiceInteractionContent{
	padding:60px 0 0 70px;	
	width:450px;
	position:relative;
}

.VoiceInteraction .VoiceInteractionContent1{
	padding:40px 0 0 170px;	
	width:390px;
	position:relative;
}

.VoiceInteraction .redText{
	color:#990000;
	font-size:12px;
	font-style:italic;
}

.VoiceInteraction .blueText{
	color:#0507ff;
	font-size:12px;
	font-style:italic;
}

.VoiceInteraction .imgBox{
	position:absolute;
	height: 135px;

}

.VoiceInteraction .contentBox{
	background-color:#ffffff;
	border-right:1px solid #cccccc;
	width:200px;
	font-size:12px;
	height:85px;
	padding:0 10px 0 90px;
}

.VoiceInteraction .contentBox1{
    background-color: #FFFFFF;
    border-right: 1px solid #CCCCCC;
    font-size: 12px;
    height: 85px;
    padding: 0 10px;
    width: 240px;
}

.VoiceInteraction .nav{
	margin-top:35px;
	margin-left:30px;
	text-align:center;
}

.VoiceInteraction .nav1{
	margin-top:10px;
	text-align:center;
}

.VoiceInteraction .QuestionBox{
	padding:18px 0 0 130px;
}

.VoiceInteraction .QuestionBox1{
	padding-left:60px;
}

.VoiceInteraction .Top{
	background-image:url(template_image/content_topcurve.png);
	background-repeat:no-repeat;
	height: 10px;
    width: 300px;
}

.VoiceInteraction .Bottom{
	background-image:url(template_image/content_botcurve.png);
	background-repeat:no-repeat;
	height: 10px;
    width: 300px;
}

.VoiceInteraction .TopBoth{
	background-image:url(template_image/content_topcurve2.png);
	background-repeat:no-repeat;
	height: 10px;
    width: 300px;
}

.VoiceInteraction .BottomBoth{
	background-image:url(template_image/content_botcurve2.png);
	background-repeat:no-repeat;
	height: 10px;
    width: 300px;
}

.VoiceInteraction .Head{
	font-weight:bold;
	margin-bottom:5px;
	display:block;
}

.VoiceInteraction .Text{
	line-height:1.3em;
}

.VoiceInteraction .Raise{
	background-image:url(template_image/raisemy_hand.png);
	background-repeat:no-repeat;
	width:148px;
	height:33px;
	margin-left:30px;
}

.VoiceInteraction .Raise:hover{
	background-image:url(template_image/raisemy_hand_hover.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.VoiceInteraction .KeepMy{
	background-image:url(template_image/hand_down.png);
	background-repeat:no-repeat;
	width:148px;
	height:33px;
	margin-left:30px;
}

.VoiceInteraction .KeepMy:hover{
	background-image:url(template_image/hand_down_hover.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.VoiceInteraction .QuestionSet
{
    display:none;
}

.VoiceInteraction .PopUp{
	width:430px;
	position:absolute;
	display:none;
}

.VoiceInteraction .PopUpPosition1{
	top:90px;
	left:75px;
}

.VoiceInteraction .PopUpPosition2{
	top:80px;
	left:147px;
}
    
.VoiceInteraction .topImg{
	background:url(template_image/popup_top.png) no-repeat;
	height:20px;
	text-align:right;
	padding-right:15px;
}

.VoiceInteraction .PopUp .popUpText{
	background:url(template_image/poup_contentbg.png) repeat-y;
	padding:0px 20px 10px 20px;
	font-size:12px;
	color:#000000;
}

.VoiceInteraction .botImg{
	background:url(template_image/popup_bot.png) no-repeat;
	height:11px;
}

.VoiceInteraction .close{
	text-align:right;
	padding-right:15px;
	background-image:url(template_image/VoiceInteraction_close_button.png);
	background-repeat:no-repeat;
	width:35px;
	height:35px;
	float:right;
	cursor:pointer;
}

.VoiceInteraction .PopupHeight1
{
    min-height:100px;
    max-height:180px;
}

.VoiceInteraction .PopupHeight2
{
    min-height:100px;
    max-height:120px;
}

.SequenceGroup
{
    position:relative;
}
.Sequence
{
    width:100%;
    height:100%;
    display:none;
}
.SequenceStart, .SequenceRestart
{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color:#FFFFFF;
    z-index:10;
}

.SequenceStart .text, .SequenceStart .textSmall 
{
    font-size:17px; 
    font-weight:bold;  
    cursor:pointer;
    z-index:10;
    position:absolute;
}

.SequenceStart .text 
{
    margin:280px 10px 5px 445px;
}

.SequenceStart .textSmall 
{
    margin:220px 10px 5px 245px;
}


.SequenceRestart .text
{
    font-size:17px; 
    font-weight:bold;  
    cursor:pointer;
    margin:280px 10px 5px 435px;
    z-index:10;
    position:absolute;
}

.SequenceStart .imgStart , .SequenceStart .imgStartSmall
{
    background:url("template_image/start.png") no-repeat;
    width:118px;
    height:118px;
    text-align: center;
    position:absolute;
    z-index:10;
}
.SequenceStart .imgStart
{
    margin:160px 10px 5px 405px;
}

.SequenceStart .imgStartSmall
{
    margin:80px 10px 5px 205px;
}

.SequenceStart .imgStart:hover, .SequenceStart .imgStartSmall:hover
{
    cursor:pointer;
    background:url("template_image/start_hover.png") no-repeat;
    width:118px;
    height:118px;
}

.SequenceStart .imgStart:hover
{
    margin:160px 10px 5px 405px;
}

.SequenceStart .imgStartSmall:hover
{
    margin:80px 10px 5px 205px;
}

.SequenceRestart .imgRestart
{
    margin:160px 10px 5px 405px;
    background:url("template_image/replay.png") no-repeat center;
    width:118px;
    height:118px;
    position:absolute;
    z-index:10;
}
.SequenceRestart .imgRestart:hover
{
    cursor:pointer;
    margin:160px 10px 5px 405px;
    background:url("template_image/replay_hover.png") no-repeat;
    width:118px;
    height:118px;
}

.ArrowBullet li{
    padding:0px 0px 5px 0px;
    list-style-image:url(template_image/BulletArrow.jpg);
}

.width75
{
    width:75px;
}

.width135
{
    width:135px;
}

.AlterInstruction
{
    border:solid 1px #999999;
    background-color:#f2f2f2;
}

.AlterInstruction .blueText
{
    color:#0167cd;
}
.AlterImg
{
    background:url("template_image/alert_icon.png") no-repeat;
    width:45px;
    height:40px;
}
.CheckMyDragDropBoxBorder
{
    border:solid 5px #ebebeb;
    height: 380px;
    margin: 0 auto 20px;
    width: 930px;
}

.CheckMyDragDropBox
{
   background-color: #E6F5FF;
    border: 6px solid #040814;
    height: 368px;
    position: relative;
    width: 918px
}

.CheckMyDropTable1
{
    background-color: #D9D9D9;
    border-spacing: 1px;
    margin: 10px 20px auto 20px;
    width: 850px;
}

.CheckMyDropTable1 th
{
    background-color:#848484;
    height:20px;
    color:#FFFFFF;
}

.CheckMyDropTable1 td{
    background-color:#ffffff;
    width:252px;
    font-size:12px;
    line-height:1.2em;
    vertical-align:top;
}

.CheckMyDropTable2
{
    background-color:#d9d9d9;
    border-spacing:1px;
    margin:10px 20px auto 30px;
}

.CheckMyDropTable2 th
{
    background-color:#848484;
    height:20px;
    color:#FFFFFF;
}

.CheckMyDropTable2 td{
    background-color:#ffffff;
    height:40px;
    width:252px;
    overflow:hidden;
}

.CheckDragBox2
{
    padding:3px 5px 3px 5px;
    background-color:#FFFFFF;
    min-height:47px;
    width:140px;
    border:1px solid #d9d9d9;
    line-height:1.2em;
}

.CheckDragBoxPlaceholder2
{
    width:150px;
    margin-left:10px;
    margin-top:5px;
}

.CheckMyDropRight
{
    width:340px;
    height:300px;
    margin-top:10px;
}

.CheckMyDropable
{
    height:250px; 
    overflow:auto;
    padding-top:5px;
}

.CheckMyDropBottom
{
    height:30px;
    margin-bottom:10px;
}

.GrayButton
{
    background:url("template_image/btn_gray_bg.png") no-repeat;
    width:101px;
    height:25px;
    padding-top:2px;
    text-align:center;
    font-weight:bold;
    cursor:pointer;
}

.GrayButtonDisable
{
    background:url("template_image/btn_gray_disable.png") no-repeat;
    width:101px;
    height:25px;
    padding-top:2px;
    color:#8e9093;
    text-align:center;
    font-weight:bold;
}

.CheckMyDragDropBox .Popup
{
    background-color: #DDF5FF;
    border: 1px solid #A5AEB5;
    height: 60px;
    margin-top: 140px;
    text-align: center;
    padding-top:20px;
    display:none;
}

.CheckMyDragDropBox .LongFeedback
{
    background-color: #DDF5FF;
    border: 1px solid #A5AEB5;
    display: none;
    left: 12px;
    position: absolute;
    top: 5px;
    z-index: 1001;
}

.AudioPlayerControl
{
    height: 24px;
    left: 145px;
    position: absolute;
    top: 105px;
    width: 40px;
    z-index: 10;
    cursor:pointer;
}

.AudioPlayerControl .play
{
     background:url("template_image/btn_play.png") no-repeat;
     width:40px;
     height:24px;
     display:none;
}

.AudioPlayerControl .pause
{
     background:url("template_image/btn_pause.png") no-repeat;
     width:40px;
     height:24px;
     display:none;
}

.AudioPlayerControl .replay
{
     background:url("template_image/btn_replay.png") no-repeat;
     width:40px;
     height:24px;
     display:none;
}

.interecationBox .PopUp{
	margin-left: 220px;
    margin-top: 100px;
    position: absolute;
    width: 430px;
}
    
.interecationBox .topImg{
	background:url(template_image/popup_top.png) no-repeat;
	height:20px;
	text-align:right;
	padding-right:15px;
}

.interecationBox .PopUp .popUpText{
	background:url(template_image/poup_contentbg.png) repeat-y;
	padding:0px 20px 10px 20px;
	font-size:12px;
	color:#000000;
}

.interecationBox .botImg{
	background:url(template_image/popup_bot.png) no-repeat;
	height:11px;
}

/* Literacy */
.HighlightBG
{
	background-color:Yellow;
}
.wordselectionBG
{
	background-color:Yellow;
}
.wordselectionBG2
{
	background-color:Red;
}

.imgHolder1
{
	padding:5px 0px 0px 0px;
	position:relative;
}
.mediaHolder1
{
	height:323px;
	width:470px;
	border: 1px solid #D1D1D1;
}
.shade
{
	height:320px;
	width:25px;
	position:relative;
	background:url("template_image/shadow_01.png") no-repeat top right;
	width:57px;
}
.pause{
	width:40px;
	height:23px;
	background:url("template_image/audio1.jpg") no-repeat;
	padding-right:3px;	
}
.play{
	width:40px;
	height:23px;
	background:url("template_image/audio1.jpg") no-repeat;
	padding-right:3px;	
}

.mute{
	width:42px;
	height:23px;
	background:url("template_image/audio2.jpg") no-repeat;
}
.unmute{
	width:42px;
	height:23px;
	background:url("template_image/audio1.jpg") no-repeat;
}
.title2
{
	background-color:#52789C;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	line-height:24px;
	padding-left:10px;
	padding-right:20px;
}
.box2
{
	background-color:#BDCCDB;
	margin:5px 0px;
}
.Btn{
	height:26px;
	color:#FFFFFF;
	line-height:24px;
	float:left;
	cursor:pointer;
	background:url("template_image/btn_bg.png") repeat-x top left;	
}

.Btn .BtnLeft{
	background:url("template_image/btn_left.png") no-repeat top left;	
	height:26px;
	line-height:24px;		
}

.Btn .BtnRight{
	background:url("template_image/btn_right.png") no-repeat right;	
	height:26px;
	line-height:24px;	
}
.Btn span{
	padding:0 8px 0 8px;
}

.Btn span img{
	margin:8px 0 0 0;	
}

.BtnDummy{
	height:26px;
	color:#FFFFFF;
	line-height:24px;
	float:left;
	background:url("template_image/btn_bg.png") repeat-x top left;	
}

.BtnDummy .BtnLeft{
	background:url("template_image/btn_left.png") no-repeat top left;	
	height:26px;
	line-height:24px;		
}

.BtnDummy .BtnRight{
	background:url("template_image/btn_right.png") no-repeat right;	
	height:26px;
	line-height:24px;	
}
.BtnDummy span{
	padding:0 8px 0 8px;
}

.BtnDummy span img{
	margin:8px 0 0 0;	
}
.feedbackclose
{
	background:url("template_image/ico_close.png") no-repeat right top;
	height:22px;
	width:22px;
	cursor:pointer;
}
.feedback1
{
	position:absolute;
	border: 1px solid #D1D1D1;
	width:413px;
	min-height:100px;
	bottom:0px;
	background-color:#FFFFFF;
	z-index:10;
}

.bgColorGray
{
	background-color:#9EB0BC;
	min-height:21px;
}
.overlay2
{
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background-color:#FFFFFF;
	position:absolute;
	z-index:10;
	opacity:0.7;
	filter:alpha(opacity=70);
	
}
.playicon
{
	/*display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:798px;
	height:300px;*/
	top:125px;
	left:375px;
	width:48px;
	height:48px;
	background:url("template_image/playicon.png") no-repeat center;
	position:absolute;
}
.overlay3
{
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	position:absolute;
	z-index:10;
}
.pdRight20
{
	padding-right:30px;
}
.bold
{
	font-weight:bold;
}
.leftcontainer1
{
	width:480px;
	height:325px;
}
.rightcontainer1
{
	width:290px;
	background-color:#FCDFB6;
	height:335px;
	position:relative;
	padding:1px 1px 0px 5px;
}
.leftcontainer2
{
	/*width:246px;*/
	/*height:318px;*/
}
.rightcontainer2
{
	/*width:472px;*/
	/*width:565px;*/
	/*background-color:#FCDFB6;
	height:300px;*/
	position:relative;
	padding:1px 1px 0px 5px;
	
}

.leftcontainer4
{
	width:520px;
	height:325px;
}
.rightcontainer4
{
	width:250px;
	background-color:#FCDFB6;
	position:relative;
	padding:1px 1px 0px 5px;
}
.box3
{
	/*width:500px;*/
	height:300px;
	border:1px solid #cccccc;
	background:url("template_image/bg_vline.jpg") repeat-y top left;
	padding-left:11px;
}
.leftarrow
{
    float:left;
	width:10px;
	height:19px;
	background:url("template_image/leftarrow.jpg") no-repeat 0 40px;
	padding-top:50px;
}
.NextQuestioncontainer
{
	position:absolute;
	bottom:5px;
	right:5px;
}
.CounterContainer
{
	position:absolute;
	bottom:0px;
	left:0px;
	padding:5px;
	background-color:#feefdb;
}
.bgNextArrow2
{
    width:105px;
    height:20px;
    background:url("template_image/nextquestion1_disable.png") no-repeat;
}

.bgNextArrowEnable2
{
    width:105px;
    height:20px;
   
    background:url("template_image/nextquestion1.png") no-repeat;
}


.clickRevealExternalType2{
padding:0px;
width:inherit;
}
.leftcontainer3
{
	/*width:147px;*/
	height:158px;
}
.rightcontainer3
{
	width:500px;
	height:300px;
	position:relative;
	padding:1px 1px 0px 0px;
	
}
.box4
{
	width:475px;
	height:300px;
	border:1px solid #cccccc;	
	padding-left:10px;
    background:url("template_image/bg_vline.jpg") repeat-y top left;
}

.box5
{
	width:475px;
	height:300px;
	border:1px solid #cccccc;	
	padding-right:10px;
    background:url("template_image/bg_vlineRight.jpg") repeat-y top right;
}
.TitleInstruction {
    color: #990000;
    font-style:italic;
    padding:0 0 0 7px;
}
.rightarrow
{
    float:right;
	width:13px;
	height:19px;
	background:url("template_image/rightarrow.jpg") no-repeat 0 40px;
	padding-top:50px;
}

.boxHighlight
{
    opacity:.6;
	filter: alpha(opacity:60);   
}
.clickRevealExternalType3
{
    margin-left:15px;
}
.clickRevealExternalType3Containter
{
    padding-left:10px;
    padding-right:19px;
}

.ExternalVideoPlayer
{
    border:solid 0px red;
    background-color:#F4F4F4;
    width:96%;
    height:96%;
    position:absolute;
    top:5px;
    margin:0px 3px 0px 3px;
    z-index:200;    
}


.ExternalVideoPlayerclosebtn{
width:35px;height:33px;position:absolute;
z-index:2000;
margin-left:755px;
background-image: url('template_image/close_btn.png');
}
.ExternalVideoPlayerclosebtn:hover
{
    cursor:pointer;
}
.slider
{
	display:none;
}

.rightTxtDiv{
    width:315px;
    height:250px;
    overflow:auto;
    position:relative;
}
.infoTxtBg{
    background-color:#fcdfb6;
    padding:5px;
}

.feedbackposition
{
    bottom: 50px;
    left: 380px;
    width: 363px;
}

.questionheight
{
    height:300px;
    line-height: 19px;
}

.StatusText
{
    border:solid 1px #a96407;
    padding:3px;
    margin-bottom:2px;
}

.QuestionInnerPosition
{
    height:314px;    
}

.Highlight
{
	cursor: pointer;
	color:#FF0000;
	font-weight:bold;
}

.Tooltip
{
    display: none;
    position: absolute;
	z-index:999;
}

.TooltipContent
{
	background-color:#ffcc66;
	border:1px solid #ff9900;
	overflow: hidden;
	display: none;
	padding:3px;
	width:170px;
}

.Tooltip .close
{
     background: url("template_image/ToolTip_close.png") no-repeat scroll 0 0 transparent;
     height:0px;
     width:0px;
     position:absolute;
     right:0px;
     top:3px;
     cursor:pointer;
}
.fadeDiv{
	background-color:#ffffff;
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:798px;
	height:334px;
	z-index:199;
	top:0px;
	left:0px;
}

.playDiv{
	 background-image:url(template_image/play_icon.png);
	 background-repeat:no-repeat;
	 background-position:center;
	position:absolute;
	width:48px;
	height:48px;
	z-index:99999;
	top:150px;
	left:390px;
}