﻿.img {
	position: absolute;
	margin-top: -7px;
}
.cpation_font_left {
	font-size: 14px;
	color: #003366;
	font-style: italic;
	position: absolute;
	margin-top: 299px;
	/* margin-left: 0px; */
	width: 367px;
}
.rights1 {
	position: absolute;
	margin-top: 278px;
	margin-left: 117px;
}
.right1 {
	position: absolute;
	margin-top: 7px;
	margin-left: 381px;
	width: 205px;
}
.cpation_font_left_2a {
	font-size: 14px;
	color: #003366;
	font-style: italic;
	position: absolute;
	margin-top: 299px;
	/* margin-left: 0px; */
	width: 192px;
}
.cpation_font_left_2b {
	font-size: 14px;
	color: #003366;
	font-style: italic;
	position: absolute;
	margin-top: 299px;
	margin-left: 201px;
	width: 164px;
}
.right3 {
	position: absolute;
	margin-top: 7px;
	margin-left: 381px;
	width: 225px;
}
.txt_4 {
	position: absolute;
	margin-top: 2px;
	margin-left: -7px;
	width: 634px;
}
.box-1 {
	width: 142px;
	float: left;
	margin: 11px 2px;
	border: 1px solid #000;
	padding: 4px;
	margin-top: 147px;
	margin-left: -1px;
	background-color: #EDEDDC;
}
.redcolor {
	color: #881401;
	position: relative;
}
.topZero {
	top: 2px !important;
}
.copyrights {
	position: absolute;
	margin-top: -43px;
	margin-left: 255px;
	font-size: 15px;
	color: white;
}
.assignment .content {
	margin-left: 0px;
}
