body {
	/*background-color:#FC9;
	background-image:url(../imgs/bg_x.png);
	background-repeat: repeat-x;
	font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
	background-position: top;*/
}

#lo_interactive {
	position: relative;
	/*color: #3b500c;*/
	min-height: 420px;
	width: 660px;
	margin: 0 auto;
	margin-top: 25px;
	padding: 10px;
	/*border: #C30 1px solid;*/
	background-image: url(../imgs/bg0.png);
	background-color: #fff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #888888;
	-webkit-box-shadow: 1px 1px 4px #888888;
	-moz-box-shadow: 1px 1px 4px #888888;
}