body {
	font-family: 'Sonsie One', cursive;
	color: #C30;
	background-color: #f5f5f5;
}
ul._levels  {
	margin-left: -3%;	
}
._levels li {
	list-style-type: none;
}
._levels li a {
	color: #C30;
	display: block;
	padding: 7px;
	margin: 6px;
	float: left;
	width: 40%;
	border: #C30 1px solid;/**/
	background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
._levels li a:hover {
	background-color: #C30;
	color: #FFF;
}/**/
/* Text */
.lo_title {
	/*border-bottom: thin solid #C30;*/
	padding-bottom: 15px;
	margin-top: 0px;
	text-align: center;	
}