body {
	/*font-family: 'Sonsie One', cursive;
	background-color: #CCC;
	background-image:url(../imgs/bg_x.png);
	background-repeat: repeat-x;
	font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
	background-position: top;*/
}
div #header {
	height: 45px;
}
#navigation {
		
}
/*#lo-menu {
	position: absolute;
	right:  155px;
	top: 5px;	
	font-size: 12px;
	width:200px;	
	z-index: 1000;
}*/
ul#nav {
	position: absolute;
	right: 0px;
	top: 0px;
}
ul#nav li {
	list-style-type: none;	
	display: inline-block;
	margin: 3px;
}


/* Text */
h1,h2,h3,h4,h5 {
	color: #C30;	
}
.header_title h3 {
	border-bottom: thin solid #;
	padding-bottom: 6px;
	margin-top: 0px;
	font-weight: bold;
}

.bread {
	position: absolute;
	bottom: 30px;
	left: 30px;	
}
.mejs-container .mejs-controls {
	background: none;
	background-color: #c30;	
}

/* Interactives Stuff */
.email {
	diaplay: block;
	border: thin solid #c30;
	marin: 8px;
	padding: 14px;
	width: 65%;	
	float: right;
}
a.highlight {
	color: #000;
	background-color: #FF0;	
}
.hide {
	display: none;	
}
#cboxLoadedContent div {
	padding: 20px;	
}

/* Accordion */
.accordion a.title {
	background: #C30;
}
.accordion a.title:hover {
	background: #C60;
}