/*body {
	background-image:url(../imgs/bg_x.png);
	background-repeat: repeat-x;
	font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
	background-position: top;
}*/

/*

Drop Down Navigation

*/

div#lo-menu {
	position: absolute;
	right: 200px;
	top: 15px;
	font-size: 12px;
	width: 200px;
	z-index: 1000;
}

.lo-dropdown a, .lo-dropdown ul li a, .lo-dropdown a:visited {
	background-color:#fff;
	color: #C30;
}

.lo-dropdown div a span {
	background-color: #C30;
	color: #fff;
	cursor:pointer;
	display:block;
	padding: 2px 2px 2px 8px;
}
.lo-dropdown div a:hover span {
	color: #fff;
	background-color: #930;
}
.lo-dropdown a:hover {
	color:#C30;
}
.lo-dropdown ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C30;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #C30;
	border-left-color: #C30;
}
.lo-dropdown ul li a:hover {
	color: #fff;
	background-color: #C30;
}
.lo-dropdown ul li:first-child {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C30;
}
.lo-dropdown ul {
	color:#C30;
	background-attachment: scroll;
	background-color: #ffffff;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}
.lo-dropdown span.value { display:none;}

.clickReveal a.title {
	border-bottom: none;
	background-color: #c30;	
}


/*

Logo



div#header div#logo {
	background-image: url(../imgs/logo_course.png);
	background-repeat: no-repeat;
}*/

/*

BreadCrumbs

div#crumbs {
	
}

h2.pageTitle {
*/
   /*border-bottom: 1px solid #E8E8E8;
	color: #000;
}*/
