
body{
	font:Arial 0.9em;
	padding:0px;
	margin:0px;
}
.maxContainer {
	height:334px;
	width:798px;	
	position:relative;
}
.slidenotshowAudio {
	display:none;
}
.redtxtitalic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#990000;
	font-style:italic;
	margin-left:5px;	
}

.mgLeft10 {
	margin-left:10px;	
}

.mgLeft15{
	margin-left:15px;
}

.hide {
	display:none;
}
.mgTop10 {
	margin-top:10px;
}
.mgTop50 {
	margin-top:50px;
}
.mgTop100 {
	margin-top:100px;
}

.fl {
	float:left;
}
.fr {
	font:right;	
}
.clear {
	clear:both;
}


.txtblack {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
}

.txtblackwithbold {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
	font-weight:bold;
}
.center {
	text-align:center;
}

.padding2 {
	padding:2px;
}
.padding5 {
	padding:5px;
}
.padding10 {
	padding:20px;
}
.fadeDiv{
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}
.playDiv{
	background-image:url(images/play_icon.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#ffffff;
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:332px;
	z-index:99999;
	top:0px;
	left:0px;
}
.cursorhand {
	cursor:pointer;
}

.txtheading {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a749a;
	font-weight:bold;
}
.yellowbg {
	background-color:#f9fcd8;
	width:430px;
	height:260px;	
	border:1px solid #e7eaea;	
	margin-left:10px;
	margin-top:4px;
	padding:2px;
	position:relative;
}
.textareabg {
	background-image:url(images/textareabg.png);
	background-repeat:no-repeat;
	height:272px;
	width:326px;
	border:hidden;
	margin-left:18px;	
	overflow-x:hidden;	
}
.buttonshowme {
	margin-left:260px;
}

.txtbg {
	margin:5px 0 0 32px;
	background:transparent; 
	border:hidden; 
	outline:none; 
	font-weight:bold;
	line-height:16px;
	width:284px;
	
}

.popupbg {
	background-image: url("images/popupbg.png");
    background-repeat: no-repeat;
    height: 100px;
    left: 439px;
    padding: 40px 0 0 10px;
    position: absolute;
    top: 155px;
    width: 350px;	
}

.popuptext {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;  
    position: absolute;   
    width: 355px;	
}

.closebutton {	
	cursor: pointer;
    left: 336px;
    position: absolute;
    top: 9px;
}

.bubbleimage1 {
	position:absolute;
	top:-5px;
	left:217px;
	height:87px;
	width:209px;
}
.bubbleimage2{
	position:absolute;
	top:67px;
	height:87px;
	left:85px;
	width:209px;
}
.bubbleimage3 {
	position:absolute;
	top:130px;
	height:115px;
	left:203px;
	width:223px;
}

input.submitBtn {
    background: url(images/submit_bg.png) repeat-x top left;
    cursor: pointer;
    padding:2px 10px 2px 10px;
    border:1px solid #9eb0bc;
    text-align:center;    
}
.divHeight2{
	width:326px;
	height:272px;
	margin:35px 5px 5px 5px;
}
.rightcontent {
	margin-top:5px;
	margin-left:20px;
}