.maxContainer {
	height:334px;
	width:798px;	
	position:relative;
}
.slidenotshowAudio {
	display:none;
}
.redtxtitalic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#990000;
	font-style:italic;	
}
.mgLeft10 {
	margin-left:10px;	
}

.mgLeft15{
	margin-left:15px;
}
.mgLeft30{
	margin-left:30px;
}
.mgLeft40{
	margin-left:40px;
}
.mgLeft50{
	margin-left:50px;
}
.hide {
	display:none;
}
.mgTop3 {
	margin-top:3px;
}

.mgTop5 {
	margin-top:5px;
}
.mgTop12 {
	margin-top:12px;
}
.mgTop15 {
	margin-top:15px;
}
.mgTop20 {
	margin-top:20px;
}
.mgTop25 {
	margin-top:25px;
}
.mgTop30 {
	margin-top:30px;
}

.mgTop50 {
	margin-top:50px;
}
.mgTop100 {
	margin-top:100px;
}

.fl {
	float:left;
}
.fr {
	font:right;	
}
.clear {
	clear:both;
}

.highlight { background:#ffff99; }

.highlightorange{ background:#ff9900; }
.txtblack {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
}
.txtwithblue {
	font-family:Arial, Helvetica, sans-serif;
	color:#0000ff;
	font-size:14px;
}

.txtbold {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
}

.center {
	text-align:center;
}

.padding2 {
	padding:2px;
}
.padding5 {
	padding:5px;
}
.padding10 {
	padding:10px;
}
.fadeDiv{
	opacity:.9;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}

.playDiv{
	background-image:url(images/play_icon.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#ffffff;
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}

.cursorhand {
	cursor:pointer;
}

.txtheading {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a749a;
	font-weight:bold;
}

.contentarea {	
	background-image:url(images/bg.png);
	background-repeat:no-repeat;
	height:270px;
	position:absolute;
	width:774px;
}

.showmetext {
	position:absolute;
	top:300px;
}
.submitbutton{
	position:absolute;
	top:0px;
	left:300px;
}
p {
	width:700px;
}
.txtbulebg{
	background-color:#0099ff;
}

.summa {
	width:670px;
}

input.submitBtn {
    background: url(images/submit_bg.png) repeat-x top left;
    cursor: pointer;
    border:1px solid #9eb0bc;
    text-align:center;    
}

.highlightbtn {
	position:absolute;
	left:289px;
	top:71px;
}