/* CSS Document */
.sortable li { 
	float: left; 
	/*width: 130px; 
	height: 200px;
	font-family: 'Shadows Into Light';background-color: #f2f397 !important;
	border: thin solid #dbc824 !important; */
	font-size: 12px;font-weight: normal !important;
	background: none !important;
	
}
