﻿.topZero {
	top: 0px !important;
}
.topZero2 {
	color: #984842;
	position: relative;
}
.txt {
	width: 590px;
}
.leftDiv, .rightDiv {
	background: #CCCCCC;
	border: 1px solid;
    float: left;
    height: 200px;
	line-height:normal;
    margin-top: 25px;
    padding: 3px 0 0 13px;
    width: 200px;	
}
.leftDiv {
	margin-left: 75px;
}
.rightDiv {
	border-left: none;
}

.leftDiv2, .rightDiv2, .rightDiv2a {
	background: #CCCCCC;
	border: 1px solid;
    float: left;
    height: 160px;
    margin-top: 30px;
    padding: 3px 0 0 12px;
    width: 130px;
}
.leftDiv2 {
	margin-left: 65px;
}
.rightDiv2, .rightDiv2a {
	border-left: none;
}