﻿.ui_interactive hr{display:none;}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.ui_interactive .ui_edge_buttons{margin-top: 55px !important;margin-right: 45px !important;}
.questionText{font-weight: bold;text-align: center;}
.ui_interactive .selectable {width: 87% !important;}
.ui_interactive .selectable li {height: auto;cursor: pointer;}
.ui_interactive .copyright{margin-top: -36px;position: absolute;text-align: center;width: 590px;color: #ffffff;}
.trim{width:550px;height: 95px;}
.ui_interactive .ui-slideshow-item {overflow: inherit !important;}