﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topzero2 {
	color: #984842;
	height: 45px;
}
.text {
	padding: 0px;
	font-size: 12px;
	font-style: italic;
	color: #881401;
	float: left;
	display: inline;
	width: 635px;
	font-family: Arial;
}
.image {
	margin-left: 150px;
	margin-top: 33px;
}
.copyright {
	font-size: 12px;
	line-height: 10px;
	text-align: center;
	margin-top: 8px;
	display: block;
	margin-left: -138px;
}

#one1, #two1, #one2, #two2, #one3, #two3  {
	background-image: url(../images/spacer.png);
	background-repeat:repeat;
}

#one1 {
	position: absolute;
	height: 15px;
	width: 17px;
	margin-top: -244px;
	margin-left: 103px;
}
#two1 {
	position: absolute;
	height: 15px;
	width: 17px;
	margin-top: -148px;
	margin-left: 44px;
}
#one2 {
	position: absolute;
	height: 15px;
	width: 17px;
	margin-top: -249px;
	margin-left: 129px;
}
#two2 {
	position: absolute;
	height: 15px;
	width: 17px;
	margin-top: -134px;
	margin-left: 145px;
}
#one3 {
	position: absolute;
	height: 15px;
	width: 17px;
	margin-top: -169px;
	margin-left: 131px;
}
#two3 {
	position: absolute;
	height: 15px;
	width: 17px;
	margin-top: -45px;
	margin-left: 77px;
}
.activity1 .ui-dialog-buttonset {
	display: none;
}
.activity1 .ui_custom_dialog_trigger {
	cursor: pointer;
}
.activity1 .ui-dialog {
	width: 460px !important;
	margin-left: 12 !important;
	top: 117px !important;
	height: 110px !important;
}
.copyrights {
	position: absolute;
	margin-top: -91px;
	font-size: 15px;
	margin-left: 278px;
	color: black;
	text-align: center;
}
.padd {
	margin-left: 26px;
}
