body {
    font-family: Arial,Helvetica,sans-serif;
	/*font-family:"Tahoma",Arial, Helvetica, sans-serif;*/
    margin:0 auto; 
    /*background-color:#fff;
	background-repeat:no-repeat;
	background-position:center top;*/
	font-size: 14px;
	color:#2E2E2E;
}

.bodyContent {
    background: url("images/student_bg.jpg") no-repeat scroll right bottom #FFFFFF;
    color: #212121;
    font-size: 13px;
    line-height: 1.5em;
    margin-left: 11px;
    padding: 0 10px 25px;
    width: 934px;
}

.SkinSize {
    height: auto;
    width: auto;
}

.topicList {
    background: url("images/dropdown.jpg") no-repeat scroll 0 0 transparent;
    color: #3F3F3F;
    float: left;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0 30px 0 0;
    position: relative;
    width:300px;
}
.dropdown {
    background: url("images/dropdown1.jpg") no-repeat scroll 0 0 transparent;
    color: #3F3F3F;
    float: left;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0 30px 0 0;
    position: relative;
    width:300px;
}


.dropdownSelected{
    background: url("images/dropdown.jpg") no-repeat scroll 0 0 transparent;
    color: #3F3F3F;
    float: left;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0 30px 0 0;
    position: relative;
    width:300px;
}

.topicList ul {
    border: 0 none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topicList ul li {
    /*background: url("images/item-bg.jpg") repeat-x scroll 0 0 transparent;*/
    border-bottom: 1px solid #9FB3C2;
    border-left: 1px solid #91A1AE;
    border-right: 1px solid #91A1AE;
    background-color:#B2CCDD;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

.topicList ul li a {
    color: #000000;
    display: block;
    height: 32px;
    padding: 0 10px;
    text-decoration: none;
    /*width: 390px;*/
    outline:medium none;
}

.topicList ul li a:hover
{
    color:#000000 !important;
    text-decoration:none;
    background-color:#DEEEFB;
}

.topicListSelected
{
    color:#000000 !important;
    text-decoration:none; 
    background-color:#DEEEFB;
}

.topicSelect a {
    color: #3E3B42;
    display: block;
    padding-left: 13px;
    text-decoration: none;
    width: 280px;
    outline: medium none;
}
.learnObj {
    display: block;
    left: 0;
    position: absolute;
    top: 25px;
    visibility: hidden;
    
    width: 326px;
    z-index: 1000;
}

.mainDiv{
	width:798px;
	margin:0 auto;
	margin-top:60px;
	border:1px #acb9c2 solid;
	
}

.topdiv{
	height:48px;
	background:url("images/top_bg.png") repeat-x;
}

.inner{
	height:337px;
	
	/*padding:0px 5px 10px 5px;*/
	background:url("images/inner_bg.png") repeat-x;
	position:relative;
}

.bottomdiv{
	height:34px;
	background:url("images/bottom_bg1.png") repeat-x;
	
}

.title{
 font-family:Helvetica, sans-serif;
  font-size:21px;
  letter-spacing:1px;
  color:#363636;
  margin-left:5px;
  padding-top :6px;
  line-height :35px;	
}

.btnback{
width:51px;
height:22px;
background:url("images/btn_back.png") no-repeat;
padding-right:5px;
}

.btncenter{
width:62px;
height:22px;
background:url("images/center.png") no-repeat;
padding-right:5px;
}

.btnnext{
width:51px;
height:22px;
background:url(images/btn_next.png) no-repeat;
}

.menu{
width:326px;
height:24px;
top:6px;
left:10px;
background-repeat:no-repeat;
position:absolute;
z-index:1000;
}


.page{
width:796px;
height:325px;
top:8px;
left:1px;
}



/*.navitext{
  width:100px;
  font-family:Helvetica, sans-serif;
  font-size:12px;
  line-height:12px;
  color:#363636;
  padding:5px 0px 0px 15px;
}*/
.navitext{
	font-family:Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#363636;
	text-align:center;
	padding-top:3px;
}

.clr
{
	clear:both;
}

.fl
{
	float:left;
}
.fr
{
	float:right;
}
.Previous{
    background:url(images/btn_back.png) no-repeat;
    width:51px;
    height:22px;
    display: none; 
}

.Previous:hover{
    background:url(images/btn_back1.png) no-repeat;
    width:51px;
    height:22px;
    cursor: pointer;
}

.PreviousDisable{
    background:url(images/btn_back1.png) no-repeat;
    width:51px;
    height:22px;
}

.Next{
    background:url(images/btn_next.png) no-repeat;
    width:51px;
    height:22px;
    display: none;
}

.Next:hover{
    background:url(images/btn_next1.png) no-repeat;
    width:51px;
    height:22px;
    cursor: pointer;
}

.NextDisable
{
    background:url(images/btn_next1.png) no-repeat;
    width:51px;
    height:22px;
}
