﻿

.margin
{
    margin: 6px 6px -6px 0px;
}

.img
{
    height: 189px;
    width: 270px;
    border-color: #F00;
}

.img
{
    max-width: none !important;
}

.right11
{
    float: left;
    height: 240px;
    width: 266px;
    margin-top: -219px;
    margin-left: 321px;
}

.left11
{
    height: 240px;
    width: 315px;
    float: left;
    margin-top: -26px;
    margin-left: 16px;
    text-align: center;
}


.h3
{
    text-align: center;
    color: #FFF;
    font-weight: bold;
}


.image-container-normal
{
    margin-top: 16px;
}

.rightmain
{
    font-weight: bold;
    text-align: left;
    color: #003366;
    font-size: 16px;
}
.copyrights
{
    position: absolute;
    margin-top: -43px;
    margin-left: 222px;
    font-size: 15px;
    color: white;
}
.redcolor
{
    color: #881401;
}
.ui_slides
{
    margin-top: 3px;
}
