﻿.topSort li {
	margin: 0px 3px 3px;
	padding: 0.4em 0.4em 0.4em 1.5em;
	font-size: 1em;
	height: 36px !important;
	width: 530px !important;
	display: inline-block;
}
.topsort {
	margin-top: 0px !important;
}
.termDiv {
	height: 594px;
	width: 353px;
	float: left;
	text-align: left;
	margin-left: 30px !important;
}
.descriptionDiv {
	float: left;
	height: 594px;
	width: 244px;
	margin-left: 20px;
}
.termDiv h3 {
	color: #003366 !important;
}
.descriptionDiv h3 {
	color: #003366 !important;
}
.descriptionDiv h2 {
	text-align: center;
	font-size: medium;
	font-size: 1em;
	line-height: 10px;
}
.termDiv li {
	font-size: 13px;
	border: 2px solid #000000;
	background-color: #003466;
	height: 35px;
	margin: 3px;
	list-style: outside none none;
	color: #FFF;
	padding: 7px;
	padding-top: 9px;
	line-height: 15px;
}
.ui_interactive .ui-state-default {
	color: #ffffff;
}
.ui_interactive .ui-sortable-helper {
	width: 430px !important;
}
.ui_interactive .ui_assessment hr {
	display: none;
}
.termDiv h2 {
	text-align: center;
}
.h3 {
	text-align: center;
	color: black;
	font-weight: bold;
	margin-bottom: -11px !important;
}
.l1 {
	margin-left: 23px;
}
.ui_interactive .sortable {
	list-style-type: none;
	padding: 0;
	width: 298px !important;
}
.ui_interactive .ui_sortable {
	width: 464px !important;
}
.ui_interactive .sortable li {
	width: 262px !important;
}
#item_11, #item_12, #item_13, #item_14, #item_15, #item_16, #item_17, #item_18, #item_19, #item_20, #item_11, #Li1, #Li2, #Li3, #Li4 {
	border: 2px solid #000000;
	color: rgb(255, 255, 255);
	cursor: pointer;
	padding: 7px;
	line-height: 1;
	margin: 4px;
	background-color: rgb(1, 113, 186);
	font-size: 13px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 45px;
}
.ui_interactive .ui_edge_buttons {
	margin-right: 45px !important;
	margin-top: 41px !important;
}
.ui_interactive .assignment {
	margin-bottom: 0px;
}
.ui_interactive .content ul, .content ol {
	padding-left: 10px !important;
}
.ui_interactive .copyright {
	margin-top: -36px;
	position: absolute;
	text-align: center;
	width: 590px;
	color: #ffffff;
}
.trim {
	width: 550px;
	height: 325px;
}
.rightImage {
	float: right;
	margin-right: 55px;
	margin-top: -255px;
	font-size: 12px;
	text-align: center;
	position: relative;
	line-height: 2;
}
.questionWidth {
	width: 220px;
}
.ui_interactive .ui-dialog {
	top: 65px !important;
}
.ui_interactive .text-blue {
	margin-bottom: -20px !important;
	margin-top: -20px;
}
.ui-icon-arrow-2-n-s {
/*	display: none; */
}
.ital {
	font-style: italic;
}
.ui_interactive .ui-slideshow-item {
	overflow: hidden;
	margin-left: -20px !important;
}
.ui_interactive .ui-state-default .ui-icon {
	margin-left: -30px !important;
}
.ui_interactive .ui-slideshow-item {
	overflow: inherit !important;
}
