﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.copyrights {
	position: absolute;
	margin-top: -31px;
	font-size: 11px;
	margin-left: 281px;
	color: black;
	text-align: center;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.ui_interactive .ui-dialog {
	width: 600px;
	margin-top: 85px;
	top: -1px !important;
	left: 1px !important;
	height: 450 !important;
}
.top_margin {
	margin-top: -14px;
}
.copyright {
	color: Black;
	font-size: 11px;
	text-align: center;
	line-height: 1.4em;
}
.Img1 {
	margin-left: 9px;
}
.firstRow {
	height: 101px;
	float: left;
	margin-left: 15px;
}
.SecondRow {
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}
.ThirdRow {
	text-align: center;
	margin-left: 135px;
}
.imgDiv1 {
	float: left;
	margin: 21px;
	margin-left: 22px;
	margin-top: 4px;
}
.imgDiv2 {
	float: left;
	margin: 29px;
	margin-left: -6px;
	margin-top: 4px;
}
.copyright3 {
	color: Black;
	font-size: 12px;
	line-height: 1.4em;
}
#img_1, #img_2, #img_3, #img_4, #img_5, #img_6, #img_7, #img_8, #img_9, #img_10 {
	background-image: url(../images/spacer.png);
	background-repeat:repeat;
}

#img_1 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 29px;
	left: 36px;
}
#img_2 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 29px;
	left: 176px;
}
#img_3 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 29px;
	left: 316px;
}
#img_4 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 29px;
	left: 456px;
}
#img_5 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 229px;
	left: 36px;
}
#img_6 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 229px;
	left: 176px;
}
#img_7 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 229px;
	left: 316px;
}
#img_8 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 229px;
	left: 456px;
}
#img_9 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 435px;
	left: 179px;
}
#img_10 {
	position: absolute;
	height: 146px;
	width: 122px;
	top: 435px;
	left: 321px;
}
.sub_txt {
	margin-left: 245px;
	margin-top: 21px;
	width: 306px;
	font-size: 12px;
}
.pop_img {
	line-height: 2.4em;
	float: left;
	margin-top: 15px;
	text-align: center;
	font-size: 12px;
}
.sub_txt2 {
	margin-left: 381px;
	margin-top: 21px;
	width: 186px;
	font-size: 12px;
}
.sub_txt4 {
	margin-left: 381px;
	margin-top: 21px;
	width: 186px;
	font-size: 12px;
}
.one {
	height: 192px;
	margin: 0 auto;
}
.two {
	height: 210px;
	margin: 0 auto;
}
.heading {
	font-weight: bold;
	line-height: 1.4em;
	text-align: center;
	font-size: 12px;
}
.heading2 {
	font-weight: bold;
	line-height: 1.4em;
	font-size: 12px;
}
.third {
	margin: 0 auto;
}
