﻿.ui_interactive hr {
	display: none;
}
.images_ssc {
	margin-left: 400px;
	margin-top: 195px;
	position: absolute;
	width: 287px;
	height: 186px !important;
	border: 1pxsolid#025286;
	background-color: #000000;
}
.trim {
	width: 350px;
	height: 165px;
}
.actTop {
	height: 72px;
}
.img_txt {
	font-size: 12px;
	text-align: center;
	position: absolute;
	width: 220px;
	margin: 78px00;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding: 035px;
	font-weight: bold;
}
.puzzle_imgCont {
	position: absolute;
	width: 290px;
	height: 190px;
}
.puzzle_imgContimg {
	border: 0px;
}
.topZero {
	top: 0px !important;
}
.topZero2 {
	margin-top: -13px !important;
}
#puzzle_imgCont1, #puzzle_imgCont2, #puzzle_imgCont3, #puzzle_imgCont4 {
	float: left;
	display: none;
}
#imgDesc {
	margin-top: 191px;
	display: none;
/*
	width: 319px;
	margin-left: -10px;
*/
}
#imgDesc>p {
	font-size: 11px !important;
	line-height: 1.4em;
	padding: 2px;
}
.ui_edge_buttons {
	margin: 44px !important;
}
