﻿.redcolor {
	margin-top: -18px !important;
	color: #881401;
}
.icon {
	top: 17px !important;
}
/*
.b-page-cover {
	background: url("../imgs/02_04_04a_cover.jpg") no-repeat scroll 0% 0% / 100% 100% transparent;
}
*/
.img_border {
	padding-bottom: 1px;
	border: 1px solid;
}
.left_img {
	width: 200px;
	height: 275px;
	margin-top: 44px;
	margin-left: 31px;
	text-align: center;
}
.left_img1 {
	margin-top: 5px !important;
}
.right_txt {
	height: 190px !important;
	padding-top: 35px;
	padding-bottom: 89px;
	width: 222px;
	padding-left: 20px;
	padding-right: 16px;
	margin-left: 6px;
	margin-top: -1px;
	border: 1px solid #c0c0c0;
}
.left_txt {
	height: 190px !important;
	padding-top: 35px;
	padding-bottom: 89px;
	width: 217px;
	padding-left: 20px;
	padding-right: 16px;
	margin-left: 6px;
	margin-top: -1px;
	border: 1px solid #c0c0c0;
}
.txt_scroll {
	height: 169px;
	overflow-y: scroll;
}
.copyright1 {
	margin-top: 24px;
}
.main_title {
	margin-top: 4px;
	text-align: center;
	font-weight: bold;
}
.copyright2 {
	margin-top: 27px;
}
.toggleSwitch {
	margin-bottom: 1px !important;
}
.content1 {
	font-size: 14px;
	width: 240px;
	margin-top: -25px;
	margin-left: -7px;
	line-height: 14px;
}
.content1 a {
	font-weight: normal;
}
/************************/
.outerSize {
	width: 650px !important;
}
div.ui_interactive {
	height: 500px !important;
}
.booklet {
	margin-top: 10px !important;
}
.copyright1 {
	bottom: 20px;
	font-size: 10px;
	margin-left: 240px;
	position: absolute;
}
a.tip-bottom {
	font-weight: bold !important;
}
#endBook:hover {
	color: #fff !important;
	text-decoration: none;
}

