﻿.redcolor {
	position: relative;
	color: #881401;
}
.icon1 {
	top: 0px !important;
}
.top_margin {
	margin-top: -30px !important;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.ui_interactive .ui-dialog {
	width: 575px;
/*	height: 651px !important; */
	top: 26px !important;
	left: 41px !important;
}
.bottom_copy {
	position: absolute;
	margin-top: 508px;
	font-size: 15px;
	margin-left: 271px;
}
.ui_interactive .ui-slideshow-slide {
	margin: 20px;
	margin-left: -1px;
	margin-top: -7px;
}
.title1 {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #00489B;
}
.img {
	float: left;
	width: 200px;
	margin-left: 8px;
	margin-top: 26px;
}
.pop_txt {
	width: 555px;
}
.pop_color {
	color: #000000 !important;
}
