﻿.img
{
line-height: 26px;
text-align: center;
}
.txt
{
position: absolute;
margin-left: -7px;
margin-top: 10px;
font-style: italic;
width: 600px;
color: #003366;
}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height:45px;}
.copyrights
{
position: absolute;
margin-top: -43px;
margin-left: 255px;
font-size: 15px;
color: white;
}