﻿.topZero
{
top: 0px !important;
position: relative !important;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.topZero2
{
color: #984842;
}
.Main
{
width: 591px;
height: 37px;
margin-left: 29px;
margin-top: 61px;
}
.Entire
{
height: 440px;
width: 650px; 
}
.title_bold
{
font-weight:bold;
text-align:center;
}
.txt
{
font-size: 14px;
line-height: 18px;
}
.pic
{
text-align:center;
font-size:12px;
}
.trim b 
{
position: absolute;
margin: 6px 33px;
color: #fff;
}
.customPopUp
{
position: absolute;
width: 545px;
padding: 10px;
margin-left: 42px;
border: 1px solid;
background: none repeat scroll 0% 0% #EBEBEB;
margin-top: 71px;
z-index: 1;
cursor:default;
}
.issue
{
cursor: default;
height: 48px;
width: 561px;
margin-left: 44px;
position: absolute;
width: 566px;
padding: 10px;
margin-left: 32px;
background: none repeat scroll 0% 0% transparent;
margin-top: 438px;
z-index: 1;
}
.close1
{
position: absolute;
right: -9px;
background-image: url("../images/08_06_03a_btnclose.png");
background-repeat: no-repeat;
top: -11px;
z-index: 10;
height: 26px;
width: 25px;
cursor:pointer;    
}
.cont
{
font-weight:bold;
font-size: 14px;
line-height: 18px; 
text-align:center;
}
.popImage
{
margin-left: 6px;  
}
.copy
{
font-size: 12px;
line-height: 18px;
font-weight: 100;
text-align: center;
}
.Top-Title
{font-size: 16px;
line-height: 18px;
text-align: center;
font-weight: bold;
color: #00489b;
position: absolute;
margin-left: 231px;
top: 61px;
}
.ui_interactive, .ui_loading_screen {
background-color: #F8F8F8;
border: 1px solid #CCC;
border-radius: 4px;
min-height: 525px;
overflow: hidden;
position: relative;
padding: 0;
background-color:#eaf7ff;
}
.common
{
position: absolute;
opacity:1;  
background-color: #eaf7ff;  
}
#block1
{
width: 156px;
height: 107px;
margin-top: -271px;
margin-left: 15px;
cursor:pointer;
opacity:0 !important;  
}
#block2
{
width: 161px;
height: 113px;
margin-top: -274px;
margin-left: 217px;
}
#block3
{
width: 161px;
height: 113px;
margin-top: -274px;
margin-left: 418px;
}
#block4
{
width: 161px;
height: 113px;
margin-top: -119px;
margin-left: 418px;
}
#block5
{
width: 161px;
height: 113px;
margin-top: -119px;
margin-left: 217px;
}
#block6
{
width: 161px;
height: 113px;
margin-top: -119px;
margin-left: 13px;
}
.common1
{
font-weight: bold;
bottom: 11px;
left: 28px;
}
.t_one
{
font-size: 14px;
line-height: 18px;
text-align: left;
font-weight: 500;
}
.hd
{
font-style: italic;
}