﻿
.time-rail
{
    width:50px !important;
}

 .right_content
 {
    
font-weight: bold;
margin-top: -4px;
font-size: 16PX;
float: left;
line-height: 1px;
    
 }


.txt_right {
   float: left;
margin-top: 0px;
text-align: left;
width: 285px;
margin-left: 22px;
}



.img_left
{
    height: 240px;
    float: left;
    text-align: center;
    margin: 10px;
    margin-top: -10px;
    margin-left: -9px;
	
}


.enlarge {
width: 32px;
height: 32px;
background-image: url(../imgs/icons/img-enlarge.png);
position: absolute;
top: 0;
right: 0;
margin-top: 3px;
margin-right: 3px;
}



.icon
{
    margin-top:19px;
 }

.copyright1
{
   font-size: 12px;
line-height: 1.4px;

position: absolute;
top: 315px;
text-align: center;
width: 49%;

 }
 .redcolor
{
    color: #881401;
 }
 
 
 .copyrights
{
  position: absolute;
margin-top: -43px;

font-size: 15px;
margin-left: 215px;
color: #ffffff;
}

.copyright2
{
    font-size: 12px;
line-height: 1.4px;

position: absolute;
top: 315px;
text-align: center;
width: 49%;
 }
 
 .copy
 {  
     font-size: 12px;
line-height: 1.4px;
margin-top: 10px;
  }
  
  #cboxTitle {
display: none !important;
position: absolute;
top: -20px;
left: 0;
color: #ccc;
}

.copyright3
{
    
    font-size: 12px;
line-height: 1.4px;

position: absolute;
top: 321px;
text-align: center;
width: 49%;
 }
 
 .icon-share {
 	margin-top:5px !important;
 }