﻿.topZero
{
top: 0px !important;  
}
.topZero2
{
color: #984842;
position:relative;    
}
.t3565
{
margin-top: -17px;  
}
.ui_interactive .jMatch
{
width: 649px !important;
background: none !important;
}
.ui_interactive .jMatch h2 {
color: #984842;
}
.ui_interactive .jMatch .innerInstructions {
margin-top: 1em;
width: 98%;
padding: 0 10px;
clear: both;
font-style: italic;
}
.ui_interactive .jMatch #title1 {
margin-top: -4px;
margin-left: 28px;
padding: 0px;
}
.ui_interactive .jMatch #title2 {
margin-top: -4px;
margin-right: 104px;
padding: 0px;
}
.ui_interactive .jMatch .t3565Left {
position: relative;
float: left;
width: 300px;
height: 65%;
padding: 1.5em;
margin-left: -1px;
margin-top: -13px;
overflow: hidden;
border: 0px solid #333 !important;
-moz-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 0px;
background-color: #F8F8F8;
}
.ui_interactive .jMatch .words {
overflow: hidden;
width: 338px !important;
}
.ui_interactive .jMatch .word {
width: 249px !important;
height: 17px;
display: block;
text-align: left;
padding: 7px 7px 5px;
line-height: 14px;
margin-bottom: 4px;
}
.ui_interactive .jMatch .t3565Right {
position: relative;
float: left;
margin-top: 7px;
margin-left: -39px;
width: 53%;
overflow: hidden;
}
.ui_interactive .jMatch .definition 
{
width: 84%;
background: #fff;
height: 21px;
margin: 0 0 4px;
line-height: 15px;
padding: 7px 0px 1px 9px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 0px;
}
.ui_interactive .jMatch .definitions {
width: 109%;
}
.ui_interactive .ui-dialog {
top: 154px !important;
left: 165px !important;
}