/* CSS Document */

/* CSS Document */

.right11
{
   position: absolute;
/* float: right; */
/* height: 240px; */
margin-top: 29px;
margin-left: 292px;
width: 350px;
}

.left11
{
    height: 240px;
    width: 272px;
    float: left;
    margin-top: 15px;
    margin-left: 16px;
}

.ui-slideshow-slide {
margin: 0px !important;
}

  .copyright {
font-size: 13px;
line-height: 31px;
width: 200px;
margin-left: 21px;
}
