body
{
    font:0.9em Arial;
     padding:0px;
    margin:0px;
}

.externalBody {
	width:798px;
    height:334px;
    position:relative;
    background-color:#FFFFFF;
}


input.submitBtn {
    background: url(images/submit_bg.png) repeat-x top left;
    cursor: pointer;
	margin-top:5px;
    border:1px solid #9eb0bc;
    text-align:center;    
}

.instruction
{
    color:#a51d1d;
    padding: 0px 10px 10px 10px;
    font-style:italic; 
}

.fl{ float:left;}
.fr{ float:right;}
.clr{ clear:both;}


.submitContainer
{
    margin-top:10px;
}

.msgBox{
    background: url("images/popup_bg.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    padding: 40px 0 0 20px;
    width: 240px;
    position:absolute;
    left:0px;
    top:180px;
    z-index:3;
}

.msgBox .close
{
    background: url("images/popup_close.png") no-repeat scroll 0 0 transparent;
    width:19px;
    height:19px;
    cursor:pointer;
    position:absolute;
    left:240px;
    top:12px;
    z-index:3;
}

.Player
{
     background-color:#FFFFFF;
     width:798px;
     height:236px;
     position:absolute;
     z-index:2;
     opacity:0.5;
     padding-top:100px;
     display:block;
}

.PlayerStart
{
    background: url("images/play_icon.png") no-repeat scroll center 0 transparent;
    height: 110px;
    margin:0 auto;
    width: 110px;
    cursor:pointer;
}


.CheckMyDragDropBox
{
    height: 334px;
    position: relative;
    width: 798px;
}

.CheckMyDropTable2
{
    background-color:#eef3f7;
    border-spacing:1px;
    margin-left:10px;
}

.CheckMyDropTable2 th
{
    background-color:#fbd37b;
    height:23px;
    color:#333333;
}

.CheckMyDropTable2 td{
    background-color:#d8e1eb;
    height:47px;
    width:252px;
}

.CheckDragBox2
{
    border-right:solid 2px #dadada;
    border-bottom:solid 2px #dadada;
    border-top: solid 2px #b9b9b9;
    border-left: solid 2px #dadada;
    z-index:1;
}

.Dragcontent
{
    background-color: #7295B8;
    border: 1px solid #FFFFFF;
    font-size: 0.8em;
    height: 43px;
    padding: 2px 5px;
    width: 244px;
    color:#FFFFFF;
}

.CheckDragBoxPlaceholder2
{
    height: 25px;
    overflow: hidden;
    width: 260px;
}

.CheckMyDropRight
{
    width:260px;
    height:280px;
    padding-left:5px;
    position:relative;
}


.CheckMyDropable
{
    background-color: #EEEEEE;
    height: 250px;
    padding-top: 2px;
}

.ShowAnswer
{
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 4;
    display:none;
}

.RightTitle
{
    background-color:#dddddd;
    color:#a11b1b;
    font-size:1em;
    text-align:center;
    padding:4px 5px;
    font-weight:bold;
}

.UserAnswer
{
    height:51px;
    width:252px;
    overflow:hidden;
    margin:-5px 0px 0px -2px;
}

.Showcontent {
    background-color: #7295B8;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 0.8em;
    height: 46px;
    padding: 0 5px;
    width: 240px;
}

.MediaLibrary, .FeedbackLibrary, .MiscLibrary
{
    display:none;
}

.LastStep 
{
   margin-left: 15px;
   margin-top: 130px;
    display:none;
}
