.maxContainer {
	height:334px;
	width:798px;	
	position:relative;
}
.slidenotshowAudio {
	display:none;
}
.redtxtitalic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#990000;
	font-style:italic;	
}

.mgLeft10 {
	margin-left:10px;	
}

.mgLeft15{
	margin-left:15px;
}

.hide {
	display:none;
}
.mgTop10 {
	margin-top:20px;
}
.mgTop50 {
	margin-top:50px;
}
.mgTop100 {
	margin-top:100px;
}

.fl {
	float:left;
}
.fr {
	font:right;	
}
.clear {
	clear:both;
}

.txtblack {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
}

.txtblackwithbold {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
	font-weight:bold;
}
.center {
	text-align:center;
}

.padding2 {
	padding:2px;
}
.padding5 {
	padding:5px;
}
.padding10 {
	padding:20px;
}
.cursorhand {
	cursor:pointer;
}

.txtheading {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a749a;
	font-weight:bold;
}

.txtstyle {
	border:1px solid #7192da;
	width:240px;
	background-color:#d5dcf7; 
	height:45px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;	
	text-align:left;
	padding:5px;	
	z-index: 9;
}

#firsttxt {
	left:270px;
	top:50px;
	position:absolute;
	
}

#secondtxt {
	left:280px;
	bottom:136px;
	position:absolute;
}

#thirdtxt {
	left:270px;
	bottom:38px;
	position:absolute;
}

.imagealign1 {
	position:absolute;
	left:270px;
	top:40px;
	z-index: 10;
}


.imagealign2 {
	position:absolute;
	left:270px;
	top:133px;
	z-index: 10;
}

.imagealign3 {
	position:absolute;
	left:270px;
	top:230px;
	z-index: 10;
}

