/* CSS Document */
.ui_custom_dialog_trigger{
cursor:pointer;
}

.ui-dialog{
width:650px;

}
.ui-dialog-buttonset{
display:none;
}

.map {
position: absolute;
top: 47px;
left: 118px;
width: 522px;
}



.right11
{
  position: absolute;
margin-top: 19px;
margin-left: 303px;
width: 310px;
}

.left11
{
   height: 308px;
width: 291px;
float: left;
margin-top: 20px;
margin-left: 16px;
}

.ui-slideshow-slide {
margin: 0px !important;
}

  .copyright {
font-size: 13px;
line-height: 31px;
width: 260px;
}
.rightmain 
{
   font-weight:bold;
 text-align:left;
color: #003366;
font-size: 18px;
}

#id1{
height: 14px;
width: 15px;
position: absolute;
margin-top: 132px;
margin-left: 208px;}

#id2
{
height: 13px;
width: 15px;
position: absolute;
margin-top: 192px;
margin-left: 263px;}


#id3
{height: 12px;
width: 12px;
position: absolute;
margin-top: 203px;
margin-left: 249px;}


#id4
{
height: 15px;
width: 15px;
position: absolute;
margin-top: 185px;
margin-left: 332px;;}


#id5{
height: 12px;
width: 12px;
position: absolute;
margin-top: 235px;
margin-left: 310px;;}

#id6{
height: 12px;
width: 12px;
position: absolute;
margin-top: 251px;
margin-left: 311px;}


.dat_head {
position: absolute;
margin: 14px 0 0 25px;
font-weight: bold;
margin-left: 1px;
}
	
.left11a
{
height: 293px;
width: 255px;
float: left;
margin-top: 43px;
margin-left: 6px;
	}
	
.right11a
{
height: 272px;
width: 315px;
float: left;
margin-top: 50px;
margin-left: 30px;
}
.map
{
 text-align:center;
    
}

.copyrights2
{
  position: absolute;
margin-top: -43px;
margin-left: 255px;
font-size: 15px;
color: white;
}

.right_txt
{
    position: absolute;
margin-top: 6px;
}