﻿.topZero
{
top: 0px !important;
position: relative !important;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.topZero2
{
color: #984842;
}
.top_heading
{
font-weight: bold;
text-align: center;
font-size: 14px;
line-height: 18px;
text-align: center;
margin-top: -9px;
margin-left: -49px;
}
.Btm_Txt
{
width: 608px;
margin-left: -10px;
}
.Image
{
margin-top:20px;
text-align:center;
margin-left: -41px;
}
.ui_interactive .image-container .enlarge {
right: 3px;
margin-top: 11px;
margin-right: 7px;
}
.frame {background-color: transparent !important;}
.ui_interactive .image-container a.modal-pop {
    width: 15px;
    margin: 0 auto;
}
.ui_interactive .showcase {
    margin: 0px !important;
}