﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;    
    }
     .topZero2
   {
       color: #984842;
       font-size: 12px;
       
   }
   .divin
   {
     color: #984842;
       font-size: 12px;
        line-height: 1.4em;
   }

.mid_img
{
    
    text-align:center;
    margin-top:5px;
}
    
.copyright_up
{
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    text-align:center;
    display: block;
    margin-top:10px;
      
    }
.btm_txt
{
    font-size: 12px;
    margin-top: 8px;
    line-height: 18px;
    font-style:italic;
    width: 579px;
   
    }
.copyright_down
{
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    text-align:center;
    display: block;
    margin-top:56px;
   
    
    }
.conent
{
    padding-top:0px;
    font-size: 12px;
    font-style: italic;
    color: #881401;
    float: left;
    display: inline;
    width: 580px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
.cheading
{
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #881401;
    float: left;
    display: inline;
    width: 580px;
    
    }
    
    
    .copyrights
{
   position: absolute;
margin-top: -40px;
font-size: 12px;
margin-left: 260px;
color: #ffffff;
}
 .image-container .enlarge
  {
right: 155px;
margin-top: 10px;
}
.size
{
    width: 304px;
   font-weight: bold !important;
   text-align: center;
}
.ui_interactive
{
margin-left: 0px !important;
margin-bottom: -32px !important;
}
