﻿.right1_head {
	position: absolute;
	color: #003366;
	font-size: 21px;
	margin-top: 5px;
	margin-left: 314px;
}
.rights1 {
	position: absolute;
	margin-left: 93px;
	margin-top: 2px;
}
.right1_content {
	margin-top: 40px;
	margin-left: 314px;
	width: 284px;
	position: absolute;
}
.right2_head {
	position: absolute;
	color: #003366;
	font-size: 21px;
	margin-top: 5px;
	margin-left: 181px;
}
.rights2 {
	position: absolute;
	margin-left: 22px;
	margin-top: 2px;
}
.right2_content {
	margin-top: 40px;
	margin-left: 183px;
	width: 408px;
	position: absolute;
}
.rights3 {
	position: absolute;
	margin-left: 34px;
	margin-top: 2px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.copyrights {
	position: absolute;
	margin-top: -43px;
	margin-left: 255px;
	font-size: 15px;
	color: white;
}
.left1 {
	position: relative;
	left: -7px;
}
.left2 {
	position: relative;
	left: -7px;
}
.left1 img, .left2 img {
	border: 1px solid #D0D0D0;
}
.wrong {
	color: #F00 !important;
}
