
.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}
.ui_interactive .ui-dialog-buttonset{
display:none;
}
.RevealCopyRight {
text-align: center;
margin: 4px 0 0 -28px;
width: 740px;
}
.star {
margin-left: 129px;
margin-top: 17px;
}
.Art {
position: absolute;
top: 7px;
right: 317px;
color: #990000;
}

.Science {
position: absolute;
top: 372px;
right: 173px;
color: #4456F7;
}
.Architecture {
position: absolute;
top: 374px;
color: #C19E13;
right: 410px;
}
.Literature {
position: absolute;
top: 155px;
color: #22A254;
left: 71px;
}

.Medicine {
position: absolute;
top: 153px;
right: 75px;
color: #FF0000;
}
.right11 {
float: right;
height: 240px;
width: 330px;
}
.left11
{
height: 28px;
width: 235px;
float: left
}
.art1 {
position: absolute;
top: -6px;
left: 1px;
}
.art2 {
position: absolute;
top: -2px;

}
.art3{
position: absolute;
top: 1px;
}
.Literature1 {
position: absolute;
top: -13px;
}
.Medicine1 {
position: absolute;
top: -4px;
}
.p1{
width: 216px;
top: 194px;
position: absolute;
}
.left2
{
 width:auto;
}
.right2
{
    width:390px;
}
.imgrights
{
  position: absolute;
margin-top: 4px;
width: 236px;
}
.l3
{
    position: absolute;
top: 222px;
width: 224px;
}
.m1
{
    position: absolute;
top: 206px;
width: 280px;

}

.ui_interactive .ui-slideshow-item
{
   height:260px !important;
}