﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 60px;
}
.DragC {
	width: 144px;
	float: left;
	margin-left: 491px;
	margin-top: 27px;
	height: 133px;
}
.trim {
	height: 580px;
	margin-left: 15px;
	margin-top: -18px;
}
.DragC > .draggable {
	height: 30px;
	width: 111px;
	padding: 5px;
	cursor: pointer;
	opacity: 1 !important;
	z-index: 1222;
	margin: 1px;
	border: 1px solid #BDBDBF;
	background-color: #d7eefe;
	margin-bottom: 5px;
	text-align: center;
}
.DragC > .draggable p {
	line-height: 20px;
	font-size: 14px;
	padding-right: 0px !important;
	color: #000;
}
.DropsC {
	width: 636px !important;
	float: left;
	position: absolute;
	margin-left: -20px;
	margin-top: 16px;
}
.content1 {
	float: left;
	margin-left: 1px;
	width: 137px;
}
.droppables {
	width: 132px;
	min-height: 41px;
	margin: 3px 6px 2px -4px;
	padding: 0px;
	float: left;
	background-color: #4F81BD;
	color: #FFF;
	line-height: 41px;
	text-align: center;
	font-weight: bold;
}
.right_txt {
	font-size: 13px;
	width: 357px;
	height: 41px;
	float: left;
	line-height: 3em;
	padding: 0px 5px;
	background-color: #D0D7E7;
	margin-left: -3px;
	border: 1px solid #CCC;
	margin-bottom: 2px;
}
.definition {
	width: 370px !important;
}
.wid {
	min-height: 16px;
	width: 135px;
	margin-left: -4px;
	margin-top: 0px;
	background: none repeat scroll 0% 0% transparent;
	border: medium none !important;
	box-shadow: none !important;
	margin-right: 6px;
}
.hiddenDiv {
	height: 41px;
	position: relative;
	z-index: 0;
	border: 1px solid #CCC;
	margin-bottom: -3px;
	background-color: #D0D7E7;
	width: 130px;
}
.ui_interactive .bin {
	background-color: transparent;
	padding: 0px !important;
	position: absolute;
	z-index: 83;
}
.DropsC ul {
	list-style-type: none;
	line-height: 26px;
	margin-top: 5px;
	padding: 0px !important;
	margin: 0px;
}
.DropsC ul li {
	font-size: 14px;
	background: rgb(212, 235, 251);
	line-height: 28px;
	width: 121px;
	margin: 3px 1px 10px 1px;
	padding: 6px 4px 4px;
	color: #000;
	height: 30px;
	text-align: center;
}
.ui_interactive .draggable {
	opacity: 1 !important;
	cursor: pointer;
}
.ui_interactive .ui-dialog {
	top: 212px !important;
}
.divclass {
	background: transparent;
	height: 547px;
	width: 144px;
	position: absolute;
	top: 98px;
	z-index: 1225;
	left: 513px;
}
.ui_interactive hr {
	display: none;
}
.ui_interactive .ui-draggable-dragging {
	z-index: 2000;
}
.ui_interactive .ui_edge_button {
	margin-right: 20px;
	margin-top: -11px;
}
