﻿.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog-buttonset {
	display: none;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.bottom_txt {
	margin-top: 1px;
}
.copyright1 {
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	display: block;
	margin-left: -22px;
	margin-top: 154px;
}
.map {
	margin-left: 46px;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-dialog {
	top: 70px !important;
	width: 616px !important;
	margin-left: 14px;
}
.bruges {
	position: absolute;
	color: white;
	font-weight: bold;
	margin-top: -14px;
	margin-left: -127px;
	cursor: pointer;
}
.nuremburg {
	position: absolute;
	color: white;
	font-weight: bold;
	margin-top: 25px;
	cursor: pointer;
}
.madrid {
	position: absolute;
	color: white;
	font-weight: bold;
	margin-top: 49px;
	cursor: pointer;
	margin-left: -50px;
}
.pop_3 {
	margin-top: -32px !important;
}
.florence {
	position: absolute;
	color: #FFF;
	font-weight: bold;
	margin-top: 15px;
	cursor: pointer;
	margin-left: -15px;
}
.left_txt {
/*	width: 357px; */
	font-size: 13px;
}
.img {
	margin-left: 14px;
	width: 200px;
	margin-top: 16px;
}
.right_main {
	color: #003366;
	font-size: 18px;
	margin-top: -98px;
}
.right_txt {
   margin-left: 232px;
   margin-top: 100px;
   width: 320px;
}
.img_height {
	height: 262px;
}
.copyright {
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	display: block;
}
.blink1 {
	margin-top: -275px;
	margin-left: 251px;
	cursor: pointer;
}
.blink2 {
	margin-left: 271px;
	margin-top: -11px;
	cursor: pointer;
}
.blink3 {
	margin-left: 107px;
	margin-top: 117px;
	cursor: pointer;
}
.blink4 {
	margin-left: 299px;
	margin-top: -52px;
	cursor: pointer;
}
#blink4 {
	position: absolute;
	height: 12px;
	width: 14px;
	margin-left: 345px;
	margin-top: -1px;
	cursor: pointer;
}
#blink3 {
	position: absolute;
	height: 12px;
	width: 14px;
	margin-top: 30px;
	margin-left: 155px;
	cursor: pointer;
}
#blink2 {
	position: absolute;
	height: 12px;
	width: 13px;
	margin-top: -107px;
	margin-left: 316px;
	cursor: pointer;
}
#blink1 {
	position: absolute;
	height: 12px;
	width: 13px;
	margin-top: -119px;
	margin-left: 297px;
	cursor: pointer;
}
/*-----------------------------*/

 
.img1 {
	margin-left: 29px;
	height: 300px;
	width: 200px;
	margin-top: -9px;
}
.pop_right {
	float: left;
	margin-left: 198px;
	margin-top: -237px;
	width: 359px;
}
.pop_lefttxt {
	width: 295px;
	font-size: 13px;
	margin-top: -25px;
}
.right_txt1 {
	float: left;
	margin-left: 242px;
	margin-top: -224px;
	width: 300px;
}
.right_pop2 {
	float: left;
	margin-left: 354px;
	margin-top: -201px;
	width: 196px;
}
.copyright2 {
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	display: block;
	margin-left: -268px;
}
.slide_copy {
	margin-left: -41px;
}
.right_main1 {
	color: #003366;
	font-size: 18px;
	margin-top: -106px;
}
.trim {
	width: 630px;
	height: 520px;
}
