﻿.bgimg {
	background: url('../imgs/01_01_06_map.png') no-repeat scroll 0% 0% transparent;
	border: 1px solid;
	float: left;
	height: 274px;
	margin-right: 10px;
	margin-top: 15px;
	width: 415px !important;
}
.num1 {
	margin-top: -27px;
	z-index: 0;
}
.drgcont {
	float:left;
	margin-right: 0%;
	width: 175px;
}
.dragBlueLabel {
	background-color: #E2F1F6 !important;
}
.zeroTop {
	top: 0px !important;
}
.zeroRow {
	margin-bottom: 375px;
	margin-left: -10px !important;
	width: 656px !important;
}
{
 margin-left:-10px !important;
}
.drag {
	opacity: 1 !important;
}
.bin>ul {
	list-style-type: none;
}
.bin>ul>li {
	margin-left: -19px;
}
.col2head {
	margin: -16px 0 0 0px !important;
	font-size: 16px;
	background-color: #FF7567;
	border: 1px solid #B9B3B7;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	height: 26px;
	line-height: 24px;
	margin: 2px;
	text-align: center;
	width: 223px;
	position: absolute;
}
.dragcontainer {
	position: absolute;
	margin: 15px 0 0 0;
	width: 225px;
	height: 360px;
	z-index: 2;
}
.drag_event {
	position: absolute;
	margin: 10px 0 0 0;
	width: 215px;
	height: 342px;
}
.num_event {
	position: absolute;
}
.drag_num1>.ui-draggable-disabled {
	background: #E2F1F6;
	color: #000;
}
.drag_num>.ui-draggable-disabled {
	background: #FEC2BC;
	color: #000;
}
.num {
	background: #FD9D93;
	border: 1px solid #B9B3B7;
	width: 30px;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
}
.event {
	background: #FEC2BC;
	border: 1px solid #B9B3B7;
	margin-left: 28px;
	margin-top: -27px;
	padding: 4px 0 5px 10px;
	position: absolute;
	width: 185px
}
#drag_con {
	float: left;
	width: 223px;
	min-height: 315px;
	margin: 0 0 0 10px;
}
.dragcon_head1 {
	background-color: #2BBDF1;
	border: 1px solid #B9B3B7;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	height: 26px;
	line-height: 24px;
	margin: 2px;
	margin-bottom: 5px !important;
	min-width: 223px !important;
	position: relative;
	text-align: center;
	width: 210px;
}
.drag_num {
	margin-bottom: 10px;
}
.drag_num1 {
	margin-bottom: 30px;
}
.drop6 {
	background: none repeat scroll 0% 0% #2BBDF1;
}
.drop7 {
	background: none repeat scroll 0% 0% #2BBDF1;
}
.drop8 {
	background: none repeat scroll 0% 0% #2BBDF1;
}
.drop {
	min-height: 25px !important;
	height: 25px !important;
}
.drop, .drop>.bin {
	background-color: transparent;
	border: 0px !important;
}
.drop11 {
    margin-left: 148px;
    margin-top: 120px;;
}
.drop21 {
    margin-left: -34px;
    margin-top: 72px;
}
.drop31 {
    margin-left: -12px;
    margin-top: 86px;
}
.drop41 {
    margin-left: 122px;
    margin-top: 138px;
}
.drop51 {
    margin-left: 276px;
    margin-top: 84px;
	position:absolute;
}
.drop61 {
    margin-left: 298px;
    margin-top: -71px;
}
.drop71 {
    margin-left: 351px;
    margin-top: -16px;
}
.drop81 {
    margin-left: 268px;
    margin-top: 173px;
	position: absolute;
}
.binred {
	background-image: url(../imgs/01_01_06_drop_bg_red.png);
	background-repeat: no-repeat;
}
.binblue {
	background-image: url(../imgs/01_01_06_drop_bg.png);
	background-repeat: no-repeat;
}
.bin>ul>li {
	color: #000;
}
.borderred {
	min-height: 25px !important;
	border: 1px solid red !important;
	height: 25px !important;
}
.dropped {
	opacity: 0 !important;
}
.bordergreen {
	min-height: 25px !important;
	border: 1px solid green !important;
	height: 25px !important;
}
.drop, .ui_interactive .droppable {
	/* -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset; 
-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset;
/* box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1) inset; */
	border: 1px #ccc solid;
	box-shadow: none;
}
.drop p, .droppable p {
	margin: 0px 0px;
	font-size: 16px;
	text-align: center;
}
