﻿
.txt {
	margin-left: -4px;
	width: 600px;
}
.redcolor {
	color: #881401;
}

.alt3_1 {
	position: absolute;
	height: 227px;
	width: 151px;
	margin-left: 3px;
	margin-top: -228px;
}
.alt3_2 {
	position: absolute;
	height: 225px;
	width: 173px;
	margin-left: 191px;
	margin-top: -227px;
}
