﻿.topZero
{
    top: 0px !important;
  
    }
.topZero2
{
    color: #984842;
    position:relative;
    
    }

#cboxTitle {
display: none !important;
position: absolute;
top: -20px;
left: 0;
color: #ccc;
}
.img
{
 position: relative;
top: -5px;
left: 12px;
}
.copyrights
{
 position: relative;
top: -13px;
left: 266px;   
}
.label1Txt {
position: absolute;
top: 61px;
left: 433px;
width: 147px;
height: 30px;
background-color: #CCFFFF;
border: 1px solid #000000;
text-align: center;
font-weight: bold;
z-index: 10;
cursor: pointer;
padding: 2px 0;
}

.label2Txt {
position: absolute;
top: 179px;
left: 145px;
width: 111px;
height: 30px;
background-color: #CCFFFF;
border: 1px solid #000000;
line-height: 30px;
text-align: center;
font-weight: bold;
z-index: 10;
cursor: pointer;
}
.ui_custom_dialog_trigger{
cursor:pointer;
}
.ui-dialog-buttonset{
display:none;
}
.ui-dialog{
width: 577px;
height: 251px !important;
top: 58px !important;
left: 13px !important;
}
#north
{
  position: absolute;
left: 433px;
top: 62px;
height: 34px;
width: 148px;
z-index: 15;
  
 }
 #bantu
 {
  position: absolute;
left: 146px;
top: 180px;
height: 30px;
width: 111px;
z-index: 15;
  
 }
 .poptxt
 {
 margin-top: 4px;
width: 542px;
}
.image-container .enlarge {

top: 5px !important;
right: 5px !important;
}