﻿.redcolor {
	color: #881401;
}
.book_icon {
	top: 12px !important;
}
.top_margin {
	margin-top: 26px;
}
.ui-slideshow-slide {
	margin-top: -17px !important;
	margin: 14px;
}
.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-dialog {
	height: 400px !important;
	width: 657px !important;
	top: 73px !important;
	margin-left: 19px !important;
}
.bottom {
	height:230px;
	margin: 23px 10px 10px 75px;
	text-align: center !important;
}
.top {
	height:230px;
	margin: 5px 10px 10px -10px;
	text-align: center;
}
.img1 {
	margin-left: 69px;
	margin-top: 25px;
}
#pop_1, #pop_2, #pop_3, #pop_4, #pop_5, #pop_6, #pop_7 {
	float: left;
	height: 227px;
	width: 160px;
	margin-left: 0px;
	margin-right: 10px;
	background-repeat: no-repeat;
}
#pop_1 { background-image: url("../imgs/02_09_01a_front_image_1.png"); }
#pop_2 { background-image: url("../imgs/02_09_01a_front_image_2.png"); }
#pop_3 { background-image: url("../imgs/02_09_01a_front_image_3.png"); }
#pop_4 { background-image: url("../imgs/02_09_01a_front_image_4.png"); }
#pop_5 { background-image: url("../imgs/02_09_01a_front_image_5.png"); }
#pop_6 { background-image: url("../imgs/02_09_01a_front_image_6.png"); }
#pop_7 { background-image: url("../imgs/02_09_01a_front_image_7.png"); }

.main_title {
	position: absolute;
	float: left;
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	color: #000000;
	margin-top: 23px;
	margin-left: 25px;
}
.img {
	float: left;
	margin-top: 53px;
	margin-left: 14px;
}
.left_txt {
	color: #000000;
	line-height: 1.4em;
	margin-left: 220px;
	margin-top: 52px;
	text-align: left;
}
.pop_copy {
	margin-top: 3px;
	float: left;
	margin-left: 58px;
	font-size: 12px;
}
.bottom_copy {
	margin-left: -36px;
	margin-top: 554px;
	font-size: 12px;
	text-align: center;
}
