﻿
#head
{
display:none;    
}

div.ui_interactive {
height: 507px !important;
}



.redcolor
{
color: #881401;
}

.ui_interactive .jTimeline .timelineInfo .item 
{
height: 100% !important;
}

.ui_interactive .jTimeline .jcarousel-skin 
{
bottom: 90px!important;
}
.topZero
{
top: 0px !important;
    
}
.ui_interactive .jTimeline .jspPane 
{
top: 0px !important;
 
position: static !important;   
}

.ui_interactive .jTimeline .jspPane 
{

}
.ui_interactive .jTimeline
{
height:510px !important;    
}




.title
{
text-align:center;
font-size:14px;
font-weight:bold;
margin-bottom: 5px;
}

.img
{
text-align:center;
font-size:12px;
}

.left
{
text-align:center;
    
}
.right
{
text-align:center;
    
}
  
.title1
{
width: 268px;
   
text-align: center;
font-size: 14px;
font-weight: bold;
margin-bottom: 5px;
     
}
.copyrights
{
position: absolute;
margin-top: -2px;
font-size: 15px;
margin-left: 277px;

}




