﻿.topZero
{
position: relative !important;
float: left;
margin-left: -7px;
margin-right: 10px;
    }
     .topZero2
   {
       color: #984842;
       
   }
   
   .ui-slideshow-item {
margin-top: -13px;
}
.main
{
font-weight: bold;
font-size: 14px;
color: #000;
text-align: center;
margin-top: -17px;
 }
   
   .Mid-title
   {
     font-size: 14px;
font-weight: bold;
text-align: center;
margin-left: -225px;
   }
   .MainImg
   {
       
   }
   .clear
    {
clear: both;
display: none;
}
.ui-button-text
 {
line-height: 20px;
color: #547893;
padding: 5px 10px;
/*display: none !important;*/
}
.copyrights
{
  position: absolute;
margin-top: -28px;
font-size: 11px;
color: #0A0B0C;
margin-left: 265px;
}
.DragC
{
   width: 566px;
float: left;
margin-top: 14px;
height: 81px;
margin-left: -8px;
}
.DragC>.draggable
        {
         width: 103px;
height: 0px;
text-align: center;
padding: 0px 0px 21px 22px;
cursor: pointer;
background-color:#cccccc; 
border:1px solid;
 font-size:12px !important;
    
    margin-top:5px !important;                       
        }
    
.draggable{ 

cursor:pointer;

}
.style
{
    font-weight:bold;
    color:#4b325a; 
   
}




.bgimg {
background: url("../images/02_08_08a_drop_bg.png") no-repeat scroll 0% 0% transparent;
float: left;
margin-top: 20px;
height: 244px;
width: 412px;
margin-left: 30px;
}
.num1
{
    margin-top: -27px;
    z-index:0;
}
.drgcont {
	width: 220px;
	margin-right: 0%;
	
}
.drag
{
    opacity:1 !important;
}
.bin>ul
{
list-style-type: none;
margin: 0px;
padding: 0px;
}
.bin>ul>li
{
text-align: center;
font-size: 12px;
color: #08325A;
cursor: pointer;
font-weight: bold;
line-height: 19px;
}
.col2head {	
	margin: -16px 0 0 0px !important;
	font-size: 16px;
	background-color: #FF7567;
	border: 1px solid #B9B3B7;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	height: 26px;
	line-height: 24px;
	margin: 2px;
	text-align: center;
	width: 228px;
	position: absolute;
}

.dragcontainer {
position: absolute;
width: 600px;
top: 323px;
height: 92px;
z-index: 2;
margin-left: 0px;
margin-top: 18px;
}

.drag_event {
	position: absolute;
	margin: 10px 0 0 0;
	width: 215px;
	height: 342px;
}

.num_event {
	position: absolute;
}
.drag_num1>.ui-draggable-disabled
{
    background:#E2F1F6;
color:#000;
}
.drag_num>.ui-draggable-disabled
{
    background:#FEC2BC;
color:#000;
}

.num {
	float: left;
height: 17px;
width: 98px;
text-align: center;
background: #cccccc;
border: 1px solid #08325a;
font-size: 12px;
color: #08325a;
cursor: pointer;
line-height: 17px;
font-weight: bold;
margin-left: 11px;
margin-top: 9px;
}

.event {
	position: absolute;
	background: #FEC2BC;
	border: 1px solid #B9B3B7;
	padding: 4px 0 5px 10px;
	margin-left: 35px;
	width: 183px;
	margin-top: -27px;
}

#drag_con {
	float: left;
	width: 223px;
	min-height: 315px;
	margin: 0 0 0 10px;
}

.dragcon_head1 {
	font-size: 16px;
	background-color: #2BBDF1;
	border: 1px solid #B9B3B7;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	height: 26px;
	line-height: 24px;
	margin: 2px;
	text-align: center;
	width: 228px;
	min-width:228px !important;
	position: relative;
	margin-bottom:5px !important;
}

.drag_num {
    margin-bottom: 0px;
}
.drag_num1 {
   
margin-bottom: 22px;
margin-left: 162px;
}
.drag:hover {
background-color: #ccc;
cursor: pointer;
}



.drop,.drop>.bin
{
background-color: transparent;
}


.wrong {
    color: #F00 !important;
}

.dropped
{
    opacity:0 !important;
}

.drop, .ui_interactive .droppable {
border: 1px solid transparent;
box-shadow: none;
min-height: 25px;
margin: 0px;
width: 95px;
}

.drop p, .droppable p {
    margin: 0px 0px;
    font-size: 16px;
    text-align: center;
}
element.style {
}
.copyrights {
text-align: center;

margin-top: -14px;
font-size: 13px;
bottom: 1px;
text-align: center;
}
.ui_edge_buttons {
position: relative;
float: right;
margin-right: 30px;
margin-top: -35px;
}
.dropdiv{
width: 113px;
margin-left: 156px;
margin-top: 43px;
}
.trim{
    height: 368px;
    margin-top: 25px;
    margin-left: 11px;
}