﻿.img {
	float: left;
	margin-left: 131px;
}
.copyright1 {
	text-align: center;
	font-size: 11px;
}
.slide_txt {
	position: absolute;
	margin-top: 288px;
	width: 450px;
	margin-left: 15px;
	font-style: italic;
}
.copyright {
	font-size: 12px !important;
	line-height: 16px !important;
	text-align: center;
}
.carousel .cslider .card {
	background-color: #F7F7F7;
	border: solid 1px #e8e8e8;
	width: 253px;
	height: 428px !important;
	padding: 10px;
	float: left;
	margin-right: 10px;
}

.carousel a:hover {
color: #6d4672;
color: #333333 !important;
}

.icon {
margin: 20px;
}

.ui_interactive .content {
	margin-left: 71px;
/* width: 300px; */
/* display: Block; */
}
.htmltext_version {
	width:650px !important;	
}

.ui_interactive {
	height: 586px !important;	
}

.ui_interactive .copyright {
margin-top: -59px;
}