﻿
.DropsC{width: 682px !important;float: left;margin-top: -17px;margin-left: -20px;}
.DragC{float: left;margin-top: 10px;margin-left: -28px;}
.DragC>.draggable{width: 18px;height: 25px;text-align: center;padding: 5px;cursor: pointer;opacity: 1 !important;}



.drop_txt{width: 136px;min-height: 20px;float: left;margin-left: -10px;border: medium none;font-size: 12px;line-height: 1.4em;padding: 28px 4px 0px 9px;background-color: #D0D8E8;}
.drop_txts{width: 385px;min-height: 20px;margin: 4px 5px 5px -1px;padding: 0px;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 37px;float: left;}
.bin{background-color: transparent;padding: 0px !important;position: absolute;z-index: 1;}
.DropsC ul{list-style-type: none;line-height: 18px;text-align: center;padding: 0px !important;margin: 0px;}
.draggable{opacity: 1 !important;cursor: pointer !important;}

.wid
{

width: 85px;
margin-top: 0px;
float: left;
margin-right: 0px;
margin-left: 1px;
box-shadow: none !important;
position: absolute;
min-height: 21px;
}



.ui_assessment hr{display: none;}

.ui_interactive .draggable p {padding-right: 0px !important;line-height: 24px;font-size: 12px;}
.ui-dialog {top: 200px !important;}
.disableDiv {background-color: #d0d8e8;}


.redCont{
    height: 33px;
    line-height: 2.4;
    background-color: #FD9D93;
    margin-left: 30px;
    padding-left: 5px;
    width: 133px;
    margin-bottom: 5px;
    border: 1px solid #B9B3B7;
}
.optDrg {
margin: 0px 2px 6px !important;
width: 88px;
background: #D7EEFE;
border: 1px solid #A9BAC4;
text-align: center;
min-height: 24px !important;
padding: 2px !important;

}



.Head {
    text-align: center;
    height: 80px;
    background-color: #4F81BD;
    margin-bottom: 4px;
    color: #FFF;
    line-height: 5;
    font-weight: bold;
    border: 1px solid #B9B3B7;
    width: 102px;
    float: left;
    margin-right: 5px;
}
.head2{
height: 124px;
line-height: 9;
}
.blueCont{
    height: 50px;
    background-color: #e2f1f6;
    margin-left: 30px;
    padding-left: 5px;
    width: 133px;
    margin-bottom: 5px;
    border: 1px solid #B9B3B7;
}
.blueDrg {
margin: 0px !important;
background-color: #2bbdf1;
}
.pos1 .bin ul li,.pos2 .bin ul li,.pos3 .bin ul li,.pos4 .bin ul li,.pos5 .bin ul li,.pos6 .bin ul li,.pos7 .bin ul li,.pos8 .bin ul li,.pos9 .bin ul li,.pos10 .bin ul li,.pos11 .bin ul li,.pos12 .bin ul li,.pos13 .bin ul li,.pos14 .bin ul li,.pos15 .bin ul li,.pos16 .bin ul li,.pos17 .bin ul li,.pos18 .bin ul li{text-align: center;
background-color: #9FC;
margin: 4px 3px;
z-index: 6;
color: #1a1a1a;
position: absolute;
top: -4px;
left: -4px;
width: 88px;
height: 22px;
font-size: 12px;
text-align: center;
}




.bin ul li {background-color: #99FFCC;color: #000;width: 86px !important;}
.copyright{margin-top: 66px;position: absolute;text-align: center;width: 588px;bottom: 10px;}
.dragArea{
width: 636px;
height: 112px;
margin-bottom: 5px;
padding: 6px;
margin-left: 31px;
}
.dragArea2{height: 128px;}

.ui_edge_buttons {
    position: relative;
    float: right;
    margin: 10px;
    right: 31px!important;
}
.droppables
{
        min-height: 20px;
    margin: 0px 12px 4px -24px;
    padding: 0px;
    float: left;
    color: #FFF;
    text-align: center;
    line-height: 37px;
    font-weight: bold;
 }
.map_a
{   
    margin-top: 29px;
    text-align:center;
 }





.pos1 {left: 76px;top: 61px;}
.pos2 {left: 113px;top: 93px;}
.pos3 {left: 142px;top: 124px;}
.pos4 {left: 155px;top: 152px;}
.pos5 {left: 121px;top: 188px;}
.pos6 {left: 162px;top: 216px;}

.pos7 {left: 166px;top: 247px;}
.pos8 {left: 175px;top: 278px;}
.pos9 {left: 244px;top: 29px;}
.pos10 {left: 394px;top: 62px;}
.pos11{left: 360px;top: 90px;}
.pos12{left: 444px;top: 121px;}

.pos13{left: 469px;top: 148px;}
.pos14{left: 497px;top: 192px;}
.pos15{left: 477px;top: 233px;}
.pos16{left: 488px;top: 263px;}
.pos17{left: 488px;top: 301px;}
.pos18{left: 469px;top: 362px;}
.ui_interactive .ui-slideshow-item {overflow: inherit !important;}
.ui-draggable-dragging{z-index:1222 !important;}
.ui-state-highlight{background: #fff !important;border: #fff !important;}
