﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height: 45px;} 
.map   
{
top: 78px !important;
left: 2px;
width: 657px;
position: absolute;
}
.copy
{
   line-height: 2.4em;
text-align: center;
color: #003366;
}
.bottom_txt
{
    font-size:12px;
    font-style: italic;
    color: #003366;
    width: 625px;
}
.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}
.ui_interactive .ui-dialog-buttonset
{
display:none;
}
.ui_interactive .ui-dialog
{
width: 558px !important;
height: auto !important;
top: 163px !important;
margin-left: 30px;
}
#popup_1
{
position: absolute;
height: 17px;
width: 20px;
left: 348px;
top: 182px;
}
#popup_2
{
position: absolute;
height: 17px;
width: 20px;
left: 344px;
top: 276px;
}
#popup_3
{
position: absolute;
height: 17px;
width: 20px;
left: 314px;
top: 331px;
}
#popup_4
{
position: absolute;
height: 17px;
width: 20px;
left: 627px;
top: 294px;
}
#popup_5
{
position: absolute;
width: 115px;
left: 0px;
top: 78px;
}
#popup_6
{
position: absolute;
top: 246px;
left: 115px;
}
#popup_7
{
position: absolute;
top: 308px;
left: 237px;
}
#popup_8
{
position: absolute;
top: 247px;
left: 323px;
}
#popup_9
{
position: absolute;
top: 219px;
left: 290px;
}
#popup_10
{
position: absolute;
top: 249px;
left: 139px;
}
#popup_11
{
position: absolute;
top: 256px;
left: 157px;
}
#popup_12
{
position: absolute;
top: 267px;
left: 142px;
}
#popup_13
{
position: absolute;
top: 276px;
left: 170px;
}
#popup_14
{
position: absolute;
top: 360px;
left: 339px;
}
#popup_15
{
position: absolute;
top: 240px;
left: 164px;
}
.cen1
{
 position: relative;
left: 285px;
}
.ui_interactive .ui-slideshow-item {
overflow: hidden;
margin-left: -11px!important;
margin-top: -60px;
}
.image1
{
position: absolute;
width: 115px;left: 264px;
top: 105px; 
}
.image2
{
position: absolute;
left: 44px;top: -53px;
}
.image2 .ui-dialog
{
width: 578px !important;
height: auto;
top: -37px !important;
margin-left: 18px;
}
.popinpop .ui-dialog
{
    
width: 558px !important;
height: auto;
top: 100px !important;
margin-left: 30px;
}

.italic
{
    font-style:italic;
}
.i
{
    font-style:italic;
}
.image2 .ui-widget-overlay, .popinpop .ui-widget-overlay
{
    opacity: 0;
    width: 500px;
    height: 400px;
}
.divclass{height: 568px;
width: 682px;
position: absolute;
display: none;
z-index: 222;
opacity: 0.5;
background: none repeat scroll 0% 0% rgb(255, 255, 255);}