body {
	/*background-image:url(../imgs/bg_x.png);
	background-repeat: repeat-x;
	font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
	background-position: top;*/
	background-color: #FFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header {
	height: 50px !important;	
}
#appContent {
	padding: 15px;	
}
#page {
	background-color: #f3f1e4;
}

/*

Drop Down Navigation

*/

/* Menu Location */
#lo-menu {
	position: absolute;
	right: 15px;
	top: 22px !important;	
	font-size: 12px;
	width:200px;	
	z-index: 1000;
}
/* Init Menu block */
.lo-dropdown div a span {
	color: #fff;	
	background-color: #999;
	cursor:pointer;
	display:block;
	padding: 2px 2px 2px 8px;
}
.lo-dropdown div a:hover span {
	background-color: #333;
}
/* Drop down list */  
.lo-dropdown ul { 
	margin:0px;
	padding:0px; 
	left:0px;
	position:absolute;
	z-index:100;
	width:auto;
	min-width:200px;
	list-style:none;
	color:#e1e1e1;
	background-attachment: scroll;
	background-color: #ffffff;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}
.lo-dropdown ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999;
	border-left-color: #999;
}
.lo-dropdown ul li:first-child {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
}
.lo-dropdown ul li a { 
	padding:4px 8px;
	display:block;
	background-color:#fff;
}

/* anchors */
.lo-dropdown a, .lo-dropdown a:visited {
	color:#333;
	text-decoration:none;
	outline:none;
}
.lo-dropdown ul a:hover {
	color:#fff;
	background-color: #999;
}

/*

Navigation

*/
ul#nav {
	position:absolute;
	right: 30px;
	top: 45px;
}
ul#nav {
	margin: 0;
	padding: 0;
	list-style-type:none;
}
ul#nav li {
	display: inline;
	margin: 8px;	
}
ul#nav li a {
	border: 0;	
}

/*

Logo

*/

div#header div#logo {
	background-image: url(../imgs/logo_course.png);
	background-repeat: no-repeat;
}

/*

BreadCrumbs

*/
div#crumbs {
	
}

h1.pageTitle {
   padding: 0px 0px 5px 0px;
   text-align: center;
   font-size: 1.3em;
   font-weight: 100;
   color: #666;
   margin-bottom: 0px;
}


/* Cutsom Template Styles */
.sp_accessible {
	position: absolute;
	text-align: left;
	left: -9999px;
	top: -2000px;
	height: 0px;
	width: 0px;
	z-index: 0;
	color: transparent;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
}
blockquote {
	/*border-left: 5px solid #666;width: 350px;*/
	background-color: #fff;
	padding: 5px;
	border: #CCC thin dotted;
	margin: 0px 5px 15px 0px;
}
h1,h2,h3 {
	color: #666;
}
.level_title {
	position: relative;
	text-align: center;
	width: 100%;
	/*margin: 5px;
	padding: 3px;*/
	background-color: #dbd5b7;
	font-size: 1.2em;
	color: #666;
	border: none;	
}
.hdr2 {
	background-color: #999;
	border-top: #ccc 1px dashed;
	border-bottom: #ccc 1px dashed;
	font-size: .9em;
	color: #FFF;
	padding: 0px 15px;
}

.mejs-container .mejs-controls {
	background: none;
	background-color: #999;
}
.ui_interactive .mejs-container .mejs-controls {
	background: transparent;
	/*background-color: #999;*/
}

