﻿#head {
	display: none;
}
div.ui_interactive {
	height: 380px !important;
}
.jTimeline .timelineInfo .item {
	height: 100% !important;
}
.jTimeline .jcarousel-skin {
	bottom: 40px !important;
	z-index: 100;
	height: 15% !important;
}
.jTimeline .jcarousel-skin .jcarousel-item a {
	font-weight: 900;
	font-size: 11px !important;
}
.jTimeline .jspPane {
	top: 0px !important;
}
.jTimeline .jspContainer.timelineInfo {
	overflow: hidden;
	position: relative;
	margin-left: 13px !important;
	width: 623px !important;
	margin-top: 5px;
	border: none;
	color: blue;
}
.jspPane {
	position: static !important;
}
.jTimeline {
	height: 323px !important
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 75px;
}
.txt {
	font-size: 13px;
	line-height: 14px;
	color: #000000;
	font-weight: bold;
	margin-top: 12px;
}
.txt_content {
	position: absolute;
	margin-top: -13px;
	color: Black;
}
.jTimeline .jcarousel-skin .jcarousel-item-horizontal {
	min-width: 90px !important;
}
