﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.DropsC {
	float: left;/*margin: 200px 0px 0px;*/
	margin-left: 7px;
	position: absolute;
/*	width: 615px !important; */
	width: 640px !important;
}
.DragC {
	float: left;
	height: 262px;
	margin-left: 1px;
/*	margin-top: 485px; */
	margin-top: 350px;
/*	width: 615px; */
	width: 640px;
}
.DragC>.draggable {
	background: none repeat scroll 0% 0% rgb(215, 238, 254);
	border: 1px solid #BDBDBF;
	cursor: pointer;
	height: 115px;
	opacity: 1 !important;
	margin: 1px;
	margin-bottom: 5px;
	margin-left: 1px !important;
	padding: 5px;
/* 	width: 139px; */
	width: 146px;
	z-index: 1222;
}
.droppables {
/*	width: 151px; */
	min-height: 40px;
	margin: 4px 6px 2px -4px;
	padding: 0px;
	float: left;
	background-color: #025286;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	font-weight: bold;
	width: 158px;
}
.bin {
	background-color: transparent;
	padding: 0px !important;
	position: absolute;
	z-index: 83;
}
.DropsC ul {
	list-style-type: none;
	line-height: 26px;
	margin-top: 5px;
	padding: 0px !important;
	margin: 0px;
}
.draggable {
	opacity: 1 !important;
	cursor: pointer;
}
.wid {
	background: none repeat scroll 0% 0% rgb(208, 216, 232);
	border: none !important;
	box-shadow: none !important;
	margin-left: -4px;
	margin-right: 6px;
	margin-top: 0px;
/*	min-height: 424px;
	width: 151px; */
	min-height: 278px;
	width: 158px;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.assignment {
	margin-bottom: 0px;
	height: 50px;
}
.ui_assessment hr {
	display: none;
}
.copyrightact {
	margin-top: -30px;
	position: absolute;
	text-align: center;
	width: 684px;
	color: #000;
	font-size: 12px;
}
.ui_interactive .draggable p {
	padding-right: 0px !important;
}
.ui-dialog {
	margin-left: -153px !important;
/* 	top: 200px !important; */
	top: 100px !important;
	width: 577px;
}
.DropsC ul li {
	background: none repeat scroll 0% 0% #D7EEFE;
	line-height: 16px;
	width: 139px;
	font-size: 11.5px;
	border: 1px solid #999;
	margin: 1px 1px 2px;
	padding: 4px;
	color: #000;/*height: 128px;*/
}
/*
.ui_reset {
	display: none;
}
*/
.DropsC ul p {
	padding: 0px;
	font-size: 12px;
	height: 44px;
	line-height: 1.3;
	text-align: center;
}
.DragC > .draggable p {
	line-height: 14px;
	font-size: 12px;
}
.trim {
	height: 515px;
}
.ui-state-highlight {
	background: #D0D8E8 !important;
}
.divclass {
	background: transparent;
	height: 266px;
	width: 614px;
	position: absolute;
	top: 494px;
	z-index: 1225;
}
