/* CSS Document */
.margin
{
 margin: 6px 6px -6px 0px;
}

.img
{
 height:189px;
 width:270px;
 border-color:#F00;
}

.img 
{
    max-width: none !important;
}

.right11
{
     height: 240px;
width: 358px;
margin-left: 263px;
margin-top: -1px;
position: absolute;
}

.left11
{
 height: 240px;
 width: 272px;
 float:left;
 text-align:center;

}

.ui-slideshow-slide {
margin: 0px !important;
}

.h3 
{
 text-align:center;
 color:#FFF;
 font-weight:bold;
}

.sortable li {
    margin: 0px 3px 3px;
    padding: 0.4em 0.4em 0.4em 1.5em;
    font-size: 1em;
    height: 40px !important;
    display: inline-block;
}


.left_txt
{
  position: absolute;
margin-top: 252PX;
margin-left: 11px;
width: 225px;
font-style: italic;  
}


.right12{
position: absolute;
margin-top: -11px;
}

.copyrights
{
    position: absolute;
margin-top: -105px;
margin-left: 299px;
}
.ui-slideshow-item
{
    max-height:418px !important;
    
    min-height:418px !important;
}