.topZero{top: 0px !important;
position: relative !important;
float: left;
margin-left: 15px;
margin-right: 10px;
margin-top: 6px;}
.topZero2{color: #984842;
height: 50px;
background-color: #F8F8F8;
margin-top: 15px;
padding-right: 0px;}
.DropsC{width: 400px !important;float: left;margin: 200px 0px 0px;position: absolute;}
.topZero2 p{padding-right: 0px;}
.shwTxt {width: 213px;height: 322px;border: 1px solid;padding: 10px;float: left;left: 445px;position:absolute;display: none;background: #EFEFEF;font-size: 13px;}
.shwTextimg{border: none;width: 237px;position:absolute;left: 195px;float:left;cursor: pointer;}
.trim{height: 400px;}
.commonUnhide{display: block;}
.copyrightact{margin-top: -35px;position: absolute;text-align: center;width: 650px;color: #000;font-size: 12px;}