
.stepcarousel{
position: relative; /*leave this value alone*/
border: 1px solid #C4C4C4;
overflow: hidden; /*leave this value alone*/
width: 625px; /*Width of Carousel Viewer itself*/
height: 275px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;

}

.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 25px; /*margin around each panel*/
width: 100px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
height:200px;
position:relative;
}