body{
    background-color:#194F9E;
    padding-top:0px;
    }
	.centerIndex
	{
		text-align:center;
		display:none;
	}

	.botLink{
		margin:0 auto;
		width:696px;
		padding:5px 10px 0px 10px;
		color:#FFFFFF;
		line-height:25px;
	}
	.botLink a{
		font-family:Arial, Helvetica, sans-serif;
		color:#ffc800;
		font-size:13px;
		font-weight:bold;
		text-decoration:none;
		
	}
	.botLink a:hover{
		text-decoration:underline;
		color:#ffffff;
	}
	
.textversion 
{
    font-family: Arial, Verdana,Helvetica, sans-serif !important;	
	font-size:13px;
    margin:0 auto;
    color: #FFFFFF;    
    cursor: pointer;
    font-weight: 100;
    margin-bottom: 20px;
    text-decoration: none;
    width:80px;
}