.LB-black-overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #343434;
    z-index:1000;

}
.LB-white-content {
    display: none;
    position: fixed;
    float:left;
  
    
    padding: 10px;
    border: 1px solid #666;
    background-color: #fff;
    z-index:1010;
}

.LB-white-content2 {
    display: none;
    position: fixed;
    float:left;
    width: 95%;
    height: 95%;
    padding: 10px;
    top:2%;
    left:2%;
    border: 1px solid #666;
    background-color: #fff;
    z-index:10010;
}

.close {
    height: 13px;
    width: 12px;
    padding:10px;
    background: url(images/button_close.jpg) no-repeat 10px 10px;
    cursor:pointer;    
}



.HelpContent {
    display: none;
    position: fixed;
    /*float:left;
    
      top:20%;
width: 70%;
    left:15%;
  border: 1px solid #666;
    background-color: #c4c4c4;*/
    z-index:999999;
    
}

.glossaryBG
{
    background-color:#a4a4a4;
}
.glossaryAlphabet
{
    font-size:16px;   
}
.glossaryAlphabetContainer
{
    width:20px;
    height:20px;
    border:solid 1px #d4d4d4;
    text-align:center;
    position:relative;  
    color: #000000;
    font-size:14px;
    text-decoration:underline; 
    padding:2px;
    margin:2px;
}
.LightBoxTitle
{
    background-color:#0B6138;
}

.glossaryText
{
    color: #000000;
    font-size:14px;
    text-decoration:none;
}

.glossaryLink
{
    color: #000000;
    font-size:14px;
    text-decoration:underline;
}

.bottomBorderBlue
{
    border-bottom: solid 1px #0174DF;   
}
.mgRight15 
{
    margin-right:15px;
}

.lnkBlue:link{	
	color:#0174DF;
	text-decoration:none;
	font-size:11px;
}
.lnkBlue:visited{
	color:#0174DF;
	text-decoration:none;
	font-size:11px;
}
.lnkBlue:hover{
	color:#0174DF;
	text-decoration:underline;
}

.boldtxt
{
    font-weight:bold;
}

.fontsize12{
	font-size:12px;
}

.fontsize14{
	font-size:14px;
}

.fontsize16{
	font-size:16px;
}
.tableHead
{   
	color:#000000;
	background-color:#D5D3D3;
	font-size:12px;
	font-weight:bold;
	text-indent:5px;
}
.tableBG 
{    
	color:#000000;
	vertical-align:top;
}
.mousePointer
{
    cursor:pointer;
}

.pdTop10{padding-top:10px;}
.pdLeft10{padding-left:10px;}
.pdLeft15{padding-left:15px;}
.pdLeft20{padding-left:20px;}
.pdLeft30{padding-left:30px;}
.tableBGSelect
{    
	color:#000000;
	background-color:#E3F6CE;
	vertical-align:top;
}

.Left35Percent
{
    left:35%;
}

.top30Percent
{
    top:30%;
}


.LibraryItemPanel
{
    width:120px;
    height:120px;
    border:solid 1px #c4c4c4;   
    margin:4px;
    text-align:center;
    background-color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    cursor:pointer;
}

.LibraryItemIcon
{
     padding-top:15px;
     padding-bottom:5px;
     height:64px;
     width:64px;
}

.Library
{
    width:537px; 
    height:260px; 
    overflow:auto; 
    border:solid 1px #f4f4f4;
    text-align:center;    
}

.LB-white-overlayFull {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index:2600;
}

.LB-Content
{
    z-index:3001;
}

.LB-black-overlay_CheckMyWork{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom:0px;
    width: 100%;
    height: 100%;
    /*background-color: #000;*/
    z-index:1;
}

.posRelative
{
    position:relative;
}

/*PopUp */

.infoPopUp{
	background-color:#80ba04;
	padding:10px 10px 10px 10px;
}

.infoPopUp .infoPopUpTitle{
	background:#FFFFFF url(images/infopopup_titlebg.jpg) repeat-x;
	height:45px;
}

.infoPopUp .infoPopUpTitle .titleImage{	
	background:url(images/infopopup_leftcurve.jpg) no-repeat;
	height:30px;
	padding:13px 0 0 15px;
	width:200px;
}

.infoPopUp .infoPopUpTitle .title{
	font-size:12px;
	font-weight:bold;
	color:#000000;
	margin:13px 0 0 10px;	
	height:41px;
}

.infoPopUp .infoPopUpTitle .popUpNav{
	width:30px;
	font-size:11px;
	color:#194f9e;
	background:url(images/infopopup_rightcurve.jpg) no-repeat;	
	background-position:right;
	height:35px;
	padding:10px 5px 0 0;
	text-align:right;
}
.infoPopUp .infoPopUpTitle .popUpNav div div{
	float:left;
}

.infoPopUp .infoPopUpTitle .popUpNav div div img{
	margin:3px 3px 0 0;
}

.infoPopUp .infoPopUpTitle .popUpNav a{
	font-size:11px;
	color:#194f9e;
}

.infoPopUp .infoPopUpTitle .popUpNav{	
	text-decoration:none;
}

.infoPopUp .infoPopUpTitle .popUpNav a:hover{	
	text-decoration:underline;
}

.infoPopUp .contentLeftCurve{	
	background-image:url(images/infopopup_botleft.jpg);
	background-position:left bottom;
	background-repeat:no-repeat;
	background-color:#FFFFFF;	
	
}

.infoPopUp .contentRightCurve{	
	background-image:url(images/infopopup_botright.jpg);
	background-position:right bottom;
	background-repeat:no-repeat;
	padding:2px 10px 0px 10px;	
	font-size:12px;
	color:#212121;
}

.infoPopUp .contentRightCurve ol{
	list-style:decimal !important;
	margin:10px 10px 10px 40px;
}


.infoPopUp .contentRightCurve ol li
{
    padding-bottom:2px;
	/*padding-bottom:10px;*/	
}

.textVersionLink, .textVersionLink:link, .textVersionLink:visited{
	font-size:12px;
	color:#194f9e;
	text-decoration:none;
}

.textVersionLink:hover{
	text-decoration:underline;
}

.TextVersionpopuplink
{
   color: #0055ff;
   cursor:pointer;
}