/* CSS Document */
a {
	outline:none;
}

a img{
	outline:none;
}

.LoadingTitle
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
}
body{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
}

.fl{
	float:left;
}


.fr{
	float:right;
}

.menu{
	height:46px;
	margin-top:3px;
}

header, banner, section, footer, aside, nav, article, figure,menu,details,summary,canvas{
 display: block; 
}

/*a{
	outline:none;
}

a img{
	outline:none;
}

body{
	margin:20px;
	background-color:#0652a3;
	background-image:url(../images/pagebg.jpg);
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
}*/

.titleStrip{
	height:54px;
}

.titleImage{
	width:51px;
	height:46px;
	float:left;
}
/*.title{
	font-size:30px;
	color:#FFFFFF;
	float:left;
	margin-left:15px;
	padding-top:6px;
	line-height:40px;	
}*/

.closeButton{
	float:right;
	padding-top:10px;
}

.contentArea{
	background-color:#FFFFFF;
	background-color: #fff;
	margin:10px 0 0 0;
 	background-image:url(../images/FooterMenuBg.png);
	background-repeat:repeat-x;
	background-position:bottom;
}

.pageInfo{
	border-bottom:1px solid #cfcfcf;
	padding:15px;
	color:#5f7f00;
	font-size:14px;
	font-weight:normal;	
}
/*.content{
	padding:15px;
	color:#4e4e4e;
	font-size:14px;
}*/


	
/*.pageNumber{
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 height:20px;
 width:60px;
 text-align:center;

}*/
.pageContainer
{
	
	
}
.pageContainerUL{
	margin:0px auto;
	padding:0px;
	list-style:none;
	vertical-align:middle;
	width:inherit !important;
	overflow:auto !important;
	height:inherit !important;
}
.pageContainerNxtPrevUL{
	margin:0 auto;
	padding:0px;
	list-style:none;
	vertical-align:middle;
	width:inherit !important;
	overflow:hidden !important;
	height:inherit !important;
}

/*.pageContainer ul{ padding:0px; width:1000px;list-style:none; margin:0px;}*/
/*.pageContainer li{padding:0px; float:left; margin:0px;}*/

.clr{clear:both;}

.topictoc
{
    display:block;
    cursor:pointer;
    color:#000000;
    font-size:14px;
    width:220px;
    height:10px;   
  background-image:url("../images/bullet_arrow_down.png") ;
  background-repeat:no-repeat;
  background-position:right -10px;
}
.marginLeft240
{
    margin-left:240px;
}
.default
{
	display:none;
}