body>div{
        display:none;
 
}
.print_div {
    background-color:#FFFFFF;
    display: block;
    top:0px;
    left:0px;
    z-index:999999;
    position:absolute;
}
.SubpageLink, .PopupNavPrevious , .PopupNavNext
{
	position:static
	}