﻿.print_div
{
	display:none;
}
.mg10{margin:10px;}
.mgLeft3{margin-left:3px;}
.mgLeft5{margin-left:5px;}
.mgLeft7{margin-left:7px;}
.mgLeft10{margin-left:10px;}
.mgLeft13{margin-left:13px;}
.mgLeft15{margin-left:15px;}
.mgLeft17{margin-left:17px;}
.mgLeft20{margin-left:20px;}
.mgLeft40{margin-left:40px;}
.mgLeft50{margin-left:50px;}
.mgLeft110{margin-left:110px;}

.mgRight5{margin-right:5px;}
.mgRight120{margin-right:120px;}
.mgRight30{margin-right:30px;}

.mgTop5{margin-top:5px;}
.mgTop7{margin-top:7px;}
.mgTop10{margin-top:10px;}
.mgTop15{margin-top:15px;}
.mgTop20{margin-top:20px;}
.mgTop25{margin-top:25px;}
.mgTop65{margin-top:65px;}

.pd3{padding:3px;}
.pd5{padding:5px;}
.pd7{padding:7px;}
.pd10{padding:10px;}
.pd12{padding:12px;}
.pd15{padding:15px;}
.pd20{padding:20px;}
.pd22{padding:22px;}

.pdTop10{padding-top:10px;}
.pdTop12{padding-top:12px;}
.pdTop15{padding-top:15px;}
.pdTop6{padding-top:6px;}
.pdTop5{padding-top:5px;}
.pdTop8{padding-top:8px;}
.pdTop20{padding-top:20px;}
.pdTop30{padding-top:30px;}

.HideOnPreview
{
    display:none;
}

feedback
{
	display:none;
}

.AccordinTemplate .ui-state-default .ui-icon { background-image: url(../skin/images/spacer.gif)/*{iconsDefault}*/; }
.AccordinTemplate  .ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../skin/images/spacer.gif)/*{iconsHover}*/; }
.AccordinTemplate .ui-state-active .ui-icon {background-image: url(../skin/images/spacer.gif)/*{iconsActive}*/; }

body
{
	margin: 0 auto;
}
html {
    margin: 0 auto;
    padding: 0;
    height:100%;
    width:100%;
}

.Trace
{
    border-top:solid 2px #999999;
    width:99.8%;
    height:65px;
    position:fixed;
    left:0px;
    top:auto;
    bottom:0px;
    background:#ed9430;
    z-index:30;
}

.TraceTitle
{
    background:#cccccc;
    height:15px;
    width:100%;
    top:0px;
    bottom:auto;
    color:#7e6666;
    font-size:10px;
    font-weight:bold;
}

.TraceConsole
{
    width:99.2%;
    height:50px;
    overflow:auto;
    color:#FFFFFF;
    margin-left:10px;
}