﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
form
{
 width: 589px !important;
margin-left: 1px;
}
.ui_interactive hr 
{
   display:none;
}
.ui_edge_buttons {
position: relative;
float: right;
margin: 23px;
}
.ui-dialog{
top: 107px !important;
left: 178px !important;
}
.ui_remaining_words
{
 width: 600px !important;   
}
.ui_interactive select {
    color: #333;
}