﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.DropsC {
    float: left;
    margin-left: -20px;
    position: absolute;
    width: 670px !important;
}
.DragC {
	width: 650px;
	float: left;
	margin-left: -24px;
	height: 40px;
}
.slide1 {
	margin-top: 515px;
}
.slide2 {
	margin-top: 535px;
}
.slide3 {
	margin-top: 515px;
}
.slide4 {
	margin-top: 475px;
}

.DragC>.draggable {
	background-color: #d7eefe;
	border: 1px solid #BDBDBF;
	cursor: pointer;
	font-weight: bold;
	height: 13px;
	margin: 1px;
	margin-bottom: 4px;
	min-width: 125px;
	opacity: 1 !important;
	padding: 3px;
/*	width: 125px;*/
	z-index: 1222;
}
.droppables {
	width: 135px;
	min-height: 28px;
	margin: 3px 6px 2px -4px;
	padding: 0px;
	float: left;
	background-color: #4F81BD;
	color: #FFF;
	line-height: 28px;
	text-align: center;
	font-weight: bold;
}
.definition {
	width: 520px !important;
}
.bin {
	background-color: transparent;
	padding: 0px !important;
	position: absolute;
	z-index: 83;
}
.DropsC ul {
	list-style-type: none;
	line-height: 26px;
	margin-top: 5px;
	padding: 0px !important;
	margin: 0px;
}
.draggable {
	opacity: 1 !important;
	cursor: pointer;
}
.wid {
	min-height: 16px;
	width: 135px;
	margin-left: -4px;
	margin-top: 0px;
	background: none repeat scroll 0% 0% transparent;
	border: medium none !important;
	box-shadow: none !important;
	margin-right: 6px;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.assignment {
	margin-bottom: 0px;
	height: 66px;
	margin-top: -25px;
	margin-left: -21px;
}
/*
.ui_assessment hr {
	display: none;
}
*/
.drag1 .draggable p {
	padding-right: 0px !important;
	line-height: 14px;
}
.ui-dialog {
	top: 145px !important;
}
.DropsC ul li {
	font-size: 12px;
	background: none repeat scroll 0% 0% #9FC;
	line-height: 17px;
	width: 116px;
	margin: 2px 1px 10px 7px;
	padding: 2px 4px 2px;
	color: #000;
}
.sscbin ul li {
	width: 117px !important;
	margin: 8px 1px 4px 4px !important;
}
/*
.ui_reset {
	display: none;
}
*/
.DropsC ul p {
	padding: 0px;
	font-size: 12px;
	height: 44px;
	line-height: 1.3;
	text-align: center;
}
.DragC > .draggable p {
	line-height: 14px;
	font-size: 12px;
	padding-right: 0px !important;
}
.trim {
	height: 515px;
	margin-left: 15px;
}
.ui-state-highlight {
	background: transparent !important;
}
.hiddenDiv {
	height: 23px;
	position: relative;
	z-index: 0;
	border: 1px solid #CCC;
	margin-bottom: -3px;
	background-color: #D0D7E7;
}
.hiddenDiv2 {
	height: 42px;
	position: relative;
	z-index: 0;
	border: 1px solid #CCC;
	margin-bottom: -3px;
	background-color: #D0D7E7;
}
.hiddenslide_2 {
	margin-bottom: -2px !important;
	height: 41px !important;
}
body {
	cursor: default !important;
}
.body_height {
	height: 42px !important;
}
.right_txt {
    background-color: #d0d7e7;
    border: 1px solid #ccc;
    color: #000;
    float: left;
    font-size: 13px;
    height: 23px;
    line-height: 20px;
    margin-bottom: 2px;
    margin-left: -3px;
    padding: 0 5px;
    width: 506px;
}
.right_txt1 {
	height: 42px !important;
	line-height: 1.5em !important;
}
.content2 {
    float: left;
    margin-left: 5px;
    width: 520px;
}
.content1 {
	float: left;
	margin-left: 1px;
	width: 137px;
}
.nextCover {
	position: absolute;
	top: 821px;
	right: 18px;
	background: rgba(118, 88, 121, 0.64);
	height: 35px;
	width: 87px;
}
.divclass {
	background: transparent;
	height: 304px;
	width: 670px;
	position: absolute;
	top: 330px;
	z-index: 1225;
	display: none;
}
