﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 55px;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui_interactive hr {
	display: none;
}
.ui_interactive .ui_edge_buttons {
	right: 8px;
	top: 590px;
	position: absolute;
}
.Img1 {
	margin-left: -2px;
}
.ui_interactive .ui-dialog {
	top: 100px !important;
}
.firstRow {
	background: none repeat scroll 0% 0% rgb(208, 215, 231);
	border: 2px solid #4F81BC;
	float: left;
	font-size: 13px;
	height: 135px;
	margin: 2px;
	padding: 3px;
	text-align: center;
	width: 120px;
}
.secondRow {
	background: none repeat scroll 0% 0% #D0D7E7;
	border: 2px solid #4F81BC;
	float: left;
	font-size: 13px;
	height: 176px;
	margin: 2px;
	padding: 3px;
	text-align: center;
	width: 153px;
}
.drop {
	width: 125px;
	margin: 3px;
	background-color: transparent !important;
}
.bin {
	height: 200px;
}
.bin ul {
	padding-left: 0px;
	text-align: center;
}
.bin ul li {
	line-height: 16px;
	list-style: outside none none;
}
.ui-draggable-dragging {
	z-index: 1222;
}
.drop_area {
	top: 10px;
	position: relative;
}
.ui_interactive .copyright {
	color: Black;
	font-size: 11px;
	text-align: center;
	line-height: 1.4em;
}
.copyrights {
	position: absolute;
	margin-top: -28px;
	font-size: 11px;
	margin-left: 290px;
	color: black;
}
.ui-slideshow-slide {
	margin: 0px !important;
	color: #000000;
}
.ui_submit, .ui_ddremove {
	display: none;
}
.ui_create {
	position: absolute;
	margin: 590px 0px 0px 195px;
}
.img_con, .popUpContent {
	float: left;
	display: inline;
	text-align: center;
}
.img_con div {
	background: #ffffff;
	border: 1px solid #003366;
	display: inline;
	float: left;
	height: 200px;
	margin: 0 2px;
	width: 160px;
}
.desc_input {
	width: 620px;
	height: 100px;
	resize: none;
}
.clearBoth {
	clear: both;
}
.img_con div img {
	display: block;
	margin: 0 auto;
	margin-top: 0px !important;
}
.img_con div .image-container-normal {
	margin: -1px;
}
.blockh2 {
	left: 100px;
	position: absolute;
	top: 25px;
}
.spacerp {
	margin-top: 15px;
}
.ui_interactive .assignment {
	height: 75px;
}
p.drag {
	line-height: 14px;
	padding-right: 0px;
}
.image-container-normal {
	margin-top: 5px;
}
div#noBottom.block.subtle div.content {
	padding-bottom: 0px;
}
