body { margin:0px; }
.maxContainer {
	height:334px;
	width:798px;
	position:relative;
}
.redtxtitalic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#990000;
	font-style:italic;
	position:absolute;
	top:270px;	
}
.slidenotshowAudio {
	display:none;
}

.mgLeft20{
	margin-left:20px;
}
.mgLeft30{
	margin-left:30px;
}
.hide {
	display:none;
}
.mgTop5 {
	margin-top:5px;
}
.mgTop10 {
	margin-top:10px;
}
.mgTop15 {
	margin-top:15px;
}
.mgTop25 {
	margin-top:25px;
}
.mgTop50 {
	margin-top:50px;
}
.mgTop30 {
	margin-top:30px;
}

.fl {
	float:left;
}
.fr {
	font:right;	
}
.clear {
	clear:both;
}

.txtblack {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
}

.txtbold {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
}

.center {
	text-align:center;
}

.padding2 {
	padding:2px;
}
.padding5 {
	padding:5px;
}
.padding10 {
	padding:10px;
}
.fadeDiv{
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}
.playDiv{
	background-image:url(images/play_icon.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#ffffff;
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:322px;
	z-index:99999;
	top:0px;
	left:0px;
}
.cursorhand {
	cursor:pointer;
}

.pop1 {
    left: 133px;
    position: absolute;
    top: 60px;
}

.pop2 {
    left: 511px;
    position: absolute;
    top: 34px;
}
.ExternalVideoPlayer 
{
    margin:0 auto;
    padding-left:20px;
    background-color: #F4F4F4;
    border: 0px solid red;
    height: 97%;    
    position: absolute;
    top: 5px;
    width: 95%;
    z-index: 200;
}
.ExternalVideoPlayerclosebtn {
    background-image: url("images/close_btn.png");
    height: 33px;
    margin-left: 715px;
    position: absolute;
    width: 40px;
    z-index: 2000;
}