﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.ui_interactive .ui_custom_dialog_trigger{cursor:pointer;}
.ui_interactive .ui-dialog{width:500px;}
.ui_interactive .ui-dialog-buttonset{display:none;}
.ui_interactive .ui-slideshow-slide {margin: 0px !important;}
.ui_interactive .copyright {font-size: 13px;line-height: 31px;width: 260px;}
.map{text-align:center;}
.ui_interactive .img{position: absolute;left: -1px;top: 373px;width: 650px;} 
.captionWth {margin-left: 100px;margin-top: 14px;}
.topZero{top: 0px !important;}
.topZero2{color: #984842;position:relative;}
.img1{position: absolute;margin-left: 12px;margin-top: -6px;text-align:center;}
.customPopDiv{position: absolute;top: 1px;left: 29px;padding: 10px;width: 569px;border: 1px solid #000000;background-color: #EFEFEF;display: none;height: 333px;}
.customPopDiv > .head1{font-weight: bolder;width: 469px;margin-left: 12px;margin-bottom: 25px;padding-top: 14px;}
.customPopDiv > .content1{width: 170px;float: left;margin-top: 8px;margin-left: 395px;font-size: 13px;}
.customPopDiv > .copyright1{width: 383px;float: left;line-height: 2em;text-align: center;position:absolute;}
.close1{width: 20px;height: 20px;background: black;position: absolute;margin-left: 636px;margin-top: -19px;z-index: 11;border-radius: 16px;cursor: pointer;}
.close2{background-position: -309px 2px;}
.copyrights{position: absolute;margin-top: 243px;margin-left: 34px;}
.rights{text-align: center;width: 650px;position: absolute;margin-top: 444px;}
.yr1 {position: absolute;top: 50px;font-weight: bold;font-size: 13px;left: 3px;}
.yr2 {left: 74px;position: absolute;font-weight: bold;font-size: 13px;}
.yr3 {left: 156px;position: absolute;font-weight: bold;font-size: 13px;}
.yr4 {left: 236px;position: absolute;font-weight: bold;font-size: 13px;}
.yr5 {left: 318px;position: absolute;font-weight: bold;font-size: 13px;}
.yr6 {left: 400px;position: absolute;font-weight: bold;font-size: 13px;}
.yr7 {position: absolute;font-weight: bold;font-size: 13px;left: 475px;}
.yr8 {left: 603px;position: absolute;font-weight: bold;font-size: 13px;}
.clickarea{position: absolute;top: 377px;width: 650px;height: 69px;left: 0px;}
.area{ position: absolute;cursor: pointer;}
.active {border: 2px solid red;}
#area1{height: 35px;width: 54px;position: absolute;left: 19px;top: 4px;}
#area2{height: 36px;width: 30px;position: absolute;left: 131px;top: 3px;}
#area3{height: 16px;width: 32px;position: absolute;left: 175px;top: 16px;}
#area4{height: 16px;width: 32px;position: absolute;left: 212px;top: 16px;}
#area5{height: 36px;width: 30px;position: absolute;left: 375px;top: 3px;}
#area6{height: 35px;width: 54px;position: absolute;left: 505px;top: 4px;}
#area7{height: 35px;width: 25px;position: absolute;left: 565px;top: 3px;}
#area8{height: 36px;width: 39px;position: absolute;left: 596px;top: 3px;}