﻿.ui_interactive hr {
	display: none;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.ui_edge_buttons {
	margin-top: 61px !important;
	margin-right: 62px !important;
}
.questionText {
	font-weight: bold;
	text-align: center;
}
.selectable {
	width: 87% !important;
}
.selectable li {
	height: auto;
	cursor: pointer;
}
.copyright {
	margin-top: -36px;
	position: absolute;
	left: 252px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
}
.trim {
	width: 550px;
	height: 190px;
	margin-top: -1px;
}
.ui-dialog {
	top: 21px !important;
}
.img1 {
	position: absolute;
	top: 41px;
	left: 343px;
	text-align: center;
	font-size: 13px;
	line-height: 27px;
}
.trim2 {
	width: 290px !important;
}
.imghead {
	color: #5799CD;
}
.ital {
	font-style: italic;
}
