﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.DropsCb {
	width: 653px !important;
	float: left;
	margin-top: 18px;
	margin-left: 20px;
}
.DragCb {
	width: 653px !important;
	float: left;
	margin-top: 50px;
}
.DragCb>.draggable {
	width: 18px;
	height: 25px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	opacity: 1 !important;
}
.droppablesb {
	min-height: 40px;
	margin: 0px 12px 4px -24px;
	padding: 0px;
	float: left;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	font-weight: bold;
}
.drop_txt {
	width: 136px;
	min-height: 44px;
	float: left;
	margin-left: -10px;
	border: medium none;
	font-size: 12px;
	line-height: 1.4em;
	padding: 28px 4px 0px 9px;
	background-color: #D0D8E8;
}
.drop_txts {
	width: 385px;
	min-height: 40px;
	margin: 4px 5px 5px -1px;
	padding: 0px;
	background-color: #4F81BD;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	float: left;
}
.bin11 {
	background-color: transparent;
	padding: 0px !important;
	position: absolute;
	z-index: 1;
}
.DropsCb ul {
	list-style-type: none;
	line-height: 18px;
	text-align: center;
	padding: 0px !important;
	margin: 0px;
}
.draggable {
	opacity: 1 !important;
	cursor: pointer !important;
}
.DropsCb ul li {
	background: none repeat scroll 0% 0% #9FC;
	line-height: 12px;
	width: 190px;
	border: 1px solid #999;
	margin: 2px 0px -1px 0px;
	padding: 6px 4px 4px;
	color: #000;
	height: 16px;
	font-size: 11.5px;
	text-align: center;
}
.widb {
	width: 200px;
	margin-top: 54px;
	float: left;
	margin-right: 0px;
	margin-left: 3px;
	box-shadow: none !important;
	position: absolute !important;
	border: 1px solid #4F81BD !important;
	background-color: #D0D8E8;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.ui_assessment hr {
	display: none;
}
.copyrightact {
	margin-top: -41px;
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 12px;
	margin-left: 300px;
}
.ui_interactive .draggable p {
	padding-right: 0px !important;
	line-height: 24px;
	font-size: 12px;
}
.ui_interactive .drag p {
	line-height: 14px !important;
}
.disableDiv {
	background-color: #d0d8e8;
}
.pos1 {
	height: 114px;
	left: 0px;
	top: 185px;
}
.pos2 {
	left: 52px;
	top: 367px;
	min-height: 27px;
}
.pos3 {
	left: 321px;
	top: 402px;
	min-height: 27px;
}
.pos4 {
	height: 143px;
	left: 432px;
	top: 200px;
}
.pos5 {
	left: 0px;
	top: 28px;
	height: 56px;
}
.pos6 {
	left: 432px;
	top: 29px;
	height: 86px;
}
.redCont {
	height: 33px;
	line-height: 2.4;
	background-color: #FD9D93;
	margin-left: 30px;
	padding-left: 5px;
	/*float: right;*/
	width: 133px;
	margin-bottom: 5px;
	border: 1px solid #B9B3B7;
}
.optDrg {
	margin: 0px 2px 6px !important;
	background-color: #FFF;
	width: 199px;
	text-align: center;
	height: 21px !important;
	padding: 2px !important;
	min-height: 28px !important;
}
.Head {
	text-align: center;
	height: 80px;
	background-color: #4F81BD;
	margin-bottom: 4px;
	color: #FFF;
	line-height: 5;
	font-weight: bold;
	border: 1px solid #B9B3B7;
	width: 102px;
	float: left;
	margin-right: 5px;
}
.head2 {
	height: 124px;
	line-height: 9;
}
.blueCont {
	height: 50px;
	background-color: #e2f1f6;
	margin-left: 30px;
	padding-left: 5px;
	/*float: right;*/
	width: 133px;
	margin-bottom: 5px;
	border: 1px solid #B9B3B7;
}
.blueDrg {
	margin: 0px !important;
	background-color: #2bbdf1;
}
.pos1 .bin11 ul li, .pos2 .bin11 ul li, .pos3 .bin11 ul li, .pos4 .bin11 ul li, .pos5 .bin11 ul li, .pos6 .bin1 ul li {
	text-align: center;
	text-align: center;
	background-color: #9FC;
	line-height: 16px;
	margin: 4px 3px;
	padding-top: 2px;
	/* border-color: #537FA1; */
	padding-bottom: 7px;
	z-index: 6;
	width: 195px;
	height: 15px;
	font-size: 12px;
}
.pos3 .bin1 ul li {
	width: 204px!important;
}
.bin1 ul li {
	background-color: #99FFCC;
	color: #000;
}
.dragAreab {
	width: 622px;
/* 	height: 212px; */
	margin-bottom: 5px;
	padding: 5px;
	margin-left: -6px;
}
.dragArea2 {
	height: 128px;
}
.title1 {
	margin-left: 2px;
	margin-top: -18px;
	color: #000;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}
.hiddenDivb {
	height: 26px;
	position: relative;
	z-index: 0;
	background-color: #D0D7E7;
	border-color: #4F81BD;
	margin-bottom: -2px;
	margin-top: 4px;
	border-bottom: 1px solid #4F81BD;
}

.slide2 hr {
	display: block;
}
/*
.ui_edge_buttons {
	position: relative;
	float: right;
	margin: 10px;
	right: 13px!important;
}
*/