﻿.img
{
    float:left;
    margin-left: 131px;
margin-top: 38px;
}

.copyright1
{
    text-align: center;
font-size: 11px;

}
.slide_txt
{
position: absolute;
margin-top: 328px;
width: 517px;
margin-left: 15px;

 }
  .copyright
 {
     font-size: 12px !important;
       line-height: 16px !important;
     text-align:center;
  }
