﻿.img {
	margin-top: 21px;
	position: absolute;
	margin-left: 3px;
}
.left_txt {
	width: 242px;
	font-weight: bold;
	margin-top: -210px;
	margin-left: 21px;
	font-size: 12px;
	color: #000000;
}
.carousel {
	width: 700px;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 15px;
	position: relative;
	padding: 0;
}
.ui-slideshow-item {
	margin-top: -27px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #CCCS;
	font-size: 12px;
}
.copyright1 {
	font-size: 12px;
	margin-top: 245px;
	margin-left: 350px;
}
.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-dialog {
	width: 510px;
	top: 11px !important;
	left: 64px !important;
	height: auto !important;
}
.sub_txt {
	font-size: 12px;
}
a:hover {
	text-decoration: none !important;
}
.ui_custom_dialog_trigger {
	cursor: pointer;
	color: #000;
	font-weight: bold;
}
a:hover {
	color: #000;
}
.ui-slideshow-item {
	margin-left: -16px;
}
.hiddentool {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 206px;
	left: 99px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hid {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 262px;
	left: 95px;
	z-index: 1004;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hiddentool2 {
	top: 326px;
	left: 95px;
}
.hiddentool3 {
	top: 251px;
	left: 95px;
}
.hiddentool4 {
	top: 141px;
	left: 110px;
}
#chkTool1 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
#chkTool2 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
#chkTool3 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
#chkTool4 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
#chkTool5 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
.hiddencontent {
	color: #fff;
}
.close2 {
	position: absolute;
	right: -9px;
	background-image: url("../imgs/05_02_02a_btnclose.png");
	background-repeat: no-repeat;
	top: -11px;
	z-index: 103;
	height: 26px;
	width: 25px;
	cursor: pointer;
}
.a1 {
	color: #000 !important;
}
