﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 45px;
}
/*
.b-page-cover {
	background: transparent url(../imgs/02_01_06a_book.png) no-repeat;
	background-size: 100%;
}
*/
.img_border {
	padding-bottom: 1px;
	border: 1px solid;
}
.left_img {
	width: 200px;
	height: 275px;
	margin-top: 44px;
	margin-left: 31px;
	text-align: center;
}
.left_img1 {
	margin-top: 5px !important;
}
.right_txt {
	height: 169px !important;
	padding-top: 35px;
	padding-bottom: 89px;
	width: 217px;
	padding-left: 20px;
	padding-right: 16px;
	margin-left: 6px;
	margin-top: 6px;
	border: 1px solid #c0c0c0;
}
.txt_scroll {
	height: 169px;
	overflow-y: scroll;
}
.copyrights {
	margin-top: -53px;
	font-size: 12px;
	margin-left: 287px;
	position: absolute;
}
.main_title {
	margin-top: 4px;
	text-align: center;
	font-weight: bold;
}
.copyright2 {
	margin-top: 27px;
}
/************************/
.outerSize {
	width: 650px !important;
}
div.ui_interactive {
	height: 500px !important;
}
.booklet {
	margin-top: 10px !important;
}
.copyright1 {
	bottom: 20px;
	font-size: 10px;
	margin-left: 240px;
	position: absolute;
}
a.tip-bottom {
	font-weight: bold !important;
}
#endBook:hover {
	color: #fff !important;
	text-decoration: none;
}
