﻿/* CSS Document */

.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog {
	width: 500px;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-slideshow-slide {
	margin: 0px !important;
}
.copyright {
	font-size: 13px;
	line-height: 31px;
	width: 260px;
}
.map {
	text-align: center;
}
#area1, #area2 {
	background: url("../../../../../global/images/global/spacer.png") repeat;
	height: 24px;
	position: absolute;
	top: 475px;
	width: 252px;
}
#area1 {
	left: 61px;
}
#area2 {
	left: 335px;
}
#area11, #area12, #area13, #area21, #area22, #area23 {
	background: url("../../../../../global/images/global/spacer.png") repeat;
	position: absolute;
	z-index: 10;
}
#area11 {
	height: 23px;
	left: 439px;
	top: 311px;
	width: 99px;
}
#area12 {
	height: 24px;
	left: 102px;
	top: 91px;
	width: 108px;
}
#area13 {
	height: 24px;
	width: 88px;
	top: 257px;
	left: 45px;
}
#area21 {
	height: 24px;
	width: 65px;
	top: 104px;
	left: 497px;
}
#area22 {
	height: 24px;
	width: 99px;
	top: 280px;
	left: 443px;
}
#area23 {
	height: 24px;
	width: 89px;
	top: 298px;
	left: 40px;
}
.captionWth {
	margin-left: 100px;
	margin-top: 14px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 55px;
}
.img {
	position: absolute;
	margin-left: 24px;
	margin-top: 0px;
}
.popb1 {
	position: absolute;
	top: 68px;
	left: 88px;
	padding: 10px;
	width: 398px;
	border: 1px solid #000000;
	background-color: #EFEFEF;
	display: none;
	height: 57px;
}
.popb2 {
	position: absolute;
	top: 68px;
	left: 88px;
	padding: 10px;
	width: 398px;
	border: 1px solid #000000;
	background-color: #EFEFEF;
	display: none;
	height: 57px;
}
.popb1 > .head1 {
	font-weight: bolder;
	width: 287px;
}
.popb1 > .content1 {
	position: absolute;
	width: 399px;
	float: right;
	font-size: 13px;
	margin-top: 2px;
	margin-left: 0px;
}
.popb2 > .head1 {
	font-weight: bolder;
	width: 287px;
}
.popb2 > .content1 {
	position: absolute;
	width: 399px;
	float: right;
	font-size: 13px;
	margin-top: 2px;
	margin-left: 0px;
}
.customPopDiv > .copyrights {
	width: 332px;
	float: right;
	font-size: 13px;
}
.customPopDiv > .popimg {
	position: absolute;
	width: 100%;
}
.clickarea {
	cursor: pointer;
}
.close1 {
	width: 26px;
	height: 25px;
	position: absolute;
	margin-left: 392px;
	margin-top: -19px;
	z-index: 11;
	background-image: url("../img/04_07_03_btnclose.png");
	cursor: pointer;
}
.close2 {
	background-position: -309px 2px;
}
.copyrights {
	position: absolute;
	margin-top: 243px;
	margin-left: 34px;
}
.rights {
	position: absolute;
	margin-top: 519px;
	margin-left: 271px;
}
.key_con {
	display: inline;
	background: #A5ECFE;
	border: 2px solid #003366;
	margin: 435px 0 0 39px;
	position: absolute;
	width: 534px;
	height: 72px;
	padding-left: 15px;
}
.route1_btn {
	position: absolute;
	top: 28px;
	left: 10px;
}
.route {
	cursor: pointer;
}
.route2_btn {
	position: absolute;
	left: 284px;
	top: 27px;
}
