.maxContainer {
	height:334px;
	width:798px;	
	position:relative;
}
.slidenotshowAudio {
	display:none;
}
.redtxtitalic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#990000;
	font-style:italic;	
}
.txtItalic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;	
	font-style:italic;	
}
.mgLeft10 {
	margin-left:10px;	
}

.mgLeft30{
	margin-left:30px;
}
.mgLeft45{
	margin-left:45px;
}
.hide {
	display:none;
}
.mgTop5 {
	margin-top:5px;
}
.mgTop10 {
	margin-top:10px;
}
.mgTop25 {
	margin-top:25px;
}

.mgTop40 {
	margin-top:40px;
}

.mgTop50 {
	margin-top:45px;
}
.mgTop30 {
	margin-top:30px;
}

.fl {
	float:left;
}
.fr {
	font:right;	
}
.clear {
	clear:both;
}

.highlight { background:#ffff99; }

.yellowbg {
	background-color:#ebd88b;
	width:490px;
	height:220px;	
	border:1px solid #e7eaea;	
	margin-left:30px;
	margin-top:20px;
	padding:2px;
}

.txtblack {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
}
.txtwithblue {
	font-family:Arial, Helvetica, sans-serif;
	color:#0000ff;
	font-size:14px;
}
.playbtn {
	margin-top:0px;
	margin-left:637px;
	cursor:pointer;
}

.txtbold {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
}

.center {
	text-align:center;
}

.padding2 {
	padding:2px;
}
.padding5 {
	padding:5px;
}
.padding10 {
	padding:10px;
}
.fadeDiv{
	opacity:.9;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}
.playDiv{
	background-image:url(images/play_icon.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#ffffff;
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}
.cursorhand {
	cursor:pointer;
}

.txtheading {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a749a;
	font-weight:bold;
	padding-bottom:8px;
	
}

.contentarea {
	background-image:url(images/bg.png);
	background-repeat:no-repeat;
	height:270px;
	position:absolute;
	width:774px;
	left:5px;
}

.firsttooltip {
	position: absolute;	
	border: 1px solid #f2c204;
	background-color: #feedab;
	padding: 5px;
	top:95px;
	left:170px;
}
.secondtooltip {
	position: absolute;	
	border: 1px solid #f2c204;
	background-color: #feedab;
	padding: 5px;
	top:145px;
	left:262px;
	width:320px;
}
.thirdtooltip {
	position: absolute;	
	border: 1px solid #f2c204;
	background-color: #feedab;
	padding: 5px;
	top:145px;
	left:400px;
	width:323px;
}