﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
#head {
	display: none;
}
.pop {
}
.title {
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
/*	margin-top: 101px; */
	margin-bottom: 20px;
}
.leftimg_1 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 51px;
}
.leftimg_2 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_3 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 51px;
}
.leftimg_4 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_5 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_6 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 51px;
}
.leftimg_7 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 51px;
}
.leftimg_8 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_9 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_10 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_11 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_12 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_13 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_14 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_15 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_16 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_17 {
	text-align: center;
	top: 42px;
	left: 10px;
	position: absolute;
	cursor: pointer;
	height: 268px;
}
.leftimg_18 {
	text-align: center;
	position: absolute;
	top: 42px;
	left: 12px;
}
.leftimg_19 {
	text-align: center;
/*	top: 151px; */
	left: 11px;
	position: absolute;
	cursor: pointer;
	height: 218px;
}
.leftimg_20 {
	text-align: center;
	position: absolute;
/*	top: 42px; */
	left: 12px;
}
.leftimg_21 {
	text-align: center;
	position: absolute;
/* 	top: 42px; */
	left: 12px;
}
.leftimg_22 {
	text-align: center;
	position: absolute;
/*	top: 130px; */
	left: 10px;
	height: 275px;
}

.right_txt1 {
/*	margin-top: 23px; */
	width: 286px;
	margin-left: 326px;
	position: absolute;
}
.right_txt22 {
/*	top: 126px; */
	width: 298px;
	left: 344px;
/*	line-height: 27px; */
	position: absolute;
}
.right_txt19 {
/* 	top: 154px;
	width: 298px; */
	margin-left: 326px;
/*	line-height: 15px; */
	position: absolute;
}
.right_txt10 {
	margin-top: 18px;
	width: 287px;
	margin-left: 326px;
	overflow: auto !important;
	height: 354px !important;
}
.right_txt14 {
/*	margin-top: 17px; */
	width: 291px;
	margin-left: 326px;
	overflow: auto !important;
	height: 354px !important;
	position: absolute;
}
.right_txt20 {
/*	margin-top: 15px; */
	width: 287px;
	margin-left: 326px;
	overflow: auto !important;
 	height: 354px !important;
	position: absolute;
}
.right_txt5 {
/*	margin-top: 16px; */
	width: 298px;
	margin-left: 326px;
	position: absolute;
}
.right_txt16 {
/*	margin-top: 15px; */
	width: 298px;
	margin-left: 326px;
	position: absolute;
}
.right_txt17 {
/*	top: 137px; */
	width: 298px;
	margin-left: 326px;
/*	line-height: 15px; */
	position: absolute;
}
.right_txt11 {
/*	margin-top: 16px; */
	width: 287px;
	margin-left: 326px;
	position: absolute;
}
.enlargeimg {
	font-size: 12px;
	font-style: italic;
	color: #881401;
}
.frame {
	background-color: #f8f8f8;
	padding: 10px;
}

.redcolor {
	margin-top: -18px !important;
	color: #881401;
	font-size: 12px;
}
.cop {
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.cop1 {
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	margin-top: -20px;
}
.ui_interactive .icon {
	top: 17px !important;
}
.ui_interactive .assignment {
	margin-top: 36px !important;
}
.ui_interactive {
	height: 542px !important;
}
/*
.ui_interactive .jTimeline .timelineInfo .item {
	height: 460px !important;
}
.ui_interactive .jTimeline .jspPane {
	top: 0px !important;
}
.ui_interactive .jTimeline .jspPane {
	position: static !important;
}
.ui_interactive .jTimeline .jspContainer {
	overflow: hidden;
	position: absolute;
	margin-top: 1px;
}
.ui_interactive .jTimeline {
	height: 639px !important;
	margin-top: -84px;
}
*/
.ui_interactive .jTimeline .jcarousel-skin .jcarousel-container-horizontal {
	width: 83%;
	height: 120%;
	padding: 0 6% 0 7%;
/*	margin-top: -68px;*/
}
.ui_interactive .jTimeline .jcarousel-skin {
	height: 12%;
	bottom: 12px!important;
}
.jTimeline .timelineInfo {
  height: 83%;
}
.txt_scroll {
	height: 169px;
	overflow-y: scroll;
}
.hiddentool7 {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 86px;
	left: 8px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hiddentool1 {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 296px;
	left: 333px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hiddentool2 {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 24px;
	left: -2px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hiddentool3 {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 23px;
	left: -2px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hiddentool4 {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 273px;
	left: -2px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hiddentool5 {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 85px;
	left: -2px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hiddentool6 {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 108px;
	left: -2px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.aud {
	color: #003366;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	border-bottom: 1px dotted #003366;
}
.hiddencontent {
	color: #fff;
}
.close2 {
	position: absolute;
	right: -9px;
	background-image: url("../images/07_04_04a_btnclose.png");
	background-repeat: no-repeat;
	top: -11px;
	z-index: 103;
	height: 26px;
	width: 25px;
	cursor: pointer;
}
.a1 {
	color: #000 !important;
}
.icon1 {
	margin-top: -299px;
	margin-left: 126px;
	background-image: url("../images/07_04_04a_img-enlarge.png");
	position: absolute;
	background-repeat: no-repeat;
	z-index: 205;
	width: 33px;
	height: 33px;
}
.icon2 {
	margin-top: -249px;
	margin-left: 97px;
	background-image: url("../images/07_04_04a_img-enlarge.png");
	position: absolute;
	background-repeat: no-repeat;
	z-index: 205;
	width: 33px;
	height: 33px;
}
.icon3 {
	margin-top: -306px;
	margin-left: 129px;
	background-image: url("../images/07_04_04a_img-enlarge.png");
	position: absolute;
	background-repeat: no-repeat;
	z-index: 205;
	width: 33px;
	height: 33px;
}
.ui_interactive .jTimeline .jcarousel-skin .jcarousel-item-horizontal {
	width: 90px !important;
}
.jspVerticalBar {
	display:none;
}