﻿.topZero1 {
	color: #984842;
	font-size: 14px;
	line-height: 16px;
	font-style: italic;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.resize {
	width: 287px;
	margin-left: 11px;
	text-align: center;
}
.width314 {
	margin:0 auto 20px;
	width: 314px;
}
