﻿.panel1_txt {
	margin-top: 10px;
	font-size: 14px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 7px;
}
.tabs div.panel {
	border: solid 0px #e8e8e8 !important;
}
.main {
	font-size: 12px;
	font-style: italic;
	float: left;
	color: #881401;
}
.ui_flip {
	height: 300px;
	width: 280px;
	border: 3px solid #ffffff;
	margin-left: -9px;
}
.carousel .cslider .card {
	margin-top: 52px;
	height: 415px !important;
}
.carousel {
	width: 700px;
	height: 300px;
	margin: -34px auto;
}
.flip_txt {
	font-size: 12px;
	line-height: 12px;
	margin-left: 7px;
	margin-top: -290px;
	width: 257px;
	text-align: left;
}
.copyright {
	font-size: 12px;
	line-height: 10px;
	display: block;
	margin-top: 309px;
	margin-left: 36px;
	width: 204px;
}
.main {
	font-size: 12px;
	font-style: italic;
	float: left;
	margin-left: 75px;
	margin-top: -49px;
	width: 580px;
	color: #881401;
}
.ui_interactive {
	height: 528px!important;
}
