﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.DropsC{width: 395px !important;
float: left;
margin: 7px 0px 0px 161px;}
.DragC{width: 673px;
float: left;
margin-top: 7px;
margin-left: -171px;}
.DragC .draggable{width: 117px;
padding: 4px;cursor: pointer;opacity: 1 !important;text-align: left;background-color: #d7eefe;border: 1px solid #999;font-weight: normal;height: 60px;margin-left: 1px;}
.droppables{width: 151px;
min-height: 15px;
margin: 3px 2px 3px 1px;
padding: 7px;
float: left;
background-color: #4F81BD;
color: #FFF;
text-align: center;
line-height: 10px;
font-weight: bold;
padding-top: 10px;}
.drop_txt{width: 82px;min-height: 92px;float: left;margin-left: -10px;border: medium none;font-size: 14px;line-height: 1.4em;padding: 3px 4px 0px 0px;background-color: #4F81BD;font-weight: bold;color: #FFF;text-align: left;}
.drop_txts{width: 385px;min-height: 40px;margin: 4px 5px 5px -1px;padding: 0px;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 37px;float: left;}
.bin{background-color: #d0d8e8;}
.DropsC ul{list-style-type: none;line-height: 18px;text-align: center;padding: 0px !important;margin: -3px;}
.ui_interactive .draggable{opacity: 1 !important;cursor:pointer;}
.wid{min-height: 270px;
width: 162px;
margin-top: 0px;
float: left;
margin-right: 2px;
margin-left: 2px;
box-shadow: none !important;
background-color: #d0d8e8;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.ui_interactive .assignment{margin-bottom: 0px;height: 50px;}
.ui_interactive .ui_assessment hr{display: none;}
.ui_interactive .ui_reset{display:none !important;}
.copyrightact{margin-top: 526px;
position: absolute;
text-align: center;
width: 681px;
color: #000;
font-size: 11px;}
.ui_interactive .draggable p {padding-right: 0px !important;line-height: 16px;font-size: 12px;color:#1a1a1a;}
.ui_interactive .ui-dialog {top: 122px !important;
left: 186px !important;}
.disableDiv {background-color: #d0d8e8;}
.topwid{width: 86px;}
.heading{width: 155px;float: left;margin: 2px;text-align: center;font-weight: bold;}
.ui_interactive .bin ul li{width: 154px;margin-bottom: 2px;padding: 3px;opacity: 1 !important;text-align: left;border: 1px solid #cfcfcf;font-weight: normal;background: none repeat scroll 0% 0% #9FC;font-size: 12px;line-height: 18px;color: #000;}
.txt{font-size: 12px;margin-bottom: 5px !important;}
.ui_interactive .ui-slideshow-item {
overflow: hidden;
margin-left: -10px;
}
.divclass{background: transparent;
height: 172px;
width: 669px;
position: absolute;
top: 330px;
z-index: 1225;
left: -4px;}
.ui_interactive .ui-slideshow-item {overflow: inherit !important;}
.ui_interactive .ui-draggable-dragging{z-index:1222 !important;}
.ui_interactive .ui-state-highlight{background: #D0D7E7 !important;border: #D0D7E7 !important;}
