/* CSS */

.ui-widget .ui-widget {
	border: none;
}
.ui_interactive {
	border: 1px solid black;
}
a.ui_custom_dialog_trigger {
	border: 3px solid #A85B98;
	cursor: pointer;
	padding: 4px;
}
.ui-slideshow-slide {
	margin:0 !important;
}
.ui_slide.ui-slideshow-item {
	overflow: visible;
    margin: 20px 0 0 20px;
}
div.image-container {
	width: auto;
}
#gs_menu, #gs_notes, #gs_glossary, #gs_printscreen, #gs_progress, #gs_homebtn {
	height: 10px;
    position: absolute;
    top: -19px;
}
#gs_menu {
    left: -13px;
	width: 33px!important;
}
#gs_notes {
	left: 84px;
	width: 22px!important;
}
#gs_glossary {
    left: 127px;
    width: 38px !important;
}
#gs_printscreen {
	left: 185px;
	width: 18px!important;
}

#gs_progress {
	left: 474px;
	width: 50px!important;
}
#gs_homebtn {
	left: 554px;
	width: 90px !important;
}
#gs_bookmark {
	display: none;
}
.image-container.right {
    margin: 5px 20px 10px 30px;
}
.ui-dialog {
	top: 10px !important;
}