﻿.redcolor
{
    color: #881401;
 }

.icon
{
    margin-top: 26px;
 }
.img
{  
  
    text-align:center;
  
}


 .main_title
 {
   margin-bottom: 23px;
font-weight: bold;
color: #000000;
text-align: center;
margin-top: -12px;

}


 .down_txt
 {
    float: left;
margin-top: 8px;
width: 604px;
font-size: 12px;
font-style: italic;
line-height: 18px;
color: #003366;

 }
 .copyright1
 {
    margin-top: 6px;
    text-align: center;
    margin-left: -4px;
 }
 
 
.copyrights
{
    position: absolute;
margin-top: 540px;
font-size: 15px;
margin-left: 215px;
color: #ffffff;


 }