﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.topZero2
{
    color: #984842;
}

.copyright_img
{
  font-size: 11px;
}

.copyrights
{
    position: absolute;
margin-top: -42px;
font-size: 12px;
margin-left: 280px;
color: white;
}
.ui-dialog
{
    width: 654px;
    top: 193px !important;
    left: 10px !important;
}
.ui_custom_dialog_trigger
{
    cursor: pointer;
}
.ui_slides
{
    margin-left: 0;
}
.ui-dialog-buttonset
{
    display: none;
}
.first_row
{  
 line-height: 1.8em;
width: 152px;
padding-left: 7px;
float: left;
margin-left: 5px;
text-align: center;
height: 276px;
   
}

.second_row
{
   
   width: 152px;
padding-left: 12px;
float: left;
text-align: center;
padding-top: 15px;
line-height: 1.4em;
height: 263px;
}
.third_row
{
    
   padding-left: 13px;
float: left;
text-align: center;
padding-top: 15px;
line-height: 1.4em;
}

.main
{
    text-align:center;
font-size:14px;
font-weight:bold;
    
}
.main1
{
    text-align:center;
font-size:14px;
font-weight:bold;
margin-top: 19px;    
}
.imgtxt_head 
{
font-size: 15px;
}