﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.DropsC{width: 613px !important;
float: left;
position: absolute;
margin-left: -6px;}
.DragC{width: 590px;
float: left;
margin-left: 1px;
margin-top: 225px;
height: 143px;}
.DragC>.draggable{height: 27px;width: 182px;padding: 5px;cursor: pointer;opacity: 1 !important;z-index: 1222;margin: 1px;border: 1px solid #BDBDBF;background-color: #E9EDF4; repeat scroll 0% 0% rgb(215, 238, 254);margin-bottom: 5px;text-align: center;}
.droppables{width: 201px;
min-height: 40px;
margin: 4px 6px 2px -4px;
padding: 0px;
float: left;
background-color: #4F81BD;
color: #FFF;
text-align: center;
line-height: 37px;
font-weight: bold;}
.bin{background-color: transparent;padding: 0px !important;position: absolute;z-index: 83;}
.DropsC ul{list-style-type: none;line-height: 26px;margin-top: 5px;padding: 0px !important;margin: 0px;}
.draggable{opacity: 1 !important;cursor:pointer;} 
.wid{min-height: 220px;
width: 201px;
margin-left: -4px;
margin-top: 0px;
background: none repeat scroll 0% 0% transparent;
border: medium none !important;
box-shadow: none !important;
margin-right: 6px;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.assignment{margin-bottom: 0px;
height: 66px;
margin-top: -25px;
margin-left: -21px;}
.ui_assessment hr{display: none;}
.drag .draggable p {padding-right: 0px !important;line-height: 13px;}
.ui-dialog {top: 145px !important;}
.DropsC ul li {background: none repeat scroll 0% 0% #9FC;
line-height: 12px;
width: 189px;
border: 1px solid #999;
margin: 5px 1px 10px 1px;
padding: 6px 4px 4px;
color: #000;
height: 28px;
font-size: 11.5px;
text-align: center;}
.ui_reset {display: none;}
.DropsC ul p{padding: 0px;font-size: 12px;height: 44px;line-height: 1.3;text-align: center;}
.DragC > .draggable p{line-height: 14px;font-size: 12px;padding-right: 0px !important;}
.trim {height: 515px;margin-left: 15px;}
.ui-state-highlight{background: transparent !important;}
.hiddenDiv{height: 47px;
position: relative;
z-index: 0;
border: 1px solid #CCC;
margin-bottom: 2px;
background-color: #D0D7E7;}
body{cursor: default !important;}