﻿.topZero
{
top: 0px !important;
position: relative !important;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.topZero2
{
color: #984842;    
}
.ui_interactive .copyright {
    margin-top: 3px;
}
.copyright_discovery
{
font-size: 12px;
line-height: 29px;
text-align: center;
margin-top: 289px;
display: block;
margin-left: 161px;
position: absolute;
}
.copyright_public
{
font-size: 12px;
line-height: 29px;
text-align: center;
margin-top: 7px;
display: block;
margin-left: 206px;
position: absolute;
}
.copyright_g
{
font-size: 12px;
line-height: 29px;
text-align: center;
margin-top: 5px;
display: block;
margin-left: 161px;
position: absolute;
}

.head
{
font-family: Arial;
font-size: 13px;
font-style: italic;
margin-left: 55px;
padding-bottom: 10px;
}
    
.title
{
font-weight: bold;
text-align:center;
font-size: 14px;
line-height: 18px;
}
 
 
.mid_img
{
margin-left: 120px;
margin-top: 10px;
position:absolute;
}
       
.btm_txt
{
margin-left: 11px;
margin-top: 321px;
font-size: 13px;
line-height: 18px;    
}
.wide_txt
{
margin-left: 11px;
margin-top: 36px;
font-size: 13px;
line-height: 18px;
}            
.img_5
{
margin-top: 10px;
text-align: center; 
}
.img_6
{
margin-top: 10px;
text-align: center;       
}   
.txt_5
{
margin-top: 39px;
margin-left: 10px;
font-size: 13px;
line-height: 18px;
}
.txt_6
{
margin-top: 39px;
width: 505px;
margin-left: 12px;
font-size: 13px;
line-height: 18px;
}  
.img2_public
{
font-size: 12px;
line-height: 29px;
text-align: center;
margin-top: 290px;
display: block;
margin-left: 206px;
position: absolute;
}
.hiddentool
{width: 244px;
min-height: 50px;
position: absolute;
top: 371px !important;
top: 446px;
z-index: 106;
padding: 10px;
background: #6d4672;
border-radius: 9px;
}
                    
#chkTool
{
color: #003366;
font-weight: bold;
cursor: pointer;
line-height: 1.3em;
border-bottom: 1px dotted #003366;
}
.hiddencontent
{
      
color:#fff;
}
.close2{position: absolute;right: -9px;background-image: url("../images/06_04_02a_btnclose.png");background-repeat: no-repeat;top: -11px;z-index: 103;height: 26px;width: 25px;cursor:pointer;}   
.tabby
{
margin-top: 33px;
margin-left: 0px;    
}
.wide_img
{
margin-top:12px;
}
 