﻿.img{text-align:center;}
.content1{text-align:center;}
.icon_book{margin-top:47px;}
.main_title{
font-weight: bold;
color: #000000;
float: left;
text-align: center;
margin-top: 1px;
}
.down_txt
{
float: left;
margin-top: 8px;
width: 604px;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
line-height: 18px;
}
.copyright1
{
margin-top: 6px;
text-align: center;
margin-left: -4px;
} 
.redcolor
{
color: #881401;
}
.copyrights
{
position: absolute;
margin-top: 507px;
font-size: 15px;
margin-left: 215px;
color: #ffffff;
}