﻿.topZero
{
    top: 0px !important;
  
    }
.topZero2{color: #984842;}

.img
{
    position: absolute;
margin-left: -11px;
margin-top: 22px;
}
.customPopDiv
{
   position: absolute;
top: 10px;
left: 297px;
padding: 10px;
width: 347px;
border: 1px solid #000000;
background-color: #EFEFEF;
display: none;
height: 495px;
}

.customPopDiv > .head1
{
    font-weight: bolder;
margin-bottom: 10px;
width: 287px;
}
.customPopDiv > .imghead
{
    font-weight: bolder;
/* margin-bottom: 0px; */
/* width: 287px; */
position: absolute;
margin-left: 137px;
}
.customPopDiv > .img
{
    width: 250px;
/* float: right; */
position: absolute;
font-size: 13px;
margin-top: 19px;
margin-left: 51px;
}
.customPopDiv > .content1
{
   width: 314px;
/* float: right; */
position: absolute;
font-size: 13px;
margin-top: 240px;
margin-left: 8px;
}
.customPopDiv > .copyrights
{
    position: absolute;
margin-top: 215px;
margin-left: 120px;
}
.clickarea
{
    cursor:pointer;
}

.custPrev
{
width: 25px;
height: 25px;
background: #81C8F5;
position: absolute;
margin-left: 280px;
margin-top: 470px;
border-radius: 5px;
padding-left: 6px;}
    
.custNext
{
   width: 25px;
height: 25px;
background: #81C8F5;
position: absolute;
margin-left: 315px;
margin-top: 470px;
border-radius: 5px;
padding: 0px 0px 0px 6px;
}
    
.left {
float: left;
margin: 20px;
margin-left: 1px;
margin-top: 2px;
}
.close1
{
   width: 20px;
height: 20px;
background: black;
position: absolute;
margin-left: 344px;
margin-top: -19px;
z-index: 10;
border-radius: 16px;
cursor:pointer;
}

.headbuttom
{
   position: absolute;
margin-top: 415px;
margin-left: 11px;
width: 330px;
color: #984842; 
}
.iconcenter
{
background-position: -239px -69px !important;
}
.iconfor
{
background-position: -334px -70px !important;
}
.close2
{
background-position: -309px 0;
}