﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 55px;
}
.top_margin {
	margin-top: -20px;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.ui_interactive .ui-dialog {
	width: 182px;
	height: 35px !important;
	top: 221px !important;
	left: 202px !important;
}
.copyrights {
	width: 300px;
	margin-top: 5px;
	font-size: 12px;
	margin-left: -46px;
	color: #003366;
	line-height: 1.4em;
}
.copyright1 {
	margin-top: 7px;
	font-size: 12px;
	color: #003366;
}
.copyright2 {
	width: 300px;
	margin-top: 7px;
	font-size: 12px;
	margin-left: -37px;
	color: #003366;
}
.red_title {
	color: red;
	font-size: 14px;
	line-height: 1.4em;
	width: 262px;
	float: left;
	text-align: center;
	margin-left: -25px;
}
.red_title1 {
	color: red;
	font-size: 14px;
	width: 218px;
	text-align: center;
}
.img1 {
	width: 200px;
	margin-left: 15px;
	margin-top: -3px;
	text-align: center;
}
.right_img {
	text-align: center;
	float: left;
	margin-top: -230px;
	margin-left: 364px;
	width: 200px;
}
.copyright1 {
	text-align: center;
}
#iphone, #book, #jeans, #pencils {
	background: url(../../../../../global/images/global/spacer.png) repeat;
	position: absolute;
}
#iphone {
	height: 195px;
	left: 377px;
	top: 284px;
	width: 193px;
}
#book {
	height: 196px;
	left: 27px;
	top: 281px;
	width: 198px;
}
#jeans {
	height: 196px;
	left: 375px;
	top: 10px;
	width: 198px;
}
#pencils {
	height: 195px;
	left: 29px;
	top: 10px;
	width: 193px;
}
.bottom_copy {
	position: absolute;
	margin-top: 508px;
	font-size: 15px;
	margin-left: 271px;
}
.blurdiv {
	height: 512px;
	width: 370px;
	position: absolute;
	top: 0px;
	padding: 17% 0% 0% 44%;
	z-index: -1;
	background-color: #FFF;
	opacity: 0.5;
}
.hide {
	display: none;
}
.show {
	display: block;
}
