﻿.ui_custom_dialog_trigger{
cursor:pointer;
}

.ui-dialog{
width: 604px;
height: 460px !important;
top: 0px !important;
left: 0px !important;
}
.ui-dialog-buttonset{
display:none;
}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.copyrights
{
position: absolute;
margin-left: 288px;
margin-top: -49px;
}
.map
{
position: absolute;
margin-left: 100px;
margin-top: -8px;
}
#id1{
position: absolute;
margin-top: 213px;
margin-left: 270px;
}

#id2
{
position: absolute;
margin-top: 227px;
margin-left: 246px;
}


#id3
{
position: absolute;
margin-top: 211px;
margin-left: 205px;
}


#id4
{
position: absolute;
margin-top: 194px;
margin-left: 202px;
}
.popimg
{
margin-top: 7px;
text-align: center;
line-height: 25px;
}
.poptxt
{
margin-top: 10px;   
}