﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.ui_interactive .ui-slideshow-item {
	overflow: hidden;
	margin-left: -10px;
}
.first_row {
	width: 155px;
	padding-left: 8px;
	float: left;
	text-align: center;
	line-height: 2.4em;
	font-size: 12px;
}
.second_row {
	width: 159px;
	padding-left: 5px;
	float: left;
	text-align: center;
	padding-top: 15px;
}
.third_row {
	width: 159px;
	padding-left: 5px;
	float: left;
	text-align: center;
	padding-top: 15px;
}
.ui_interactive .copyright {
	margin: 9px;
	font-size: 12px;
}
.copyrights {
	margin-left: 300px;
}
.copyright_popup {
	margin-left: 63px;
	margin-top: 2px;
}
.ui_interactive .ui-dialog {
	width: 654px;
	top: 193px !important;
	left: 1px !important;
	height: 316px !important;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.sub_txt {
	margin-top: -208px;
	margin-left: 200px;
	width: 423px;
	height: 209px;
}
.pop_img {
	margin-top: 15px;
	width: 176px;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.third {
	position: absolute;
	top: 495px;
}
#img_1, #img_2, #img_3, #img_4, #img_5, #img_6, #img_7, #img_8, #img_9, #img_10 {
	background-image: url(../img/spacer.png);
	background-repeat: repeat;
}
#img_1 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 21px;
	margin-top: 0px;
}
#img_2 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 185px;
	margin-top: 0px;
}
#img_3 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 348px;
	margin-top: 0px;
}
#img_4 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 511px;
	margin-top: 0px;
}
#img_5 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 21px;
	margin-top: 244px;
}
#img_6 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 185px;
	margin-top: 244px;
}
#img_7 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 349px;
	margin-top: 243px;
}
#img_8 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 513px;
	margin-top: 243px;
}
#img_9 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 21px;
	margin-top: 501px;
}
#img_10 {
	position: absolute;
	height: 196px;
	width: 150px;
	left: 185px;
	margin-top: 501px;
}
.overlay {
	position: absolute;
	width: 680px;
	height: 853px;
	z-index: 100;
	margin: 1px 4px;
	display: none;
	opacity: 0.8;
	background: #ffffff;
}
