﻿.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui_interactive .ui-dialog {
	width: 603px;
	height: 465px !important;
	top: 0px !important;
	left: 1px !important;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.ui_interactive .copyright {
	margin-top: 7px;
}
.topZero {
	top: 0px !important;
}
.topZero2 {
	color: #984842;
	position: relative;
}
#id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8, #id9, #id10,#id11, #id12, #id13, #id14, #id15, #id16 {
	background-image: url(../img/spacer.png);
	background-repeat:repeat;
}

.img {
	position: absolute;
	margin-left: 0px;
	margin-top: 40px;
	width: 580px;
	text-align: center;
}
#id1 {
	position: absolute;
	margin-top: 345px;
	margin-left: 115px;
	height: 17px;
	width: 50px;
}
#id2 {
	position: absolute;
	margin-top: 315px;
	margin-left: 131px;
	height: 35px;
	width: 20px;
}
#id3 {
	position: absolute;
	margin-top: 314px;
	margin-left: 127px;
	height: 13px;
	width: 5px;
}
#id4 {
	position: absolute;
	margin-top: 314px;
	margin-left: 150px;
	height: 11px;
	width: 4px;
}
#id5 {
	position: absolute;
	margin-top: 297px;
	margin-left: 233px;
	height: 63px;
	width: 50px;
}
#id6 {
	position: absolute;
	margin-top: 263px;
	margin-left: 249px;
	height: 35px;
	width: 20px;
}
#id7 {
	position: absolute;
	margin-top: 265px;
	margin-left: 246px;
	height: 13px;
	width: 5px;
}
#id8 {
	position: absolute;
	margin-top: 266px;
	margin-left: 268px;
	height: 11px;
	width: 4px;
}
#id9 {
	position: absolute;
	margin-top: 266px;
	margin-left: 352px;
	height: 95px;
	width: 50px;
}
#id10 {
	position: absolute;
	margin-top: 231px;
	margin-left: 367px;
	height: 35px;
	width: 20px;
}
#id11 {
	position: absolute;
	margin-top: 233px;
	margin-left: 363px;
	height: 13px;
	width: 5px;
}
#id12 {
	position: absolute;
	margin-top: 234px;
	margin-left: 386px;
	height: 11px;
	width: 4px;
}
#id13 {
	position: absolute;
	margin-top: 118px;
	margin-left: 470px;
	height: 243px;
	width: 50px;
}
#id14 {
	position: absolute;
	margin-top: 84px;
	margin-left: 484px;
	height: 35px;
	width: 20px;
}
#id15 {
	position: absolute;
	margin-top: 88px;
	margin-left: 482px;
	height: 13px;
	width: 5px;
}
#id16 {
	position: absolute;
	margin-top: 88px;
	margin-left: 503px;
	height: 11px;
	width: 4px;
}
.head1 {
	position: relative;
	top: 10px;
	left: 112px;
}
.poptxt {
	margin-top: 11px;
	width: 572px;
}
.popimg {
	position: relative;
	top: 5px;
	left: 101px;
	width: 378px;
	text-align: center;
	line-height: 30px;
}
.poptxt2 {
	margin-top: 6px;
	width: 439px;
	margin-left: 133px;
}
