﻿.interactTwo .DropsC{
width: 672px !important;
float: left;
height: 558px;
position: absolute;
top: 0px;}
.interactTwo .DragC{
width: 343px;
float: left;
margin-left: 154px;
position: absolute;
top: 460px;
}
.interactTwo .DragC>.draggable{
width: 311px;
padding: 4px;
cursor: pointer;
opacity: 1 !important;
background-color: #d7eefe;
border: 1px solid #cfcfcf;
margin-left: 12px;
margin-top: 100px;
}
.interactTwo .ab
{
   display: none; 
}

.interactTwo .droppables {
width: 314px;
min-height: 15px;
margin: -10px 7px 5px 1px;
padding: 7px;
float: left;
text-align: center;
line-height: 10px;
font-weight: bold;
padding-top: -9px;
}

.interactTwo .wid li .ab
{
    display:block !important;
}

.interactTwo .drop_txt{width: 82px;min-height: 92px;float: left;margin-left: -10px;border: medium none;font-size: 14px;line-height: 1.4em;padding: 3px 4px 0px 0px;background-color: #4F81BD;font-weight: bold;color: #FFF;text-align: left;}
.interactTwo .drop_txts{width: 385px;min-height: 40px;margin: 4px 5px 5px -1px;padding: 0px;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 37px;float: left;}
.interactTwo .bin
{
text-align: left;
font-size: .9em;
color: black;
margin-top: 2px;
padding: 2px;
background: none;
}
.interactTwo .DropsC ul{list-style-type: none;line-height: 18px;text-align: center;padding: 0px !important;margin: -3px;}
.interactTwo .draggable{opacity: 1 !important;cursor:pointer;}
.interactTwo .wid{
height: 474px !important;
width: 324px;
margin-top: 1px;
float: left;
margin-right: 2px;
margin-left: 2px;
box-shadow: none !important;
border: 2px solid #d0d7e7 !important;}
.interactTwo .top{position: absolute !important;top: 0px !important;left: 0px !important;}
.interactTwo .assignment{margin-bottom: 0px;height: 50px;}
.interactTwo .ui_assessment hr{display: none;}
.interactTwo .ui_reset
{
position:absolute;
margin-top: 473px;
margin-left: 569px;
}

.interactTwo .ui_interactive .draggable p {padding-right: 0px !important;line-height: 15px;font-size: 13px;color:#1a1a1a;}
.interactTwo .pop1 .ui-dialog {
top: 80px !important;
left: 4px !important;
width: 646px;}
.interactTwo .disableDiv {background-color: #d0d8e8;}
.interactTwo .topwid{width: 86px;}
.interactTwo .heading{width: 155px;float: left;margin: 2px;text-align: center;font-weight: bold;}
.interactTwo .bin ul li{
margin: 5px;
background: none repeat scroll 0 0 #99FFCC;
min-height: 35px;
padding: 5px;
text-align:left;}
.interactTwo .ui-state-highlight{background: transparent !important;}
.interactTwo .txt{font-size: 12px;margin-bottom: 5px !important;}
.interactTwo .ui-slideshow-item {
overflow: inherit !important;
margin-left: -17px;
}

.interactTwo .label{
float: left;
width: 303px;
font-weight: bold;
text-align: center;
margin: 12px 7px;
color: black;
background: white;
margin-left: -321px;
margin-top: 35px;
}
.interactTwo #left
{
position: absolute;
left: 12px;
top: 6px;
height: 33px;
width: 315px;   
}
.interactTwo #right
{
position: absolute;
left: 334px;
top: 6px;
height: 33px;
width: 315px;   
}
 .interactTwo .pop1 .ui_custom_dialog_trigger{
cursor:pointer;
}
.interactTwo .pop1 .ui-dialog-buttonset{
display:none;
}

.interactTwo .ui_edge_buttons {
position: absolute;
float: right;
top: 170px;
}