﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.DropsC {
	width: 664px !important;
	float: left;
	margin: 19px 72px 2px -3px;
	height: 413px;
}
.DragC {
	width: 585px;
	float: left;
	margin-top: 60px;
	margin-left: -8px;
	font-size: 13px;
	height: 220px;
}
.DragC>.drag {
	width: 18px;
	height: 25px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	opacity: 1 !important;
}
.droppables {
	line-height: 15px;
	text-align: center;
	color: #333;
	margin: 2px 1px 4px;
	background: none repeat scroll 0% 0% #BCE4FE;
	min-height: 176px;
	padding: 4px;
	width: 154px;
	float: left;
	font-size: 11px;
}
.drop_txt {
	width: 136px;
	min-height: 44px;
	float: left;
	margin-left: -10px;
	border: medium none;
	font-size: 12px;
	line-height: 1.4em;
	padding: 28px 4px 0px 9px;
	background-color: #D0D8E8;
}
.drop_txts {
	width: 385px;
	min-height: 40px;
	margin: 4px 5px 5px -1px;
	padding: 0px;
	background-color: #4F81BD;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	float: left;
}
.bin {
	padding: 0px !important;
	position: absolute;
	background: #d6eefe;
	width: 161px;
}
.DropsC ul {
	list-style-type: none;
	line-height: 18px;
	text-align: center;
	padding: 0px !important;
	margin: 0px;
}
.drag {
	opacity: 1 !important;
	cursor: pointer;
}
.wid {
	min-height: 250px;
	width: 162px;
	margin: 1px !important;
	float: left;
	box-shadow: none !important;
	background-color: transparent;
	border: none !important;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.assignment {
	margin-bottom: 0px;
	height: 50px;
}
.ui_assessment hr {
	display: none;
}
.copyrightact {
	margin-top: -30px;
	position: absolute;
	text-align: center;
	width: 650px;
	color: #000;
	font-size: 10px;
}
.ui_interactive .drag p {
	padding-right: 0px !important;
	line-height: 12px;
	font-size: 12px;
}
.ui-dialog {
	top: 448px !important;
}
.disableDiv {
	background-color: #d0d8e8;
}
.pos1 {
	left: 0px;
	top: 166px;
}
.pos2 {
	left: 422px;
	top: 208px;
	min-height: 155px;
}
.pos3 {
	left: 390px;
	top: 12px;
	min-height: 208px;
}
.pos4 {
	left: 233px;
	top: 256px;
	min-height: 104px;
}
.redCont {
	height: 33px;
	line-height: 2.4;
	background-color: #FD9D93;
	margin-left: 30px;
	padding-left: 5px;/*float: right;*/
	width: 133px;
	margin-bottom: 5px;
	border: 1px solid #B9B3B7;
}
.optDrg {
	margin: 0px 2px 6px !important;
	background-color: #d6eefe !important;
	width: 144px;
	text-align: center;
	height: 38px !important;
	padding: 7px !important;
	float: left;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 0px 40px rgba(0, 0, 0, 0.1);
	cursor: pointer !important;
	border: 1px solid #8796a0;
}
.Head {
	text-align: center;
	height: 80px;
	background-color: #4F81BD;
	margin-bottom: 4px;
	color: #FFF;
	line-height: 5;
	font-weight: bold;
	border: 1px solid #B9B3B7;
	width: 102px;
	float: left;
	margin-right: 5px;
}
.head2 {
	height: 124px;
	line-height: 9;
}
.blueCont {
	height: 50px;
	background-color: #e2f1f6;
	margin-left: 30px;
	padding-left: 5px;/*float: right;*/
	width: 133px;
	margin-bottom: 5px;
	border: 1px solid #B9B3B7;
}
.blueDrg {
	margin: 0px !important;
	background-color: #2bbdf1;
}
.pos1 .bin ul li, .pos2 .bin ul li, .pos3 .bin ul li, .pos4 .bin ul li {
	background-color: transparent;
	line-height: 16px;
	margin: 0px 1px 0px;
	width: 145px;
	font-size: 11.5px;
	height: 52px;
}
.bin ul li {
	background-color: #2bbdf1;
	line-height: 30px;
	color: #333;
}
.dragArea {
	height: 82px;
	margin-bottom: 5px;
	padding: 5px;
	width: 676px;
}
.dragArea2 {
	height: 128px;
}
.droppables img {
	width: 155px;
}
.hiddenDiv {
	height: 50px;
	position: relative;
	z-index: 0;
	border: 1px solid #CCC;
}
.DropsC ul p {
	line-height: 1;
	font-size: 13px;
	padding: 6px 3px 0px;
	margin: 0px;
}
.ui_edge_buttons {
	margin-right: 13px !important;
	margin-top: 40px !important;
}
.leftmar {
	margin-left: -20px !important;
}
.imgtitle {
	font-size: 13px;
	margin-top: 2px;
	margin-bottom: 2px;
}
