@charset "utf-8";
@media print{
div#content, div#footer, div#printBox{
font-family:Arial, Helvetica, sans-serif;
}
div#header h1{
font-size:18px;
}
div#content{
font-size:12px;
}
div#footer{
font-size:12px;
text-align:left;
}
div#menu, div#crumbs, ul#pageCurls, div.activeInteractive object, button, iframe, h1{
display:none;
}
.hideInPrint{
display:none;
}
}