@charset "UTF-8";

html, 			body, 
div,			span, 
object, 		iframe, 
h1, h2, h3, h4, h5, h6, 
p, 				blockquote, 
pre, 			a, 
abbr, 			acronym, 
address, 		code, 
del, 			dfn, 
em, 			img, 
q, 				dl, 
dt, 			dd, 
ol, 			ul, 
li, 			fieldset, 
form, 			label, 
legend, 		table, 
caption, 		tbody, 
tfoot, 			thead, 
tr, 			th, td { 
margin : 0; 
padding : 0; 
border : 0; 
font-weight : inherit; 
font-style : inherit; 
font-size:1 em;
font-family : inherit; 
vertical-align : baseline; }

/* Body ---------------------------------------------------- */
html {
	background:none;
}
body {
width : 660px;


margin : 0 auto;
padding : 0 0 35px 0;
background :  #fff;
font : 88% Georgia, Times, serif;
line-height : 1.4;
color : #222; 
}

img {
	padding: 0 0 0 0;}
.nopad {
	padding: 0 0 0 0;}	

/* Headings ---------------------------------------------------- */

h1, h2, h3, h4, h5, h6 { 
font-weight : normal; }

h1, table caption{
	margin-top:.2em; 
	margin-bottom : .5em;
}

h2 { 
margin-bottom : .75em;
}

h3 {
margin-bottom : 1em;
}

h4 {
margin-bottom : 1.25em;
}

h5, h6 { 
margin-bottom : 1.5em;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { 
margin : 0; }

/* Text elements -------------------------------------------------------------- */

p { 
margin : 0 0 1.5em; }
/*
a{
	font-style:inherit;
}
a:hover{
}

 
a img {
border : none; }*/
h1, table caption{
margin:0px;
padding:0px;
color:#593b08;
font-size:28px;
}
a{
color:#1a8d94;
}
blockquote, q {
quotes : "" ""; }

blockquote { 
margin : 1.5em 1.5em 1.5em -1.5em;
padding-left : 1.5em;
border-left : 1px solid #666;
font : italic 1.2em "Times New Roman", Times, serif; }

blockquote:before, blockquote:after, q:before, q:after { 
content : ""; }

strong { 
font-weight : bold; }

em, dfn { 
font-style : italic; }

dfn { 
font-weight : bold; }

sup, sub { 
line-height : 0; }

abbr, acronym { 
border-bottom : 1px dotted #666; }

address {
margin : 0 0 1.5em;
font-style : italic; }

del { 
color : #666; }

pre, code, tt {
margin : 1.5em 1.5em 1.5em -1.5em;
padding-left : 1.5em;
border-left : 1px dotted #666;
font : 1em 'andale mono', 'lucida console', monospace;
line-height : 1.5; }

pre { 
white-space : pre; }

code { 
display : block; }

.imageDiv { float : right;}
.imageDiv p{
text-align : center;
font-size :.7em; } 

h {
	/*color:#8F2121;*/
	font-weight : bold; }


/* Lists -------------------------------------------------------------- */

li ul li, li ol li { 
list-style-type : circle;
margin : 0 1.5em .75em 1em; }
li {
margin : 0 1.5em .75em 1em;
}
ul, ol {
margin : 0 1.5em 1.5em 1em; }

ul { 
list-style-type : disc; }

ol {
list-style-type : decimal; }

dl {
margin-bottom: 1.5em; 
padding-top: 1.5em; 
border-top : 1px solid #ccc; }

dl dt {
margin-bottom : .75em;
font-size : 1.2em;
line-height : 1.25; }

dd {
margin-bottom: 1.5em; 
padding-bottom: 1.5em; 
border-bottom : 1px solid #ccc; }

/* Tables -------------------------------------------------------------- */

table {
border-collapse : separate; 
border-spacing : 0;
margin-bottom : 1.4em;
width : 100%; }

table, td, th { 
vertical-align : top; }

tr {border-bottom:1px solid #555555; }
th, thead th 
{
font-weight : bold; 
text-align:center;
}

th, td, caption {
padding : 4px 10px 4px 5px; 
text-align : left; 
}
td, caption {font-weight : normal; }

th, td {
border-bottom : 1px solid #ccc; }

tfoot { 
font-size : .9em; }

caption {
margin-bottom : 1em;
font-size : 1.5em;
line-height : 1 ; }


/* Rubric Tables -------------------------------------------------------------- */

table.rubricTable {
/*font-size: .8em;*/
padding: .1em;
width: 100%;
}
table.rubricTable th, table.rubricTable td{
	text-align: left;
	width: 20%;
}

table.checkTable {
/*font-size: .8em;*/
padding: .1em;
width: 100%;
}


/* Forms -------------------------------------------------------------- */

label { 
font-weight : bold; }

fieldset { 
margin : 0 0 1.5em 0; 
padding : 1.4em 1.4em 0 1.4em; 
border : 1px solid #ccc; }

legend {  
font-size : 1.2em; 
font-weight : bold; }

textarea { 
width : 390px; 
height : 250px; 
padding : 5px; }


/* for highlights */  
span.highlightphrase { 
	background-color:#cc7b25;
}
span.highlightcontent { 
	background-color:#eee;
	font-color:#000;
	font-size:.8em;
}

/* for glossary terms */  
span.glossaryTerm { 
	font-weight:bold;
	color:#013d5c;
}
span.glossaryTerm a, span.glossaryTerm a:visited, span.glossaryTerm a:link, span.glossaryTerm a:hover {
	font-weight:bold;
	color:#013d5c;
	text-decoration:none;	
}
span.glossaryDefinition { 
	background-color:#FFECCC;
	color:#000;
	font-size:.8em;
}

/* Menu ------------------------------------------------------------------------- */

.menu a:link, .menu a:hover, .menu a:active, .menu a:visited {
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid #000;
}

/* Some styling ------------------------------------------------------------------*/


#popupfooter {
	margin: 0;
	padding: 2px 24px 2px 4px;
	text-align: left;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height:2em;			/* Height of the footer */
	background:#593b08;
	background-color:#593b08;
	color:white;
	text-decoration:none;
	font-weight:bold;
	line-height:normal;0
}
/* other non-essential CSS */
#header p,
#header h1 {
	margin:0;
	padding:10px 0 0 10px;
}
a.toplink, span.toplink, p.toplink {
	color:white;
	text-decoration:none;
	font-weight:bold;
}
.footerRight {
    float: right;
    padding-right: 10px;
    top: 0;
}

.absmiddle{
	vertical-align:middle; !important;	
}
.topline{text-decoration:overline;}
.copyright{font-size:11px;display:block;text-align:center;margin-top:2px;}

.clearAll {
	clear:both;	
}

/******************************************************************
Alignment styles. do not delete.
Created to replace the invalid align html attributes and others 
that are deprecated. 

bphillips@flvs.net
******************************************************************/

.alignLeft {	
	text-align:left; 
}
img.alignLeft{
	float:left;
}
.textAlignLeft {	
	text-align:left; 
}
.alignRight {	
	text-align:right;
}
img.alignRight{
	float:right;
}
.textAlignRight {	
	text-align:right;
}

p .alignMiddle {}
.alignMiddle {
	text-align:center;
} 
img.alignMiddle{
	margin:0 auto;	
}
.textAlignMiddle {
	text-align:center;
}
table.alignMiddle {
	margin: 0 auto !important;
	text-align:left;
}
.alignAbsMiddle {
	text-align:center;
	vertical-align:middle; 
}
.alignAbsBottom {
	vertical-align:bottom;
}