@charset "utf-8";
div@appContent{ visibility:hidden; }
div#docLoader, div#appLoader{
width:32px;
height:32px;
background-image:url("../imgs/icon-library/spinner.gif");
}
div#docLoader, div#appLoader{
	margin-left:-32px;
	margin-top:-32px;
	left:50%;
	top:50%;
	position:absolute;	
}
/*

//dark
#593b08



*/
* {
	margin: 0px auto;
	padding: 0px auto;	
}
body {
	background-image:url(../imgs/bg_x.png);
	background-repeat: repeat-x;
	font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
	background-position: top;
}

#page, #content, #header {
	width:750px;
}

div #content {
	margin: 0px auto;
}

div #header {
	position: relative;
	height: 115px;
}
/*

Navigation

*/
div#header ul#nav {
	position:absolute;
	right: 230px;
	top: 38px;
}
div#header ul#nav {
	margin: 0;
	padding: 0;
	list-style-type:none;
}
div#header ul#nav li {
	display: inline;
	margin: 8px;	
}
div#header ul#nav li a {
	border: 0;	
}

/*

Drop Down Navigation

*/

div#page div#header dl#menu {
	position: absolute;
	right: 15px;
	top: 38px;	
	font-size: 12px;
	width:200px;	
	z-index: 1000;
}
.desc { /*color:#6b6b6b;*/ }
.desc a {
	color:#593b08;
}
        
.dropdown dd, .dropdown dt, .dropdown ul { 
	margin:0px; padding:0px; 
}
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited {
	color:#593b08;
	text-decoration:none;
	outline:none;
}
.dropdown a:hover {
	color:#593b08;
}
.dropdown dt a:hover {
	color:#593b08;
}
.dropdown dt a {
	display:block;
	padding-right:20px;
    /*border:1px solid #FFF; 		
	border: 1px solid #e1e1e1;background-image: url(../imgs/small_arrow.png);background-color: #e1e1e1;background-position: right center;*/
	background-attachment: scroll;
	background-image: url(../imgs/menu_bg.png);
	background-repeat: no-repeat;
}
.dropdown dt a span {
	cursor:pointer;
	display:block;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.dropdown dd ul li {
	margin: 0px; /*--Create bevel effect--*/
	text-align: left;
	line-height: 14px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #593b08;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #593b08;
	border-left-color: #593b08;
}
.dropdown dd ul {
	/*border:1px solid #e1e1e1;display:none;*/
	color:#e1e1e1;
	left:0px;
	position:absolute;
	z-index: 100;
	/*top:2px;*/
	width:auto;
	min-width:195px;
	list-style:none;
	background-attachment: scroll;
	background-color: #ffffff;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}
.dropdown span.value { display:none;}
.dropdown dd ul li a {
	background-color:#FFF;  
	padding:4px 8px;
	display:block;
}
.dropdown dd ul li a:hover {
	background-color:#593b08;
	color: #FFF;
}
       


/*

Logo

*/

div#header div#logo {
	position: absolute;
	left: 10px;
	top: 20px;
	background-image: url(../imgs/logo_course.png);
	background-repeat: no-repeat;
	width: 325px;
	height: 80px;
}

/*

BreadCrumbs

*/

div#crumbs {
	position: relative;
	float: right;
	z-index: -10;
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    height: 30px;
	margin-right: 25px;
	
   /* margin-top: -20px;
    position: relative;
    text-shadow: 1px 1px #FFFFFF;*/
}

/*div#crumbs {
	position:relative;
}
span#pageCrumbs {
	font-size: 11px;
	position:absolute;
	right:15px; 
	top:15px;
	color: #FFF;
}*/

/*div #header.scroll{
	background-image:url(../imgs/index/hdr_bg_scroll.png);
}*/
h2.pageTitle {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 10px;
	margin: 0px 0px 20px 0px;
	color: #593b08;
}
object, iframe { 
	z-index:0; 
}

.clear {
	clear: both;	
}

/*

Footer

*/

div #footer{
	margin:25px auto 25px;
	font-size:12px;
	text-align:center;
	
	/*border-top-width: .5px;
	border-top-style: solid;
	border-top-color: #CCC;*/
}
div #footer a:link,
div #footer a:hover,
div #footer a:active,
div #footer a:visited,
div #footer a:focus { text-decoration: none; }

div #footer span{
    height: 30px;
    margin: 0 auto;
    text-align: left;
	line-height: 20px;
    width: 300px;
	/*background-image:url("../imgs/logo_flvs_blue.png");
	background-position: right center;
    background-repeat: no-repeat;*/
}
#footer #footer_span img{
	vertical-align:middle;	
	padding-left: 15px;
}

