﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.Img1 {
	margin-left: -9px;
	width: 608px;
	text-align: center;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.ui_interactive .ui-dialog {
	width: 602px;
	top: 109px !important;
	left: 0px !important;
	height: 450 !important;
}
.top_margin {
	margin-top: -14px;
}
.firstRow {
	float: left;
	margin-left: 15px;
}
.secondRow {
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}
.ThirdRow {
	margin-left: 135px;
}
.i1 {
	position: absolute;
	width: 128px;
	height: 101px;
	margin-top: -368px;
	float: left;
	left: 57px;
}
.i2 {
	position: absolute;
	width: 128px;
	height: 101px;
	margin-top: -368px;
	float: left;
	left: 249px;
}
.i3 {
	position: absolute;
	width: 128px;
	height: 86px;
	margin-top: -357px;
	float: left;
	left: 438px;
}
.i4 {
	position: absolute;
	width: 128px;
	height: 91px;
	margin-top: -239px;
	float: left;
	left: 58px;
}
.i5 {
	position: absolute;
	width: 128px;
	height: 104px;
	margin-top: -244px;
	float: left;
	left: 248px;
}
.i6 {
	position: absolute;
	width: 128px;
	height: 94px;
	margin-top: -239px;
	float: left;
	left: 438px;
}
.i7 {
	position: absolute;
	width: 128px;
	height: 84px;
	margin-top: -103px;
	float: left;
	left: 56px;
}
.i8 {
	position: absolute;
	width: 128px;
	height: 104px;
	margin-top: -113px;
	float: left;
	left: 248px;
}
.i9 {
	position: absolute;
	width: 128px;
	height: 105px;
	margin-top: -113px;
	float: left;
	left: 438px;
}
#img_1, #img_2, #img_3, #img_4, #img_5, #img_6, #img_7, #img_8, #img_9 {
	background:url(../../../../../global/images/global/spacer.png) repeat;
	float: left;
	height: 101px;
	position: absolute;
	width: 128px;
}
#img_1 {
	left: 51px;
	margin-top: -352px;
}
#img_2 {
	left: 234px;
	margin-top: -352px;
}
#img_3 {
	left: 413px;
	margin-top: -352px;
}
#img_4 {
	left: 51px;
	margin-top: -223px;
}
#img_5 {
	left: 234px;
	margin-top: -223px;
}
#img_6 {
	left: 413px;
	margin-top: -223px;
}
#img_7 {
	left: 51px;
	margin-top: -101px;
}
#img_8 {
	left: 234px;
	margin-top: -101px;
}
#img_9 {
	left: 413px;
	margin-top: -101px;
}
.copyrights {
	position: absolute;
	margin-top: -23px;
	font-size: 12px;
	margin-left: 315px;
	color: black;
}
