/* CSS Document for Advance Algebra */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
html {overflow: auto; width:798px;height:336px;margin:0;padding:0 0 0 0}
/*body {line-height:1.5;}*/
table {border-collapse:separate;border-spacing:1;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

body {width:100%;height:100%;margin:0;padding:0; font-family:Arial, Helvetica, sans-serif; font-size:0.95em; font-weight:normal; color:#333333; text-align:left; line-height:1.5;
}

.float-left {float: left;}
.float-right {float: right;}
.clear-both {clear: both;}

.pd5 {padding:5px;}
.pd3 {padding:3px;}
.pd-bt-0 {padding:bottom:0px;}
.pdLeft10 { padding-left:10px; }
.margin-bottom-10 {margin-bottom:10px; }
.margin-bottom-5 {margin-bottom:5px; }
.margin-top-5 {margin-top:5px; }

.margin-top-3 {margin-top:3px; }
.mg-right-5 {margin-right:5px; }

.bold { font-weight: bold;}
.font-style-normal { font-style:normal;}
.italic { font-style: italic;}
.center { text-align:center;}
.right { text-align:right;}
.justify {text-align:justify;}
.mg5 { margin:5px; }
.pos-rel { position:relative;}
.pos-abs { position:absolute;}
.pointer {cursor: pointer; }

.width-250 { width:250px;}
.width-230 { width:230px;}
.width-200 { width:200px;}
.width-320 { width:320px;}
.width-87 {width:87px}
.width-25 { width:25px;}
.mg-center { margin:0px auto;}

.fs-5 {font-size:6px;}
.line_height {line-height:8px; }

.play { background: url(../media/play.png); width:39px; height:41px; }
.stop { background: url(../media/stop.png); width:39px; height:41px; }

.int-play {
background: url(../media/play_icon.png) no-repeat center; background-color:#FFFFFF;
width:798px;height:336px;border:medium none; left:0px; margin:0pt; opacity:0.50; padding:0pt; position:fixed; top:0px; z-index:102;
}
.transparent{ border:medium none; height:100%; left:0px; margin:0pt;
				opacity:0.50; outline-color:invert; outline-style:none; 
    			filter:alpha(opacity=50); outline-width:medium; padding:0pt; position:fixed; top:0px; width:100%; z-index:100; }
.opaque { opacity:0.50; }

#wrapper {
	height:210px;		/* Of course you need to specify the object height */
	position:relative;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	width: 300px;
	overflow:hidden;
}

#musical-inst { 
	margin:5px 0 0 10px;
	padding:5px;
	background-color: #EBD88B;
	color: #333333;
	overflow: auto;
	line-height: 16px;
	font-size:14px;
}

#musical-inst span.highlight {
	color: #333333;
	background-color: #ABF38B;
}

.flow-chart {
	background:url(../media/branches.png) 0px 0px no-repeat;
	width: 460px;
	height: 250px;
}

.light-blue-box {
	background-color: #D8E1EB;
	width: 71px; 
	height:33px;
}

.blue-box {
	text-align:center;
	background-color: #7395B8;
	width: 71px; 
	height:33px;
	color: #FFFFFF;
	font-size:11px;
}

.yellow-box {
	background-color: #F8EFD0;
	width: 71px; 
	height:33px;
}



.gr-green-white {
	background: -webkit-gradient(linear, left top, left bottom, from(#E2F4BA), to(#ffffff));
 	background: -moz-linear-gradient(left, #E2F4BA, #ffffff);
}

div#titleBg {
	background: url(../media/title_bar.jpg) repeat-x;
	margin:0 5px 0 5px;
	width: 796px; 
	height: 23px;
	color: #FFFFFF;
	padding:5px;
	font-weight:bold;
	font-size: 14px;
}

.instruction-red {
	color: #A41A1A;
	font-style:italic;
	font-size:14px;
	padding-left: 10px;
}

div.do-not-show-audio {
	display: none;
}

div#page {
	width: 798px;
	height:336px;
}

div[id^=int-] {
	display:none;
}


.largeText {font-size:13px; font-weight: bold;}
.fs-11 {font-size:11px;}

div.interaction-book h2 {
	color: #A41A1A;
	font-size:10px;
}



.ver-align-top {
	display: table-cell;
	vertical-align:top;
}


.button-control {
	position:absolute;
	bottom: 3px; 
	right:10px;
	width:200px;
}

.button-control div {
	margin:5px;
}

.button {
	background: url(../media/submit_bg.png) repeat-x;
	height:26px;
}


.features {
	cursor: pointer;
}

.features.active {
	border:1px solid #00CC33;
}

.popup {
	position:absolute;
	bottom: 100px; 
	right:40px;
	width: 250px; 
	height:100px;
	background-color:#FFFFFF;
	display:none;
	font-size:12px;
	z-index: 101;
}

.popup div.popup-title {
	width: 250px;
	margin:0px auto;
	height: 25px;
	background-color:#9EB0BC;
	text-align:right;
	cursor:pointer;
	z-index: 101;
}

.popup-title img {
	margin:2px;
	z-index: 101;
}

.popup-body {
	padding:2px;
	z-index: 101;
}

img.check,img.next-question {
	z-index:100;
	cursor:pointer;
}

div.tryagain, div.showanswer, div.correct {
	display:none;
}


