﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.DropsC {
	width: 645px !important;
	float: left;
	height: 415px;
}
.DragC {
	margin-left: 65px;
	position: relative;
	top: 24px;
	width: 343px;
}
.DragC>.draggable {
	background-color: #d7eefe;
	border: 1px solid #cfcfcf;
	cursor: pointer;
	height: 38px;
	opacity: 1 !important;
	padding: 4px;
	width: 293px;
}
.droppables {
	background-color: #6d4672;
	color: #FFF;
	float: left;
	font-size: 18px;
	line-height: 10px;
	margin: -10px 7px 5px 1px;
	min-height: 15px;
	padding: 10px 7px 7px;
	text-align: center;
	width: 300px;
}
.drop_txt {
	width: 82px;
	min-height: 92px;
	float: left;
	margin-left: -10px;
	border: medium none;
	font-size: 14px;
	line-height: 1.4em;
	padding: 3px 4px 0px 0px;
	background-color: #4F81BD;
	font-weight: bold;
	color: #FFF;
	text-align: left;
}
.drop_txts {
	width: 385px;
	min-height: 40px;
	margin: 4px 5px 5px -1px;
	padding: 0px;
	background-color: #4F81BD;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	float: left;
}
.ui_interactive .bin {
	background: transparent;
	text-align: left;
	font-size: .9em;
	margin: 0;
	color: black;
	margin-top: 3px;
	padding: 0px;
}
.DropsC ul {
	list-style-type: none;
	line-height: 18px;
	text-align: center;
	padding: 0px !important;
	margin: -3px;
}
.ui_interactive .draggable {
	opacity: 1 !important;
	cursor: move;
}
.wid {
	height: 330px;
	width: 314px;
	margin-top: 30px;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
	box-shadow: none !important;
	border: 2px solid #D0D7E7 !important;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.ui_interactive .assignment {
	margin-bottom: 0px;
	height: 75px;
}
.ui_interactive hr {
	display: none;
}
.copyrightact {
	margin-top: 526px;
	position: absolute;
	text-align: center;
	width: 681px;
	color: #000;
	font-size: 11px;
}
.ui_interactive .draggable p {
	padding-right: 0px !important;
	line-height: 15px;
	font-size: 13px;
	color: #1a1a1a;
}
.disableDiv {
	background-color: #d0d8e8;
}
.topwid {
	width: 86px;
}
.heading {
	width: 155px;
	float: left;
	margin: 2px;
	text-align: center;
	font-weight: bold;
}
.ui_interactive .bin ul li {
	margin: 8px;
	background: none repeat scroll 0 0 #D7EEFE;
	min-height: 35px;
	padding: 5px;
	text-align: left;
	margin-top: 8px;
}
.ui_interactive .ui-state-highlight {
	background: transparent !important;
}
.txt {
	font-size: 12px;
	margin-bottom: 5px !important;
}
.ui_interactive .ui-slideshow-item {
	overflow: inherit !important;
	margin-left: -10px;
}
.label {
	float: left;
	width: 303px;
	font-weight: bold;
	text-align: center;
	margin: 32px 7px 12px -321px;
	color: black;
	background: transparent;
}
#left, #right {
	cursor: pointer;
	height: 33px;
	left: 12px;
	position: absolute;
	top: 6px;
	width: 315px;
}
#right {
	left: 334px;
}
.ui_interactive .ui-dialog {
	top: 75px !important;
}
.ui_interactive .ui_edge_buttons {
  margin-top: 460px;
  margin-left: 464px;
  position: absolute;
  width: 187px;
}
