﻿.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}

.ui_interactive .ui-dialog{
width: 581px;
height: 190px !important;
top: 55px !important;
left: 10px !important;
}
.ui_interactive .ui-dialog-buttonset{
display:none;
}
.topZero
{
    top: 0px !important;
  
    }
.topZero2
{
    color: #984842;
    position:relative;
    
    }
    .copyrights
{
position: absolute;
margin-left: 281px;
margin-top: -29px;
}
.map
{position: absolute;
margin-left: -9px;
margin-top: -9px;
}
#id1{
position: absolute;
margin-top: 125px;
margin-left: 358px;
}

#id2
{
position: absolute;
margin-top: 270px;
margin-left: 335px;
}


#id3
{
  position: absolute;
margin-top: 71px;
margin-left: 262px;
}


#id4
{
position: absolute;
margin-top: 230px;
margin-left: 247px;
}


#id5
{
position: absolute;
margin-top: 23px;
margin-left: 183px;
}
#id6
{
position: absolute;
margin-top: 12px;
margin-left: 40px;
}
#id7
{
position: absolute;
margin-top: 191px;
margin-left: 44px;
}
#id8
{
position: absolute;
margin-top: 264px;
margin-left: 22px;
}
#id9
{
position: absolute;
margin-top: 112px;
margin-left: 3px;
}
.head1
{
position: relative;
top: 10px;
left: 148px;
}
.poptxt
{
margin-top: 11px;
width: 542px;
}