﻿
.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;    
    }
     .topZero2
   {
       color: #984842;
       font-size: 12px;
       
   }
   .ui_custom_dialog_trigger{
cursor:pointer;
}
.Img1
{
   margin-left: -9px;
width: 608px;
    
}
.pop_img
{

float: left;
margin-left: 15px;
width: 180px;
margin-top: 5px;
text-align: center;
font-size: 11px;
line-height: 2.4em;
}
.ui-dialog-buttonset
{
display:none;
}

.ui-dialog{
width: 600px;
margin-top: 51px;
margin-left: -8px;
top: 136px !important;
left: 10px !important;

}
.firstRow
   {

height: 234px;
float: left;
margin-left: 15px;
width: 180px;
   }
   .SecondRow
   {
       height: 234px;
float: left;
margin-left: 15px;
width: 180px;
   }
   .ThirdRow
   {
     height: 234px;
float: left;
margin-left: 15px;
width: 180px; 
   }
   .one
{height: 309px;
margin: 0 auto;
margin-top: -9px;
width: 789px;
margin-left: 6px;
}
.two
{
    height: 309px;
margin: 0 auto;
margin-top: -52px;
width: 789px;
margin-left: 6px;
}
.three
{
    height: 210px;
margin: 0 auto;
margin-top: -46px;
margin-left: 100px;
}
.copyright
   {
        color: Black;
font-size: 12px;
text-align: center;
line-height: 1.4em;

   }
   .sub_txt
{
  margin-left: 229px;
margin-top: 12px;
width: 313px;
font-size: 12px;
height: 216px;
}

.copyrights
{
    position: absolute;
margin-top: -27px;
font-size: 12px;
margin-left: 292px;
color: black;
}
.HeadPOP
{
   font-weight: bold;
font-size: 15px;
margin-left: 16px;
margin-top: 0px;
}
.ii
{
    font-style:italic;
}

    #img_1
{
  position: absolute;
height: 228px;
width: 175px;
top: 4px;
left: 25px;
}

    #img_2
{
  position: absolute;
height: 228px;
width: 175px;
top: 4px;
left: 219px;
}

    #img_3
{
  position: absolute;
height: 228px;
width: 175px;
top: 4px;
left: 414px;
}

    #img_4
{
  position: absolute;
height: 228px;
width: 175px;
top: 260px;
left: 25px;
}

    #img_5
{
  position: absolute;
height: 228px;
width: 175px;
top: 260px;
left: 219px;
}

    #img_6
{
  position: absolute;
height: 228px;
width: 175px;
top: 260px;
left: 414px;
}

    #img_7
{
  position: absolute;
height: 228px;
width: 175px;
top: 523px;
left: 117px;
}

    #img_8
{
  position: absolute;
height: 228px;
width: 175px;
top: 523px;
left: 314px;
}