.maxContainer {
	height:340px;
	width:800px;
	position:relative;
}
.slidenotshowAudio {
	display:none;
}
.redtxtitalic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#990000;
	font-style:italic;	
}
.mgLeft10 {
	margin-left:10px;	
}

.mgLeft30{
	margin-left:30px;
}
.mgLeft50{
	margin-left:50px;
}
.hide {
	display:none;
}
.mgTop5 {
	margin-top:5px;
}
.mgTop25 {
	margin-top:25px;
}
.mgTop50 {
	margin-top:50px;
}
.mgTop100 {
	margin-top:100px;
}
.mgTop30 {
	margin-top:30px;
}

.fl {
	float:left;
}
.fr {
	font:right;	
}
.clear {
	clear:both;
}

.highlight { background:#ffff99; }

.txtblack {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
}
.txtwithblue {
	font-family:Arial, Helvetica, sans-serif;
	color:#0000ff;
	font-size:14px;
}
.playbtn {
	margin-top:0px;
	margin-left:637px;
	cursor:pointer;
}

.txtbold {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
}

.center {
	text-align:center;
}

.padding2 {
	padding:2px;
}
.padding5 {
	padding:5px;
}
.padding10 {
	padding:10px;
}
.fadeDiv{
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}
.playDiv{
	background-image:url(images/play_icon.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#ffffff;
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}
.cursorhand {
	cursor:pointer;
}

.txtheading {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3a749a;
	font-weight:bold;
}

.contentarea {
	background-image:url(images/bg.png);
	background-repeat:no-repeat;
	height:270px;
	position:absolute;
	width:774px;
	left:10px;
}

.firsttooltip {
	position: absolute;	
	border: 1px solid #f2c204;
	background-color: #feedab;
	padding: 5px;
	top:115px;
	left:150px;
}
.secondtooltip {
	position: absolute;	
	border: 1px solid #f2c204;
	background-color: #feedab;
	padding: 5px;
	top:194px;
	left:189px;
	width:320px;
}
.thirdtooltip {
	position: absolute;	
	border: 1px solid #f2c204;
	background-color: #feedab;
	padding: 5px;
	top:127px;
	left:295px;
	width:310px;
}
.fourtooltip {
	position: absolute;	
	border: 1px solid #f2c204;
	background-color: #feedab;
	padding: 5px;
	top:125px;
	left:390px;
	width:310px;
}
.fivetooltip {
	position: absolute;	
	border: 1px solid #f2c204;
	background-color: #feedab;
	padding: 5px;
	top:174px;
	left:80px;
	width:310px;
}
input.submitBtn {
    background: url(images/submit_bg.png) repeat-x top left;
    cursor: pointer;
    padding:2px 10px 2px 10px;
    border:1px solid #9eb0bc;
    text-align:center;    
}
.finishbtn {
    left: 56px;
    position: absolute;
    top: 302px;
}

.txtcontent {	
	margin-top:100px;		
}
.divHeight2{
	width:730px;
	height:160px;
	margin:35px 5px 5px 5px;
	overflow:auto;
}