﻿.ui_interactive hr {
	display: none;
}
.images_ssc1 {
	margin-left: 418px;
	margin-top: 195px;
	position: absolute;
	width: 287px;
	height: 186px !important;
	border: 1pxsolid#025286;
	background-color: #000000;
}
.trim {
	width: 585px;
	height: 430px;
	float: left;
}
.actTop {
	height: 72px;
	width: 694px;
}
.img_txt {
	font-size: 12px;
	text-align: center;
	position: absolute;
	width: 220px;
	margin: 78px00;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding: 035px;
	font-weight: bold;
}
.puzzle_imgCont {
	position: absolute;
	width: 290px;
	height: 190px;
}
.puzzle_imgContimg {
	border: 0px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
#puzzle_imgCont1, #puzzle_imgCont2, #puzzle_imgCont3, #puzzle_imgCont4 {
	float: left;
	display: none;
}
#imgDesc {
	margin-top: 191px;
	display: none;
	width: 319px;
	margin-left: -10px;
}
#imgDesc>p {
	font-size: 11px !important;
	line-height: 1.4em;
	padding: 2px;
}
.ui_edge_buttons {
	margin-top: -242px !important;
	margin-right: 72px !important;
}
.rightImage {
	position: absolute;
	float: right;
	text-align: center;
	font-size: 12px;
	margin-right: 32px;
	height: 248px;
	margin-top: 35px;
	left: 366px;
	line-height: 2px;
}
.questionWidth {
	width: 398px;
}
.questionDiv {
	width: 390px;
}
.parentDiv {
	height: 580px;
}
form {
	margin: 0px !important;
}
.text-blue {
	width: 500px;
}
.ui-dialog {
	top: 100px !important;
}
.rightText {
	width: 272px;
	border: 1px solid;
	padding: 8px;
	margin-right: 30px;
	margin-top: 100px;
	background-color: #AECBE2;
	font-size: 12px;
}
.copyrightText {
	float: right;
	width: 338px;
	text-align: center;
	font-size: 12px;
}
.copyright1 {
	margin-top: -41px;
	position: absolute;
	color: #ffffff;
	margin-left: 270px;
	font-size: 12px;
}
#cboxTitle {
	display: none !important;
	position: absolute;
	top: -20px;
	left: 0;
	color: #ccc;
}
.rights {
	position: absolute;
	top: 200px;
	left: 10px;
}
.imagehead {
	color: #5799CD;
}
.head {
	color: #984842;
}
.image-container .enlarge {
	position: absolute;
	top: 3px !important;
	right: 3px !important;
}
