﻿.topZero
{
top: 0px !important;
position: relative !important;
float: left;
margin-left: 10px;
margin-right: 10px;    
}
.topZero2
{
color: #984842;
font-size: 12px;
}
.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}
.Img1
{
margin-left: -9px;
width: 608px;
}
.Img2
{
margin-left: -9px;
width: 608px;
}
.Img3
{
margin-left: -9px;
width: 608px;
}
.ui_interactive .ui-dialog-buttonset
{
display:none;
}
.ui_interactive .ui-dialog{
width: 600px;
margin-top: 51px;
margin-left: 11px;
top: 136px !important;
left: 10px !important;
}
.firstRow
{
height: 101px;
float: left;
margin-left: 15px;
}
.SecondRow
{
float:left;
margin-left: 15px;
margin-top: 8px;
}
.ThirdRow
{
float:left;
margin-left: 15px;
margin-top: 8px;  
}
.one
{
height: 192px;
margin: 0 auto;
margin-top: -9px;
}
.two
{
height: 210px;
margin: 0 auto;
margin-top: 27px;
}
.three
{
height: 210px;
margin: 0 auto;
margin-top: 17px;
}
.ui_interactive .copyright
{
color: Black;
font-size: 12px;
text-align: center;
margin-top: 3px;
}
.sub_txt
{
margin-left: 16px;
margin-top: 12px;
width: 539px;
font-size: 12px;
}
.copyrights
{
position: absolute;
margin-top: -42px;
font-size: 12px;
margin-left: 280px;
color: white;
}
.ii
{
font-style:italic;
}
.divclass{
background: none repeat scroll 0% 0% #FFF;
height: 830px;
width: 670px;
position: absolute;
z-index: 12;
opacity: 0.6;
top: 1px;
}
.ui_interactive .ui-slideshow-item {
    overflow: inherit !important;
}