﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height: 45px;}
.ui_interactive .ui-dialog
{
top: 175px !important;
}
.ui_interactive .ui_reset,.ui_interactive hr
{
display:none;
}
.dragArea
{width: 630px;
float: left;
margin-top:10px;
    
}
.dragArea .draggable
{width: 142px;
border: 1px solid #cfcfcf;
background: #d7eefe;
float: left;
margin: 2px;
padding: 1px;
height: 21px;
cursor: pointer !important;
}
.dragArea .draggable.ui-draggable-dragging
{
opacity:1 !important; 
z-index:2000;
}
.ui-interactive .ui-state-highlight
{
background:none;
}

.dragArea .draggable p
{
margin-bottom: 0;
font-size: 12px;
padding: 0px 2px 1px 3px;
color:#000;
}
.dropArea
{
width: 630px;
float: left;
}
.textBlock
{float: left;
width: 433px;
}

.dropBlock .droppable .bin ul{
padding-left: 0px;
margin: 0px 0px -1px;
}
.dropBlock .droppable .bin{
background: #d0d7e7 !important;
max-height: 28px;
}
.dropBlock .droppable
{
background: #d0d7e7 !important;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
margin:1px;
width:158px;
height:34px;
min-height:34px;
}
.dropBlock
{
width: 174px;
float: left;
}
.dropBlock .droppable ul li
{
list-style-type: none;
background: rgb(153, 255, 204);
color: #000;
padding-left: 3px;
}
.textItem
{height: 34px;
background: #d0d7e7;
min-height: 34px;
float: left;
margin: 1px 1px 1px -11px;
padding: 2px 5px 0px 5px;
width: 424px;
font-size: 12px;
color: #000;
}
.textItem1
{
min-height:24px !important;
height:24px !important;
}
.droppables{min-height: 40px;
margin: 4px 5px 2px 1px;
padding: 0px;
float: left;
background-color: #4F81BD;
color: #FFF;
text-align: center;
line-height: 37px;
font-weight: bold;width: 160px;}

.droppables2{width: 434px;
min-height: 40px;
margin: 4px 1px 2px -11px;
padding: 0px;
float: left;
background-color: #4F81BD;
color: #FFF;
text-align: center;
line-height: 37px;
font-weight: bold;}

.ui-state-highlight{background:#D0D7E7 !important;border:#D0D7E7 !important;}