﻿

.slide_head {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.img
{
   text-align:center;
}


.slide_txt
{
  position: absolute;
margin-top: 20px;
width: 501px;
margin-left: 13px;
font-style: italic;
}
 
 
 
 .img1
 {
     text-align:center;
 }
 
 
 .copyright
 {
     font-size: 12px !important;
       line-height: 16px !important;
     text-align:center;
  }
