﻿.ui_interactive .mejs-audio .mejs-controls .mejs-time-rail, .ui_interactive .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-total {
	width: 130px !important;
}
/*
.ui_interactive .ui-navigation-header .mejs-container .mejs-controls {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 159%;
}
*/
.mejs-container .mejs-controls {
	bottom: 8px; 
	margin-left: -12px;
	width: 301px !important;
}
.audioBtn .mejs-controls {
	bottom: 0px; 
	margin-left: 0px;
	display: inline-block;
	width: 18px !important;
}

.ui-navigation-tracker {
  right: 210px;
}

.left1 {
	position: absolute;
	margin-left: -8px;
	margin-top: -10px;
}
.main_title {
	text-align: center;
	margin-bottom: 8px;
}
.rights {
	margin-top: 4px;
	font-size: 13px;
	line-height: 17px;
	margin-bottom: -9px;
	text-align: center;
	display: block;
}
.right1 {
	margin-right: 35px;
	margin-left: 300px;
	margin-top: 14px;
	width: 345px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.copyrights {
	position: absolute;
	margin-left: 332px;
	margin-top: -55px;
}
.playerOver {
	height: 510px;
	width: 701px;
	position: absolute;
	top: 0px;
	padding: 17% 0% 0% 44%;
	background: rgba(235, 235, 235, 0.83);
	z-index: 12;
}
.playerText {
	margin-left: -22px;
	margin-top: -15px;
	position: absolute;
	font-style: italic;
}
.playerOver img {
	cursor: pointer;
}
