﻿.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog {
	width: 613px;
	height: 430px !important;
	top: 10px !important;
	left: 1px !important;
}
.ui-dialog-buttonset {
	display: none;
}
.topZero {
	top: 0px !important;
}
.topZero2 {
	color: #984842;
	position: relative;
}
.map {
	position: absolute;
	margin-left: 88px;
	margin-top: 52px;
}
#id1 {
	height: 14px;
	width: 15px;
	position: absolute;
	margin-top: 98px;
	margin-left: 225px;
}
#id2 {
	height: 13px;
	width: 15px;
	position: absolute;
	margin-top: 106px;
	margin-left: 284px;
}
#id3 {
	height: 12px;
	width: 12px;
	position: absolute;
	margin-top: 153px;
	margin-left: 271px;
}
#id4 {
	height: 15px;
	margin-left: 292px;
	margin-top: 215px;
	position: absolute;
	width: 15px;
}
#id5 {
    height: 14px;
    margin-left: 314px;
    margin-top: 234px;
    position: absolute;
    width: 14px;
}
.left1 {
	margin-top: 7px;
}
.imgrights {
	position: relative;
	margin-left: 103px;
	margin-top: 6px;
}
.right1 {
	position: absolute;
	margin-top: -361px;
	margin-left: 389px;
	width: 200px;
}
.lefttxt {
	position: relative;
	margin-top: 13px;
	width: 377px;
	color: #003366;
}
.right2 {
	position: absolute;
	margin-top: -346px;
	margin-left: 389px;
	width: 200px;
}
.imgrights2 {
	position: relative;
	margin-left: 146px;
	margin-top: 6px;
}
.imgrights3 {
	position: relative;
	margin-left: 144px;
	margin-top: 6px;
}
.imgrights4 {
	position: relative;
	margin-left: 25px;
	margin-top: 6px;
}
.copyrights {
	position: absolute;
	margin-left: 272px;
	margin-top: 457px;
}
