﻿
.right11
{
float: left;
height: 240px;
width: 271px;
margin-top: 10px;
}

.left11
{
width: 272px;
float: left;
margin-left: 22px;
text-align: center;
}


.ui-slideshow-slide {
margin: 0px !important;
}

 .image-container-normal
 {
 margin-top:16px;    
 }

.margin
{
	margin: 6px 6px -6px 0px;
}

.img
{
	height:189px;
	width:270px;
	border-color:#F00;
}

.img 
{
    max-width: none !important;
}

 .image-container-normal
 {
    margin-top:16px;    
 }
 
 .copyright {
    font-size: 13px;
    line-height: 31px;

}

.rightmain 
{
   font-weight:bold;
 text-align:left;
color: #003366;
font-size: 16px;
}


.copyrights
{
  position: absolute;
margin-top: -43px;

font-size: 15px;
margin-left: 215px;
color: white;
}