.maxContainer {
	height:340px;
	width:800px;
	border:1px solid #acb9c2;
	position:relative;
}
.redtxtitalic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#990000;
	font-style:italic;	
}
.slidenotshowAudio {
	display:none;
}

.mgLeft20{
	margin-left:20px;
}
.mgLeft30{
	margin-left:30px;
}
.hide {
	display:none;
}
.mgTop5 {
	margin-top:5px;
}
.mgTop15 {
	margin-top:15px;
}
.mgTop25 {
	margin-top:25px;
}
.mgTop50 {
	margin-top:50px;
}
.mgTop30 {
	margin-top:30px;
}

.fl {
	float:left;
}
.fr {
	font:right;	
}
.clear {
	clear:both;
}

.txtblack {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
}
.nextbtn {
	top:310px;
	left:650px;
	cursor:pointer;
	position:absolute;
}
.prevbtn {
	top:305px;
	left:720px;
	cursor:pointer;
	position:absolute;
}
.txtbold {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
}

.center {
	text-align:center;
}

.padding2 {
	padding:2px;
}
.padding5 {
	padding:5px;
}
.padding10 {
	padding:10px;
}
.fadeDiv{
	background-image:url(images/play_icon.jpeg);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#ffffff;
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}
.cursorhand {
	cursor:pointer;
}

.pop1 {
    left: 133px;
    position: absolute;
    top: 60px;
}

.pop2 {
    left: 511px;
    position: absolute;
    top: 34px;
}
