﻿.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}

.ui_interactive .ui-dialog{
width: 608px;
height: 174px !important;
top: 116px !important;
left: 16px !important;
}
.ui_interactive .ui-dialog-buttonset{
display:none;
}
.topZero
{
top: 0px !important;
  
}
.topZero2
{
color: #984842;
position:relative;
    
}
.copyrights
{
position: absolute;
margin-left: 290px;
margin-top: 240px;
}
.firstrow
{
float:left;
margin-left: 0px;
margin: 7px;  
text-align:center;  
}
.ui_interactive .ui-slideshow-slide 
{
margin-left: 3px;
}
.secondrow
{
float: left;
margin: 8px;
    
}
.second
{
text-align:center;   
margin-left: 105px;
margin-top: 240px;
}
.hiddendiv{
height: 563px;
background-color: #FFF;
margin-top: -45px;
margin-left: 3px;
opacity: 0.6;
position: absolute;
width: 646px;
z-index: 100;
display: none;
}