﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.DropsC{width: 674px !important;
float: left;
margin: 7px 0px 0px -17px;}
.DragC{width: 673px;
float: left;
margin-top: -4px;
margin-left: 14px;}
.DragC .draggable{width: 117px;
padding: 4px;cursor: pointer;opacity: 1 !important;text-align: left;background-color: #d7eefe;border: 1px solid #cfcfcf;;font-weight: normal;height: 36px;margin-left: -2px;}
.droppables{width: 151px;
min-height: 15px;
margin: 3px 2px 3px 1px;
padding: 7px;
float: left;
background-color: #4F81BD;
color: #FFF;
text-align: center;
line-height: 10px;
font-weight: bold;
padding-top: 10px;}
.drop_txt{width: 82px;min-height: 92px;float: left;margin-left: -10px;border: medium none;font-size: 14px;line-height: 1.4em;padding: 3px 4px 0px 0px;background-color: #4F81BD;font-weight: bold;color: #FFF;text-align: left;}
.drop_txts{width: 385px;min-height: 40px;margin: 4px 5px 5px -1px;padding: 0px;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 37px;float: left;}
.ui_interactive .bin{background-color: #d0d8e8;}
.DropsC ul{list-style-type: none;line-height: 18px;text-align: center;padding: 0px !important;margin: -3px;}
.ui_interactive .draggable{opacity: 1 !important;cursor:pointer;}
.wid{min-height: 235px;
width: 122px;
margin-top: -257px;
float: left;
margin-right: 2px;
margin-left: 6px;
box-shadow: none !important;
background-color: #d0d7e7;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.ui_interactive .assignment{margin-bottom: 0px;height: 50px;}
.ui_interactive hr{display: none;}
.ui_interactive .ui_reset{display:none !important;}
.ui_interactive .draggable p {padding-right: 0px !important;line-height: 15px;font-size: 13px;color:#1a1a1a;}
.ui_interactive .ui-dialog {top: 200px !important;
left: 175px !important;}
.disableDiv {background-color: #d0d8e8;}
.topwid{width: 86px;}
.heading{width: 155px;float: left;margin: 2px;text-align: center;font-weight: bold;}
.ui_interactive .bin ul li{
margin-bottom: 2px;
padding: 1px 0px 3px 3px;
opacity: 1 !important;
text-align: left;
border: 1px solid #CFCFCF;
font-weight: normal;
background: none repeat scroll 0% 0% #9FC;
font-size: 13px;
line-height: 15px;
color: #000;
margin-left: 2px;
margin-right: 2px;}
.ui_interactive .ui-state-highlight{background: #D0D7E7 !important;border: #D0D7E7 !important;}
.ui_interactive .txt{font-size: 12px;margin-bottom: 5px !important;}
.ui_interactive .ui-slideshow-item {
overflow: inherit !important;
margin-left: -10px;
}
.image
{margin-left: 91px;
margin-top: -10px;
}
.image1
{margin-left: 271px;
margin-top: -230px;
}
.image2
{margin-left: 315px;
margin-top: -280px;
}
.wid1
{margin-left: 273px;
margin-top: -20px;
}
.wid2
{margin-left: 545px;
margin-top: -473px;
}
