﻿

.slide_head
{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.img
{
    position: absolute;
    margin-left: 130px;
}


.slide_txt
{
    position: absolute;
    margin-top: 280px;
    width: 478px;
    margin-left: 35px;
    font-style: italic;
}


.img1
{
    margin-left: 137px;
    position: absolute;
}


.copyright
{
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: center;
    margin-top: 4px;
}
.copyrights_bottom
{
    text-align: center;
    margin-top: -14px;
}
.redcolor
{
    color: #881401;
}
.copyright_img
{
    text-align:center;
    }
    
.copyright_img1
{
    text-align:center;
    margin-left: -39px;
    }    