body {margin:0px; }
.maxContainer {
	height:334px;
	width:798px;
	position:relative;
}
.slidenotshowAudio {
	display:none;
}
.redtxtitalic {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#990000;
	font-style:italic;		
}
.mgLeft30{
	margin-left:30px;
}
.hide {
	display:none;
}
.mgTop5 {
	margin-top:5px;
}
.mgTop20 {
	margin-top:20px;
}
.mgTop25 {
	margin-top:25px;
}
.mgTop50 {
	margin-top:50px;
}
.mgTop30 {
	margin-top:30px;
}

.fl {
	float:left;
}
.fr {
	font:right;	
}
.clear {
	clear:both;
}

.highlight { background:#ffff99; }

.yellowbg {
	background-color:#ebd88b;
	width:490px;
	height:220px;	
	border:1px solid #e7eaea;	
	margin-left:30px;
	margin-top:10px;
	padding:2px;
}

.txtblack {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:14px;
}
.playbtn {
	margin-top:0px;
	margin-left:637px;
	cursor:pointer;
}
.mgLeft {
	margin-left:5px;	
}

.txtbold {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
}

.center {
	text-align:center;
}

.padding2 {
	padding:2px;
}
.padding5 {
	padding:5px;
}
.padding10 {
	padding:10px;
}
.organizer {
	background-color:#cceaef;
	width:230px;
	height:200px;	
	border:1px solid #e7eaea;	
	margin-left:15px;
	margin-top:15px;
}
.fadeDiv{
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:400px;
	z-index:99999;
	top:0px;
	left:0px;
}
.playDiv{
	background-image:url(images/play_icon.png);
	background-repeat:no-repeat;
	background-position:center;
	background-color:#ffffff;
	opacity:.7;
	filter: alpha(opacity:70);
	position:absolute;
	width:100%;
	height:322px;
	z-index:99999;
	top:0px;
	left:0px;
}

.cursorhand {
	cursor:pointer;
}

.audioselecttext {
	position:absolute;
	left:35px;
	top:300px;
}

.audiostopimg {
	position:absolute;
	top:278px;
	left:300px;
}
input.submitBtn {
    background: url(images/submit_bg.png) repeat-x top left;
    cursor: pointer;   
    border:1px solid #9eb0bc;
    padding:2px 10px 2px 10px;
    text-align:center;
    margin-left:110px;
	margin-top:20px;
}