.leftside { width:60% !important;}
.rightside { width:35% !important;}

.row { margin:0; }

.headerRow { background-color:#999; }

h3 { line-height:1.3em; color:#FFF; margin-top:10px; }

div.block {
	margin:0;
	padding:0;
}