﻿.ui_interactive .copyright
{
margin-top: 7px;
}
.right_txt
{
float: left;
height: 240px;
width: 276px;
text-align: left;
margin-top: -280px;
margin-left: 332px;
}
.left_img
{float: left;
text-align: center;
}
.img
{
margin-left: -9px;
margin-top: -9px;
text-align: center;
}

.rightmain 
{
font-weight: bold;
text-align: left;
color: #003366;
font-size: 16px;
margin-bottom: 5px;
}


.down_con1
{
font-size: 14px;
width: 590px;
font-weight: 500;
margin-top: 316px;
}
.down_con
{
font-size: 14px;
width: 590px;
font-weight: 500;
margin-top: 284px;
}


.copyrights
{
position: absolute;
margin-top: -43px;

font-size: 15px;
margin-left: 215px;
color: #ffffff;
}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}