﻿.ui-slideshow-item {
	width: 650px !important;
}
.book_close {
	float: right;
	margin-right: 71px;
	margin-top: -5px;
	text-align: left;
}
.map1 {
	float: left;
	position: absolute;
	margin-left: 30px;
	margin-top: -328px;
}
.openbook {
	margin-left: 24px;
	margin-top: -10px
}
.copyright1 {
	font-size: 12px;
	display: block;
	margin-top: 0px;
	width: 654px;
	text-align: center;
}
.topZero {
	top: -12px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.DropsC {
	width: 618px !important;
	float: left;
	margin: 0px 0px 0px -12px;
	position: relative;
}
.DragC {
	width: 625px;
	float: left;
	margin-top: 12px;
	margin-left: -2px;
	height: 120px;
}
.DragC>.draggable {
	width: 120px;
	height: 70px;
	text-align: center;
	cursor: pointer;
	opacity: 1 !important;
	padding: 6px;
	margin: 4px;
	margin-right: 15px;
	z-index: 1;
}
.droppables {
	width: 605px;
	min-height: 250px;
	margin: -14px 12px 4px -10px;
	padding: 0px;
	float: left;
	background-color: #4F81BD;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	background: url(../../01_03_08a/imgs/01_03_06_map_bg.png) no-repeat center;
}
.drop_txt {
	width: 136px;
	min-height: 44px;
	float: left;
	margin-left: -10px;
	border: medium none;
	font-size: 12px;
	line-height: 1.4em;
	padding: 28px 4px 0px 9px;
	background-color: #D0D8E8;
}
.drop_txts {
	width: 385px;
	min-height: 40px;
	margin: 4px 5px 5px -1px;
	padding: 0px;
	background-color: #4F81BD;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	float: left;
}
.bin {
	background-color: #cdd5e5;
}
.DropsC ul {
	list-style-type: none;
	line-height: 18px;
	text-align: center;
	padding: 0px !important;
	margin: 0px;
}
.DropsC ul p {
	padding: 0px;
	font-size: 12px;
	margin: 0px;
	line-height: 1.5;
}
.draggable {
	opacity: 1 !important;
	cursor: pointer;
}
.wid, .drop {
	min-height: 90px;
	background: none repeat scroll 0% 0% #D1DBEF !important;
	width: 132px;
	margin-top: 0px;
	float: left;
	margin-right: 4px;
	margin-left: 13px;
	z-index: 0;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.assignment {
	margin-bottom: 0px;
}
div.interactive .assignment {
	height: 50px;
}
.ui_assessment hr {
	display: none;
}
.ui_reset {
}
.copyrightact {
	margin-top: -30px;
	position: absolute;
	text-align: center;
	width: 650px;
	color: #000;
	font-size: 10px;
}
.ui_interactive .draggable p {
	padding-right: 0px !important;
	line-height: 12px;
	font-size: 12px;
}
.ui-dialog {
	top: 200px !important;
}
.timeline_img {
	width: 576px;
	background: url("../../01_03_08a/imgs/01_03_06_timeline.png") no-repeat scroll center center transparent;
	float: left;
	color: #000;
	margin: 0px 4px 4px 18px;
	padding-top: 0px;
	min-height: 0px;
}
.timeline_Div {
	width: 610px;
	border: 1px solid #025285;
	height: 70px;
	float: left;
	margin: -23px 4px 4px -10px;
	border-radius: 3px;
}
.timeline_date {
	padding-top: 44px;
	width: 90px;
	text-align: center;
	font-weight: bold;
	float: left;
}
.date2 {
	margin-left: 68px;
}
.date3 {
	margin-left: 72px;
}
.date4 {
	margin-left: 70px;
}
.ui_edge_buttons {
	margin-right: 38px !important;
	margin-top: 20px;
}
.copyright {
	margin-top: -20px;
	position: absolute;
	text-align: center;
	width: 654px;
}
