﻿.img
{
   position: absolute;
margin-left: 110px;
margin-top: -5px; 
}

.rights
{
 position: absolute;
margin-left: 209px;
margin-top: 273px;
}

.txt
{
  position: absolute;
margin-left: -4px;
margin-top: 300px;
width: 595px;
font-style:italic;  
}

.copyrights
{
  position: absolute;
margin-top: -43px;
margin-left: 255px;
font-size: 15px;
color: white;
}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height:45px;}