body {
	background-color: #fff;
	/*background-image:url(../imgs/bg_x.png);
	background-repeat: repeat-x;
	font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
	background-position: top;*/
}

#lo_interactive {
	/*background-image:url(../imgs/bg.jpg);*/
	position: relative;
	color: #3b500c;
	width: 683px;
	/*min-height: 420px;height: 600px;*/
	margin: 0 auto;
	margin-top: 25px;
	/*padding: 22px;*/
	border: #369 1px solid;
	background-color: #fff;
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #888888;
	-webkit-box-shadow: 1px 1px 8px #888888;
	-moz-box-shadow: 1px 1px 8px #888888;*/
}
/*.ui_interactive p, .ui_interactive h2, .textVersion p {
	color: #005e98 !important;	
}*/