body {
	/*background-image:url(../imgs/bg_x.png);
	background-repeat: repeat-x;
	font-family: Arial,"Trebuchet MS", Helvetica, sans-serif;
	background-position: top;*/
}
#appContent {
	/*padding: 12px;	*/
}
/*

Adjust for fit in Video box

*/
div.activeInteractive {
	margin: 0px;	
}
div.activeInteractive button.toggleSwitch, div#margin div.video button.toggleSwitch {
	top: 0px;	
}
div.activeInteractive div.swfObject, div.activeInteractive div.textVersion, div#margin div.video div.swfObject, div.video div.textVersion {
	margin: 0px;
	padding-top: 45px;	
}

h1 {
	font-size: 1.5em;
	color: #fff;	
}
h3,h4 {
	color: #fff;	
}
/*p {
	color: #fff;	
}


Drop Down Navigation

*/
/* Menu Location */
#lo-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 12px;
	width:45px;	
	z-index: 1000;
}
.lo-dropdown div a span {
	/*background-color: #fff;*/
	background: #000 url(../imgs/menu_bg.jpg) no-repeat;
	color: #005e98;
	cursor:pointer;
	display:block;height: 40px;
	content: '';
	/*display: none;
	padding: 2px 2px 2px 8px;*/
}
.lo-dropdown div a:hover span {
	background-color: #0CF;
	color: #005e98;
}
.lo-dropdown ul li a,.lo-dropdown ul li a:visited {
	color: #005e98;
}
.lo-dropdown ul li a:hover {
	color: #fff;
	background-color: #005e98;
}
	.lo-dropdown ul {
	position: absolute;
	left: -250px;
	top: 0px;
	z-index: 100;
	width: auto;
	min-width: 200px;
	list-style: none;
	}
.lo-dropdown ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #005e98;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #005e98;
	border-left-color: #005e98;
}
.lo-dropdown ul li:first-child {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #005e98;
}
.lo-dropdown ul {
	color:#005e98;
	background-attachment: scroll;
	background-color: #ffffff;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}
.lo-dropdown span.value { display:none;}
.lo-dropdown a { 
	background-color:#fff;
	color: #005e98;
}

/*

Navigation

*/
div#header ul#nav {
	position:absolute;
	/*right: 30px;
	top: 45px;*/
	right: 15px;
	top: 9px;
}
div#header ul#nav {
	margin: 0;
	padding: 0;
	list-style-type:none;
}
div#header ul#nav li {
	display: inline;
	margin: 0px;	
}
ul#nav li a {
	border: 0;	
}

/*

Logo

*/

div#header {
	padding: 10px 10px 0px 10px;
	background:#005e98 url(../imgs/nav_bg_x.jpg) repeat-x;
	height: 50px;
}
#header h1 {
	color: #fff;
	font-size: 25px;
	font-weight: bold;	
}

/*

Text

*/

