﻿.ui_interactive hr{display:none;}
.ui_interactive .images_ssc1{margin-left:418px;margin-top:195px;position:absolute;width:287px;height:186px !important;border:1pxsolid#025286;background-color:#000000;}
.ui_interactive .trim{width:550px;height:240px;margin-top: 60px;}
.actTop{height:72px;width: 694px;}
.img_txt{font-size:12px;text-align:center;position:absolute;width:220px;margin:78px00;font-family:Arial,Helvetica,sans-serif;color:#ffffff;padding:035px;font-weight:bold;}
.ui_interactive .puzzle_imgCont{position:absolute;width:290px;height:190px;}
.ui_interactive .puzzle_imgContimg{border:0px;}
.topZero{top:0px !important;}
.topZero2{margin-top:-13px !important;}
#puzzle_imgCont1,#puzzle_imgCont2,#puzzle_imgCont3,#puzzle_imgCont4{float:left;display:none;}
.ui_interactive #imgDesc{margin-top:191px;display:none;width: 319px;margin-left: -10px;}
#imgDesc>p{font-size:11px !important;line-height:1.4em;padding:2px;}
.ui_interactive .ui_edge_buttons{margin-top: 55px !important;margin-right: 45px !important;}
.rightImage{float: right;margin-right: 55px;margin-top: -256px;font-size: 12px;text-align: center;}
.questionWidth{width:340px;}
.ui_interactive .multi-choice label {width: 550px;}