﻿.redContent
{
color: #984842;
font-family: Arial;
font-size: 13px;
font-style: italic;
margin-left: 10px;
width: 620px;
line-height: 18px;
}
.copyrights
{
position: absolute;
margin-top: 1px;   
font-size: 12px;
margin-left: 18px;
color: #0A0707;
text-align: center;
font-size : 12px;
}
.right_img
{
margin-left: 370px;
margin-top: -3px;
width: 144px;
}
.left_txt
{
margin-left: 10px;
margin-top: -204px;
width: 293px;
font-size: 14px;
line-height: 18px;
}
.btn_txt
{
margin-left: 255px;
margin-top: 75px;
width: 307px;

}
.onli_txt
{
        
margin-left: 10px;
margin-top: 8px;
width: 496px;   
}
    
.interactive panel
{
width:600px !important;
}
.copyright_btm
{
text-align:center;
font-size:12px;
margin-top: -14px;
}