﻿.divHideTextVersion .toggleSwitch
{
display:none;
}
.copyright1
{
display: block;
text-align: center;
font-size: 12px;   
}
.ui_interactive h3
{
color: #609ECF;   
}

.ui_interactive .ui_slides h3
{
margin-bottom: -5px;
}
.ui_interactive li
{
line-height: 28px;   
}
#frameID {
	border:none;
	height:480px;
	width:640px;
}