﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.top_margin
{
margin-top: -55px;
}
.main_txt
{
color: #000000;
font-size: 14px;
padding: 0px;
margin: 0px;
}
.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}
.ui_interactive .ui-dialog-buttonset
{
display:none;
}
.ui_interactive .ui-dialog{
width: 428px !important;
height: 66px !important;
top: 71px !important;
left: 82px !important;
}
.img1
{    
margin-left: 69px;
margin-top: 25px;
width: 444px;
}
.copyrights
{
position: absolute;
margin-top: 473px;
font-size: 15px;
margin-left: 273px;
color: #000000;
}
#one {
position: absolute;
height: 27px;
width: 31px;
margin-top: -321px;
margin-left: 474px;
background-image: url("../imgs/07_04_05a_pulse_01.gif");
}
#two
{
position: absolute;
height: 27px;
width: 31px;
margin-top: -174px;
margin-left: 336px;
background-image: url("../imgs/07_04_05a_pulse_01.gif");
}
#four
{
position: absolute;
height: 27px;
width: 31px;
margin-top: -301px;
margin-left: 323px;
background-image: url("../imgs/07_04_05a_pulse_01.gif");
}
#five
{
position: absolute;
height: 27px;
width: 31px;
margin-top: -258px;
margin-left: 315px;
background-image: url("../imgs/07_04_05a_pulse_01.gif");
}
#six
{
position: absolute;
height: 27px;
width: 31px;
margin-top: -331px;
margin-left: 237px;
background-image: url("../imgs/07_04_05a_pulse_01.gif");
}
#sev
{
position: absolute;
height: 27px;
width: 31px;
margin-top: -218px;
margin-left: 167px;
background-image: url("../imgs/07_04_05a_pulse_01.gif");
}
#nin
{
position: absolute;
height: 27px;
width: 31px;
margin-top: -287px;
margin-left: 103px;
background-image: url("../imgs/07_04_05a_pulse_01.gif");
}
#ten
{
position: absolute;
height: 27px;
width: 31px;
margin-top: -342px;
margin-left: 296px;
background-image: url("../imgs/07_04_05a_pulse_01.gif"); 
}
#elvn
{
position: absolute;
height: 27px;
width: 31px;
margin-top: -335px;
margin-left: 176px;
background-image: url("../imgs/07_04_05a_pulse_01.gif"); 
}