﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height: 45px;}
.txt1
{
position: absolute;
margin-left: 339px;
margin-top: 10px;
width: 260px;
}

.rights
{
 position: absolute;
margin-left: 101px;
margin-top: 273px;
}


.txt2
{
position: absolute;
margin-left: 415px;
margin-top: 9px;
width: 185px;
}

.rights2
{
 position: absolute;
margin-left: 138px;
margin-top: 224px;
}
    
    .left1
    {
        position: absolute;
margin-left: -6px;
margin-top: 5px;
    }
     .copyrights
{
  position: absolute;
margin-top: -43px;
margin-left: 255px;
font-size: 15px;
color: white;
}


.ui_interactive .b-page-cover
  {
      background: transparent url("../../07_02_02b/img/07_02_02_book_1.jpg") no-repeat;
      background-size:100%;
  }
  .pop_left {
font-size: 13px;
height: 313px;
margin: 2px 0 0 39px;
position: absolute;
width: 272px;
overflow: auto;
margin-left: 2px;
}

.right2
{
    font-size: 13px;
}
.redcolor
{
    color: #881401;
    font-size:13px;
	}
	
	.play1
	{
	    position: absolute;
margin-left: 135px;
margin-top: -7px;
	}
	.copyrights2
	{
	   position: relative;
margin-left: 307px; 
	}
.ital
{
    font-style:italic;
}
.playerOver
{
height: 90px;
width: 115px;
position: absolute;
top: 0px;
padding: 17% 0% 0% 44%;
z-index: 12;
}
.playerText
{
margin-left: -22px;
margin-top: -22px;
position: absolute;
font-style:italic;
color: #984842;
}

.playerOver img
{
    cursor:pointer;
}