﻿.topZero {
	top: 0px !important;
}
.topZero2 {
	color: #984842;
	position: relative;
}
.txt1 {
	position: absolute;
	margin-top: -245px;
	margin-left: 300px;
	width: 292px;
	font-style: italic;
}
.txt2 {
	position: absolute;
	margin-top: -245px;
	margin-left: 352px;
	width: 252px;
	font-style: italic;
}
.redcolor {
	color: #881401;
}
.headtitle {
	position: absolute;
	top: 0px;
	left: 212px;
}
.left1 {
	width: 230px;
}
.left11 {
	width: 325px;
}
