﻿.right_content {
	margin-top: -15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16PX;
}
.txt_right {
	float: left;
	margin-top: -229px;
	text-align: left;
	width: 259px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 296px;
}
.img_left {
	float: left;
	height: 240px;
	margin: 11px 10px 10px -8px;
	text-align: center;
}
.enlarge {
	width: 32px;
	height: 32px;
	background-image: url(../imgs/icons/img-enlarge.png);
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 3px;
	margin-right: 3px;
}
.copyrights {
	position: absolute;
	margin-top: -43px;
	font-size: 15px;
	margin-left: 215px;
	color: #ffffff;
}
.redContent {
	font-size: 12px;
	color: #881401;
}
.ui_slides {
	margin-top: -6px;
}
#cboxTitle {
	display: none !important;
}
.ui-slideshow-item {
	width: 560px !important;
}
