/* CSS Document */

.right11 {
	position: absolute;
	margin-left: 143px;
	margin-top: 286px;
	width: 498px;
}
.left11 {
	height: 240px;
	width: 207px;
	float: left;
	margin-top: 14px;
	margin-left: 16px;
}
.ui-slideshow-slide {
	margin: 0px !important;
}
/*
.copyright {
	font-size: 13px;
	line-height: 31px;
	width: 200px;
}
*/
.rightmain {
	font-weight: bold;
	position: absolute;
	margin-left: 101Px;
	margin-top: -245px;
	color: #003366;
	font-size: 16px;
	width: 370px;
}
.rightcontain {
	font-weight: 100;
	color: #000;
	width: 375px;
}


/*font-style: italic;
position: absolute;
margin-top: -231px;
margin-left: 100px;
width: 371px;
*/
