﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.ui_custom_dialog_trigger{
cursor:pointer;
}
.ui-dialog-buttonset{
display:none;
}
.ui-dialog{
width: 626px;
height: 563px !important;
top: 63px !important;
left: 7px !important;
}
.ui_slide
{
height:410px !important;
}
.imghead
{
position: absolute;
top: 50px;
left: 262px;   
}
.img
{
position: relative;
top: 39px;
left: 10px;
text-align: center;
line-height: 40px;
}
.slidetxt
{
position: relative;
top: -1px;
left: 0px;
width: 570px;   
}
.leftimg
{
line-height: 24px;
position: relative;
left: -3px;
text-align: center;
width: 229px;   
}
.navi
{
color: #881401;
}
.right1txt
{
position: relative;
top: -282px;
left: 244px;
width: 312px;
}