﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.DropsC{width: 682px !important;float: left;margin-top: -17px;margin-left: -20px;}
.DragC{float: left;margin-top: 81px;margin-left: -28px;}
.DragC>.draggable{width: 18px;height: 25px;text-align: center;padding: 5px;cursor: pointer;opacity: 1 !important;}
.drop_txt{width: 136px;min-height: 20px;float: left;margin-left: -10px;border: medium none;font-size: 12px;line-height: 1.4em;padding: 28px 4px 0px 9px;background-color: #D0D8E8;}
.drop_txts{width: 385px;min-height: 20px;margin: 4px 5px 5px -1px;padding: 0px;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 37px;float: left;}
.bin{background-color: transparent;padding: 0px !important;position: absolute;z-index: 1;}
.DropsC ul{list-style-type: none;line-height: 18px;text-align: center;padding: 0px !important;margin: 0px;}
.draggable{opacity: 1 !important;cursor: pointer !important;}
.wid
{
width: 146px;
margin-top: 0px;
float: left;
margin-right: 0px;
margin-left: 0px;
box-shadow: none !important;
position: absolute;
border: 1px solid #4F81BD !important;
background-color: #D0D8E8;
min-height: 20px;
}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.assignment{margin-bottom: 0px;height: 50px;}
.ui_assessment hr{display: none;}
.copyrightact{margin-top: -30px;position: absolute;text-align: center;width: 650px;color: #000;font-size: 10px;}
.ui_interactive .draggable p {padding-right: 0px !important;line-height: 12px;font-size: 12px;}
.ui-dialog {top: 200px !important;}
.disableDiv {background-color: #d0d8e8;}
.redCont{
    height: 33px;
    line-height: 2.4;
    background-color: #FD9D93;
    margin-left: 30px;
    padding-left: 5px;
    /*float: right;*/
    width: 133px;
    margin-bottom: 5px;
    border: 1px solid #B9B3B7;
}
.optDrg {
margin: 0px 2px 6px !important;
width: 148px;
background: #D7EEFE;
border: 1px solid #A9BAC4;
text-align: center;
min-height: 17px !important;
padding: 2px !important;

}
.Head {
    text-align: center;
    height: 80px;
    background-color: #4F81BD;
    margin-bottom: 4px;
    color: #FFF;
    line-height: 5;
    font-weight: bold;
    border: 1px solid #B9B3B7;
    width: 102px;
    float: left;
    margin-right: 5px;
}
.head2{
height: 124px;
line-height: 9;
}
.blueCont{
    height: 50px;
    background-color: #e2f1f6;
    margin-left: 30px;
    padding-left: 5px;
    /*float: right;*/
    width: 133px;
    margin-bottom: 5px;
    border: 1px solid #B9B3B7;
}
.blueDrg {
margin: 0px !important;
background-color: #2bbdf1;
}
.pos1 .bin ul li,.pos2 .bin ul li,.pos3 .bin ul li,.pos4 .bin ul li,.pos5 .bin ul li,.pos6 .bin ul li,.pos7 .bin ul li,.pos8 .bin ul li,.pos9 .bin ul li,.pos10 .bin ul li,.pos11 .bin ul li{text-align: center;
background-color: #9FC;
margin: 4px 3px;
z-index: 6;
position: absolute;
top: -4px;
left: -3px;
width: 146px;
height: 20px;
font-size: 12px;
text-align: center;
}
.ui-slideshow-item {
margin-top: -16px;
}
.ui_interactive .bin ul li {background-color: #99FFCC;color: #000;}
.copyright{margin-top: 66px;position: absolute;text-align: center;width: 588px;bottom: 10px;}
.dragArea{
margin-top: -31px;
width: 636px;
height: 212px;
margin-bottom: 5px;
padding: 5px;
margin-left: 37px;
}
.dragArea2{height: 128px;}









    
    .ui_edge_buttons {
position: relative;
float: right;
margin: 10px;
top: -129px;
right: 13px!important;
}

/*---------------------*/
.top_img
{
float: left;
text-align: center;
padding-left: 16px;
font-size: 11px;
line-height: 2.4em;
color: #000;
}
.top_img12
{
    float: left;
text-align: center;
padding-left: 33px;
font-size: 11px;
line-height: 2.4em;color: #000;
 }

.midd_img
{
float: left;
text-align: center;
padding-left: 16px;
font-size: 11px;
margin-top: 32px;color: #000;
line-height: 2.4em;
}
 .midd_img2
{
float: left;
margin-top: 32px;
text-align: center;
padding-left: 30px;
font-size: 11px;
color: #000;
line-height: 2.4em;
}


.last_img
{
    margin-top: 32px;
float: left;
text-align: center;
padding-left: 17px;
color: #000;
font-size: 11px;
line-height: 2.4em;
 }
 
 .last_img1
 {
    float: left;
margin-top: 32px;
color: #000;
text-align: center;
padding-left: 27px;
font-size: 11px;
line-height: 2.4em;
  }
  .img3
  {
      margin-left: 5px;
  }
  .img2
  {
      margin-left: 5px;
   }
.title1
{font-size: 12px;
font-weight: bold;

margin-left: 2px;
color: #000;
}
.title2
{font-size: 12px;
font-weight: bold;
font-style:italic;
margin-left: 2px;
color: #000;}

.droppables{min-height: 20px;
margin: 0px 12px 4px -24px;
padding: 0px;
float: left;
color: #FFF;
text-align: center;
line-height: 37px;
font-weight: bold;}

.pos1 {left: 5px;top: 170px;}
.pos2 {left: 173px;top: 170px}
.pos3 {left: 344px;top: 170px;}
.pos4 {left: 515px;top: 170px;}

.pos5 {left: 5px;top: 379px;}
.pos6 {left: 173px;top: 379px}
.pos7 {left: 344px;top: 379px;}
.pos8 {left: 515px;top: 379px;}

.pos9 {left: 5px;top:589px}
.pos10 {left:173px;top:589px}
.pos11{left: 344px;top: 589px}

.samedrg
{
   position: absolute!important;
    left: 4px;
 }

 
 
 
 
 
 
 
 
 
 
 
 